@import '../../../sprite/yisheji/log/sprite.less';
.logcontentbox
{
    margin: 0 auto;

    .sprite(@logbj);
    .logbox
    {
        width: 356px;
        margin-top: 40px;
        margin-left: 732px;

        background-color: #fff;
        padding-bottom: 30px;
    }
    .log_withinbox
    {
        width: 308px;
        margin: 0 auto;
        padding-top: 20px;
    }
    .log_title
    {
        font-size: 20px;
    }
    .log_jianju
    {
        margin-top: 10px;
    }
    .log_prompt
    {
        line-height: 24px;

        color: #666;
        border: 1px solid #ffe57d;
        background-color: #fff6d2;
        .prompt_img
        {
            margin: 4px 16px 4px 10px;

            .sprite(@logtishi);
        }
    }
    .enter_left
    {
        width: 35px;

        border: 1px solid #bdbdbd;
        border-right: none;
        .user
        {
            margin: 12px 10px;

            .sprite(@user);
        }
        .lock
        {
            margin: 11px 10px;

            .sprite(@lock);
        }
    }
    .enter_gongong
    {
        line-height: 38px;

        height: 38px;

        color: #999;
        border: 1px solid #bdbdbd;
    }
    .enter_right
    {
        width: 271px;

        border-left: none;
    }
    .enter_yanzheng{
    	padding-left: 10px;
    	width: 184px;
    }
    .yangzhengma{
    	width: 88px;
    	border: 1px solid #bdbdbd;
        height: 38px;
        margin-left: 20px;
    }
    .hanggao{
    	line-height: 40px;
    }
    a{
    	color: #666;
    }
    .check_weiz{
    	margin-top: 14px;
    	*margin-top: 10px;
    	margin-right: 4px;
    }
    .log_ann{
    	display: block;
    	background-color: #e4393c;
    	font-size: 20px;
    	color: #fff;
    	text-align: center;
    	line-height: 36px;
    }
    .zhuche{
    	color: #e4393c;
    	margin-left: 8px;
    }
}
