@import '../../../sprite/yisheji/log/sprite.less';
.lognav_box{
	width:1190px;
	margin:0 auto;
		padding:10px 0;
	.logo{
		.sprite(@logo);
	}
	
	a{
		color: #888;
	}
	.logtop_ann{
		margin-top: 36px;
		border:1px solid #cccccc;
		line-height: 22px;
		padding:0 20px;

	}
}