
@import '../../../sprite/yisheji/header/sprite.less';

.head-nav
{
    width: 100%;
    margin-top: 20px;

    background-color: #303745;
}

.nav
{
    width: 1200px;
    margin: 0 auto;
    li
    {
        position: relative;
    }
    a
    {
        line-height: 40px;

        display: block;

        height: 40px;

        color: #fff;
    }
    .nav02,
    .current
    {
        width: 126px;

        text-align: center;
        span
        {
            padding-left: 34px;
        }
    }
    .nav02
    {
        i
        {
            width: 6px;
            height: 4px;
            margin-top: 18px;
            margin-left: 12px;
        }
    }
    .current,
    .nav02:hover
    {
        background-image: url('/images/production/yisheji/header/nav-bg.png');
        i
        {
            margin-top: 18px;
            margin-left: 12px;

            .sprite(@xiala-bai);
            .icon-yisheji-header;
        }
    }
}


.nav-xiala
{
    line-height: 32px;

    position: absolute;
    z-index:2;
    top: 40px;
    left: 0;

    width: 126px;
    padding: 6px 0;

    background-image: url('/images/production/yisheji/header/nav-bg.png');

    _vertical-align: middle;
    a:hover
    {
        background-image: url('/images/production/yisheji/header/nav-bg-current.png');
    }
   	a
  	{
    	padding-left: 25px;
   	}
}
