@xiala-bai: -4px -4px 6px 4px;
@xiala-hui-on: -4px -16px 6px 4px;
@xiala-hui: -4px -28px 6px 4px;
@English: -4px -40px 20px 13px;
@VIP: -4px -61px 30px 13px;
@APP-Android: -4px -82px 97px 29px;
@App-btn-bg: -4px -119px 97px 29px;
@App-Store: -4px -156px 97px 29px;
.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}
.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}
.sprite(@sprite, @display: block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
.icon-yisheji-header {
  background-image: url("/images/production/yisheji/header/sprite-yisheji-header.PNG");
}