.icon-huiyuanzhongxin-left {
  background-image: url("/images/production/huiyuanzhongxin/left/sprite-huiyuanzhongxin-left.PNG");
}
.selecttongyong {
  width: 326px;
}
.selecttongyong .danqianlist {
  line-height: 50px;
  display: block;
  height: 50px;
}
.selecttongyong .jiabj {
  border-left: 3px solid #4a7bc4;
  background-color: #ebebeb;
}
.selecttongyong .topxiaobianju {
  margin-top: 1px;
}
.selecttongyong .kuozhang {
  line-height: 30px;
  display: block;
  height: 30px;
}
.selecttongyong .kuozhangimg {
  margin: 14px 6px 0 133px;
  background-position: -4px -23px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 10px;
  height: 2px;
}
.selecttongyong .kuozhanglanimg {
  margin: 14px 6px 0 133px;
  background-position: -4px -13px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 10px;
  height: 2px;
}
.selecttongyong .jiachu {
  font-weight: bold;
}
.selecttongyong .shangjianju {
  margin-top: 10px;
}
.selecttongyong .lastjianju {
  margin-top: 10px;
  padding-bottom: 17px;
}
.selecttongyong .baibj {
  background-color: #fff;
}
.selecttongyong .anq {
  background-position: -4px -257px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
}
.selecttongyong .huilianxiren {
  background-position: -4px -89px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
}
.selecttongyong .techang {
  background-position: -4px -341px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
}
.selecttongyong .gongzuo {
  background-position: -4px -33px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
}
.selecttongyong .jiayu {
  background-position: -4px -145px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
}
.selecttongyong .landianhua {
  background-position: -4px -173px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
}
.selecttongyong .dianhua {
  background-position: -4px -201px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
}
.selecttongyong .xiaoxi {
  background-position: -4px -369px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
}
.selecttongyong .sixing {
  background-position: -4px -313px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
}
.selecttongyong .sheji {
  background-position: -4px -285px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
}
.selecttongyong .data {
  background-position: -4px -61px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
}
.selecttongyong .yaoqing {
  background-position: -4px -397px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
}
.selecttongyong .lanxiaoxi {
  background-position: -4px -229px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
}
.selecttongyong .huisixing {
  background-position: -4px -117px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
}
.selecttongyong .kuozhangimg,
.selecttongyong .kuozhanglanimg,
.selecttongyong .anq,
.selecttongyong .dianhua {
  display: inline;
}
.selecttongyong .current_ico {
  margin-top: 15px;
  margin-left: 104px;
}
.selecttongyong .jiajuli {
  margin-left: 107px;
}
.selecttongyong .wanzhiweizhi {
  margin-left: 8px;
}
.icon-huiyuanzhongxin-top {
  background-image: url("/images/production/huiyuanzhongxin/top/sprite-huiyuanzhongxin-top.PNG");
}
.safety {
  padding-top: 20px;
  background-color: #fff;
  padding-bottom: 20px;
  width: 326px;
}
.safety .anq_title {
  margin-left: 20px;
}
.safety .VIPboxwidth {
  display: inline;
  width: 54px;
  margin-left: 20px;
}
.safety .jingdutiao {
  background-position: -4px -32px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 286px;
  height: 6px;
  margin: 0 auto;
  margin-top: 12px;
}
.safety .lanjingdutiao {
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 143px;
  height: 6px;
}
.safety .jingdu {
  background-position: -4px -18px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 143px;
  height: 6px;
}
.safety .shouji {
  margin: 0 auto;
  background-position: -4px -255px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
}
.safety .shiming {
  margin: 0 auto;
  background-position: -4px -215px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
}
.safety .youxiang {
  margin: 0 auto;
  background-position: -4px -295px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
}
.safety .mima {
  margin: 0 auto;
  background-position: -4px -175px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
}
.safety .VIPname {
  padding-top: 6px;
  text-align: center;
}
.safety .VIPshangbianju {
  margin-top: 12px;
}
.shangbianju {
  margin-top: 10px;
}
