.icon-huiyuanzhongxin-top {
  background-image: url("/images/production/huiyuanzhongxin/top/sprite-huiyuanzhongxin-top.PNG");
}
.safety {
  padding-top: 20px;
  background-color: #fff;
  padding-bottom: 20px;
  width: 326px;
}
.safety .anq_title {
  margin-left: 20px;
}
.safety .VIPboxwidth {
  display: inline;
  width: 54px;
  margin-left: 20px;
}
.safety .jingdutiao {
  background-position: -4px -32px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 286px;
  height: 6px;
  margin: 0 auto;
  margin-top: 12px;
}
.safety .lanjingdutiao {
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 143px;
  height: 6px;
}
.safety .jingdu {
  background-position: -4px -18px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 143px;
  height: 6px;
}
.safety .shouji {
  margin: 0 auto;
  background-position: -4px -255px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
}
.safety .shiming {
  margin: 0 auto;
  background-position: -4px -215px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
}
.safety .youxiang {
  margin: 0 auto;
  background-position: -4px -295px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
}
.safety .mima {
  margin: 0 auto;
  background-position: -4px -175px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
}
.safety .VIPname {
  padding-top: 6px;
  text-align: center;
}
.safety .VIPshangbianju {
  margin-top: 12px;
}
