
@import '../../../sprite/yisheji/Common/sprite.less';

@import '../../../dev/mixins/mixins.less';

/*----------------------通用样式--------------------*/

.guanzhu-words
{
    overflow: hidden;

    margin-left: 12px;
}

.guanzhu-p01
{
    font-size: 16px;

    margin-top: 11px;

    color: #333;
}

.guanzhu-p02
{
    font-size: 12px;

    margin-top: 10px;
    i
    {
        .sprite(@didian);
        .icon-yisheji-Common;
    }
    span
    {
        color: #888;
    }
    a
    {
        margin-left: 10px;

        color: #000;
    }
}

.guanzhu-p04
{
    color: #888;
    .guanzhu-p04-color
    {
        color: #dd1d20;
    }
}

.guanzhu-p03
{
    margin-top: 15px;
    a
    {
        font-size: 16px;
        line-height: 30px;

        width: 121px;

        color: #fff;

        _vertical-align: middle;
    }
    .icon-guanzhu
    {
        margin-right: 21px;

        background-color: #37b5f9;
        i
        {
            margin-top: 7px;
            margin-right: 3px;
            margin-left: 20px;

            .sprite(@icon-guanzhu);
            .icon-yisheji-Common;
        }
        span
        {
            margin-left: 10px;
        }
    }
    .icon-sixin
    {
        background-color: #989898;
        i
        {
            margin-top: 7px;
            margin-right: 7px;
            margin-left: 23px;

            .sprite(@icon-sixin);
            .icon-yisheji-Common;
        }
        span
        {
            margin-left: 6px;
        }
    }
}
.guanzhu-p03-bottom
{
    padding-bottom: 10px;

    border-bottom: 1px #e1e1e1 solid;
}



/*----------------------guanzhu.html--------------------*/
.guanzhu-box
{
    width: 1200px;
    margin: 0 auto;
    .post
    {
        margin-left: -20px;
        li
        {
            position: relative;

            width: 285px;
            margin-top: 30px;
            margin-left: 20px;
        }
        .shade
        {
            position: absolute;
            z-index: 1;
            top: -10px;
            right: -10px;
            bottom: -20px;
            left: -10px;

            opacity: 0;
            background-color: #fff;
            box-shadow: 0 0 12px rgba(0, 0, 0, .3);

            filter: alpha(opacity=0);
        }
        .shade:after
        {
            position: absolute;
            top: -1px;
            right: -1px;
            bottom: -1px;
            left: -1px;

            content: '';

            border: 1px solid rgba(0, 0, 0, .05);
        }
        .cover
        {
            position: relative;
            z-index: 2;

            overflow: hidden;

            padding: 20px 10px;

            border: 1px #e1e1e1 solid;

            .border-radius(5px);
        }
    }
}






/*----------------------guanzhu11.html--------------------*/
.guanzhu-p04
{
    margin-top: 12px;

    color: #333;
}

.guanzhu-p05
{
    margin-top: 6px;
    a
    {
        margin-left: 20px;

        border: 2px #e7e7e7 solid;
    }
    .icon-a01
    {
        margin-left: 0;
    }
}
