
@import '../../../sprite/yisheji/Common/sprite.less';

@import '../../../dev/mixins/mixins.less';


.huaxing-box
{
    width: 1200px;
    margin: 0 auto;
    .post
    {
        margin-top: 10px;
        margin-left: -20px;
        li
        {
            position: relative;

            width: 1200px;
            margin-top: 20px;
            margin-left: 20px;
        }

        .shade
        {
            position: absolute;
            z-index: 1;
            top: -10px;
            right: -10px;
            bottom: -20px;
            left: -10px;

            opacity: 0;
            background-color: #fff;
            box-shadow: 0 0 12px rgba(0, 0, 0, .3);

            filter: alpha(opacity=0);
        }
        .huaxing
        {
            position: relative;
            z-index: 2;

            overflow: hidden;

            padding: 20px;

            border: 1px #e1e1e1 solid;
        }
        .btn
        {
            font-size: 16px;
            line-height: 32px;

            margin-top: 12px;
            padding: 0 18px;

            color: #fff;
            background-color: #37b5f9;

            _vertical-align: middle;
            .border-radius(5px);
        }


        .neiye-li
        {
            width: 285px;
            margin-top: 30px;
            margin-bottom: 10px;
            .huaxing{
                padding:0;
                border: none;
            }
        }
    }
}


.p01
{
    font-size: 16px;

    display: block;

    color: #333;

    margin-top: 8px;
}

// huaxing-11.html
.huaxing-word
{
    margin-left: 15px;
    .p02
    {
        margin-top: 9px;
        padding-bottom: 9px;
        i
        {
            margin-top: 3px;
            margin-right: 4px;

            .sprite(@icon-yan);
            .icon-yisheji-Common;
        }
    }
    .p03
    {
        line-height: 24px;

        _vertical-align: middle;
        .words-red
        {
            color: #fd6464;
        }
    }
}


// huaxing-12
.neiye-words
{
    .p02
    {
        color: #888;
        margin-top: 7px;
        .a01
        {
            line-height: 20px;

            text-align: center;

            width: 34px;

            color: #fff;
            background-color: #fd6464;

            _vertical-align: middle;

            .border-radius(5px);
        }
        .i01
        {
            margin-top: 2px;
            margin-right: 3px;
            margin-left: 7px;
            .sprite(@icon-zuanshi);
            .icon-yisheji-Common;
        }
        .i02
        {
            margin-top: 2px;
            margin-right: 3px;
            margin-left: 17px;
            .sprite(@icon-yan);
            .icon-yisheji-Common;
        }
    }
    .p03
    {
        margin-top: 8px;
        i
        {
            margin-right: 10px;
            .sprite(@icon-huiyuantouxiang);
            .icon-yisheji-Common;
        }
        span{
            margin-top: 4px;
        }
    }
}
