
@import '../../../sprite/yisheji/index/sprite.less';

.more-hui,
.more-cc
{
    line-height: 26px;

    padding: 0 12px;
    i
    {
        margin-top: 7px;
        margin-left: 4px;
    }
}

.more-hui
{
    color: #666;
    background-color: #dbdbdb;
    i
    {
        .sprite(@icon-more-hui);
        .icon-yisheji-index;
    }
}


.more-cc
{
    color: #e45f40;
    i
    {
        .sprite(@icon-more-cc);
        .icon-yisheji-index;
    }
}
