@xialaan: -4px -4px 8px 5px;
@xialaan2: -4px -17px 8px 5px;
@in: -4px -30px 16px 16px;
@libiao: -4px -54px 20px 16px;
@tengxunweibo: -4px -78px 16px 16px;
@wangyi: -4px -102px 16px 16px;
@xinglangweibo: -4px -126px 16px 16px;
@dianhua: -4px -150px 152px 26px;
@erweima: -4px -184px 191px 191px;
.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}
.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}
.sprite(@sprite, @display: block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
.icon-yijingjia-XIAOICO {
  background-image: url("/images/production/yijingjia/XIAOICO/sprite-yijingjia-XIAOICO.PNG");
}