@geren-bai: -4px -4px 18px 17px;
@geren-hui: -4px -29px 18px 17px;
@qiye-bai: -4px -54px 17px 17px;
@qiye-hui: -4px -79px 17px 17px;
@zhuce-hongtiao: -4px -104px 302px 26px;
@zhuce-hongyuan: -4px -138px 302px 26px;
@zhuce-huitiao: -4px -172px 302px 26px;
@zhuce-huiyuan: -4px -206px 302px 26px;
@dang-hong: -4px -240px 595px 49px;
@dang-hui: -4px -297px 595px 49px;
.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}
.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}
.sprite(@sprite, @display: block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
.icon-yijingjia-Registerandlogin {
  background-image: url("/images/production/yijingjia/Registerandlogin/sprite-yijingjia-Registerandlogin.PNG");
}