
@import '../../../sprite/VIP/common/nav/sprite.less';

@import '../../../sprite/VIP/common/left/sprite.less';

@import '../../../dev/mixins/mixins.less';

// 安全管理
// 上部分
.safety
{
  width: 326px;
  padding: 15px 0 11px 0;
  padding-bottom: 20px;

  background-color: #fff;
  .txt_blue
  {
    color: #37b5f9;
  }
  .security
  {
    font-size: 16px;

    margin-left: 20px;

    color: #333;
  }
  .progressbar
  {
    margin: 0 auto;
    margin-top: 10px;

    width: 286px;
    height: 6px;
    background-color: #d9d9d9;
    .border-radius(40px);
    .progress{
      width: 30%;
      height: 6px;
      background-color: #f79226;
      display: block;
      .border-radius(40px);
    }
    .progressblue{
      width: 50%;
      height: 6px;
      background-color: #37b5f9;
      display: block;
      .border-radius(40px);
    }
  }
  .vipbox
  {
    margin-top: 20px;
  }
  .vipwidth
  {
    font-size: 13px;

    display: inline;

    width: 54px;
    margin-left: 20px;
    a
    {
      line-height: 32px;

      color: #333;
    }
    span
    {
      display: block;

      text-align: center;
    }
  }
  .phone
  {
    margin: 0 auto;

    .sprite(@phone);
    .icon-VIP-common-nav;
  }
  .realname
  {
    margin: 0 auto;

    .sprite(@realname);
    .icon-VIP-common-nav;
  }
  .mailbox
  {
    margin: 0 auto;

    .sprite(@mailbox);
    .icon-VIP-common-nav;
  }
  .password
  {
    margin: 0 auto;

    .sprite(@password);
    .icon-VIP-common-nav;
  }
  .VIPtopmar
  {
    margin-top: 15px;
  }
  // 数据表单  form
  .VIP_top
  {
    padding-bottom: 11px;
  }
  .Light
  {
    margin: 0 auto;

    .sprite(@Light);
    .icon-VIP-common-nav;
  }
  .phone
  {
    .sprite(@phone);
  }
  .realname
  {
    .sprite(@realname);
  }
  .mailbox
  {
    .sprite(@mailbox);
  }
  .password
  {
    .sprite(@password);
  }
  .phone_no
  {
    .sprite(@phone_no);
  }
  .realname_no
  {
    .sprite(@realname_no);
  }
  .mailbox_no
  {
    .sprite(@mailbox_no);
  }
  .password_no
  {
    .sprite(@password_no);
  }
  .phone,
  .phone_no,
  .realname,
  .realname_no,
  .mailbox,
  .mailbox_no,
  .password,
  .password_no{
     margin: 0 auto;
    .icon-VIP-common-nav;
  }
}


// 下部分分类
.classbox
{
  width: 326px;
  .classwords
  {
    font-size: 16px;

    border-top: #f2f3f5 1px solid;
    border-left: 3px solid #fff;
    background-color: #fff;
    dt{
      cursor: pointer;
    }
    a
    {
      color: #333;
    }
    dd{display: none;}
    dd:hover a span{
      color: #4a7bc4;
    }
  }
  .class_a
  {
    line-height: 50px;

    display: block;

    height: 50px;
  }

  .current_ico
  {
    padding-left: 64px;
  }
  span.span_L{
    margin-top: 15px;
    margin-right: 10px;
    .icon-VIP-common-left;
  }
  .L_account
  {
    .sprite(@L_accountOn);
  }
  .L_iwho
  {
    .sprite(@L_iwhoOn);
  }
  .L_offer
  {
    .sprite(@L_offerOn);
  }
  .L_pricing
  {
    .sprite(@L_pricingOn);
  }
  .L_remittance
  {
    .sprite(@L_remittanceOn);
  }
  .L_whoi
  {
    .sprite(@L_whoiOn);
  }

  // 易数椐会员中心图标
  .L_survey
  {
    .sprite(@L_surveyOn);
  }
  .L_trend
  {
    .sprite(@L_trendOn);
  }
  .L_attention
  {
    .sprite(@L_attentionOn);
  }
  .L_buyerEva
  {
    .sprite(@L_buyerEvaOn);
  }
  .L_industryDet
  {
    .sprite(@L_industryDetOn);
  }
  .L_match
  {
    .sprite(@L_matchOn);
  }
  .L_modSearch
  {
    .sprite(@L_modSearchOn);
  }
  .L_priceDet
  {
    .sprite(@L_priceDetOn);
  }
  dl.cur
  {
    border-left: 3px solid #4a7bc4;
    background-color: #ebebeb;
    a
    {
      color: #4a7bc4;
    }
    .bold
    {
      font-weight: bold;
    }
    dt{
      .L_account
      {
        .sprite(@L_account);
      }
      .L_iwho
      {
        .sprite(@L_iwho);
      }
      .L_offer
      {
        .sprite(@L_offer);
      }
      .L_pricing
      {
        .sprite(@L_pricing);
      }
      .L_remittance
      {
        .sprite(@L_remittance);
      }
      .L_whoi
      {
        .sprite(@L_whoi);
      }
      .L_basicData
      {
        .sprite(@L_basicData);
      }
      .L_Design
      {
        .sprite(@L_Design);
      }
      .L_invitation
      {
        .sprite(@L_invitation);
      }
      .L_news
      {
        .sprite(@L_news);
      }
      .L_security
      {
        .sprite(@L_security);
      }


      // 易数椐会员中心图标
      .L_survey
      {
        .sprite(@L_survey);
      }
      .L_trend
      {
        .sprite(@L_trend);
      }
      .L_attention
      {
        .sprite(@L_attention);
      }
      .L_buyerEva
      {
        .sprite(@L_buyerEva);
      }
      .L_industryDet
      {
        .sprite(@L_industryDet);
      }
      .L_match
      {
        .sprite(@L_match);
      }
      .L_modSearch
      {
        .sprite(@L_modSearch);
      }
      .L_priceDet
      {
        .sprite(@L_priceDet);
      }
    }
  }

  .sub_gray,
  .subset_cur
  {
    margin-left: 94px;
  }
}


// 数据表单  form
.balanceVIP
{
  width: 286px;
  padding: 20px 20px 0 20px;

  background-color: #fff;
  .borbottom
  {
    padding-bottom: 20px;

    border-bottom: #f5f5f5 1px solid;
  }
}
.balancebot
{
  padding-bottom: 20px;
}
.balancebox_no,
.balancebox
{
  line-height: 30px;

  width: 142px;

  text-align: center;

  border-right: #f5f5f5 1px solid;
  .balance
  {
    font-size: 16px;

    color: #333;
  }
  span.num
  {
    font-size: 24px;

    color: #ec8b00;
  }
  .txt_red
  {
    color: #4a7bc4;
    &:hover
    {
      color: #e85d40;
    }
  }
}
.balancebox_no
{
  width: 143px;

  border-right: none;
}
.classbox
{
  .subset_cur
  {
    .subset
    {
      display: inline;

      margin: 26px 7px 0 0;

      .sprite(@subset_b);
      .icon-VIP-common-left;
    }
  }
  .sub_gray
  {
    span
    {
      color: #333;
    }
    .subset
    {
      margin: 26px 7px 0 0;

      .sprite(@subset_g);
      .icon-VIP-common-left;
    }
  }
}

// 在线客户
.hotlinebox
{
  width: 328px;
  margin-top: 20px;
  padding: 20px 0;

  background-color: #fff;
  i.hotline
  {
    margin-left: 20px;

    .sprite(@hotlinenum);
    .icon-VIP-common-left;
  }
  p.onlineser
  {
    margin: 10px 0 0 20px;

    color: #333;
  }
  a.qq
  {
    margin: 5px 0 0 20px;

    .sprite(@qq);
    .icon-VIP-common-left;
  }
}

// 上面跟导航相连，距离导航10px
.aboveNo
{
  margin-top: 10px;
}
