@import '../../../dev/normalize.less';

@import '../../../dev/mixins/mixins.less';

/*链接的默认样式*/
a:hover
{
    text-decoration: none;
}
a:active
{
    text-decoration: none;
}
a:visited
{
    text-decoration: none;
}
a:link
{
    text-decoration: none;
}


/*背景颜色*/
body
{
    font-family: '微软雅黑';
    font-size: 14px;

    width: 100%;
    height: 100%;

    color: #666;
    background-color: #f2f3f5;
}


.clearfix
{
    .clearfix();
}
.center-block
{
    .center-block();
}
.rg
{
    float: right !important;
}
.lf
{
    float: left !important;
}

.none
{
    display: none ;
}
.block
{
    display: block ;
}
.invisible
{
    visibility: hidden;
}
.text-hide
{
    .text-hide();
}

.ta-c
{
    text-align: center;
}

.hidden
{
    display: none ;
}

.marginL10{
    margin-left: 10px;
}

.marginLT10{
    margin-left: 10px;
    margin-top: 10px;
}

.marginB20{
    margin-bottom: 20px;
}


.pointHover{
  position: absolute;
  left: 170px;
    &:hover{
        cursor:pointer;
    }
}

.uploadDiv{
    position: relative;
}


