
@import '../../../dev/mixins/mixins.less';

@import '../../../sprite/VIP/common/nav/sprite.less';

// 会员中心内页导航
.navbox
{
  background-color: #303745;
  background-image: url("/images/production/VIP/common/nav/blue_line.png");
  background-position: top;
  background-repeat: repeat-x;
  .nav
  {
    font-size: 16px;

    width: 1200px;
    margin: 0 auto;
  }
}
.navL
{
  width: 326px;
  height: 100px;

  background-color: #4a7bc4;
  .headPorbox
  {
    display: inline;

    margin: 10px 10px 0 20px;
    // 用户头像
    .headPor
    {
      position: relative;
      display: block;
      width: 80px;
      height: 80px;
      overflow: hidden;
      span.mask-words{
        line-height: 1;
        padding: 32px 0;
        display: none;
        width: 100%;
        height: 34px;
        position: absolute;
        text-align: center;
        background: #000;
        color: #fff;
        opacity: .6;
      }
      img.headportrait{
        -webkit-border-radius: 50%;
        -ms-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
      img.mask{
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
      &:hover{
        span.mask-words{
          display: block;
        }
      }
    }
  }
  .username
  {
    color: #fff;
    margin-top: 40px;
    a.btn_formap{
      margin-top: 10px;
      .button-variant(#fff; #e85d40; #e85d40);
      .button-size(0; 5px; 12px; 24px; 3px);
    }
  }
  .returnbtn
  {
    width: 112px;
    margin: 35px 0 0 24px;

    text-align: center;
    .button-variant(#fff; #e85d40; #e85d40);
    .button-size(0; 0; 16px; 30px; 4px);
  }
}
.navR
{
  line-height: 100px;

  color: #fff;
  a
  {
    color: #fff;
  }
  .navmar
  {
    margin-left: 100px;
  }
  .navmar_fir
  {
    margin-left: 87px;
  }
  .newsRedbox
  {
    position: relative;
  }
  .newsRed
  {
    font-size: 13px;
    line-height: 24px;

    position: absolute;
    top: 20px;
    right: -18px;

    text-align: center;

    .sprite(@newsRed);
    .icon-VIP-common-nav;
  }
  .zhiti_13
  {
    font-size: 13px;
  }
}


