
@import '../../../dev/mixins/mixins.less';

@import '../../../sprite/VIP/common/nav/sprite.less';

// 会员中心首页导航
.navind_box
{
  background-color: #303745;
  background-image: url('/images/production/VIP/common/nav/blue_line.png');
  background-repeat: repeat-x;
  background-position: top;
  .navind
  {
    position: relative;

    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;

  }
  .nav_top
  {
    font-size: 16px;

    padding-top: 37px;
    a
    {
      color: #fff;
    }
  }
  .nav_left
  {
    margin-left: 100px;
  }
  .nav_longleft
  {
    margin-left: 216px;
  }
  .rela
  {
    position: relative;
  }
  .newsRed
  {
    font-size: 13px;
    line-height: 24px;

    position: absolute;
    top: 18px;
    right: -32px;
    text-align: center;
    .sprite(@newsRed);
    .icon-VIP-common-nav;
    a{

    }
    &:hover{
       color: #fff;
    }
  }


  ul.navR
{

  color: #fff;

  li.menu
  {
    position: relative;
    line-height: 100px;
    top: 0;
    left: 0;
    float: left;
    a{
      color: #fff;
    }
    &:hover{
      background: #22212e;
      a,p{
        color: #3ca1d7;
      }
      span{
        color: #fff;
      }
    }
    &.navmar{
        padding: 0 50px;
    }
    &.nav-more{
      cursor: pointer;
      i.service{
        position: absolute;
        top: 47px;
        right: 27px;
        .sprite(@service_open);
        .icon-VIP-common-nav;
        .fixIe6pngTransparent('/images/icon/VIP/common/nav/service_open.png');
      }
      ul{


        display: none;
        position: absolute;
        left:0;
        width:100%;
        z-index: 9999;
        li{
          width: 100%;
          text-align:center;
          line-height: 50px;
          background: #22212e;
          a{
            color: #fff;
            display: block;
          }
          &:hover{
            background: #303745;
            a{color: #3ca1d7;}
          }
        }
      }
    }
  }
}
}


.Userinfbox
{
  position: absolute;
  top: 0;
  left: 50%;

  width: 336px;
  margin-left: -173px;
  p.identitybox
  {
    font-size: 16px;

    width: 120px;
    margin-top: 7px;

    text-align: center;

    color: #c7c5c6;
  }
  .upperpart
  {
    padding: 20px 0 9px 103px;
    margin-left: 10px;
    .headPor
    {
      position: relative;
    }
    .mask
    {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  // 头像背景颜色
  .AfterClickBg
  {
    background-color: #3e485c;
  }
  .lowerpart
  {
    padding: 0 10px;
    padding-bottom: 24px;
    padding-bottom: 15px;

    background-image: url('/images/production/VIP/common/nav/a08_bg.png');
  }
  .user
  {
    font-size: 16px;

    padding-top: 20px;

    text-align: center;

    color: #333;
  }
  .usertop
  {
    padding-top: 10px;
  }
  // vip部分
  .vipbox
  {
    margin-top: 20px;
  }
  .vipwidth
  {
    font-size: 13px;

    display: inline;

    width: 54px;
    margin-left: 20px;
    a
    {
      line-height: 32px;

      color: #333;
    }
    span
    {
      display: block;

      text-align: center;
    }
  }
  .Light
  {
    margin: 0 auto;

    .sprite(@Light);
    .icon-VIP-common-nav;
  }
  .phone
  {
    .sprite(@phone);
  }
  .realname
  {
    .sprite(@realname);
  }
  .mailbox
  {
    .sprite(@mailbox);
  }
  .password
  {
    .sprite(@password);
  }
  .phone_no
  {
    .sprite(@phone_no);
  }
  .realname_no
  {
    .sprite(@realname_no);
  }
  .mailbox_no
  {
    .sprite(@mailbox_no);
  }
  .password_no
  {
    .sprite(@password_no);
  }
  .phone,
  .phone_no,
  .realname,
  .realname_no,
  .mailbox,
  .mailbox_no,
  .password,
  .password_no
  {
    margin: 0 auto;

    .icon-VIP-common-nav;
  }
  .VIPtopmar
  {
    margin-top: 12px;
  }
  .security
  {
    margin-top: 26px;
    margin-left: 20px;
  }
  .progressbar
  {
    margin: 0 auto;
    margin: 12px 0 0 20px;

    width: 286px;
    height: 6px;
    background-color: #d9d9d9;
    .border-radius(40px);
    .progress{
      width: 30%;
      height: 6px;
      background-color: #f79226;
      display: block;
      .border-radius(40px);
    }
  }
  // 底部带阴影
  .lowerpart_bot
  {
    .sprite(@lowerpart_bot);
    .icon-VIP-common-nav;
  }
}
