.BuyTrailer-banner {
  width: 1190px;
  margin: 0 auto;
}
.BuyTrailer-Sort {
  width: 1190px;
  margin: 0 auto;
  margin-top: 20px;
}
.BuyTrailer-Frame {
  width: 1190px;
  margin: 0 auto;
  margin-top: 30px;
}
.BuyTrailer-Frame-top {
  margin-top: 20px;
}
