.fabubox {
  font-size: 14px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}
.fabubox .hongse {
  color: #d52532;
}
.fabubox .lanse {
  color: #496ab4;
}
.fabubox input {
  vertical-align: middle;
}
.fabubox .input_Align {
  margin-top: -2px;
  *margin-top: -3px;
}
.fabubox .input_yangshi {
  font-size: 14px;
  line-height: 32px;
  height: 32px;
  margin-left: 16px;
  border: 1px solid #d6d6d6;
}
.fabubox .qita_input {
  width: 100px;
  margin-left: 4px;
}
.fabubox .xiala_shangping {
  width: 32px;
}
.fabubox h1 {
  font-size: 24px;
  padding-top: 26px;
  padding-left: 40px;
  color: #000;
}
.fabubox .tupiankuan {
  width: 160px;
  height: 160px;
  margin-top: 26px;
  border: 1px solid #d6d6d6;
}
.fabubox .jibengaodu {
  margin-top: 24px;
}
.fabubox .title_shangping {
  font-size: 16px;
  line-height: 34px;
  width: 106px;
  text-align: right;
  color: #333;
}
.fabubox .tianxiejiagegaodu {
  margin-top: 6px;
}
.fabubox .title_jibenxingxi {
  font-size: 14px;
  line-height: 34px;
  width: 158px;
  text-align: right;
}
.fabubox .hanggao {
  font-size: 14px;
  line-height: 14px;
  color: #333;
}
.fabubox .com_fabu {
  line-height: 32px;
  width: 120px;
  height: 32px;
  margin: 14px auto;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #d52532;
}
.fabubox .com_fabu a {
  color: #fff;
}
.fabubox .tongyiyuedu {
  margin-top: 34px;
  text-align: center;
  color: #333;
}
.fabubox .tongyiyuedu span {
  color: #496ab4;
}
.fabubox .hanghao {
  line-height: 32px;
}
.fabubox .yansann {
  padding: 6px 10px;
  color: #fff;
  background-color: #d52532;
}
.fabubox .tishi_yanse {
  line-height: 32px;
  margin-left: 72px;
  color: #d52532;
}
.fabubox .input_yansetianjia {
  width: 100px;
  margin-right: 4px;
  margin-left: 0;
}
.fabubox .tishi_nr {
  line-height: 32px;
  color: #888;
}
.fabubox .chengfen_linehe {
  line-height: 34px;
  height: 34px;
  _margin-top: 6px;
}
.fabubox .qita_juli {
  margin-left: 2px;
}
.fabubox .biaozun_kuan {
  line-height: 18px;
  width: 758px;
  margin-top: 10px;
  border: 1px solid #d6d6d6;
}
.fabubox .biaozun_kuan .biaozun_likuan {
  width: 736px;
  margin: 0 auto;
}
.fabubox .biaozun_kuan .biaoge_pingming {
  width: 284px;
  margin-left: 16px;
}
.fabubox .biaozun_kuan .biaoge_xiaozhi {
  width: 216px;
}
.fabubox .biaozun_kuan .biaoge_hangliang {
  width: 200px;
}
.fabubox .biaozun_kuan .biaoge_dibian {
  padding-bottom: 10px;
}
.fabubox .biaozun_kuan .biaoge_xuxiandibian {
  border-bottom: 1px dashed #e1e1e1;
}
.fabubox .biaozun_kuan .biaoge_hanggao {
  line-height: 29px;
}
.fabubox .biaozun_kuan .input_biaoge {
  margin: 8px 4px 0 0;
  *margin: 4px 2px 0 0;
}
.fabubox .danweixiala {
  width: 120px;
}
.fabubox .iejianrongfuxian {
  *margin-top: 8px;
}
.fabubox .input_mingchengkuan {
  width: 600px;
}
.fabubox .jiahuoshijian_input {
  width: 200px;
}
.fabubox .shangpingxingxi_gaodu {
  margin-top: 16px;
}
.fabubox .shangpingxingxi_duoxgaodu {
  margin-top: 8px;
}
.fabubox .jibenxingxi {
  margin-left: 42px;
  padding-top: 30px;
  color: #333;
}
.fabubox .shangpingxingxi_leftjuli {
  display: inline;
  margin-left: 16px;
}
