.icon-yituangou-foootersub {
  background-image: url("/images/production/yituangou/foootersub/sprite-yituangou-foootersub.PNG");
}
.icon-yituangou-copyright {
  background-image: url("/images/production/yituangou/copyright/sprite-yituangou-copyright.PNG");
}
.footerbox {
  font-size: 19px;
  border-top: 3px solid #d52532;
  margin-top: 70px;
  width: 100%;
  background-color: #fff;
}
.footerbox a {
  color: #888;
}
.footerbox a:hover {
  color: #0066cc;
}
.footerbox .fl {
  float: left;
}
.footerbox .rl {
  float: right;
}
.footerbox .fooer_cenbox {
  width: 1190px;
  margin: 0 auto;
  padding-top: 26px;
}
.footerbox .fooer_cenbox .erweima {
  background-position: -4px -87px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 140px;
  height: 140px;
}
.footerbox .fooer_cenbox .xiazai {
  font-size: 13px;
  margin-top: 4px;
  margin-left: 40px;
  color: #888;
}
.footerbox .fooer_cenbox ul {
  margin-left: 88px;
}
.footerbox .fooer_cenbox ul li {
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 14px;
  color: #666;
}
.footerbox .fooer_cenbox ul li .xinglanweibo {
  margin-right: 2px;
  vertical-align: top;
  background-position: -4px -25px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 16px;
}
.footerbox .fooer_cenbox ul .title_li {
  font-size: 18px;
  color: #000;
}
.footerbox .fooer_cenbox ul .subscription_search {
  width: 200px;
  *margin-top: 16px;
}
.footerbox .fooer_cenbox ul .subscription_search .subscription_searchbox {
  float: left;
  width: 148px;
  height: 28px;
  border: 1px solid #d5d5d5;
  border-right: none;
}
.footerbox .fooer_cenbox ul .subscription_search .subscription_searchbox .subscription_youxiang {
  float: left;
  margin-top: 8px;
  margin-left: 5px;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 13px;
}
.footerbox .fooer_cenbox ul .subscription_search .subscription_searchbox .len {
  font-size: 13px;
  line-height: 28px;
  float: left;
  width: 122px;
  height: 28px;
  margin-left: 4px;
  color: #cacaca;
  border: 0;
  _margin-left: 2px;
  _width: 100px;
}
.footerbox .fooer_cenbox ul .subscription_search .subscription_butt {
  float: left;
  cursor: pointer;
  border: 0;
  background-position: -4px -49px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 51px;
  height: 30px;
}
.footerbox .lianjiebox {
  font-size: 13px;
  width: 1190px;
  margin: 0 auto;
  padding-top: 40px;
  color: #888;
}
.footerbox .lianjiebox .lianjie {
  padding-bottom: 18px;
  border-bottom: 1px solid #ddd;
}
.footerbox .lianjiebox .lianjie .jiacu {
  font-weight: bold;
}
.footerbox .lianjiebox .lianjie .jiange {
  margin-left: 20px;
}
.footerbox .lianjiebox .inner_chain {
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
}
.footerbox .lianjiebox .inner_chain a {
  margin-right: 2px;
  margin-left: 2px;
}
.footerbox .lianjiebox .banq {
  padding-top: 20px;
  text-align: center;
}
.footerbox .lianjiebox .copyright {
  width: 900px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}
.footerbox .lianjiebox .copyright li {
  float: left;
  width: 140px;
}
.footerbox .lianjiebox .copyright .li1 {
  padding-right: 10px;
  padding-left: 10px;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 128px;
  height: 44px;
}
.footerbox .lianjiebox .copyright .li2 {
  padding-right: 10px;
  padding-left: 10px;
  background-position: -4px -56px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 128px;
  height: 44px;
}
.footerbox .lianjiebox .copyright .li3 {
  padding-right: 10px;
  padding-left: 10px;
  background-position: -4px -108px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 128px;
  height: 44px;
}
.footerbox .lianjiebox .copyright .li4 {
  padding-right: 10px;
  padding-left: 10px;
  background-position: -4px -160px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 128px;
  height: 44px;
}
.footerbox .lianjiebox .copyright .li5 {
  padding-right: 10px;
  padding-left: 10px;
  background-position: -4px -212px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 107px;
  height: 44px;
}
.footerbox .lianjiebox .copyright .li6 {
  padding-right: 10px;
  padding-left: 10px;
  background-position: -4px -264px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 136px;
  height: 50px;
}
