.icon-yituangou-gouwuche {
  background-image: url("/images/production/yituangou/gouwuche/sprite-yituangou-gouwuche.PNG");
}
.tianjiawaibox {
  width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 20px;
}
.tainxiebox {
  font-size: 13px;
  line-height: 20px;
  width: 960px;
  margin: 0 auto;
  color: #000;
}
.tainxiebox .jiachu {
  font-weight: bold;
}
.tainxiebox .input_kaung {
  width: 570px;
  height: 28px;
  border: 1px solid #ccc;
}
.tainxiebox .tianjiatu {
  margin: 0 auto;
  margin-top: 62px;
  margin-bottom: 11px;
  background-position: -4px -222px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 80px;
  height: 80px;
}
.tainxiebox .lanse {
  color: #265492;
}
.tainxiebox .baozhuang_topxiajianju {
  padding-top: 42px;
  padding-bottom: 34px;
  border-bottom: 1px solid #e5e5e5;
}
.tainxiebox .bangzhuang_zhijiantop {
  padding-top: 34px;
}
.tainxiebox .dizhibianjijuli {
  margin-left: 4px;
}
.tainxiebox .baozhuang_leftjianju {
  margin-left: 12px;
}
.tainxiebox .wenzhijuzhong {
  text-align: center;
}
.tainxiebox .radio_jianju {
  margin-left: 20px;
}
.tainxiebox .huise {
  color: #888;
}
.tainxiebox .input_juzhong {
  margin-top: 8px;
  *margin-top: 4px;
}
.tainxiebox .hongsezhi {
  color: #d42532;
}
.tainxiebox .biaoti {
  font-size: 16px;
  color: #000;
}
.tainxiebox .baozhuang_hanggao {
  line-height: 30px;
}
.tainxiebox .dizhijianju {
  margin-top: 16px;
}
.tainxiebox .dizhigaodu {
  margin-top: 40px;
}
.tainxiebox .dizhikuangdu {
  width: 190px;
}
.tainxiebox .dizhibox {
  width: 298px;
  border: 1px solid #ccc;
}
.tainxiebox .tianjiakuangjianju {
  margin-bottom: 30px;
}
.tainxiebox .danqianzdzhibox {
  width: 296px;
  border: 2px solid #d42532;
  position: relative;
}
.tainxiebox .danqianzdzhibox .xzhong {
  position: absolute;
  top: 0;
  right: 0;
  background-position: -4px -28px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 40px;
  height: 40px;
}
.tainxiebox .tianjiadibian {
  padding-bottom: 53px;
}
.tainxiebox .webzhiyouju {
  text-align: right;
}
.tainxiebox .bianzhijuli {
  margin-left: 22px;
}
.tainxiebox .dizhikaungyoujuli {
  margin-right: 30px;
}
.tainxiebox .dizhilibox {
  width: 270px;
  margin: 0 auto;
  margin-top: 12px;
  padding-bottom: 10px;
}
.tainxiebox .danqianlibox {
  margin-top: 11px;
  padding-bottom: 9px;
}
.tainxiebox .qubiankuan {
  border: none;
}
