.xiangxibox {
  font-size: 12px;
  line-height: 16px;
  width: 1190px;
  margin: 0 auto;
  padding-top: 10px;
  color: #333;
}
.xiangxibox .justif {
  float: left;
}
.xiangxibox a {
  color: #333;
}
.xiangxibox .dangqianyanse {
  color: #d52532;
}
.xiangxibox .weizhijianju {
  margin: 0 4px;
}
.xiangxibox .jiantuoyanse {
  color: #aaa;
}
.Yarn-Location {
  width: 1190px;
  margin: 0 auto;
  padding-top: 2px;
}
.Yarn-Specifications {
  width: 1190px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #fff;
  line-height: 38px;
  _vertical-align: middle;
}
.Yarn-Specifications .Specifications {
  font-family: '宋体';
  font-size: 12px;
  margin: 0 14px;
  border-bottom: #f1f1f1 1px solid;
}
.Yarn-Specifications .Specifications .Specifications-101 {
  float: left;
  color: #888;
  width: 130px;
}
.Yarn-Specifications .Specifications .Specifications-102 {
  float: left;
  color: #555;
  width: 110px;
  margin-left: 6px;
}
.Yarn-Specifications .Specifications .Specifications-101:hover {
  color: #d52532;
}
.Yarn-Specifications .Specifications01 {
  border: none;
}
.Yarn-Sort {
  width: 1190px;
  margin: 0 auto;
  margin-top: 16px;
  background-color: #fff;
}
.Yarn-Buy {
  width: 1190px;
  margin: 0 auto;
  margin-top: 20px;
}
