
@import '../../../dev/mixins/mixins.less';

@import '../../../sprite/easyPricing/pricing/sprite.less';

@import 'progressBar.less';

@import '../fabric/fabrictitle.less';

@import '../common/type.less';

.title-top-border{
  border: 1px solid #f0f0f0;
  margin-top: 112px;
}

.ban-bg
{
    position: relative;
    margin-top: 112px;
}

.mainbox{
  padding-bottom: 70px;
}

// 进度条
.progressBar{
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 14px 0 24px 0;
  text-align: center;
  line-height: 24px;
  .border-radius(3px);
  ul.words{
    li.width{
      width: 144px;
    }
    li.widththree{
      width: 912px;
    }
    li.widthfour{
      width: 352px;
      margin-left: 104px;
    }
    li.widthfour2{
      width: 352px;
      margin-right: 104px;
    }
    li.txtblue{
      color: #3ca1d7;
    }
  }
  ul.Step{
    margin: 5px 0 0 60px;
    li.barthree{
      width: 504px;
      height: 24px;
    }
    li.barfour{
      width: 328px;
      height: 24px;
    }
    li.bargray{
      background-image: url("/images/production/easyPricing/pricing/bargray.png");
      background-repeat: repeat-x;
      background-position: center;
    }
    li.barblue{
      background-image: url("/images/production/easyPricing/pricing/barblue.png");
      background-repeat: repeat-x;
      background-position: center;
    }
    li.barblue{
      background-image: url("/images/production/easyPricing/pricing/barblue.png");
    }
    li.circle{
      .sprite(@circlegray);
      .icon-easyPricing-pricing;
    }
    li.txtwhite{
      color: #fff;
      .sprite(@circleblue);
      .icon-easyPricing-pricing;
    }
  }
}


// 排序
.sortbox{
  width: 1200px;
  margin: 20px auto 0 auto;
  font-size: 12px;
  div.sort{
    line-height: 32px;
    p.tit{
      margin-right: 5px;
    }
    width: 970px;
    a.cur,a.sort_ablue{
      margin-right: 30px;
      i{
        margin: 12px 0 0 9px;
        .icon-easyPricing-pricing;
      }
    }
    a.sort_ablue{
      color: #888;
      i{
        .sprite(@sortgray);
      }
    }
    a.cur,a.sort_ablue:hover{
      color: #3ca1d7;
      i{
        .sprite(@sortblue);
      }
    }
  }
  div.intbox{
    width: 140px;
    border: 1px solid #d1d1d1;
    .border-radius(3px);
    input.int{
      width: 88px;
      line-height: 18px;
      padding: 5px 10px;
      border: 0;
      background-color: #f2f3f5;
    }
    a{
      padding: 8px 10px 6px 8px;
      i{
        .sprite(@searchgray);
        .icon-easyPricing-pricing;
      }
    }
  }
}


// 排列
ul.arraybox{
  width: 1220px;
  margin: 20px auto 70px;
  li.array{
    position: relative;
    top: 0;
    left: 0;
    width: 285px;
    height: 307px;
    background-color: #fff;
    padding-bottom: 15px;
    margin: 10px;
    display: inline;
    .border-radius(3px);
    .array-wrapper{
      position: absolute;
      top: 0;
      left: 0;
      height: 307px;
      background: #fff;
    }
    .loading{
      margin: 15px auto;
      height: 40px;
      background: url('/images/production/easyPricing/loading.gif') no-repeat bottom center;
    }
    .picture{
      width: 265px;
      height: 265px;
      margin: 10px;
      background-color: #eee;
    }
    p.name{
      margin-left: 15px;
    }
    div.dropbox{
      opacity: 0;
      margin: 10px 10px 0 10px;
      width: 265px;
      .Switch_button{
        padding-bottom: 10px;
        border-bottom: #e5e5e5 1px solid;
        .button_a{
          color: #3ea1d7;
          line-height: 24px;
          height: 24px;
          padding: 0 10px;
          border: #3ea1d7 1px solid;
          margin-right: 10px;
          cursor: pointer;
          .border-radius(3px);
        }
        .button_cur,.button_a:hover{
          color: #fff;
          background-color: #3ea1d7;
        }
      }
      .input_box{
        margin-top: 10px;
        .input_style{
          width: 30px;
          padding: 5px 10px;
          border: #d1d1d1 1px solid;
          .border-radius(3px);
        }
      }
      label.lab{
        width: 45px;
        margin: 11px 4px 0 4px;
        cursor: pointer;
        font-size: 12px;
        input.int{
          margin: 3px 5px 0 0;
          width: 18px;
          height: 18px;
        }
      }
    }
    a.btn{
      display: block;
      opacity: 0;
      width: 254px;
      text-align: center;
      margin: 10px 0 10px 16px;
      .button-variant(#fff; #3ca1d7; #3ca1d7);
      .button-size(0; 0; 16px; 40px; 3px);
    }
  }
}