
@import '../../../dev/mixins/mixins.less';

@import '../../../sprite/easyPricing/pricing/sprite.less';

//通用样式
.red_color{
  color: red;
}
.fill_box{
  margin: 20px auto;
  width: 670px;
  .fill_tit{
    font-size: 16px;
    line-height:34px;
  }
  .fill_input{
    .border-radius(3px);
    border: 1px solid #d1d1d1;
    margin-left: 10px;
    font-size: 14px;
    padding: 6px 10px;
    color: #666;
  }
  .fill_prompt{
    font-size: 12px;
    line-height: 34px;
    margin-left: 10px;
    color: red;
  }
}
.fill_butt{
  width: 100px;
  font-size: 16px;
  margin-top: 30px;
  line-height: 34px;
  color: #fff;
  .border-radius(3px);
  margin: 0 auto;
  background-color: #3ca1d7;
  display: block;
  text-align: center;
}
div.popupbox{
  width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  font-size: 12px;
  padding-bottom: 20px;
  .border-radius(3px);
  -webkit-box-shadow:0 0 15px 1px #e0e0e0;
  -moz-box-shadow:0 0 15px 1px #e0e0e0;
  box-shadow:0 0 15px 1px #e0e0e0;
  p.title{
    margin: 0 10px;
    line-height: 52px;
    font-size: 16px;
    background-image: url("/images/production/easyPricing/pricing/grayline.png");
    background-repeat: repeat-x;
    background-position: bottom;
    a{
      color: #666;
      padding: 0 10px;
      margin-right: 20px;
    }
    .cur,.herfa:hover{
      color: #3ca1d7;
      border-bottom: 2px solid #3ca1d7;
    }
    span.btn_close{
      margin-top: 15px;
      cursor: pointer;
      .sprite(@btn_close);
      .icon-easyPricing-pricing;
    }
  }
  // 类型
  div.typebox{
    width: 980px;
    margin: 0 10px;
    background-color: #fff;
    padding-top: 5px;
    div.container{
      border-bottom: dashed 1px #dbdbdb;
    }
    .radio_box{
          margin: 7px 5px;
    }
    p.tit{
      width: 60px;
      margin-top: 7px;
      display: inline;
      text-align: right;
    }

    ul.type{
      width: 870px;
      a.type_a{
        padding: 0 10px;
        .border-radius(3px);
        margin: 7px 5px;
        display: block;
        color: #666;
        white-space:nowrap;
      }
      a.type_a:hover,a.cur{
        background-color: #3ca1d7;
        color: #fff;
      }
    }
    //展开收起
    .showmore{
      color: #666;
      margin: 7px 0 0 0;
      cursor: pointer;
      span{
        .sprite(@showmore);
        .icon-easyPricing-pricing;
        display: inline-block;
        margin-right: 4px;
      }
      &:hover{
        color: #3ca1d7;
      }
    }

    //已选择
    .clearList {
      overflow: hidden;
      border: 1px solid #3CA1D7;
      margin: 7px 5px;
      padding: 0 8px;
      height: 22px;
      font-size: 12px;
      color: #e22c37;
      .border-radius(2px);
      &:hover{
        color: #ff5a00;
        text-decoration: none!important;
      }
      i.undock {
        margin: 7px 4px 0 6px;
        .sprite(@undock);
        .icon-easyPricing-pricing;
      }
    }
  }
  // 排序
  .sortbox{
    width: 980px;
    margin: 10px 10px 0 10px;
    div.sort{
      line-height: 32px;
      margin-right: 20px;
      p.tit{
        margin-right: 5px;
      }
      a.cur,a.sort_ablue{
        margin-right: 30px;
        i{
          margin: 12px 0 0 9px;
          .icon-easyPricing-pricing;
        }
      }
      a.sort_ablue{
        color: #888;
        i{
          .sprite(@sortgray);
        }
      }
      a.cur,a.sort_ablue:hover{
        color: #3ca1d7;
        i{
          .sprite(@sortblue);
        }
      }
    }

    div.intbox,div.intchoice{
      width: 140px;
      border: 1px solid #d1d1d1;
      .border-radius(3px);

      input.int{
        width: 88px;
        line-height: 18px;
        padding: 5px 10px;
        border: 0;
        background-color: #fff;
      }
      i{
        margin: 8px 0 0 8px;
        .sprite(@searchgray);
        .icon-easyPricing-pricing;
      }
    }
    div.intchoice{
      width: 300px;
      border: 0;
      input.int{
        border: 1px solid #d1d1d1;
      }
      span{
        line-height: 30px;
      }
    }
  }

  // 查询
  .querybox{
    width: 980px;
    margin: 10px 10px 0 10px;
    div.intbox{
      line-height: 30px;
      margin-right: 30px;
      .border-radius(3px);
      input.int{
        width: 88px;
        line-height: 18px;
        padding: 5px 10px;
        border: 1px solid #d1d1d1;
        background-color: #fff;
      }
    }
    a.btn_blue{
      width: 70px;
      text-align: center;
      .button-variant(#fff; #3ca1d7; #3ca1d7);
      .button-size(0; 0; 12px; 30px; 3px);
    }
  }

  //表格
  .tabbox{
    margin-top: 10px;
  }

  //按钮样式
  label.labbox{
    line-height: 16px;
    input.checkint{
      width: 16px;
      height: 16px;
      margin: 0 2px 0 10px;
    }
  }
  div.btnbox{
    margin: 10px auto 0 auto;
    text-align: center;
    button{
      border: none;
      width: 70px;
      margin: 0 10px;
      display: inline-block;
      .button-size(0; 0; 12px; 30px; 3px);
    }
    .btn_blue{
      .button-variant(#fff; #3ca1d7; #3ca1d7);
    }
    .btn_gray{
      .button-variant(#fff; #ccc; #ccc);
    }
  }
}


// 排列   //替换面料
ul.arraybox{
  width: 1000px;
  margin: 10px auto 0 auto;
  padding-bottom: 5px;
  li.array{
    background-color: #fff;
    padding-bottom: 10px;
    margin: 0 10px;
    display: inline;
    .border-radius(3px);
    .picture{
      width: 230px;
      height: 230px;
      cursor: pointer;
      background-color: #eee;
    }
    div.words{
      margin: 5px 0 0 5px;
    }
    a.name{
      color: #666;
      display: block;
      &:hover{
        color: #ff6600;
      }
    }
  }
}


// 体积信息查看修改
.volumebox{
  width: 980px;
  margin: 10px 10px 0 10px;
  .container{
    margin-top: 20px;
  }
  .intbox{
    line-height: 30px;
    width: 245px;
    .border-radius(3px);
    .select_sty{
      margin-top: 5px;
      padding:4px  0;

    }
  }
}



/// 下拉选择地区
.dropdownInput {
  line-height: 18px;
  width: 150px;
  padding: 5px 10px;
  border: 1px solid #cdcfd1;
  border-radius: 3px;
}
.int_430{
  position: relative;
}
.pop-up{
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 2;
  width: 374px;
  padding: 11px 0 1px 12px;
  background-color: #fff;
  border: 1px solid #cdcfd1;
  color: #333;
  line-height: normal;
  .item{
    float: left;
    width: 60px;
    padding: 4px 0;
    font-size: 14px;
    color: #333;
    overflow: hidden;
  }
  ul.zxcities,ul.provinces{
    display: inline-block;
    font-size: 12px;
    li{
      span{
        position: relative;
        float: left;
        line-height: 14px;
        padding: 4px 7px;
        cursor: pointer;
        &:hover{
          background: #444;
          color: #fff;
        }
      }
    }
  }
  ul.provinces li span{
    padding: 4px;
  }
  .sub-items{
    display: none;
    width: 100%;
    padding-left: 12px;
    margin: 0 0 0 -12px;
    background: #eee;
    span{
      font-size: 12px;
      padding: 4px;
    }
  }

}

.input-tri{
  .triangle(#666);
  position: absolute;
  top: 14px;
  right: 4px;
}
.toggleTri{
  .triangleRotate(#666);
}