@Subscription_youxiang: -4px -4px 16px 13px;
@Subscription_butt: -4px -25px 51px 30px;
@Subscription_tubiao: -4px -63px 50px 50px;
.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}
.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}
.sprite(@sprite, @display: block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
.icon-yijingjia-subscription {
  background-image: url("/images/production/yijingjia/subscription/sprite-yijingjia-subscription.PNG");
}