
@import '../../../dev/mixins/mixins.less';

@import '../../../sprite/easydesign/common/sprite.less';


/*----------------------banner01.html--------------------*/

.ban-bg
{
    position: relative;
    margin-top: 112px;
}
.guanzhu01
{
    background-color: #fff;
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    .words
    {
        margin-left: 14px;
    }
    .p01
    {
        font-size: 20px;

        margin-top: 15px;

        color: #333;
    }
    .wenzi
    {
        margin-right: 95px;

        color: #888;
        a{
            color: #888;
        }
        p
        {
            margin-top: 7px;
        }
        .renqi
        {
            font-size: 24px;

            color: #fd6464;
        }
        .wenzi-color
        {
            color: #dd1d20;
        }
        .shuliang
        {
            margin-right: 11px;
        }
    }
    .btn_follow{
        display: block;
        width: 110px;
        text-align: center;
        margin-top: 5px;
        color: #37b5f9;
        border: 1px solid #37b5f9;
        font-size: 16px;
        line-height: 30px;
        .border-radius(30px);
        transition: all .3s;
        &:hover{
          background: #37b5f9;
          color: #fff;
        }
    }
}






/*----------------------banner02.html,banner03.html--------------------*/
.ban-bg-box02
{
    position: relative;

    width: 100%;
    height: 170px;
}

.sea-box
{
    position: absolute;
    top: 50px;
    left: 50%;

    margin-left: -328px;

    background-color: #5ab6ab;

    .border-radius(5px);
    .ss
    {
        font-size: 24px;
        line-height: 70px;

        width: 140px;

        text-align: center;

        color: #fff;
    }
}

.sea-boxbai
{
    margin-top: 10px;
    margin-left: 10px;

    background-color: #fff;
    .sea-words
    {
        line-height: 28px;

        margin: 11px 5px 11px 0;
        padding: 0 5px 0 10px;

        border-right: 1px #b2b2b2 solid;
        a
        {
            color: #333;
        }
    }
    input
    {
        width: 390px;
        height: 28px;
        margin: 11px 0;

        border: 0;
        outline: medium;
    }
    .shitu
    {
        margin: 10px 10px 0 4px;
        cursor: pointer;
    }
    .shitu02
    {
        .sprite(@icon-shitu02);
        .icon-easydesign-common;
    }
    .shitu01
    {
        .sprite(@icon-shitu01);
        .icon-easydesign-common;
    }
}


// // 下拉框
// .xiala-box
// {
//     display: none;
//     position: absolute;
//     top: 136px;
//     left: 10px;
//     line-height: 36px;
//     width: 50px;
//     padding-top: 3px;
//     background: #fff;
//     .box-shadow(0 6px 14px 3px #ccc);
//     li
//     {
//         display: block;
//         padding-left: 25px;
//         color: #333;
//         &:hover{
//             cursor: pointer;
//             background: #3ca1d7;
//             color: #fff;
//         }
//     }
// }



// 图片下拉框
.bg022-box
{
    display: none;
    position: absolute;
    top: 10px;
    left: 0;
    .bg022-bottom
    {
        width: 526px;
        height: 15px;

        background-image: url('/images/production/easydesign/common/banner03-bottom.png');
    }
}
.bg022-box01
{
    height: 50px;
    margin: 0 10px;

    background-color: #fff;
    .bg022-inp
    {
        width: 430px;
        margin: 15px 0 0 15px;
        padding: 5px 10px;

        border: #d9d9d9 1px solid;
    }
    .bg022-x
    {
        margin: 24px 10px 0 12px;

        .sprite(@Xgray);
        .icon-easydesign-common;
    }
    .bg022-x:hover
    {
        .sprite(@Xblack);
        .icon-easydesign-common;
    }
}

.bg022-box02
{
    padding-bottom: 15px;

    background-image: url('/images/production/easydesign/common/banner03-bg.png');
    .bg022-a02
    {
        line-height: 28px;

        margin-top: 10px;
        margin-left: 25px;
        padding: 0 10px;

        text-align: center;

        color: #317ef3;
        border: #317ef3 1px solid;
    }
    span
    {
        margin-top: 15px;
        margin-right: 20px;
        font-size: 13px;
        margin-left: 11px;

        color: #999;
    }
}
