
@import '../../../dev/mixins/mixins.less';

@import '../../../sprite/easydesign/common/sprite.less';


/*----------------------banner01.html--------------------*/

.ban-bg
{
    position: relative;

    margin-top: 112px;
}
.guanzhu01-box
{
    width: 100%;

    background-color: #f9f9f9;
}
.guanzhu01
{
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    .words
    {
        margin-left: 14px;
    }
    .p01
    {
        font-size: 20px;

        margin-top: 15px;

        color: #333;
    }
    .wenzi
    {
        color: #888;
        a
        {
            color: #888;
        }
        p
        {
            margin-top: 7px;
        }
        .renqi
        {
            font-size: 24px;

            color: #fd6464;
        }
        .wenzi-color
        {
            color: #dd1d20;
        }
        .shuliang
        {
            margin-right: 11px;
        }
    }
    .btn_follow
    {
        font-size: 16px;
        line-height: 30px;

        display: block;

        width: 110px;
        margin-top: 5px;

        transition: all .3s;
        text-align: center;

        color: #37b5f9;
        border: 1px solid #37b5f9;

        .border-radius(30px);
        &:hover
        {
            color: #fff;
            background: #37b5f9;
        }
    }
}






/*----------------------banner02.html,banner03.html--------------------*/
.ban-bg-box02
{
    position: relative;

    width: 100%;
    height: 200px;
}

.sea-box
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -369px;

    background-color: #5ab6ab;

    .border-radius(5px);
    .ss
    {
        font-size: 20px;
        line-height: 70px;

        width: 120px;

        text-align: center;

        color: #fff;
        border: 0;
        background-color: #5ab6ab;
        .border-radius(5px);
    }
}

.sea-boxbai
{
    margin-top: 10px;
    margin-left: 10px;

    background-color: #fff;
    position: relative;
    .bg022-inp
    {
        width: 425px;
        margin: 10px 0 11px 122px;
        padding: 5px 10px;

        border: 0;
        border-left: #dadada 1px solid;
        outline: medium;
    }
    // 本地上传  开始
    .upLoad-box{
        width: 100px;
        height: 28px;
        top: 10px;
        left: 10px;
        line-height: 28px;
        text-align: center;
        background-color: #fff;
        color: #3385ff;
        border: 1px solid #3385ff;
        position: absolute;
        overflow: hidden;
        text-indent: 0;
        &:hover{
            background-color: #3385ff;
            color: #fff;
            text-decoration: none;
        }
        .ui-upload-btn{
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
        }
    }
    // 本地上传   结束
    .shitu
    {
        margin: 10px 10px 0 4px;

        cursor: pointer;
    }
    .shitu02
    {
        .sprite(@icon-shitu02);
        .icon-easydesign-common;
    }
    .shitu01
    {
        .sprite(@icon-shitu01);
        .icon-easydesign-common;
    }
}


// // 下拉框
// .xiala-box
// {
//     display: none;
//     position: absolute;
//     top: 136px;
//     left: 10px;
//     line-height: 36px;
//     width: 50px;
//     padding-top: 3px;
//     background: #fff;
//     .box-shadow(0 6px 14px 3px #ccc);
//     li
//     {
//         display: block;
//         padding-left: 25px;
//         color: #333;
//         &:hover{
//             cursor: pointer;
//             background: #3ca1d7;
//             color: #fff;
//         }
//     }
// }



// 图片下拉框
.bg022-box
{
    position: absolute;
    top: 10px;
    left: 0;

    display: none;
    .bg022-bottom
    {
        width: 526px;
        height: 15px;

        background-image: url('/images/production/easydesign/common/banner03-bottom.png');
    }
}
.bg022-box01
{
    height: 50px;
    margin: 0 10px;

    background-color: #fff;
    .bg022-inp
    {
        width: 430px;
        margin: 15px 0 0 15px;
        padding: 5px 10px;

        border: #d9d9d9 1px solid;
    }
    .bg022-x
    {
        margin: 24px 10px 0 12px;

        .sprite(@Xgray);
        .icon-easydesign-common;
    }
    .bg022-x:hover
    {
        .sprite(@Xblack);
        .icon-easydesign-common;
    }
}

.bg022-box02
{
    padding-bottom: 15px;

    background-image: url('/images/production/easydesign/common/banner03-bg.png');
    .bg022-a02
    {
        line-height: 28px;

        margin-top: 10px;
        margin-left: 25px;
        padding: 0 10px;

        text-align: center;

        color: #317ef3;
        border: #317ef3 1px solid;
    }
    span
    {
        font-size: 13px;

        margin-top: 15px;
        margin-right: 20px;
        margin-left: 11px;

        color: #999;
    }
}
