
@import '../../../dev/mixins/mixins.less';

@import '../../../sprite/easydesign/common/sprite.less';

.leibie_box
{
    line-height: 24px;

    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    .leibie
    {
        margin-top: 10px;
    }
    span
    {
        margin-top: 10px;
        margin-left: 20px;
    }
    .whole{
        margin-left: 13px;
        padding: 0 11px;

        color: #000;
    }
    a
    {
        margin-left: 13px;
        padding: 0 11px;
        margin-top: 10px;

        color: #000;
    }
    .current,
    a:hover
    {
        color: #fff;
        background-color: #fd6464;

        .border-radius(5px);
    }
    .leibie_p
    {
        width: 1047px;
    }
}


.Collapse
{
    line-height: 40px;

    width: 1200px;
    margin: 0 auto;
    margin-top: 25px;

    cursor: pointer;
    text-align: center;

    color: #000;
    background-color: #f2f3f5;
}

