@import '../../../sprite/easydesign/sprite.less';
@import '../../../dev/mixins/mixins.less';
body{
    overflow: hidden;
}
/** 滚动条样式  */
/* 滚动条的滑轨背景颜色 */
.short_season::-webkit-scrollbar-track,
.main-right::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.short_season::-webkit-scrollbar,
.main-right::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}
/* 滑块颜色 */
.short_season::-webkit-scrollbar-thumb,
.main-right::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #cbcbcb;
}

.main-box{
    position: relative;
    border-top: 1px solid #eee;
}

.main-left{
    width: 100%;
    background: #F8F8F8;
    .gallery-img{
        position: relative;
        text-align: center;
        margin-right: 380px;
        .img-wrapper{
            text-align: center;
            .gallery{
                display: inline-block;
                vertical-align: middle;
            }
            .gallery_none{
                display: none;
            }
        }
        .pagination{
                position: absolute;
                top: 50%;
                width:100%;
                height:100px;
            a{
                display: block;
                width: 40px;
                height: 100px;
                color: #fff;
                line-height: 100px;
                text-align: center;
                background: #000;
                opacity: .4;
                filter: Alpha(opacity=40);
                margin-top: -100px;
                cursor: pointer;
                .iconfont{
                    font-size: 30px;
                    font-style: normal;
                    vertical-align: bottom;
                    font-family: global-iconfont;
                    -webkit-font-smoothing: antialiased;
                }
                &:hover{
                    opacity: .6;
                }
            }
            .prev{
                float: left;
                margin-left:3px;
            }
            .next{
                float: right;
                margin-right:9px;
            }
        }
        .action{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 15px 0;
            background-color: rgba(255,255,255,.5);
            .fav {
                display: inline-block;
                cursor: pointer;
                .button-variant(#fff; #3E82F7; #3E82F7);
                .button-size(0; 10px; 14px; 32px; 3px);
                margin: 0 5px;
            }
            .bdsharebuttonbox{
                position: absolute;
                bottom: 16px;
                right: 0;
                .bt{
                    margin: 0 5px;
                    text-indent: -9999px;
                    display: block;
                    width: 30px;
                    height: 30px;
                    .border-radius(2px);
                    background-color: #b3b3b3;
                    .icon-easydesign;
                }
                .bds_qzone{
                    .sprite(@qq);
                    .fixIe6pngTransparent('/images/icon/easydesign/qq.png');
                    &:hover {
                        background-color: #37b5f9;
                    }
                }
                .bds_tsina{
                     .sprite(@sina);
                     .fixIe6pngTransparent('/images/icon/easydesign/sina.png');
                    &:hover {
                        background-color: #de0202;
                    }
                }
                .bds_sqq{
                    .sprite(@in);
                    .fixIe6pngTransparent('/images/icon/easydesign/in.png');
                    &:hover {
                        background-color: #00c666;
                    }
                }
            }
        }
    }
}

.main-right{
    position: relative;
    width: 338px;
    background-color: #fff;
    margin-left: -388px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 25px 0 25px;
    .right-top{
        min-height: 280px;
    }
    h3{
        font-weight: 400;
        font-size: 20px;
        padding-bottom: 10px;
    }
    .desc{
        line-height:24px;
        .tit-width{
            width: 260px;
        }
        .three-words{
            margin: 0 7px;
        }
    }


    .deta_info{
        border-top: 1px solid #d9d9d9;
        margin: 20px auto 0 auto;
        border-bottom: 1px solid #d9d9d9;
        padding: 15px 0;
        .imgbox{
            width: 50px;
            height: 50px;
            background-color: #000;
            .border-radius(25px);
            overflow: hidden;
        }
        .img_name{
            line-height: 50px;
            margin-left: 10px;
            font-size: 16px;
        }
    }


    .flower_title{
        color: #000;
        font-size: 22px;
        margin: 30px auto 0 auto;
        padding-bottom: 10px;
        border-bottom: 1px solid #d9d9d9;
    }
    .xiangshimianliao{
        margin: 0 auto;
        .mianliaobox{
            width: 100px;
            margin: 20px 5px 0 5px;

            height: 100px;
            background-color: #000;
            overflow: hidden;
        }
    }
}


// 滚动条
.thumb .end, .thumb {
    background-color: #e0bc2c;
}
.scrollbar {
    position: relative;
    width: 100%;
    top:0;
}
.track {
    background-color: #292929;
    height: 9px;
    width: 55px;
    position: relative;
    border-radius: 8px;
}
.thumb {
    height: 9px;
    width: 13px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    border-radius: 8px;
}



.viewport {
    width: 360px;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.thumb .end,#scrollbar1 .thumb {
    background-color: #e0bc2c;
}
.overview {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
}
.scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 9px;
}
.track {
    width: 10px;
    height: 100%;
    position: relative;
    border-radius: 8px;
    background-color: #292929;

}
.thumb {
    height: 9px;
    width: 10px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    border-radius: 8px;
}
.snipe_len_tool{
  left:10px;
  top:10px;
  position:absolute;
  width:122px;
  height:36px;
  color:#ffffff;
  line-height: 34px;
  font-size: 12px;
  span{
    &:hover{
      cursor:pointer;
    }
    .sprite(@selectFabricHeader);
    .icon-easydesign;
    .fixIe6pngTransparent('/images/icon/easydesign/selectFabricHeader.png');
    .nipe_icon{
      float:left;
      width: 25px;
      height: 25px;
      margin-top: 5px;
      margin-left: 5px;
    }
  }
}
.snipe_len_wrapper{
    position: relative;
    margin:auto;
}
.iframePanoramaShow{
    border:0px;
    display: inline-block;
    vertical-align: middle;
}


