@import '../../../sprite/easydesign/sprite.less';
@import '../../../dev/mixins/mixins.less';

.main-box{
    margin-top: 112px;
    position: relative;
    border-top: 1px solid #eee;
}

.main-left{
    width: 100%;
    background: #F8F8F8;
}

.main-right{
    float: left;
    width: 340px;
    min-height: 360px;
    background-color: #fff;
    margin-left: -336px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    h3{
        font-weight: 400;
        font-size: 20px;
        padding-bottom: 10px;
    }
    .desc{
        line-height:24px;
        span{
            width: 70px;
        }
        .tit-width{
            width: 270px;
        }
    }
}


