
@import '../../../sprite/easydesign/common/sprite.less';

.title
{
  width: 1200px;
  margin: 0 auto;
  margin-top: 45px;

  background-image: url('/images/production/easydesign/common/title-bg.png');
  background-repeat: repeat-x;
  background-position: bottom;
  a
  {
    font-size: 20px;
    line-height: 32px;

    margin-right: 60px;
    padding: 0 20px 11px 20px;
    i
    {
      margin-right: 15px;
    }
  }
  .title-a
  {
    color: #252525;
    i{
      .icon-easydesign-common;
    }
    i.icon_Flower
    {
      .sprite(@icon_FlowerOn);
    }
    i.i_Flower
    {
      .sprite(@i_FlowerOn);
    }
    i.i_FlowerVip
    {
      .sprite(@i_FlowerVipOn);
    }
    i.i_FlowerFree
    {
      .sprite(@i_FlowerFreeOn);
    }
    i.i_quality
    {
      .sprite(@i_qualityOn);
    }
    i.i_qualityVip
    {
      .sprite(@i_qualityVipOn);
    }
    i.i_qualityFree
    {
      .sprite(@i_qualityFreeOn);
    }
    i.i_scene
    {
      .sprite(@i_sceneOn);
    }
    i.i_sceneVip
    {
      .sprite(@i_sceneVipOn);
    }
    i.i_sceneFree
    {
      .sprite(@i_sceneFreeOn);
    }
    i.i_style
    {
      .sprite(@i_styleOn);
    }
    i.i_styleVip
    {
      .sprite(@i_styleVipOn);
    }
    i.i_styleFree
    {
      .sprite(@i_styleFreeOn);
    }
    i.i_works
    {
      .sprite(@i_worksOn);
    }
    i.i_Fabric
    {
      .sprite(@i_FabricOn);
    }
  }
  .current,
  .title-a:hover
  {
    color: #5ab6ab;
    border-bottom: #5ab6ab 3px solid;
    i{
      .icon-easydesign-common;
    }
    i.i_Flower
    {
      .sprite(@i_Flower);
    }
    i.i_FlowerVip
    {
      .sprite(@i_FlowerVip);
    }
    i.i_FlowerFree
    {
      .sprite(@i_FlowerFree);
    }
    i.i_quality
    {
      .sprite(@i_quality);
    }
    i.i_qualityVip
    {
      .sprite(@i_qualityVip);
    }
    i.i_qualityFree
    {
      .sprite(@i_qualityFree);
    }
    i.i_scene
    {
      .sprite(@i_scene);
    }
    i.i_sceneVip
    {
      .sprite(@i_sceneVip);
    }
    i.i_sceneFree
    {
      .sprite(@i_sceneFree);
    }
    i.i_studio
    {
      .sprite(@i_studio);
    }
    i.i_style
    {
      .sprite(@i_style);
    }
    i.i_styleVip
    {
      .sprite(@i_styleVip);
    }
    i.i_styleFree
    {
      .sprite(@i_styleFree);
    }
    i.i_works
    {
      .sprite(@i_works);
    }
    i.i_Fabric
    {
      .sprite(@i_Fabric);
    }
    i.icon_Flower
    {
      .sprite(@icon_Flower);
    }
  }
}
