
@import '../../../sprite/yisheji/footer/sprite.less';


.footer-box
{
    width: 100%;
    margin-top: 90px;
    padding-bottom: 30px;

    background-color: #303745;
}

.footer-nav
{
    width: 1200px;
    margin: 0 auto;
    .dl-box
    {
        margin-top: 54px;
        margin-right: 85px;
        dt
        {
            font-size: 16px;

            padding-bottom: 20px;

            color: #fff;
        }
        dd
        {
            line-height: 30px;

            height: 30px;
        }
        a
        {
            color: #828997;
        }
        .icon-qq
        {
            .sprite(@icon-qq);
            .icon-yisheji-footer;
        }
        .icon-sina
        {
            .sprite(@icon-sina);
            .icon-yisheji-footer;
        }
        .icon-163
        {
            .sprite(@icon-163);
            .icon-yisheji-footer;
        }
        .icon-linkedin
        {
            .sprite(@icon-linkedin);
            .icon-yisheji-footer;
        }
        i
        {
            margin-top: 9px;
            margin-right: 5px;
        }
    }
    .code
    {
        margin-top: 54px;
    }
    .kefu
    {
        margin-top: 54px;
        .btn
        {
            line-height: 30px;

            display: block;

            width: 176px;
            height: 30px;
            margin-top: 18px;
            margin-left: 3px;

            text-align: center;

            color: #fff;
            background-color: #508ce4;
        }
    }
}

.banquan
{
    line-height: 34px;

    width: 1200px;
    margin: 0 auto;
    margin-top: 80px;

    text-align: center;

    color: #7a818f;
}
