.icon-VIP-easydesign-detail {
  background-image: url("/images/production/VIP/easydesign/detail/sprite-VIP-easydesign-detail.PNG");
}
.detailbox {
  width: 340px;
}
.detailbox .flowname {
  width: 100px;
  height: 32px;
  background-color: #508ce4;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.detailbox h1 {
  font-size: 20px;
  margin-left: 14px;
  font-weight: normal;
  color: #000000;
}
.detailbox .deta_class,
.detailbox .deta_price {
  margin-left: 14px;
  font-size: 14px;
  color: #666666;
  margin-top: 20px;
}
.detailbox .deta_price {
  margin-top: 4px;
}
.detailbox .text_red {
  color: #fe6464;
}
.detailbox .deta_info {
  width: 320px;
  border-top: 1px solid #d9d9d9;
  margin: 0 auto;
  padding-top: 14px;
  border-bottom: 1px solid #d9d9d9;
}
.detailbox .imgbox {
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 25px;
  overflow: hidden;
}
.detailbox .img_name,
.detailbox .flow_free {
  line-height: 50px;
  margin-left: 10px;
  font-size: 16px;
}
.detailbox .flow_free {
  color: #28b28b;
}
.detailbox .browse {
  margin: 6px 6px 0 0  ;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 11px;
  background-image: url("/images/production/VIP/easydesign/detail/sprite-VIP-easydesign-detail.PNG");
}
.detailbox .dianzang {
  margin: 0px 6px 0 0  ;
  background-position: -4px -23px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("/images/production/VIP/easydesign/detail/sprite-VIP-easydesign-detail.PNG");
}
.detailbox .likebox {
  margin-top: 10px;
  padding-bottom: 10px;
}
.detailbox .derail_butt,
.detailbox .derail_buttver {
  line-height: 34px;
  padding: 0 20px 0 20px;
  background-color: #01a1c8;
  display: block;
  border-radius: 5px;
  color: #fff;
}
.detailbox .derail_buttver {
  margin-left: 20px;
}
.detailbox .derail_buttbox {
  margin: 10px 0  20px 0;
}
.detailbox .modify {
  width: 320px;
  margin: 0 auto;
}
.detailbox .modify_tit {
  font-size: 20px;
  color: #666;
}
.detailbox .modify_cont {
  width: 318px;
  margin-top: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: #666666;
  height: 240px;
  resize: none;
}
.detailbox .modify_butt,
.detailbox .modify_tit,
.detailbox .deta_info,
.detailbox h1 {
  margin-top: 20px;
}
