
@import '../../../sprite/yituangou/tuangougeren/sprite.less';

.Buy-07-wenzi{
	margin-top: 30px;
	width:1010px;
	background-color: #a0cdeb;
	.wenzi{
		float: left;
		font-size: 18px;
		line-height: 55px;
		_vertical-align: middle;
		color: #fff;
		margin-left: 10px;
	}
	.Buy-07-but{
		float: right;
		color: #4c4c4c;
		font-size: 14px;
		width: 86px;
		line-height: 26px;
		_vertical-align: middle;
		background-color: #fff;
		margin-right: 20px;
		margin-top: 15px;
		span{
			float: left;
		}
		.update{
			margin-left: 12px;
			margin-top: 7px;
			margin-right: 4px;
			.sprite(@update);
		}
	}
}


.Frame07-list{
	margin-top: 30px;
	width:1010px;
}

