@arrow: -4px -4px 6px 11px;
@add: -4px -23px 12px 12px;
@blueimg: -4px -43px 16px 16px;
@bluetable: -4px -67px 16px 16px;
@grayimg: -4px -91px 16px 16px;
@graytable: -4px -115px 16px 16px;
@home: -4px -139px 16px 16px;
@blue: -4px -163px 180px 180px;
@green: -4px -351px 180px 180px;
@orange: -4px -539px 180px 180px;
.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}
.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}
.sprite(@sprite, @display: block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
.icon-easydata-report {
  background-image: url("/images/production/easydata/report/sprite-easydata-report.PNG");
}