@arrow_bot: -4px -4px 14px 9px;
@arrow_top: -4px -21px 14px 9px;
@arrow_open: -4px -38px 9px 14px;
@arrow_stop: -4px -60px 9px 14px;
@search_ico: -4px -82px 17px 16px;

.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite(@sprite, @display:block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

.icon-other-designsoftware {
  background-image: url('/images/production/other/designsoftware/sprite-other-designsoftware.png');
}
