
@import '../../../../dev/mixins/mixins.less';

.main_box{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.mingxi
{
  font-size: 24px;

  background-image: url('/images/production/VIP/common/account/title_line.png');
  background-repeat: repeat-x;
  background-position: bottom;
  margin: 0 20px;
  .current,
  .mingxi_a
  {
    margin-left: 40px;
    padding: 0 10px 10px 10px;
  }
  .current,
  .mingxi_a:hover
  {
    color: #4a7bc4;
    border-bottom: 2px solid #4a7bc4;
  }
  .mingxi_mar
  {
    margin-left: 0;
  }
}

div.billbox{
  width: 854px;
  background-color: #fff;
  margin-top: 40px;
  padding: 20px 0 60px 0;
  div.Inforbox{
    line-height: 30px;
    color: #333;
    margin: 30px 20px 0 20px;
    p.tit{
      text-align: right;
      width: 115px;
    }
    p.words{
      width: 156px;
    }
  }
  div.remarksbox{
    margin: 10px 20px 0 20px;
    span.tit{
      text-align: right;
      width: 115px;
    }
    textarea{
      width: 400px;
      height: 80px;
    }
    p.word-count{
      padding: 3px 0;
    }
    p.btn_determine{
      width: 60px;
      text-align: center;
      margin-top: 10px;
      cursor: pointer;
      .button-variant(#fff; #f19916; #f19916);
      .button-size(0; 0; 14px; 30px; 3px);
    }
  }
  div.scanningpart{
    margin: 40px 0 0 60px;
    p.tit{
      font-size: 20px;
      color: #333;
      line-height: 60px;
    }
    div.License{
      width: 600px;
      height: 600px;
      display:table-cell;
      vertical-align:middle;
      text-align:center;
      border: 1px solid #ddd;
      display: table;
    }
    img{
      display: inline-block;
    }
  }
}

