
@import '../../../../sprite/VIP/common/account/sprite.less';

@import '../../../../dev/mixins/mixins.less';

.main_box{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.yaoqing-main01
{
  width: 854px;
  margin-top: 40px;
  padding-bottom: 30px;

  background-color: #fff;
  .p01
  {
      padding-top: 23px;
      margin: 0 20px;
      font-size: 24px;
      color: #333;
  }
  .p02
  {
      margin: 14px 20px 0 20px;
      color: #f43232;
  }
  .p03
  {
    padding: 10px;

    border: #d9d9d9 1px solid;
    margin: 13px 20px 0 20px;
    color: #333;
    .mar
    {
        margin-top: 4px;
    }
  }
  .p04
  {
    margin: 10px 20px 0 20px;
    .bg-color
    {
        width: 58px;

        text-align: center;
        .button-variant(#fff; #37b5f9; #37b5f9);
        .button-size(0; 0; 16px; 32px; 3px);
    }
    .fenxiang
    {
        margin-top: 1px;
        margin-right: 4px;

        .sprite(@icon_fenxiang);
        .icon-VIP-common-account;
    }
    .icon-qq,
    .icon-sina,
    .icon-linkedin
    {
        margin-top: 1px;
        margin-right: 12px;

        .icon-VIP-common-account;
    }
    .icon-qq
    {
        margin-left: 7px;

        .sprite(@icon-qq);
    }
    .icon-sina
    {
        .sprite(@icon-sina);
    }
    .icon-linkedin
    {
        .sprite(@icon-linkedin);
    }
    .icon-more
    {
        margin-top: 1px;
        margin-right: 5px;

        .sprite(@icon_more);
        .icon-VIP-common-account;
    }
  }
}

.cover
{
  padding: 10px 0;
  margin-top: 20px;
  background-color: #fff;
  width: 854px;
  .headPor
  {
    position: relative;
    margin-left: 20px;
    display: inline;
  }
  .mask
  {
    position: absolute;
    top: 0;
    left: 0;
  }
  .words
  {
    font-size: 12px;

    margin-left: 11px;
  }
  .words-p01
  {
    margin-top: 10px;
    i
    {
        margin-right: 6px;

        .sprite(@didian);
        .icon-VIP-common-account;
    }
    .span_mar
    {
        margin-left: 11px;
    }
  }

  div.time{
    text-align: center;
    color: #bebebe;
    border-left: #e5e5e5 1px solid;
    padding: 0 30px;
    line-height: 18px;
    margin-top: 19px;
    p.Characters{
      font-size: 24px;
    }
    p.Small{
      font-size: 18px;
      margin-top: 16px;
    }
  }
}






