
@import '../../../../sprite/VIP/common/account/sprite.less';

@import '../../../../dev/mixins/mixins.less';

.main_box{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 70px;
}

.a12_box
{
    margin-top: 40px;
    width: 854px;
    .a12_main01
    {
        background-color: #303745;
        p.tit{
            color: #cbcfd6;
            font-size: 16px;
        }
        .main01
        {
            width: 396px;
            padding-top: 20px;
            padding-bottom: 18px;
            padding-left: 30px;
        }
        .main01_size
        {
            font-size: 30px;

            margin-top: 3px;
            padding-bottom: 16px;
            color: #ec8b00;
        }
        .border_rg
        {
            border-right: 2px solid #f2f3f5;
        }
        .main01_a
        {
            margin-right: 36px;

            color: #cbcfd6;
        }
    }
}


.a12_main02
{
    margin-top: 20px;

    background-color: #fff;
    .main02_01
    {
        font-size: 20px;
        line-height: 60px;

        padding-left: 30px;
        color: #fff;

        .sprite(@a12_title_bg);
        .icon-VIP-common-account;
    }
}


// 充值明细
.a17-box01
{
    padding-top: 25px;
    background-color: #fff;
    padding-bottom: 23px;
    .chaxun
    {
        line-height: 28px;

        margin: 0 20px;
        .ipt
        {
            width: 111px;
            height: 28px;

            border: 1px #cecece solid;

            .border-radius(3px);
        }
        .span_zhi
        {
            margin: 0 10px;
        }
        .span_yewu
        {
            margin-left: 20px;
        }
        .btn_chaxun
        {
            margin-left: 10px;
            .button-variant(#333; #e0e0e0; #e0e0e0);
            .button-size(0; 18px; 14px; 30px; 0);
        }
    }
}

.select-box
{
    line-height: 18px;
    .int{
        width: 131px;
        padding: 5px 10px;
        border: 1px #cecece solid;

        .border-radius(3px);
    }
}

.fenlei-ul
{
    padding-top: 14px;
    padding-bottom: 15px;
    background-color: #fff;
    color: #333;

    border-top: #f2f3f5 1px solid;
}

.fenlei-box,
.fenlei-box1
{
    padding: 0 5px;

    text-align: center;
}
.fenlei-box
{
    width: 132px;
}

.table-box
{
    margin-top: 20px;

    background-color: #fff;
    line-height: 24px;
    .table_00
    {
        padding: 20px 0;
        font-size: 14px;
    }
    td.txt_ora{
        color: #ec8b00;
    }
}

