
@import '../../../../sprite/VIP/common/account/sprite.less';

@import '../../../../dev/mixins/mixins.less';

.main_box{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 70px;
  .txt_ora{
    color: #ec8b00;
  }
  .txt_green{
    color: #1BB974;
  }
  .txt_red{
    color: #ee273f;
  }
}

.a12_box
{
  margin-top: 40px;
  width: 854px;
}
.recharge_box{
  margin-top: 40px;
  width: 854px;
  background-color: #fff;
  height: 540px;
  .moneybox{
    margin: 20px 20px 0 20px;
    font-size: 16px;
    .txt_oga{
      color: #fe6600;
      font-size: 20px;
    }
    .money{
      margin-left: 30px;
      line-height: 30px;
      input.int{
        width: 128px;
        padding: 5px 10px;
        line-height: 18px;
        border: 1px solid #e5e5e5;
        margin-right: 5px;
      }
    }
  }
  .recharge{
    margin: 20px 20px 0 20px;
  }
}

.mingxi
{
  font-size: 24px;

  background-image: url('/images/production/VIP/common/account/title_line.png');
  background-repeat: repeat-x;
  background-position: bottom;
  margin: 0 20px;
  .current,
  .mingxi_a
  {
    margin-left: 40px;
    padding: 0 10px 10px 10px;
  }
  .current,
  .mingxi_a:hover
  {
    color: #4a7bc4;
    border-bottom: 2px solid #4a7bc4;
  }
  .mingxi_mar
  {
    margin-left: 0;
  }
}


.a12_main02
{
  padding-top: 20px;

  background-color: #fff;
  div.monbox{
    margin: 30px 0 0 20px;
    p.mon{
      display: inline;
      span{
        font-size: 18px;
      }
    }
  }
}


// 易豆明细
.a17-box01
{
  padding-top: 25px;
  background-color: #fff;
  padding-bottom: 23px;
  .chaxun
  {
    line-height: 28px;

    margin: 0 20px;
    .ipt
    {
      width: 111px;
      height: 28px;

      border: 1px #cecece solid;

      .border-radius(3px);
    }
    .span_zhi
    {
      margin: 0 10px;
    }
    .span_yewu
    {
      margin-left: 20px;
    }
    .btn_chaxun
    {
      margin-left: 10px;
      .button-variant(#333; #e0e0e0; #e0e0e0);
      .button-size(0; 18px; 14px; 30px; 0);
    }
  }
}

.select-box
{
  line-height: 18px;
  .int{
    width: 131px;
    padding: 5px 10px;
    border: 1px #cecece solid;

    .border-radius(3px);
  }
}

.fenlei-ul
{
  padding-top: 14px;
  padding-bottom: 15px;
  background-color: #fff;
  color: #333;

  border-top: #f2f3f5 1px solid;
}

.fenlei-box
{
  padding: 0 5px;

  text-align: center;
  width: 112px;
  span.btn{
    color: #3ca1d7;
    cursor: pointer;
    &:hover{
      color: #ff6600;
    }
  }
}

.table-box
{
  margin-top: 20px;

  background-color: #fff;
  line-height: 24px;
  .table_00
  {
    padding: 20px 0;
    font-size: 14px;
  }
}

