
@import '../../../../sprite/VIP/common/account/sprite.less';

@import '../../../../dev/mixins/mixins.less';

.main_box{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 70px;
}

.a15box
{
    font-size: 18px;

    width: 854px;
    margin-top: 40px;
    padding-bottom: 60px;

    background-color: #fff;

    .zhanghao
    {
        font-size: 18px;

        padding: 40px 0 0 30px;

        color: #ff6600;
    }
    .fangshibox
    {
        width: 794px;
        margin: 50px auto 0 auto;
    }
    .fangshititle
    {
        border-bottom: 1px solid #4a7bc4;
    }
    .title_danqian
    {
        font-size: 20px;
        line-height: 40px;

        display: block;

        width: 115px;

        text-align: center;

        color: #888;
    }
    .title_danqian
    {
        color: #fff;

        .sprite(@titledanqian);
        .icon-VIP-common-account;
    }
    .title_caozuo
    {
        font-size: 18px;
        line-height: 50px;

        width: 170px;

        text-align: right;

        color: #333;
        .txt_red{
            color: #fc2e2e;
        }
    }
    .shurukaung,
    .beizhu
    {
        line-height: 48px;

        width: 370px;
        height: 50px;
        padding-left: 10px;

        color: #bdbdbd;
        border: 1px solid #d9d9d9;

        .border-radius(3px);
    }
    .beizhu
    {
        overflow: hidden;

        height: 100px;

        resize: none;
    }
    .onetop
    {
        margin-top: 40px;
    }
    .tongyongtop_00
    {
        margin-top: 20px;
    }
    .tishi
    {
        font-size: 13px;

        margin-top: 6px;

        color: #888;
    }
    .tijiao
    {
        font-size: 18px;
        line-height: 40px;

        display: block;

        width: 104px;
        margin-top: 20px;
        margin-left: 172px;
        
        border: 0;

        text-align: center;

        color: #fff;
        background-color: #4a7bc4;

        .border-radius(3px);
    }
    .shangchuang
    {
        line-height: 48px;

        display: block;

        width: 112px;
        height: 48px;

        text-align: center;

        color: #38b5f8;
        border: 1px solid #38b5f8;

        .border-radius(3px);
    }
    .tuqinatishi{
        margin-left: 16px;
        font-size: 13px;
        color:#999999;
        line-height: 50px;
    }
}
.xiabianju14{
    padding-bottom: 166px;
}

.input-tip{
  color: red;
  float: left;
  margin-left: 15px;
  line-height: 50px;
}


#num{
  position: relative;
  top: 0;
  left: 0;
  .placeholder{
    position: absolute;
    top:20px;
    left: 180px;
    font-size: 15px;
    color: #888;
  }
}