

.index-box
{
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px 0;

    border: 1px solid #eee;
    background: #fff;
}

.index_bt
{
    font-size: 16px;
    line-height: 20px;

    margin: 0 20px;

    color: #000;

    a:hover
    {
        color: #00a2c9;
    }
    a
    {
        font-size: 12px;

        color: #919191;
    }
}

.index-nr
{
    margin: 0 20px;
    margin-top: 20px;
    .jiantou
    {
        width: 39px;
        height: 34px;
        margin: 0 13px;
        margin-top: 48px;

        background-image: url('/images/production/modify/index/jiantou-1.png');
    }
    .vs
    {
        width: 44px;
        height: 25px;
        margin: 0 52px;
        margin-top: 52px;

        background-image: url('/images/production/modify/index/vs.png');
    }
    .wenzi
    {
        width: 405px;
        margin-top: 10px;

        text-align: center;

        color: #333;
    }
    .m-left
    {
        margin-left: 148px;
    }
}
