@import '../../../../sprite/VIP/common/Pay/sprite.less';
@import '../../../../dev/mixins/mixins.less';

.pay_way{
    font-size: 16px;
    color:#999999;
    line-height: 16px;

}


.pay_box{
    padding-top: 10px;
    li{
        width: 150px;
        height: 40px;
        border:1px solid #e5e5e5;
        position: relative;
        cursor:pointer;
    }
    .zhifubao{
        margin: 7px auto 0 auto;
         .sprite(@zhifubao);
        .icon-VIP-common-Pay;
    }
    .yidou{
        margin: 7px auto 0 auto;
         .sprite(@yidou);
        .icon-VIP-common-Pay;
    }
    .select_pay{
        position: absolute;
        bottom: 0;
        right: 0;
        .sprite(@gouxian);
        .icon-VIP-common-Pay;
        display: none;
    }
    li:hover .select_pay{
        display: block;

    }
    li:hover{
        border:1px solid #ff5200;
    }
    .zaixian{
        margin: 7px auto 0 auto;
         .sprite(@zaixian);
        .icon-VIP-common-Pay;
    }
    .li_max{
        margin-left: 10px;
    }
    .arr_bom{
        position: absolute;
        top: 50px;
        left: 60px;
        .sprite(@arr_bom);
        .icon-VIP-common-Pay;
    }


}
.dropdown_box{
        margin-top: 20px;
       .border-radius(5px);
        background-color: #e6e6e6;
        width: 1120px;
        .dropdown_libox{
            width: 1080px;
            padding: 20px 0 20px 0;
            margin: 0 auto;
        li{
            .sprite(@Preferential);
            .icon-VIP-common-Pay;
            position: relative;
        }
         .Preferential_var{
            margin-left: 16px;
        }
        }

        .seal{
            .sprite(@seal);
            .icon-VIP-common-Pay;
            position: absolute;
            top: 2px;
            right: 2px;
            display: none;
        }
        li:hover .seal{
            display: block;
        }

    }
.Bean_box{
        margin-top: 10px;

        .yidou_name,.yidou_unit,.yidou_Surplus{
            font-size: 14px;
            margin-top: 3px;
        }
        .yidou_Surplus{
            margin-left: 30px;
        }
        .yidou_unit{
            margin-left: 4px;
        }
        .yidou_data,.yidou_surdata{
            margin-left: 10px;
            font-size:20px;
            color:#fe6600;
        }
        .yidou_surdata{
            margin-left: 0px;
        }
        .yidou_input{
            width: 94px;
            height: 24px;
            line-height: 26px;
            border: 1px solid #999;
            .border-radius(2px);
            padding-left: 6px;
        }


    }
.whether{
    margin:7px 2px 0 0;
}
.bean_height{
    margin-top: 0px;
}
.bean_butt{
    margin-top: 20px;
    width: 190px;
    display: block;
    text-align: center;
    height: 38px;
    line-height: 38px;
    background-color: #fe6600;
    color: #fff;
}
.bean_butt:hover{
    background-color: #f75533;
}