@import '../../../../sprite/VIP/common/Pay/sprite.less';
.recharge_box{
    width: 1200px;
    margin:0 auto;

    .img_box{
        height: 250px;
        overflow: hidden;
        img{
            width: 1200px;
            margin: 0 auto;
        }
    }
    .rec_inf{
        width: 1198px;
        border:1px solid #e0e0e0;
        background-color: #fff;
        margin-top: 20px;
        padding-bottom: 20px;
        .inf_box{
            width: 1120px;
            margin:0 auto;
            padding-top: 30px;
        }
        .VIP_tit,.contact{
            font-size: 16px;
            color:#999999;
            line-height: 16px;
        }
        .privilegebox{
            padding-top: 14px;
            width: 33.3%;
            li{
                padding-bottom: 6px;
            }
        }
        .sc_chongzhi{
           .sprite(@sc_chongzhi);
           .icon-VIP-common-Pay;
        }
        .priv_text{
            color: #797979;
            line-height: 18px;
            margin-left: 6px;
        }
        .pay_top,.contact{
            margin-top: 40px;
        }
        .cont_data{
            margin-top: 10px;
        }
        .cont_mar{
            margin-left: 80px;
        }
    }
}