@import '../../../../sprite/VIP/common/Pay/sprite.less';

@import '../../../../dev/mixins/mixins.less';

div.verification-box{
  width: 590px;
  margin: 0 auto;
  padding-bottom: 20px;
  .border-radius(5px);
  -webkit-box-shadow:0 0 15px 1px #e0e0e0;
  -moz-box-shadow:0 0 15px 1px #e0e0e0;
  box-shadow:0 0 15px 1px #e0e0e0;
  background-color: #fff;
  p.title{
    color: #e5f9ff;
    background-color: #389dd9;
    line-height: 36px;
    font-size: 16px;
    height: 36px;
    padding-left: 20px;
  }
  div.content-box{
    margin-top: 20px;
    span.pic{
      margin: 0 24px 0 60px;
      .sprite(@verification);
      .icon-VIP-common-Pay;
    }
    div.words-box{
      margin-top: 13px;
    }
  }
  div.btn-box{
    margin-top: 20px;
    text-align: center;
    a.btn_ogn{
      display: inline-block;
      width: 92px;
      margin-left: 24px;
      .button-size(0; 0; 12px; 30px; 3px);
      .button-variant(#fff; #ff8100; #ff8100);
    }
    a.btn_grau{
      display: inline-block;
      width: 92px;
      .button-size(0; 0; 12px; 30px; 3px);
      .button-variant(#333; #edebeb; #cdcdcd);
    }
  }
}