.icon-easydata-priceDet {
  background-image: url("/images/production/easydata/priceDet/sprite-easydata-priceDet.PNG");
}
.tablebox {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
  border-radius: 4px;
  background-color: #fff;
}
.tablebox .table_cont {
  width: 1160px;
  margin: 0px auto 0 auto;
  padding-top: 30px;
}
.tablebox .price_data {
  width: 60px;
}
.tablebox .lowcolor {
  color: #f6492b;
}
.tablebox .tab_tit {
  font-size: 18px;
  color: #000;
}
.tablebox .Margins {
  margin-top: 30px;
}
.tablebox .tab_unit {
  font-size: 14px;
  line-height: 20px;
  color: #888;
}
.tablebox .pricechangesbox {
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  font-size: 14px;
  color: #333;
  line-height: 48px;
  width: 1159px;
}
.tablebox .vertical {
  background-color: #f2f3f5;
  font-size: 16px;
}
.tablebox .vert_data {
  font-size: 14px;
}
.tablebox .vert_data:nth-child(odd) {
  background: #f8f8f8;
}
.tablebox .prod_year,
.tablebox .price_data {
  text-align: center;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.tablebox .prod_year {
  width: 325px;
  padding: 0 20px 0 20px;
  text-align: left;
}
.tablebox .arrow {
  margin: 19px 0 0 6px;
  background-position: -4px -22px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 10px;
  height: 12px;
  background-image: url("/images/production/easydata/priceDet/sprite-easydata-priceDet.PNG");
}
.tablebox .More {
  color: #333;
}
.tablebox .supp_namedata {
  padding-left: 20px;
  width: 562px;
  text-align: left;
}
