@import '../../../../dev/mixins/mixins.less';

@import 'corepriceopt.less';

.main_box
{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 70px;
}

//右边宽度
.rgbox{
  width: 854px;
}

//上边距
.tit_top{
  margin-top: 40px;
}

//表格上边距
.tab_top{
  margin-top: 20px;
}

//标题下填充
div.tit_pad{
  padding-bottom: 16px;
}

.dyeing{
  width: 854px;
  background-color: #fff;
  font-size: 14px;
  color: #333;
  text-align:center;
  .dye_onerowbox{
    margin: 0 auto;
    height: 40px;
    color: #999;
  }
  .batchbox,.dye_onerowbox{
    background-color: #ebebeb;
  }
  .dye_listbox,.dye_listlastbox{
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    height: 40px;
  }
  .dye_onerow,.dye_listbox,.dye_listlastbox{
    width: 844px;
    margin: 0 auto;
  }
  .batchbox,.barchche{
    height: 56px;
  }
  .batch_inc{
    margin-left: 10px;
    color: #999;
    line-height: 56px;
  }
  .barchche{
    margin-left: 8px;
  }
  .dey_che,.deylist_che{
    width: 20px;
    margin:0px  auto 0 auto;
  }
  .dey_che,.dey_colbox,.dey_select,.dye_listbox,.dye_listlastbox,.dey_spec{
    line-height: 40px;
  }

  .deydata_inp,.deydata_butt,.deydata_buttdet{
    width: 80px;
    display: block;
    margin:0 auto;
    line-height: 26px;
    height: 26px;
    border:1px solid #ccc;
    .border-radius(4px);
    text-align: center;
    margin-top: 6px;
  }
  .deydata_butt,.deydata_buttdet{
    width: 54px;
  }

  .dey_spec{
    width: 150px;
  }
  .batch_butt{
    padding: 0 16px 0 16px;
    display: block;

    .border-radius(4px);
  }

  .batch_inp{
    .border-radius(4px 0 0 4px);
    margin:12px 0 0 6px;
    width: 30px;
    text-align: center;
  }
  .batch_butt,.batch_inp,.batch_perce{
     border:1px solid #cccccc;
    line-height: 30px;
    height: 30px;
    margin:12px 0 0 6px;
     color: #4d4d4d;
  }
  .batch_perce{
    border-left: none;
    margin-left: 0px;
    width: 20px;
    .border-radius(0 4px 4px 0);
  }
  .dey_colbox,.dey_select{
    width:190px;
    text-align:center;
  }
  .dye_listlastbox{
    border: none;
  }
  .dey_select{
    width: 144px;
  }
  .deydata_buttdet{
    border:1px solid #e8c54f;
    color: #e8c54f;
  }
  .deydata_butt{
    border:1px solid #86be37;
    color: #86be37;
  }
  .deysel_buttbox{
    width: 120px;
    margin: 0 auto;
    display: block;

  }

}

