@import '../../../../dev/mixins/mixins.less';
.core_box{
    width:854px;
    background-color:#fff;
    .core_contbox{
        width: 814px;
        margin: 0 auto;
        padding-top:16px;
        .core_tit{
            margin-left:4px;
            font-size:20px;
            line-height:20px;
            color:#333;
        }
        .core_titbut,.core_titbut2{
            display: block;
            line-height:26px;
            height:26px;
            border:1px solid #4b7bc5;
            font-size:14px;
            padding:0 18px 0 18px;
            color:#4b7bc5;
            .border-radius(5px);
        }
        .core_titbut2{
            margin-right:10px;
        }
        .core_databox{
            margin:20px 0 0 0 ;
        }
        .core_databox,.core_databox2{
            font-size:12px;
            line-height:20px;
            color: #333333;

        }
        .core_databox2{
            margin-top:8px;
        }
        .list_Complete,.list_Complete2{
            padding: 0 6px 0 6px;

        }
        .list_Complete2{
            background-color: #e85d40;
            color: #fff;
            .border-radius(2px);
        }


        .coredata_list{

            width: 680px;
            margin-left:12px;
            li{
                padding: 0 6px 0 6px;
                cursor: pointer;
            }
            .li_leftmar,.li_lefttopmar{
                margin-left: 12px;
            }
            .li_lefttopmar,.li_lefttopmarone{
                margin-top: 4px;
            }

            li:hover{
                background-color: #e85d40;
                color: #fff;
                 .border-radius(2px);
            }
        }
        .Clearleft{
            margin-left: 0px;
        }
    }


}