@import '../../../../dev/mixins/mixins.less';
@import '../../../../sprite/VIP/easyPricing/Coreprice/sprite.less';
.core_box{
    width:854px;
    background-color:#fff;
    .core_contbox{
        width: 814px;
        margin: 0 auto;
        padding-top:16px;
        .core_tit{
            margin-left:4px;
            font-size:20px;
            line-height:20px;
            color:#333;
        }
        .core_titbut,.core_titbut2{
            display: block;
            line-height:26px;
            height:26px;
            border:1px solid #4b7bc5;
            font-size:14px;
            padding:0 18px 0 18px;
            color:#4b7bc5;
            .border-radius(5px);
        }
        .core_titbut2{
            margin-right:10px;
        }
        .core_databox{
            margin:20px 0 0 0 ;
        }
        .core_databox,.core_databox2{
            font-size:14px;
            line-height:24px;
            color: #333333;

        }
        .coredata_tit{
            margin-top: 6px;
        }
        .core_databox2{
            margin-top:8px;
        }
        .list_Complete,.list_Complete2{
            margin: 6px 0 0 4px;
            padding: 0 10px 0 10px;

        }
        .list_Complete2{
            background-color: #e85d40;
            color: #fff;
            .border-radius(2px);
        }


        .coredata_list{

            width: 650px;
            margin-left:12px;
            li{
                padding: 0 10px 0 10px;
                cursor: pointer;
                margin: 6px 0 0 4px;
            }


            li:hover{
                background-color: #e85d40;
                color: #fff;
                 .border-radius(2px);
            }
        }
        .Clearleft{
            margin-left: 0px;
        }
        .collapse_box{
            margin: 20px auto 0 auto;
            width: 110px;
            height: 30px;
            cursor:pointer;
            .border-radius(5px 5px 0 0);
            background-color: #eeeeee;
            .arr_top{
                margin: 11px 4px 0 15px;
                   .sprite(@arr_top);
                   .icon-VIP-easyPricing-Coreprice;
            }
            .collapse_text{
                line-height: 30px;
                font-size: 14px;
                margin-left: 2px;
                color: #888888;
            }

        }
    }


}