@import '../../../../dev/mixins/mixins.less';
.titbox
{  width: 854px;
  margin-top:40px;
  background-color: #fff;
  p.tit
  {
    font-size: 24px;
    line-height: 66px;

    margin-left: 20px;
    display: inline;

    color: #333;
  }
  a.upload{
    margin: 17px 20px 0 0;
    .button-variant(#fff; #fd6464; #fd6464);
    .button-size(0; 10px; 16px; 36px; 5px);
  }
}



.collapse_box{
  margin: 20px auto 0 auto;
  background-color: #e3e4e5;
  text-align: center;
  line-height: 30px;
  color: #333;
  cursor:pointer;
  width: 150px;
  .border-radius(5px 5px 0 0);
}
.outer_box,.core_box{
  width: 814px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  a{
    color: #4d4d4d;
  }
}
.coredata_tit,.coredata_list li{
  margin-top: 8px;
}
.coredata_list{
  width: 670px;
  li{
  margin-left: 4px;
  cursor: pointer;
  a{
    padding: 0 10px 0 10px;
  }
}
}
.coredata_list li:hover{
  background-color: #e85d40;

  border-radius: 2px;
}
.current_list{
  background-color: #e85d40;

  border-radius: 2px;
  a{
    color: #fff;
  }
}
.coredata_list li:hover a{
  color: #fff;
}