@import '../../../../dev/mixins/mixins.less';

.titbox
{
    width: 854px;
    margin-top: 40px;

    background-color: #fff;
    .tit2_box{
        width: 814px;
        margin: 10px auto 2px auto;
        padding: 10px 0 10px 0;

        background-color: #f2f2f2;
        .selectbox{
            width: 670px;
            li{
                border: 1px solid #3CA1D7;
                padding: 0 8px;
                margin: 4px 0 0 4px;
                color: #e22c37;
                font-size: 12px;
                line-height: 24px;
                .border-radius(2px);
            }

        }
    }
    .tit,.tit2
    {
        color: #333;

    }
    .tit{
        line-height: 66px;
        display: inline;
        margin-left: 20px;
    }
    .tit2{
        font-size: 20px;
        margin-left: 14px;
        line-height: 32px;
    }

}


a.upload
{
    .button-variant(#fff; #fd6464; #fd6464);
    .button-size(0; 10px; 16px; 30px; 5px);
}

.titbox-bottom{
    padding-bottom: 15px;
}

.collapse_box
{
    line-height: 30px;

    width: 150px;
    margin: 20px auto 0 auto;

    cursor: pointer;
    text-align: center;

    color: #333;
    background-color: #e3e4e5;

    .border-radius(5px 5px 0 0);
}
.outer_box,
.core_box
{
    font-size: 14px;
    line-height: 24px;

    width: 814px;
    margin: 0 auto;
    a
    {
        color: #4d4d4d;
    }
}
.coredata_tit
{
    margin-top: 8px;

    .border-radius(2px);
}
.coredata_list,
.core_list
{
    width: 682px;
    li
    {
        margin: 8px 0 0 4px;
        cursor: pointer;
        .border-radius(2px);
        a
        {
            padding: 0 10px 0 10px;
        }
    }
}
.coredata_list li:hover,.current_list
{
    .border-radius(2px);
    background-color: #e85d40;
    a
    {
        color: #fff;
    }
}


.core_list li:hover,.core_current
{
    .border-radius(2px);
    background-color: #3ca1d7;
    a
    {
        color: #fff;
    }
}
