
@import '../../sprite/easydesign/sprite.less';

@import '../../dev/mixins/mixins.less';

/** footer **/
.foot_box
{
    width: 100%;

    border-top: #e5e5e5 1px solid;
    background-color: #303745;
}
.Cooper,.spacing{
    width: 170px;
}
.spacing{
    margin-left: 40px;
}
.footer-nav
{
    width: 1200px;
    margin: 0 auto;

    .dl-box
    {
        margin-top: 58px;
        dt
        {
            font-size: 16px;

            padding-bottom: 20px;

            color: #fff;
        }
        dd
        {
            line-height: 30px;
        }
        a
        {
            color: #828998;
            font-size: 14px;
        }

        .icon-qq
        {
            .sprite(@icon-qq);
            .icon-easydesign;
            .fixIe6pngTransparent('/images/icon/easydesign/icon-qq.png');
        }
        .icon-sina
        {
            .sprite(@icon-sina);
            .icon-easydesign;
            .fixIe6pngTransparent('/images/icon/easydesign/icon-sina.png');
        }
        .icon-linkedin
        {
            .sprite(@icon-linkedin);
            .icon-easydesign;
            .fixIe6pngTransparent('/images/icon/easydesign/icon-linkedin.png');
        }
        i
        {
            margin-top: 9px;
            margin-right: 5px;
        }
    }
    .about_rg{
        margin-right: 90px;
    }
    .foot_last
    {
        margin-right: 73px;
    }
    .del_mar{
        width: 400px;
        margin-right: 20px;
    }
    .code
    {
        margin-top: 58px;
        .sprite(@icon-code);
        .icon-easydesign;
        .fixIe6pngTransparent('/images/icon/easydesign/icon-code.png');
    }
    .Customer_Service
    {
        margin-top: 54px;
        margin-right: 55px;
        .onLine{
            margin-top: 5px;
            line-height: 26px;
            color: #fff;
            font-size: 12px;
        }
        .number
        {
            .sprite(@number-footer);
            .icon-easydesign;
            .fixIe6pngTransparent('/images/icon/easydesign/number-footer.png');
        }
        .foot_qq
        {
            .sprite(@foot_qq);
            .icon-easydesign;
            .fixIe6pngTransparent('/images/icon/easydesign/foot_qq.png');
        }
        .foot_Wechat
        {
            margin-left: 10px;
            .sprite(@foot_Wechat);
            .icon-easydesign;
            .fixIe6pngTransparent('/images/icon/easydesign/foot_Wechat.png');
        }
    }
}

.copyright
{
    line-height: 34px;

    width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
    padding-bottom: 30px;

    text-align: center;
    font-size: 14px;
    color: #7a818f;
}
.copyright_01{
    margin-top: 0;
    padding-top: 30px;
}
/** footer **/

/** footer2 **/
.footerbox
{
  width: 100%;
  padding-top: 30px;

  background-color: #282d41;
  .copyright
  {
    font-size: 14px;
    line-height: 34px;

    width: 1200px;
    margin: 0 auto;

    text-align: center;

    color: #7a818f;
  }
}
/** /footer2 **/
