@import '../../sprite/easydesign/sprite.less';

@import '../../dev/mixins/mixins.less';

body,html,.simulation,.twentytwenty-wrapper{
  width: 100%;
  height: 100%;
}
.simulation_all{
  width:100%;
  height:100%;
  display:block;
  maring:0;
  position:relative;
  .simulation_left{
    width:50%;
    height:100%;
    position: absolute;
    left:0px;
    top:0px;
  }
  .simulation_right{
    width:50%;
    height:100%;
    position: absolute;
    left:50%;
    top:0px;
  }
}

.twentytwenty-container {
  margin: 0 auto;
  font-family: arial;
}
img{
  width:100%;
  height: 100%;
}

.vrSceneTitle{
  position: absolute;
  display: block;
  z-index: 9999;
  top: 30px;
  left: 30px;
  width: 194px;
  height: 36px;

  span{
    padding-left: 10px;
    line-height: 36px;
    text-align: center;
    color:#fff;
    .sprite(@vrScene);
    .icon-easydesign;
    .fixIe6pngTransparent('/images/icon/easydesign/vrScene.png');
  }
}

.realSceneTitle{
  position: absolute;
  display: block;
  z-index: 9999;
  top: 30px;
  left: 30px;
  width: 194px;
  height: 36px;
  span{
    padding-left: 10px;
    line-height: 36px;
    text-align: center;
    color:#fff;
    .sprite(@realScene);
    .icon-easydesign;
    .fixIe6pngTransparent('/images/icon/easydesign/realScene.png');
  }
}

.vsMarkTitle{
  position: absolute;
  display: block;
  z-index: 9999;
  width: 120px;
  height: 120px;
  span{
    .sprite(@sceneVS);
    .icon-easydesign;
    .fixIe6pngTransparent('/images/icon/easydesign/sceneVS.png');
  }
}

.selectFabric{
  position: absolute;
  display: block;
  z-index: 9999;
  width: 122px;
  height: 440px;
  top:30px;
  right:30px;
  ul{
    .selectFabricHeader span{

      line-height: 36px;
      text-align: center;
      color:#fff;
      .sprite(@selectFabricHeader);
      .icon-easydesign;
      .fixIe6pngTransparent('/images/icon/easydesign/selectFabricHeader.png');
      &:hover{
        cursor:pointer;
      }
    }

      .selectFabricList span{
      text-align: center;
      .sprite(@selectFabricbg);
      .icon-easydesign;
      .fixIe6pngTransparent('/images/icon/easydesign/selectFabricbg.png');

    }
    span{
      padding-left: 0px;
    }
    span img{
      border:2px solid #a2a2a1;
    }
    span ul{
      margin-top: 12px;
    }

    span ul li{
      margin:0 auto;
      text-align: center;
      padding-top:10px;
      width:102px;
      height:102px;
    }

    span ul li img{
      pading:0;
      width:100px;
      height:100px;
    }
    span ul li img:hover{
      cursor:pointer;
    }

    span .selectedFabric img{
      border:2px solid #fca474;
    }

 }

  span.download_soft{
      margin-top: 10px;
      padding-left: 10px;
      line-height: 36px;
      text-align: center;
      color:#fff;
      .sprite(@download);
      .icon-easydesign;
      .fixIe6pngTransparent('/images/icon/easydesign/download.png');
      a{
        color:#fff;
      }
      &a:hover{
        color:#fff;
      }
    }

  span.selectFabric_des{
      margin-top: 10px;

      line-height: 36px;
      text-align: center;
      color:#fff;
      .sprite(@selectFabricHeader);
      .icon-easydesign;
      .fixIe6pngTransparent('/images/icon/easydesign/selectFabricHeader.png');
      color:#fff;

    }




}


.selectFabric_left{
  position: absolute;
  display: block;
  z-index: 9999;
  width: 122px;
  height: 440px;

  ul{
    .selectFabricHeader_left span{

      line-height: 36px;
      text-align: center;
      color:#fff;
      .sprite(@selectFabricHeader);
      .icon-easydesign;
      .fixIe6pngTransparent('/images/icon/easydesign/selectFabricHeader.png');

    }

      .selectFabricList_left span{
      text-align: center;
      .sprite(@selectFabricbg);
      .icon-easydesign;
      .fixIe6pngTransparent('/images/icon/easydesign/selectFabricbg.png');

    }
    span{
      padding-left: 0px;
    }
    span img{
      border:2px solid #a2a2a1;
    }
    span ul{
      margin-top: 12px;
    }

    span ul li{
      margin:0 auto;
      text-align: center;
      padding-top:10px;
      padding-right:2px;
      width:102px;
      height:102px;
    }

    span ul li img{
      pading:0;
      width:100px;
      height:100px;
    }
    span ul li img:hover{

    }

    span .selectedFabric img{
      border:2px solid #fca474;
    }
  }



 }
