@import '../../../sprite/yisheji/index/sprite.less';
@import '../../../dev/mixins/mixins.less';
.gongzuoshibox{
	width:1200px;
	margin:0 auto;
	padding-top:100px;
	line-height: normal;
	.gzs_title{
		color:#333333;
		font-size:20px;
	}
	.genzuo{
		.sprite(@genduohui);
			margin: 0 auto;
			margin-top:8px;

	}
	.genzuobj{
		width: 74px;
		height: 26px;
		background-color:#dbdbdb;

		display: block;
	}
	.gongzouqu{
		margin-top: 10px;

	}
	.gongzouleft{
	  width:900px;
	  background-color: #70c7bd;
	  padding-bottom: 36px;
	}
	.gongzouright{
		width:300px;
		background-color:#5ab6ab;
		padding-bottom: 56px;
	}
	.leftjiantou{

		margin-top: 178px;
		.sprite(@leftjiantou);
	}
	.rightjiantou{
		margin-top: 178px;
		.sprite(@rightjiantou);
	}
	.cangjiagzs{
		.sprite(@diannao);
		margin:0 auto;
		margin-top: 70px;
	}
	.yiyou{
		color:#fff;
		font-size: 12px;
		text-align: center;
		margin-top: 20px;
	}
	.dahaozi{
		font-size: 40px;
	}
	.zhonghao{
		font-size: 13px;
	}
	.gongzuoann{
		background-color: #e85d40;
		width: 204px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		margin: 0 auto;
		color: #fff;
		display: block;
		font-size: 20px;
		margin-top: 84px;
	}
	.gongzoulist{
		margin-top: 56px;
		width: 224px;
		height: 332px;
		background-color: #fff;
		margin-left: 46px;
		.border-radius(5px);
	}
	.dingwei{
		position: relative;
	}
	.touxiang{
		position: absolute;
		left:26%;
		top:-36px;
		width: 100px;
		height: 100px;

		border: 3px solid #fff;
		.border-radius(60px);
		overflow: hidden;
	}
	.yonghuoname{
		margin-top: 86px;
		text-align: center;
		font-size: 16px;
		color:#333333;
		display: block;
	}
	.weizhi{
		margin-top: 1px;
		.sprite(@weizhi);
		margin-right: 2px;
	}
	.biaotijianju{
		width: 78%;
		margin: 0 auto;
		margin-top: 16px;
	}
	.qianhui{
		color: #888;
	}
	.hei{
		margin-left: 8px;
		color:#000;
	}
	.hong{
		color: #dd1d20;
	}
	.juzhong{
		margin-top: 4px;
		text-align: center;
	}
	.mianliaoshu{
		font-size: 14px;
		text-align: center;
		margin-top: 22px;
	}
	.huohuoann{
		width: 162px;
		height: 30px;
		background-color: #37b5f9;
		display:block;
		margin:0 auto;
		color: #fff;
		font-size: 16px;
		margin-top: 30px;
		line-height: 30px;
	}
	.tianjia{
		margin-top: 8px;
		margin-left: 32%;
		margin-right: 4px;
		_margin-left:26px;
		.sprite(@jia);
	}


}