@import '../../../sprite/yisheji/index/sprite.less';
.huaxingkubox{
	background-color: #5ab6ab;
	.huaxingku{
		width: 1200px;
		margin:0 auto;
		padding-top: 100px;
		padding-bottom: 100px;
		.qiehuanyanshi{
			width: 198px;
			height: 50px;
			line-height: 50px;
			background-color: #fff;
			font-size: 16px;
			color: #333333;

		}
		.dakuang{
			width: 199px;
		}
		.qiehuanbianju{
			margin-left: 2px;

		}
		.genduo{
			margin-left: 58px;
			margin-top: 19px;
			.sprite(@genduohong);
		}
		.textbianju{
			margin-left: 20px;
		}
		.textjuzhong{
			text-align: center;
		}
		.qing{
			background-color: #e7f6d9;
		}
		.huang{
			background-color: #fbf0d0;
		}
		.lan{
			background-color: #d6edf5;
		}
		.hong{
			background-color: #fbd0da;
		}
		.lv{
			background-color: #d9f6e4;
		}
		.chakanhuaxing{
			background-color: #fff;
			padding-bottom: 40px;
			.leftjiantou{
				margin-top: 138px;
				cursor: pointer;
				.sprite(@leftjiantou);
			}
			.rightjiantou{
				cursor: pointer;
				margin-top: 138px;
				.sprite(@rightjiantou);
			}
			.chakanmianliao{
				margin-top: 30px;
				margin-left: 40px;
				width: 255px;
				height: 255px;
				overflow: hidden;
			}
			.chakanmianbianju{
				margin-left: 20px;
			}
			.dingwei{
				width: 255px;
				height: 255px;
				position: relative;
				overflow: hidden;
			}
			.toudi{
				position: absolute;
			
				width: 255px;
				height: 40px;
				line-height: 40px;
				color: #e45f40;
				text-align: center;
				bottom: 0;
				left: 0;
				background-image: url("/images/production/yisheji/index/heitouming.png");
			}
		}
	}
}