@import '../../../sprite/yisheji/index/sprite.less';
@import '../../../dev/mixins/mixins.less';
.PKbox
{
    width: 1200px;
    margin: 0 auto;
    .lefttitle
    {
        font-size: 24px;
        font-weight: bold;

        margin-top: 18px;
        margin-left: 48px;

        color: #fff;
    }
    .righttitle
    {
        margin-left: 538px;
    }
    .mianliaobianju{
    	  margin-left: 48px;
    }
    .tupainmianliao
    {
        overflow: hidden;

        width: 204px;
        height: 132px;
        margin-top: 18px;
      

        border: 2px solid #fff;

        .border-radius(5px);
        img
        {
            margin-top: -100px;
            margin-left: -100px;
        }
        .fanjianimg{
        	margin-top: 0;
        	margin-left: 0;
        }
    }
    .mianliaojianju{
    	margin-left: 64px;
    }
    .chengpingjuli{
    	margin-left: 152px;
    }
    .tupiantitle
    {
        font-size: 16px;

        width: 204px;
        margin-top: 6px;
       

        text-align: center;

        color: #fff;
    }
}
.PKbj
{
    .sprite(@pkbox);
}
