.searchbox-21 {
  font-size: 13px;
  line-height: 26px;
  width: 1008px;
  color: #666;
  border: 1px solid #e0e0e0;
  background-color: #fff;
}
.searchbox-21 a {
  color: #666;
}
.searchbox-21 .libox {
  width: 972px;
  margin: 0 auto;
  padding-top: 20px;
}
.searchbox-21 .libox .search {
  width: 334px;
}
.searchbox-21 .libox .yanse {
  color: #d52532;
}
.searchbox-21 .libox .search_left {
  width: 251px;
  height: 26px;
  border: 1px solid #bfbfbf;
  border-right: none;
}
.searchbox-21 .libox .search_left input {
  line-height: 26px;
  width: 250px;
  height: 26px;
  border: none;
  border: 0;
  *line-height: 24px;
  *height: 24px;
}
.searchbox-21 .libox .right {
  line-height: 26px;
  width: 80px;
  text-align: center;
  color: #3c3c3c;
  border: 1px solid #bfbfbf;
}
.searchbox-21 .libox .bianju {
  margin-right: 34px;
  *margin-right: 20px;
}
.searchbox-21 .libox .xiangxiajuli {
  padding-bottom: 20px;
}
.searchbox-21 .libox li {
  line-height: 30px;
  margin-top: 25px;
}
.searchbox-21 .libox li .xiala {
  width: 150px;
  line-height: 28px;
  *background: #fff;
  *border: 1px solid #bfbfbf;
  *padding: 4px;
}
.searchbox-21 .libox li .xiala .container {
  *border: 0;
  *position: relative;
  *width: 150px;
  *height: 20px;
  *overflow: hidden;
}
.searchbox-21 .libox li .xiala .select {
  width: 150px;
  height: 32px;
  margin: -1px;
  color: #666;
  border: 1px solid #bfbfbf;
  *height: 22px;
  *width: 152px;
}
.searchbox-21 .libox li .shurukuang {
  width: 150px;
  height: 28px;
  border: 1px solid #bfbfbf;
}
