.icon-yituangou-tuangougeren {
  background-image: url("/images/production/yituangou/tuangougeren/sprite-yituangou-tuangougeren.PNG");
}
.gerenxingxi {
  line-height: 20px;
  width: 1008px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
}
.gerenxingxi .gerentouxiang {
  margin: 18px 20px;
  *padding-bottom: 18px;
  _margin-left: 9px;
  background-position: -4px -285px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 92px;
  height: 92px;
}
.gerenxingxi .vip {
  vertical-align: bottom;
  background-position: -4px -223px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 16px;
  height: 21px;
}
.gerenxingxi .geren_name {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.gerenxingxi .geren_wenhuozhihao {
  font-size: 13px;
}
.gerenxingxi .geren_jibiezhihao {
  font-size: 14px;
}
.gerenxingxi .geren_wenhuoyanse {
  color: #666;
}
.gerenxingxi .gaodu_xingxi {
  margin-top: 24px;
}
.gerenxingxi .dizhizhihao {
  font-size: 15px;
  color: #666;
}
.gerenxingxi .zhiliaojuli {
  margin-top: 14px;
}
.gerenxingxi .xingyugaodu {
  margin-top: 20px;
}
.gerenxingxi .safetyjuli {
  margin-top: 4px;
}
.gerenxingxi .lijitis {
  font-size: 12px;
  margin-left: 10px;
  color: #1d94d1;
}
.gerenxingxi .fenhaojuli {
  margin: 0 3px 0 2px;
}
.gerenxingxi .xinghuang {
  margin-left: 10px;
  background-position: -4px -113px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 18px;
}
.gerenxingxi .xinghui {
  margin-left: 10px;
  background-position: -4px -139px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 18px;
}
.gerenxingxi .dizhi {
  margin-right: 4px;
  vertical-align: top;
  background-position: -4px -87px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 23px;
  height: 18px;
  *margin-right: 6px;
}
.gerenxingxi .shuoming {
  font-size: 12px;
  color: #666666;
  margin-top: 10px;
  line-height: 16px;
}
.gerenxingxi .xingxingjuli {
  margin-left: 6px;
  _margin-left: 0px;
  margin-top: 8px;
}
.gerenxingxi .jibenxxi {
  margin-top: -1px;
  _margin-top: 0;
  margin-right: 5px;
  margin-left: 4px;
  vertical-align: top;
  background-position: -4px -165px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 17px;
  height: 21px;
  *margin-right: 6px;
}
.gerenxingxi .dingdan {
  margin-right: 4px;
  vertical-align: top;
  background-position: -4px -194px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 18px;
  height: 21px;
  *margin-right: 6px;
}
.gerenxingxi .fabu {
  margin-top: -3px;
  margin-right: 4px;
  vertical-align: top;
  background-position: -4px -252px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 19px;
  height: 25px;
  *margin-right: 6px;
}
.gerenxingxi .caozhizhongjieju {
  margin-left: 50px;
}
.gerenxingxi .zaozuojuli {
  margin-left: 60px;
}
.gerenxingxi .jianruo {
  _width: 250px;
}
.gerenxingxi .jianruo_caozuo {
  _width: 300px;
}
.gerenxingxi .yonghuxingyu {
  font-size: 14px;
  color: #333;
}
.gerenxingxi .safety_hui {
  margin-top: 5px;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 90px;
  height: 12px;
}
.gerenxingxi .safety_hui .safety_lv {
  background-position: -4px -44px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 70px;
  height: 12px;
}
.gerenxingxi .safety_hui .safety_juse {
  background-position: -4px -24px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 48px;
  height: 12px;
}
