.icon-yituangou-renzheng {
  background-image: url("/images/production/yituangou/renzheng/sprite-yituangou-renzheng.PNG");
}
.tianjiabox {
  width: 1010px;
  font-size: 12px;
  line-height: 20px;
}
.tianjiabox .tianjia_com {
  line-height: 28px;
  width: 118px;
  border: 1px solid #bfd6af;
  text-align: center;
  background-color: #edf7e5;
  color: #3e3f3e;
  font-size: 14px;
  font-weight: bold;
}
.tianjiabox .tianjia_com a {
  color: #3e3f3e;
}
.tianjiabox .tianjia_tishi {
  margin-left: 12px;
  line-height: 30px;
  font-size: 12px;
}
.tianjiabox .tianjia_tishi span {
  color: #87b291;
}
.tianjiabox .shouhuodizhibox {
  margin-top: 10px;
  border: 2px solid #e6e6e6;
  width: 1006px;
  padding-bottom: 8px;
}
.tianjiabox .moren_com {
  width: 56px;
  line-height: 20px;
  background-color: #ffaa45;
  text-align: center;
}
.tianjiabox .moren_com a {
  color: #fff;
}
.tianjiabox .morenshezhibox {
  margin-top: 8px;
  margin-left: 20px;
}
.tianjiabox .shanchu {
  margin-right: 10px;
  margin-top: 3px;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 13px;
  height: 13px;
}
.tianjiabox .dizhititle {
  width: 80px;
  text-align: right;
  color: #999999;
}
.tianjiabox .yumorenjuli {
  margin-top: 18px;
}
.tianjiabox .hangjianju {
  margin-top: 2px;
}
.tianjiabox .yansehui {
  color: #666666;
}
.tianjiabox .bianji {
  color: #005ea7;
  margin-right: 26px;
}
