.icon-yituangou-renzheng {
  background-image: url("/images/production/yituangou/renzheng/sprite-yituangou-renzheng.PNG");
}
.liebiaobox {
  font-size: 12px;
  width: 1152px;
  border: 1px solid #e0e0e0;
  margin-bottom: 20px;
}
.liebiaobox .huowu {
  width: 33%;
}
.liebiaobox .qita {
  width: 13%;
}
.liebiaobox .caozuo {
  width: 14%;
}
.liebiaobox .cunhei {
  color: #000;
}
.liebiaobox .qianhei {
  color: #4d4d4d;
}
.liebiaobox .mianliaojuli {
  margin-top: 16px;
}
.liebiaobox .dun {
  background-position: -4px -48px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 21px;
  height: 21px;
}
.liebiaobox .shijian {
  background-position: -4px -77px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 21px;
  height: 21px;
}
.liebiaobox .xing {
  background-position: -4px -106px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 21px;
  height: 21px;
}
.liebiaobox .renzhengjuli {
  margin-top: 4px;
}
.liebiaobox .zhengrenjuli {
  margin-right: 2px;
  *margin-right: 6px;
}
.liebiaobox .tianjiaxiabiankuang {
  border-bottom: 1px solid #e0e0e0;
}
.liebiaobox .wenzhijuzhong {
  line-height: 20px;
  text-align: center;
}
.liebiaobox .shujugaodu {
  margin-top: 60px;
}
.liebiaobox .biejingse {
  font-size: 13px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  color: #333;
  background-color: #e1e1e1;
}
.liebiaobox .mianliaoxiangqi {
  line-height: 24px;
  margin-left: 18px;
}
.liebiaobox .biaozunyanse {
  color: #999;
}
.liebiaobox .yonhuoxingxibox {
  margin-top: 18px;
  margin-left: 36px;
  padding-bottom: 16px;
}
.liebiaobox .yonhuoxingxibox .riqijuli {
  margin-left: 16px;
}
.liebiaobox .yonhuoxingxibox .mianliaotu {
  background-position: -4px -135px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 77px;
  height: 77px;
}
a {
  color: #333333;
}
.xiangxibox {
  line-height: 16px;
  margin: 0 auto;
  width: 1190px;
  padding-top: 10px;
  font-size: 12px;
  color: #333333;
}
.xiangxibox .dangqianyanse {
  color: #d52532;
}
.xiangxibox .weizhijianju {
  margin: 0 4px;
}
.xiangxibox .jiantuoyanse {
  color: #aaaaaa;
}
.xiangxibox .tianjiadibiankuang {
  border-bottom: 1px solid #d6d6d6;
}
.xiangxibox .jiacu {
  font-weight: bold;
}
.xiangxibox .rangong_gaofu {
  margin-top: 14px;
}
.xiangxibox .xianhui {
  color: #666;
}
.xiangxibox .youbianjuli {
  margin-right: 10px;
}
.xiangxibox .lidaxiao {
  width: 266px;
}
.xiangxibox .xiangxi_dibianjuli {
  padding-bottom: 26px;
}
.xiangxibox .shixing {
  margin-top: -2px;
  margin-left: 4px;
  _margin-top: 0px;
  background-position: -4px -25px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 81px;
  height: 15px;
  vertical-align: middle;
}
.xiangxibox .xiangxingxiweiz {
  margin-left: 80px;
}
.xiangxibox .biaotizhihao {
  font-size: 14px;
}
.xiangxibox .biaotigaodu {
  margin-top: 18px;
}
.xiangxibox .youjianyanse {
  color: #d52532;
}
.xiangxibox .xianbiejing {
  margin-top: 20px;
  background-image: url("/images/production/yituangou/bingjingxian.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
.xiangxibox .xianbiejing .selection_dangqian {
  margin-left: 20px;
  border: 1px solid #dbdbdb;
  width: 120px;
  line-height: 32px;
  border-bottom: none;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
}
.xiangxibox .xianbiejing .rengong_yanse {
  color: #2898ef;
}
.xiangxibox .dingdan_contentsbox {
  border: 1px solid #dbdbdb;
  border-top: none;
  background-color: #fff;
}
.xiangxibox .dingdan_contentsbox .dingdan_contentslibox {
  width: 1154px;
  margin: 0 auto;
  padding-top: 20px;
}
