.daohangbox {
  line-height: 28px;
  padding-bottom: 20px;
  background-color: #fff;
}
.daohangbox dl {
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
}
.daohangbox dl a:hover,
.daohangbox dl .gaibianyanse {
  color: #d52532;
}
.daohangbox dl dt {
  font-weight: bold;
  margin-bottom: 6px;
}
.daohangbox dl a {
  color: #666;
}
.tongyikuan {
  width: 140px;
  color: #555;
  border: 1px solid #e0e0e0;
  background-color: #f5f8fa;
}
.lianxifangshi {
  line-height: 22px;
  margin-top: 30px;
  padding-bottom: 10px;
}
.lianxifangshi span {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-top: 16px;
  margin-left: 6px;
}
.lianxifangshi p {
  font-size: 12px;
  margin-left: 6px;
}
