.icon-easydata-searchAbroad {
  background-image: url("/images/production/easydata/searchAbroad/sprite-easydata-searchAbroad.PNG");
}
.basic_inf {
  margin-top: 112px;
  font-size: 14px;
  background-color: #303845;
}
.basic_inf .compatible {
  padding-bottom: 15px;
}
.basic_inf .inf_box {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.basic_inf .red_txt01 {
  color: #f6492b;
}
.basic_inf .green_txt01 {
  color: #69c731;
}
.basic_inf .white_txt {
  color: #e3e3e3;
}
.basic_inf .position {
  line-height: 16px;
  padding-top: 40px;
}
.basic_inf .position a {
  color: #888;
}
.basic_inf .position .home {
  background-position: -4px -43px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/production/easydata/searchAbroad/sprite-easydata-searchAbroad.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata/searchAbroad/home.png");
  _background: none;
}
.basic_inf .position .arr {
  margin: 3px 5px 0 5px;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 6px;
  height: 11px;
  background-image: url("/images/production/easydata/searchAbroad/sprite-easydata-searchAbroad.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata/searchAbroad/arr.png");
  _background: none;
}
.basic_inf .position .current {
  color: #e3e3e3;
}
.basic_inf .inf_content {
  margin-top: 40px;
  padding-bottom: 15px;
  background-color: #3f4755;
}
.basic_inf .inf_content .contbox {
  width: 460px;
  margin: 15px 0 0 20px;
  color: #ccc;
  border-right: 1px solid #656c77;
}
.basic_inf .inf_content .green {
  margin: 20px 0 0 70px;
  background-position: -4px -255px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 180px;
  height: 180px;
  background-image: url("/images/production/easydata/searchAbroad/sprite-easydata-searchAbroad.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata/searchAbroad/green.png");
  _background: none;
}
.basic_inf .inf_content .blue {
  margin: 20px 0 0 30px;
  background-position: -4px -67px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 180px;
  height: 180px;
  background-image: url("/images/production/easydata/searchAbroad/sprite-easydata-searchAbroad.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata/searchAbroad/blue.png");
  _background: none;
}
.basic_inf .inf_content .orange {
  margin: 20px 0 0 30px;
  background-position: -4px -443px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 180px;
  height: 180px;
  background-image: url("/images/production/easydata/searchAbroad/sprite-easydata-searchAbroad.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata/searchAbroad/orange.png");
  _background: none;
}
.basic_inf .inf_content .money,
.basic_inf .inf_content .dollar,
.basic_inf .inf_content .quantity {
  text-align: center;
}
.basic_inf .inf_content .money {
  font-size: 16px;
  margin-top: 64px;
  color: #ccc;
}
.basic_inf .inf_content .dollar {
  font-size: 24px;
}
.basic_inf .inf_content .orange_txt {
  color: #ff9000;
}
.basic_inf .inf_content .titlebox {
  line-height: 24px;
  padding-top: 2px;
}
.basic_inf .inf_content .cont_title {
  color: #e3e3e3;
}
.basic_inf .inf_content .add_butt {
  width: 66px;
  height: 24px;
  margin-right: 15px;
  color: #fff;
  background-color: #f60;
  border-radius: 3px;
}
.basic_inf .inf_content .add_butt .add {
  margin: 5px 4px 0 10px;
  background-position: -4px -23px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline;
  width: 12px;
  height: 12px;
  background-image: url("/images/production/easydata/searchAbroad/sprite-easydata-searchAbroad.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata/searchAbroad/add.png");
  _background: none;
}
.basic_inf .inf_content .inf_linehe,
.basic_inf .inf_content .inf_top,
.basic_inf .inf_content .inf_bottom {
  line-height: 34px;
}
.basic_inf .inf_content .inf_top {
  margin-top: 20px;
}
.basic_inf .inf_content .inf_bottom {
  padding-bottom: 6px;
}
.basic_inf .inf_content .mar_135 .money,
.basic_inf .inf_content .mar_90 .money {
  margin-top: 50px;
}
.basic_inf .inf_content .mar_135 {
  margin-left: 135px;
}
.basic_inf .inf_content .mar_90 {
  margin-left: 90px;
}
