@import '../../../sprite/huiyuanzhongxin/top/sprite.less';
@import '../../../dev/mixins/mixins.less';
.indextop
{
    background-color: #303745;
    .indextopbox
    {
        position: relative;

        width: 1200px;
        margin: 0 auto;
        padding-bottom: 84px;
    }
    .gereninfbox
    {
        position: absolute;
        top: 0;
        left: 50%;

        width: 346px;
        margin-top: 12px;
        margin-left: -173px;
        .shangbufu
        {
            margin: 0 10px;
            padding-top: 15px;
            padding-bottom: 13px;
        }
        .xiabufeng
        {
            padding: 0 10px;
            padding-bottom: 24px;
            padding-bottom: 15px;

            background-image: url('/images/production/huiyuanzhongxin/top/a08_bg.png');
        }
        .xiabufen_bottom
        {
            .sprite(@a08_bg_bottom);
            .icon-huiyuanzhongxin-top;
        }
        .mingcheng
        {
            padding-top: 20px;

            text-align: center;
        }
        .mingchengtop
        {
            padding-top: 10px;
        }
        .vipbufeng
        {
            margin-top: 20px;
        }
        .dianjihoubj
        {
            background-color: #3e485c;
        }
        .VIPboxwidth
        {
            display: inline;

            width: 54px;
            margin-left: 20px;
        }
        .VIP
        {
            margin: 0 auto;

            .sprite(@huangv);
        }
        .wuVIP
        {
            margin: 0 auto;

            .sprite(@luv);
        }
        .shouji
        {
            margin: 0 auto;

            .sprite(@shoujibangding);
        }
        .shiming
        {
            margin: 0 auto;

            .sprite(@shiming);
        }
        .youxiang
        {
            margin: 0 auto;

            .sprite(@youxiang);
        }
        .mima
        {
            margin: 0 auto;

            .sprite(@mima);
        }
        .VIPname
        {
            padding-top: 6px;

            text-align: center;
        }
        .VIPshangbianju
        {
            margin-top: 12px;
        }
        .anq_title
        {
            margin-top: 26px;
            margin-left: 20px;
        }
        .jingdutiao
        {
            margin: 0 auto;
            margin-top: 12px;

            .sprite(@jingdutiao);
        }
        .jingdu
        {
            .sprite(@jingdu);
        }
        .touxiang
        {
            position: relative;

            overflow: hidden;

            width: 120px;
            height: 120px;
            margin: 0 auto;
        }
        .fengshijianjianju
        {
            margin-right: 40px;
        }
        .touxiangbox
        {
            position: absolute;
            top: 0;
            left: 0;

            .sprite(@touxiangwaikau);
        }
        .touxiangbox2
        {
            position: absolute;
            top: 0;
            left: 0;

            .sprite(@touxiangwaikau2);
        }
        .detail
        {
            margin-top: 14px;

            text-align: center;

            color: #c7c7c7;
        }
    }
    .logobianju
    {
        padding-top: 14px;
    }
    .logo
    {
        .sprite(@logo);
    }
    .tuichu
    {
        line-height: 19px;

        width: 38px;
        margin-top: 3px;
        margin-left: 14px;

        text-align: center;

        color: #afb1b6;
        border: 1px solid #afb1b6;

        .border-radius(4px);
    }
    .huanying
    {
        line-height: 25px;

        color: #afb1b6;
    }
    .nav_top
    {
        margin-top: 50px;
    }
    .nav_left
    {
        margin-left: 100px;
    }
    .nav_longleft
    {
        margin-left: 425px;
    }
    .dingwei
    {
        position: absolute;
    }
    .yuan
    {
        line-height: 24px;

        position: absolute;
        top: -18px;
        right: -18px;

        text-align: center;

        .sprite(@yuan);
    }
    .rela
    {
        position: relative;
    }
    .zhiti_13
    {
        font-size: 13px;
    }
}
