@import '../../../dev/mixins/mixins.less';
@import '../../../sprite/huiyuanzhongxin/top/sprite.less';
.tongyongtop{
	background-color: #303745;
	.tongyongtopbox{
		width: 1200px;
		margin:0 auto;
	}
	.loginstatus{
		background-color: #4a7bc4;
		width: 326px;
		.touxiangbox{
			width: 80px;
			height: 80px;
			overflow:hidden;
			position: relative;
			margin: 10px 10px 0px 20px;
		}
		.jianrongbj{
			.sprite(@jianrongyuan);
			position: absolute;
			left: 0;
			top:0;
		}
		.yonghuname{
			line-height: 100px;
		}
		.yonghuann{
			background-color: #e85d40;
			width: 112px;
			line-height: 30px;
			text-align: center;
			margin:35px 0 0 24px;
				.border-radius(4px);
		}
	}
	.navyangshi{
			line-height: 100px;
	}
	.navmargins{
		margin-left:100px;
	}
	.longnavmargins{
		margin-left: 150px;

	}
	.dingwei{
		position: relative;
	}
	.yuan{
		.sprite(@yuan);
		position: absolute;
		top:18px;
		right: -18px;
		text-align: center;
		line-height: 24px;
	}
	.zhiti_13{
		font-size: 13px;
	}
}

