
@import '../../../../sprite/VIP/common/RegLog/sprite.less';

@import '../../../../dev/mixins/mixins.less';

.logbox{
    background: url("/images/production/VIP/common/RegLog/logback.jpg") top center no-repeat;
    padding-top: 80px;
    .header{
  position:fixed;
  top:0;
  z-index:9999;
  background:rgba(0,0,0,0);
  width:100%;
  _filter:progid:DXImageTransform.Microsoft.Gradient(enabled='true',startColorstr='#00000000',endColorStr='#00000000');
  .top{
    font-size: 12px;
    line-height: 14px;
    width: 80%;
    margin: 0 auto;
    padding: 9px 0;
    a{
        color: #fff;
    }
    .butt_right{
        margin-right: 20px;
    }
    #username{
      i{
        padding: 0px 11px;
        background: #f90;
        font-style: normal;
        border-radius: 9px;
        margin-left: 4px;
      }
    }
  }
}
.nane_tit,.phon_tit{
    line-height: 40px;
    font-size: 14px;
    color: #444;
    width: 300px;
    margin-right: 6px;
    text-align: right;
}
.nane_box{
    margin-top: 40px;
}
.cods_box{
    margin-top: 20px;
}

.input_nane,.input_naneduan{
    color: #999;
    line-height: 38px;
    border: 1px solid #c8c8c8;
    .border-radius(3px);
    height: 40px;
    width: 324px;
    padding-left: 10px;
}
.dropdown_box{
       width: 324px;

}
.down_ico{
    margin:14px 10px 0 0;
     .sprite(@xiala);
    .icon-VIP-common-RegLog;
}
.dropdown{
     height: 40px;
    width: 324px;
    padding-left: 10px;

    line-height: 38px;
    border: 1px solid #c8c8c8;
    color: #666;
    .border-radius(3px);
}
.input_naneduan{
    width: 180px;
}
.user_name{
    position: relative;
}
.placeholder{
     position: absolute;
  top: 10px;
  left: 318px;
  color: #888;
  font-size: 14px;
}
.cods_cen{

    width: 120px;
    margin-left: 24px;
    height: 40px;
     overflow: hidden;
    background: url("/images/production/VIP/common/RegLog/codes.jpg");
    background-position: -2px;
}
.carryout{
    width: 100px;
    height: 100px;
    background: url("/images/production/VIP/common/RegLog/carryout.png");
    margin-left: 220px;
}
.carryout_box{
    padding-top: 60px;
      padding-bottom: 20px;
}
.loglog{
    margin: 0 auto 0 auto;
    .sprite(@loglogo);
    .icon-VIP-common-RegLog;
}
.carryout_text{
    font-size: 16px;
    margin: 20px;
}
.Setup{
    color: #41b341;
    margin-bottom: 6px;
}
.return{
    color: #2c7ab6;
    text-decoration:underline;
}
.log_left{
    width: 350px;
    padding-right: 20px;

}
.pass_title{
    font-size: 20px;
    color:#999;
    padding-bottom: 30px;
}
.log_box{
    width: 900px;
       padding:40px;
    border:1px solid #dedede;
    margin: 56px auto 0 auto;
    background-color: #fff;
      .border-radius(5px);
}
.wenzistyle {
    color: #e65c6c;
}
.butt_forpass,.butt_phone{
    line-height: 40px;
    width: 160px;
    background-color: #3ca1d7;
    color: #fff;
    .border-radius(5px);
    display: block;
    text-align: center;
    font-size: 16px;
    margin:40px 0 0 308px;

}
.butt_phone{
    width: 120px;

    margin: 0 0 0 20px;
}
.for_username,.for_phone{
    line-height: 40px;
    font-size: 16px;
    color:#ff6600;
    font-weight: bold;
}
.for_phone{
    line-height: 16px;
}


.wenzistyle1 {
    color: #a0aacf;
}
  .wenzistyle1,.wenzistyle{
        margin-top: 6px;

    }
.step1 {
    overflow: hidden;
    padding-bottom: 20px;
    .step_width{
    width: 700px;
    margin: 0 auto;
    li{
    float: left;
    line-height: 20px;
    color: #FFF;
    font-weight: 700;
    width: 170px;
    text-align: center;}
    .jingdu1{
    .sprite(@jingdu1);
    .icon-VIP-common-RegLog;
    }
    .jingdu2{
    .sprite(@jingdu2);
    .icon-VIP-common-RegLog;
    }
     .jingdu3{
    .sprite(@jingdu3);
    .icon-VIP-common-RegLog;
    }
    .jingdu11{
    .sprite(@jingdu11);
    .icon-VIP-common-RegLog;
    }
    .jingdu12{
    .sprite(@jingdu12);
    .icon-VIP-common-RegLog;
    }
     .jingdu13{
    .sprite(@jingdu13);
    .icon-VIP-common-RegLog;
    }

}
     }



}
