
@import '../../../../sprite/VIP/common/RegLog/sprite.less';

@import '../../../../dev/mixins/mixins.less';

body{
    background-color: #fff;
}

.logbox
{
    .logo-main{
        width: 100%;
        -webkit-box-shadow:0 0 20px 1px #e0e0e0;
        -moz-box-shadow:0 0 20px 1px #e0e0e0;
        box-shadow:0 0 20px 1px #e0e0e0;
    }

    .pic-box{
        width: 1920px;
        height: 584px;
        position: relative;
        top: 0;
        left: 50%;
        margin-left: -960px;
        background-image: url("/images/production/VIP/common/RegLog/login-pic.jpg");
    }

    .logo-box{
        width: 1200px;
        margin: 0 auto;
        padding: 10px 0;
        .logo
        {
            i{
                .sprite(@logo_blue);
                .icon-VIP-common-RegLog;
                .fixIe6pngTransparent('/images/icon/VIP/common/RegLog/logo_blue.png');
            }
            .words{
                margin: 13px 0 0 40px;
                line-height: 34px;
                height: 34px;
                padding-left: 40px;
                color: #000;
                font-size: 18px;
                border-left: 1px solid #bbbbbb;
            }
        }
        .return{
            .button-variant(#fff; #ff6600; #ff6600);
            .button-size(0; 20px; 14px; 30px; 5px);
            margin-top: 15px;
        }
    }

    .log_left
    {
        width: 350px;
        padding: 20px;
        background-color: #fff;
        .border-radius(3px);
        h4{
            color: #666;
            font-size: 20px;
            font-family: "å¾®è½¯é›…é»‘";
        }
    }
    .log_box
    {
        width: 1120px;
        margin: 0 auto;
        padding: 50px 50px 50px 0;
    }
    .username,
    .password,
    .Codes
    {
        font-size: 16px;
        line-height: 46px;

        display: block;

        width: 330px;
        height: 46px;
        padding-left: 20px;

        color: #999;
        border: 0;
        border: none;
        background-color: #f2f2f2;

        .border-radius(5px);
    }
    .correct
    {
        margin-right: 2px;

        .sprite(@correct);
        .icon-VIP-common-RegLog;
    }
    .error
    {
        margin-right: 4px;

        .sprite(@error);
        .icon-VIP-common-RegLog;
    }
    .user_prompt
    {
        line-height: 16px;

        visibility: hidden;

        padding: 6px 0 6px 0;

        color: #666;
    }
    .username
    {
        line-height: 46px;

        height: 46px;
        margin-top: 20px;
    }
    .Codes
    {
        width: 130px;
        height: 46px;
    }
    .butt_log
    {
        margin-top: 20px;
    }
    .Codes_cen
    {
        overflow: hidden;

        width: 160px;
        height: 46px;

        background: url('/images/production/VIP/common/RegLog/codes.jpg');
        background-color: #000;

        .fixIe6pngTransparent('/images/production/VIP/common/RegLog/codes.jpg');
    }
    .QRcode
    {
        width: 620px;
        height: 350px;
        margin: 20px 0 0 40px;

        background: url('/images/production/VIP/common/RegLog/erweima.png') no-repeat;

        .fixIe6pngTransparent('/images/production/VIP/common/RegLog/erweima.png');
    }
    .QRcode_text
    {
        font-size: 16px;

        margin-top: 10px;

        color: #666;
    }
    .pass-box
    {
        font-size: 14px;

        color: #666;
        .int_pass
        {
            width: 14px;
            height: 14px;
            margin-right: 5px;

            vertical-align: middle;
        }
        .for_pass
        {
            color: #3ca1d7;
        }
    }
    .butt_log
    {
        font-size: 18px;
        line-height: 46px;

        display: block;

        width: 350px;

        text-align: center;

        color: #fff;
        background-color: #3ca1d7;

        .border-radius(5px);
    }
    .arr_rig
    {
        margin: 2px 0 0 4px;

        .sprite(@arrow-right);
        .icon-VIP-common-RegLog;
        .fixIe6pngTransparent('/images/icon/VIP/common/RegLog/arrow-right.png');
    }
    .immediately
    {
        font-size: 16px;

        text-decoration: underline;

        color: #3ca1d7;
    }
    .status
    {
        margin-top: 2px;
    }
    .immediately_box
    {
        margin: 20px 0 0 90px;
    }
}
.user_box,
.password_box,
.authcode_box
{
    position: relative;
    top: 0;
    left: 0;
    span.placeholder
    {
        font-size: 16px;

        position: absolute;
        top: 13px;
        left: 15px;

        color: #888;
    }
}
.butt_log
{
    border: 0;
}

.footerbox
{
    width: 100%;
    padding-top: 30px;

    .copyright
    {
        font-size: 14px;
        line-height: 34px;

        width: 1200px;
        margin: 0 auto;

        text-align: center;

        color: #888;
    }
}
