
@import '../../../../sprite/VIP/common/RegLog/sprite.less';

@import '../../../../dev/mixins/mixins.less';

.logbox
{
    .logo-main{
        width: 100%;
        background-color: #fff;
        -webkit-box-shadow:0 0 20px 1px #e0e0e0;
        -moz-box-shadow:0 0 20px 1px #e0e0e0;
        box-shadow:0 0 20px 1px #e0e0e0;
    }
    .logo-box{
        width: 1200px;
        margin: 0 auto;
        padding: 10px 0;
        .logo
        {
            i{
                .sprite(@logo_blue);
                .icon-VIP-common-RegLog;
                .fixIe6pngTransparent('/images/icon/VIP/common/RegLog/logo_blue.png');
            }
            .words{
                margin: 13px 0 0 40px;
                line-height: 34px;
                height: 34px;
                padding-left: 40px;
                color: #000;
                font-size: 18px;
                border-left: 1px solid #bbbbbb;
            }
        }
        .return{
            .button-variant(#fff; #ff6600; #ff6600);
            .button-size(0; 20px; 14px; 30px; 5px);
            margin-top: 15px;
        }
    }

    .log_content
    {
        width: 1120px;
        margin: 40px auto 0 auto;
        padding: 30px 40px;

        border: 1px solid #dedede;
        background-color: #fff;

        .border-radius(5px);
    }
    .signup
    {
        width: 530px;
        margin-left: 60px;

        border-right: 1px solid #ddd;
    }
    .user
    {
        margin-top: 30px;
    }
    .padding
    {
        margin-top: 18px;
    }
    .member
    {
        .sprite(@member);
        .icon-VIP-common-RegLog;
        .fixIe6pngTransparent('/images/icon/VIP/common/RegLog/member.png');
    }
    .sign_mem
    {
        font-size: 16px;
        line-height: 28px;

        width: 430px;

        text-align: center;

        color: #189fed;
    }
    .men_tit
    {
        font-size: 14px;
        line-height: 40px;

        color: #444;
    }
    .input_left
    {
        display: inline;

        width: 370px;
        margin-left: 10px;
    }
    .none
    {
        display: none;
    }
    .input_left2
    {
        display: inline;

        width: 370px;
        margin-left: 10px;
    }
    .input_style,
    .input_codes
    {
        line-height: 38px;

        width: 324px;
        height: 40px;
        padding-left: 10px;

        color: #999;
        border: 1px solid #c8c8c8;

        .border-radius(3px);
    }
    .input_codes
    {
        float: left;

        width: 138px;
    }
    .Invite-code-words{
        color: #206dbb;
        margin-left: 93px;
        vertical-align: middle;
        cursor: pointer;
        // 展开按钮
        .unfold{
            .sprite(@unfold);
            .icon-VIP-common-RegLog;
            .fixIe6pngTransparent('/images/icon/VIP/common/RegLog/unfold.png');
            display: inline-block;
            margin-left: 6px;
        }
        // 收起按钮
        .Pack-up{
            .sprite(@Pack-up);
            .icon-VIP-common-RegLog;
            .fixIe6pngTransparent('/images/icon/VIP/common/RegLog/Pack-up.png');
            display: inline-block;
            margin-left: 6px;
        }
    }
    .Invite-code-input{
        margin-left: 93px;
        .Yi-plans{
            line-height:42px;
            margin-left: 10px;
            color: #206dbb;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .butt_cides
    {
        line-height: 32px;

        width: 90px;
        margin: 4px 0 0 10px;

        text-align: center;

        color: #fff;
        background-color: #3ca1d7;

        .border-radius(3px);
    }
    .identity
    {
        label
        {
            margin-right: 26px;
        }
    }
    .radio_posi
    {
        margin-top: 14px;
    }
    .radio_spacing
    {
        margin-right: 20px;
    }
    .rad_text
    {
        line-height: 40px;

        margin-left: 4px;

        cursor: pointer;
    }
    .chec_posi
    {
        margin-top: 4px;

        *margin-top: 0;
    }
    .chec_text
    {
        margin-left: 4px;
    }
    .chec_spacing
    {
        margin-top: 10px;
    }
    .words
    {
        margin-left: 5px;
    }
    .words2
    {
        margin-left: 4px;
    }
    .check_agree
    {
        margin: 4px 0 0 93px;

        *margin-top: 0;
    }
    .check_agreetext
    {
        line-height: 18px;

        margin-left: 4px;
    }
    .bule_color
    {
        color: #06c;
    }
    .cutt_reg
    {
        font-size: 16px;
        line-height: 40px;

        display: block;

        width: 330px;
        margin-left: 93px;

        text-align: center;

        color: #fff;
        border: 0;
        background-color: #3ca1d7;

        .border-radius(3px);
    }
    .rg_box
    {
        margin-top: 80px;
        padding-left: 70px;
    }
    .logarr
    {
        margin: 6px 0 0 6px;

        .sprite(@logarr);
        .icon-VIP-common-RegLog;
        .fixIe6pngTransparent('/images/icon/VIP/common/RegLog/logarr.png');
    }
    .log_text
    {
        font-size: 24px;

        color: #189fed;
    }
    .logarr_box
    {
        display: block;

        margin-top: 14px;
    }
    .servicebox
    {
        font-size: 14px;

        margin-top: 60px;

        color: #444;
    }
    .service_marg
    {
        margin-top: 10px;
    }
    .red_color
    {
        color: #dd2706;
    }
}



/* 添加js */
.username_box,
.password_box,
.passwordRe_box
{
    position: relative;
    span.placeholder
    {
        position: absolute;
        top: 11px;
        left: 11px;

        color: #999;
    }
}
.capslock-tip
{
    top: -45px;
    right: 2px;
}
.tips
{
    line-height: 32px;

    position: absolute;
    z-index: 11;

    display: none;

    height: 32px;
    padding: 0 12px;

    text-align: center;

    color: #bc5212;
    border: solid 1px #f6c090;
    border-radius: 3px;
    background: #fef4e5;
    .arrow
    {
        font-size: 0;
        line-height: 0;

        position: absolute;
        bottom: -16px;
        left: 50%;

        width: 0;
        height: 0;
        margin-left: -4px;

        border-width: 8px;
        border-style: solid dashed dashed;
        border-color: #f6c090 transparent transparent;
    }
    .arrow-inner
    {
        font-size: 0;
        line-height: 0;

        position: absolute;
        bottom: -15px;
        left: 50%;

        width: 0;
        height: 0;
        margin-left: -4px;

        border-width: 8px;
        border-style: solid dashed dashed;
        border-color: #fef4e5 transparent transparent;
    }
}

.error
{
    color: red;
}
.i-pwd-weak
{
    margin-right: 10px;

    vertical-align: text-bottom;

    .sprite(@i-pwd-weak,inline-block);
    .icon-VIP-common-RegLog;
}
.i-pwd-medium
{
    margin-right: 10px;

    vertical-align: text-bottom;

    .sprite(@i-pwd-medium,inline-block);
    .icon-VIP-common-RegLog;
}
.i-pwd-strong
{
    margin-right: 10px;

    vertical-align: text-bottom;

    .sprite(@i-pwd-strong,inline-block);
    .icon-VIP-common-RegLog;
}
.btnt
{
    width: 322px;
    margin: 20px auto 0;
}
.regist-2013 .btnt .btn-img
{
    font-family: '微锟斤拷锟脚猴拷';
    font-size: 16px;
    font-weight: 800;

    overflow: hidden;

    width: 322px;
    height: 34px;
    margin: 0;
    padding: 0;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border: 0;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: #e4393c;

    line-heiht: 34px;
}

#protocol-con
{
    overflow: auto;

    height: 356px;
    padding: 10px 20px 0 10px;
}

#protocol-con h5
{
    line-height: 30px;
}

#protocol-con p
{
    line-height: 20px;
}

#protocol-con p strong
{
    font-weight: 400;
}

.logbox .input_left2 .validateCodeTip
{
    font-size: 12px;

    display: none;
    float: left;

    width: 110px;
    margin: 3px 0 0 8px;
}

.footerbox
{
    width: 100%;
    padding-top: 30px;

    .copyright
    {
        font-size: 14px;
        line-height: 34px;

        width: 1200px;
        margin: 0 auto;

        text-align: center;

        color: #888;
    }
}
