.icon-huiyuanzhongxin-top {
  background-image: url("/images/production/huiyuanzhongxin/top/sprite-huiyuanzhongxin-top.PNG");
}
.vipbufeng {
  background-color: #fff;
  width: 326px;
}
.vipbufeng .VIPboxwidth {
  display: inline;
  width: 54px;
  margin-left: 20px;
}
.vipbufeng .VIP {
  margin: 0 auto;
  background-position: -4px -135px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
}
.vipbufeng .wuVIP {
  margin: 0 auto;
  background-position: -4px -335px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
}
.vipbufeng .shouji {
  margin: 0 auto;
  background-position: -4px -255px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
}
.vipbufeng .shiming {
  margin: 0 auto;
  background-position: -4px -215px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
}
.vipbufeng .youxiang {
  margin: 0 auto;
  background-position: -4px -295px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
}
.vipbufeng .mima {
  margin: 0 auto;
  background-position: -4px -175px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
}
.vipbufeng .VIPname {
  padding-top: 6px;
  text-align: center;
}
.vipbufeng .VIPshangbianju {
  margin-top: 12px;
}
