
@import '../../../dev/mixins/mixins.less';

@import '../../../sprite/easyPricing/pricing/sprite.less';

.factory-box{
  width: 1200px;
  margin: 20px auto 0 auto;
  background-color: #fff;
  padding-bottom: 30px;
  .tit_box{
    border-bottom: 1px dashed #dbdbdb;
    padding: 20px 0 10px 0;
    margin: 0 30px;
    .tit_cla{
      font-size: 20px;
      color: #333;
      line-height: 30px;
    }
  }

  // 排序
  .sortbox{
    margin: 10px 30px;
    div.sort{
      line-height: 32px;
      p.tit_s{
        margin-right: 5px;
      }
      a.cur,a.sort_ablue{
        margin-right: 30px;
        i{
          margin: 12px 0 0 9px;
          .icon-easyPricing-pricing;
        }
      }
      a.sort_ablue{
        color: #888;
        i{
          .sprite(@sortgray);
        }
      }
      a.cur,a.sort_ablue:hover{
        color: #3ca1d7;
        i{
          .sprite(@sortblue);
        }
      }
    }
    div.intbox{
      width: 150px;
      border: 1px solid #d1d1d1;
      margin-left: 10px;
      .border-radius(3px);
      input.int{
        width: 100px;
        line-height: 18px;
        padding: 5px 10px;
        border: 0;
        background-color: #fff;
      }
      i{
        margin: 8px 0 0 8px;
        .sprite(@searchgray);
        .icon-easyPricing-pricing;
      }
    }
    div.intchoice{
      width: 300px;
      border: 0;
      input.int{
        border: 1px solid #d1d1d1;
      }
      span{
        line-height: 30px;
      }
    }
    .sel-box{
      width: 490px;
      ul{
        width: 490px;
        li{
          width: 75px;
        }
      }
    }
  }//排序
  .tab-box{
    width: 1140px;
    line-height: 38px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    th{

      font-weight:normal;
      height: 36px;
      border-bottom: 1px solid #e3e3e3;
      border-top: 2px solid #e3e3e3;
      line-height: 36px;
      background: #f3f3f3;
      color: #999;
    }

    td{
      border-bottom: 1px dashed #e3e3e3;
      .btn-save{
        display: inline-block;
        width: 80px;
        line-height: 28px;
        background-color: #3ca1d7;
        color: #fff;
        margin: 0 5px;
        cursor: pointer;
        .border-radius(4px);
        &:hover{
            background-color: #63b4df;
        }
      }
      .btn-gary{
        display: inline-block;
        padding: 0 15px;
        line-height: 26px;
        border: 1px solid #ccc;
        color: #ccc;
        margin: 0 5px;
        .border-radius(4px);
      }
    }
    .Price_color{
      color: #f79226;
      font-weight: bold;
    }
    .name{
      width: 320px;
    }
    .region{
      width: 200px;
    }
    .price{
      width: 200px;
    }
    .operation{
      width: 200px;
    }
  }
}

//按钮
.butt_box{
  width: 100%;
  text-align: center;
  padding: 40px 0 70px 0;
  .butt_pricing,.butt_return{
    width: 150px;
    line-height: 40px;
    font-size: 16px;
    color:#fff;
    background-color: #929698;
    .border-radius(5px);
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
  }
  .butt_return{
    background-color: #3ca1d7;
  }
}


/// 下拉选择地区
.dropdownInput {
  line-height: 18px;
  width: 150px;
  padding: 5px 10px;
  border: 1px solid #cdcfd1;
  border-radius: 3px;
}
.int_430{
  position: relative;
}
.pop-up{
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 2;
  width: 374px;
  padding: 11px 0 1px 12px;
  background-color: #fff;
  border: 1px solid #cdcfd1;
  color: #333;
  line-height: normal;
  .item{
    float: left;
    width: 60px;
    padding: 4px 0;
    font-size: 14px;
    color: #333;
    overflow: hidden;
  }
  ul.zxcities,ul.provinces{
    display: inline-block;
    font-size: 12px;
    li{
      span{
        position: relative;
        float: left;
        line-height: 14px;
        padding: 4px 7px;
        cursor: pointer;
        &:hover{
          background: #444;
          color: #fff;
        }
      }
    }
  }
  ul.provinces li span{
    padding: 4px;
  }
  .sub-items{
    display: none;
    width: 100%;
    padding-left: 12px;
    margin: 0 0 0 -12px;
    background: #eee;
    span{
      font-size: 12px;
      padding: 4px;
    }
  }

}

.input-tri{
  .triangle(#666);
  position: absolute;
  top: 14px;
  right: 4px;
}
.toggleTri{
  .triangleRotate(#666);
}