@import '../../../dev/mixins/mixins.less';

.tit_box{
  border-bottom: 1px dashed #dbdbdb;
  padding-bottom: 10px;
  .tit_cla{
    font-size: 20px;
    color: #333;
    line-height: 30px;
  }
  .tit_butt{
    background-color: #3ca1d7;
    color: #fff;
    line-height: 30px;
    width: 90px;
    .border-radius(5px);
    font-size: 16px;
    text-align: center;
  }
}

.user_box{
  width: 1140px;
  padding: 20px 30px;
  background-color: #fff;
  margin: 154px auto 0 auto;
  .inf_box{
    padding-top: 10px;
    line-height: 36px;
    font-size: 16px;
    color: #666565;
    li{
      width:33.3%;
      .inf_data{
        color: #333;
      }
    }
    .log_li{
      width: 100%;
    }
  }
}
.box-bottom{
  margin: 20px auto 70px auto;
}