@import '../../../dev/mixins/mixins.less';
.pricePart{
  width: 1200px;
  margin:0 auto;
  background-color: #fff;
  padding-bottom: 40px;


  .tit_box{
    border-bottom: 1px dashed #dbdbdb;
    padding-bottom: 10px;
    margin-bottom: 10px;
    .tit_cla{
      font-size: 20px;
      color: #333;
      line-height: 30px;
    }
    .tit_butt{
      background-color: #3ca1d7;
      color: #fff;
      line-height: 30px;
      width: 90px;
      .border-radius(5px);
      font-size: 16px;
      text-align: center;
    }
  }

  .user_box{
    width: 1140px;
    background-color: #fff;
    margin: 20px auto 0 auto;
    .inf_box{
      line-height: 36px;
      font-size: 16px;
      color: #666565;
      li{
        width:33.3%;
        .inf_data{
          color: #333;
        }
        .text_color{
          color: #ff9000;
          font-size: 20px;
        }
      }
      .log_li{
        width: 100%;
      }
      .yarntype_box{
        margin: 7px 0;
        border: 1px dashed #e5e5e5;
        padding: 10px 0;
        width: 100%;
        background-color: #f7f7f7;
        .yarn_para{
          width: 98%;
          margin: 0 auto;
          .border-radius(5px);
          .para_tit{
            width: 80px;
            font-size: 16px;
            text-align: right;
            color: #3CA1D7;
          }
          .para_words{
            margin-left: 30px;
            .inf_data{
              width: 150px;
            }
          }
        }
      }
    }
    a{
      display: block;
    }
    .butt_box{
      width: 320px;
      margin: 0 auto;
      padding: 30px 0 40px 0;
    }
    .butt_pricing,.butt_return{
      width: 150px;
      text-align: center;
      color: #fff;
      background-color: #3ca1d7;
      border-color: #3ca1d7;
      padding: 0 0;
      font-size: 16px;
      line-height: 40px;
      border-radius: 3px;
    }
    .butt_return{
      margin-right: 20px;
      background-color: #929698;
    }
  }

  .box-bottom {
    margin-top: 20px;
  }
}