* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.wrapweizhi {
  margin-top: 30px;
  margin-left: 10px;
}
.zhuchu_shengfengweizhi {
  margin-top: 8px;
}
.zhuchu_shengfengweizhi2 {
  margin-top: 12px;
}
.zhuti {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 13px;
  vertical-align: middle;
}
#wrap {
  font-size: 14px;
  color: #666666;
  line-height: 16px;
}
#wrap label {
  cursor: pointer;
}
#wrap .shuru {
  line-height: 16px;
  margin-left: 24px;
  margin-right: 10px;
}
#wrap .clear {
  line-height: 0;
  display: block;
  clear: both;
  height: 0;
}
#wrap label.radio .holder {
  height: 62px;
  background: url("/images/production/yijingjia/radio.gif") 0 -1px no-repeat;
}
#wrap label.checked .holder {
  top: -42px !important;
}
#wrap label.checked:hover .holder {
  top: -42px !important;
}
#wrap label.list {
  float: left;
  clear: left;
  margin: 0 0 5px 0;
}
#wrap label.inline {
  float: left;
  margin: 0 10px 0 22px;
}
#wrap input.hiddenCheckbox {
  position: absolute;
  left: -10000px;
}
#wrap label.prettyCheckbox .holderWrap {
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
  margin-right: 5px;
}
#wrap label.prettyCheckbox .holder {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
