@fengxiang-hong: -4px -4px 24px 24px;
@fengxiang: -4px -36px 24px 24px;
@shoucang-hong: -4px -68px 24px 24px;
@shoucang: -4px -100px 24px 24px;
@hongxian: -4px -132px 173px 25px;
@hongyuan: -4px -165px 173px 25px;
@huixian: -4px -198px 173px 25px;
@huiyuan: -4px -231px 173px 25px;
.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}
.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}
.sprite(@sprite, @display: block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
.icon-yijingjia-chengpinbiaoshu {
  background-image: url("/images/production/yijingjia/chengpinbiaoshu/sprite-yijingjia-chengpinbiaoshu.PNG");
}