
@import '../common/title.less';

@import '../common/leibie.less';

@import '../common/fenlei.less';

@import '../flower/flowerlist.less';

@import '../flower/attention.less';

.attentionbox,.flowlistbox{
  width: 1220px;
  margin: 0 auto;
}

.flowlist{
  .flowerbox{
    margin: 30px 10px 0 10px;
  }
}
.attentionbox{
  .cover{
    margin: 30px 10px 0 10px;
  }
}
