
@import '../common/title.less';

@import '../common/leibie.less';

@import '../common/fenlei.less';

@import '../flower/flowerlist.less';

@import '../flower/attention.less';

@import '../common/banner.less';
body{
  background-color:#f2f3f5;
}

.title-top-border{
  border: 1px solid #f0f0f0;
  margin-top: 112px;
}

.attentionbox,.flowlistbox{
  width: 1220px;
  margin: 0 auto;
}

.flowlist{
  .flowerbox{
    margin: 30px 10px 0 10px;
  }
}
.attentionbox{
  .cover{
    margin: 30px 10px 0 10px;
  }
}


// 易识图
.Knowledgemap-box{
  width: 1200px;
  margin: 20px auto 0 auto;
  border: 1px solid #e1e1e1;
  img{
    padding: 20px;
  }
}
.Knowledgemap-name{
  width: 1200px;
  margin: 20px auto 0 auto;
  font-size: 20px;
  color: #333;
  font-weight: 400;
}
