.wenzichengse {
  color: #ff6600;
}
.wenzishenghui {
  color: #333;
}
.wenziqianhui {
  color: #888;
}
.wenzilanse {
  color: #00a2c9;
}
.heiti {
  color: #000;
}
.wenzihongse {
  color: #dc1416;
}
.wenzilvse {
  color: #10bb39;
}
.jiachu {
  font-weight: bold;
}
.dahaozi {
  font-size: 16px;
}
.xiaohaozi {
  font-size: 13px;
}
.wenziyuzhong {
  text-align: center;
}
.qujiachu {
  font-weight: lighter;
}
