body{
    background-color: #b0dbf4;
}
.error_box{
  height: 800px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  .error{
    position: absolute;
    width: 600px;
    height: 600px;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
    background-image: url("/images/production/easysofthome/dottedline.png");
     .stabox{
      width: 164px;
      height: 177px;
      margin: 170px auto 0;
      background-image: url("/images/production/easysofthome/sat.png");
       background-repeat:no-repeat;
     }
     .Balloon{
      width: 410px;
      margin: 30px auto 0 auto;
      .ballon_textda,.ballon_textxiao{
        font-size: 30px;
        color: #4ab8f7;
      }
      .ballon_textxiao{
        margin-top: 6px;
        font-size: 20px;
      }
      .options_box{
        margin-top: 10px;
        width: 410px;
        li{
          width: 25%;
          font-size: 16px;
          text-align: center;
          line-height: 38px;
          background-color: #4ab8f7;
          a{
            color: #fff;
          }
        }
        .color_li{
          background-color: #ff6600;
        }
      }
     }
  }
}