
@import '../../../../dev/mixins/mixins.less';

.main_box{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.mingxi
{
  font-size: 24px;

  background-image: url('/images/production/VIP/common/account/title_line.png');
  background-repeat: repeat-x;
  background-position: bottom;
  margin: 0 20px;
  .current,
  .mingxi_a
  {
    margin-left: 40px;
    padding: 0 10px 10px 10px;
  }
  .current,
  .mingxi_a:hover
  {
    color: #4a7bc4;
    border-bottom: 2px solid #4a7bc4;
  }
  .mingxi_mar
  {
    margin-left: 0;
  }
}

.title_box
{
  margin-top: 40px;
  padding: 20px 0 23px 0;

  background-color: #fff;
  width: 854px;
  .main02
  {
    margin: 25px 20px 0 20px;
    span.txt_red{
      color: #fc2e2e;
      margin-top: 5px;
    }
    .main02_mar
    {
      color: #1673fe;
      &:hover{
        text-decoration: underline;
      }
    }
    div.btn-box{
      margin-top: 15px;
      a.btn{
        margin-right: 20px;
        color: #333;
        background-color: #f0efef;
        padding: 0 10px;
        line-height: 24px;
        border: 1px solid #e5e3e3;
        .border-radius(3px);
        &:hover{
          background-color: #f5f2f2;
        }
      }
    }
  }
}


.fenlei-ul
{
  padding: 14px 0 15px 0;

  border-top: #f2f3f5 1px solid;
  background-color: #fff;
  width: 854px;
  color: #333;
}

.fenlei-box,
.fenlei-box1,
{
  padding: 0 5px;

  text-align: center;
}
.fenlei-box
{
  width: 150px;
}
.fenlei-box1
{
  width: 257px;
}


.table-box
{
  li.tabli
  {
    width: 854px;
    line-height: 24px;

    margin-top: 20px;

    background-color: #fff;
  }
  .table_00
  {
    padding: 20px 0;
  }
  td.txt_oga{
    color: #ec8b00;
  }
}

a.txt_blue{
  color: #3ca1d7;
  &:hover{
    color: #ff6600;
  }
}

