.icon-yisheji-index {
  background-image: url("/images/production/yisheji/index/sprite-yisheji-index.PNG");
}
.gongzuoshibox {
  width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
  line-height: normal;
}
.gongzuoshibox .gzs_title {
  color: #333333;
  font-size: 20px;
}
.gongzuoshibox .genzuo {
  background-position: -4px -44px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 51px;
  height: 12px;
  margin: 0 auto;
  margin-top: 8px;
}
.gongzuoshibox .genzuobj {
  width: 74px;
  height: 26px;
  background-color: #dbdbdb;
  display: block;
}
.gongzuoshibox .gongzouqu {
  margin-top: 10px;
}
.gongzuoshibox .gongzouleft {
  width: 900px;
  background-color: #70c7bd;
  padding-bottom: 36px;
}
.gongzuoshibox .gongzouright {
  width: 300px;
  background-color: #5ab6ab;
  padding-bottom: 56px;
}
.gongzuoshibox .leftjiantou {
  margin-top: 178px;
  background-position: -4px -245px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 40px;
}
.gongzuoshibox .rightjiantou {
  margin-top: 178px;
  background-position: -4px -293px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 40px;
}
.gongzuoshibox .cangjiagzs {
  background-position: -4px -341px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 77px;
  height: 65px;
  margin: 0 auto;
  margin-top: 70px;
}
.gongzuoshibox .yiyou {
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
}
.gongzuoshibox .dahaozi {
  font-size: 40px;
}
.gongzuoshibox .zhonghao {
  font-size: 13px;
}
.gongzuoshibox .gongzuoann {
  background-color: #e85d40;
  width: 204px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  display: block;
  font-size: 20px;
  margin-top: 84px;
}
.gongzuoshibox .gongzoulist {
  margin-top: 56px;
  width: 224px;
  height: 332px;
  background-color: #fff;
  margin-left: 46px;
  border-radius: 5px;
}
.gongzuoshibox .dingwei {
  position: relative;
}
.gongzuoshibox .touxiang {
  position: absolute;
  left: 26%;
  top: -36px;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius: 60px;
  overflow: hidden;
}
.gongzuoshibox .yonghuoname {
  margin-top: 86px;
  text-align: center;
  font-size: 16px;
  color: #333333;
  display: block;
}
.gongzuoshibox .weizhi {
  margin-top: 1px;
  background-position: -4px -130px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 11px;
  height: 17px;
  margin-right: 2px;
}
.gongzuoshibox .biaotijianju {
  width: 78%;
  margin: 0 auto;
  margin-top: 16px;
}
.gongzuoshibox .qianhui {
  color: #888;
}
.gongzuoshibox .hei {
  margin-left: 8px;
  color: #000;
}
.gongzuoshibox .hong {
  color: #dd1d20;
}
.gongzuoshibox .juzhong {
  margin-top: 4px;
  text-align: center;
}
.gongzuoshibox .mianliaoshu {
  font-size: 14px;
  text-align: center;
  margin-top: 22px;
}
.gongzuoshibox .huohuoann {
  width: 162px;
  height: 30px;
  background-color: #37b5f9;
  display: block;
  margin: 0 auto;
  color: #fff;
  font-size: 16px;
  margin-top: 30px;
  line-height: 30px;
}
.gongzuoshibox .tianjia {
  margin-top: 8px;
  margin-left: 32%;
  margin-right: 4px;
  _margin-left: 26px;
  background-position: -4px -107px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 15px;
  height: 15px;
}
