.icon-yisheji-index {
  background-image: url("/images/production/yisheji/index/sprite-yisheji-index.PNG");
}
.PKbox {
  width: 1200px;
  margin: 0 auto;
}
.PKbox .lefttitle {
  font-size: 24px;
  font-weight: bold;
  margin-top: 18px;
  margin-left: 48px;
  color: #fff;
}
.PKbox .righttitle {
  margin-left: 538px;
}
.PKbox .mianliaobianju {
  margin-left: 48px;
}
.PKbox .tupainmianliao {
  overflow: hidden;
  width: 204px;
  height: 132px;
  margin-top: 18px;
  border: 2px solid #fff;
  border-radius: 5px;
}
.PKbox .tupainmianliao img {
  margin-top: -100px;
  margin-left: -100px;
}
.PKbox .tupainmianliao .fanjianimg {
  margin-top: 0;
  margin-left: 0;
}
.PKbox .mianliaojianju {
  margin-left: 64px;
}
.PKbox .chengpingjuli {
  margin-left: 152px;
}
.PKbox .tupiantitle {
  font-size: 16px;
  width: 204px;
  margin-top: 6px;
  text-align: center;
  color: #fff;
}
.PKbj {
  background-position: -4px -414px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 1200px;
  height: 242px;
}
