
@import 'top-log.less';

@import 'Search.less';

@import 'nav.less';


.head-center-Frame
{
    width: 100%;

    background-color: #fff;
}

.head-Frame
{
    width: 1190px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 26px;
    .logo
    {
        float: left;
    }
    .head-Search
    {
        float: left;

        margin-left: 176px;
    }
    .Member
    {
        font-family: '宋体';
        font-size: 13px;
        line-height: 32px;

        float: right;

        margin-top: 8px;
        padding-right: 14px;

        color: #333;
        border: 1px #e2e2e2 solid;

        _vertical-align: middle;
        .Portrait
        {
            float: left;

            margin-top: 7px;
            margin-right: 7px;
            margin-left: 11px;

            .sprite(@Portrait);
        }
    }
}
