
@import 'top-log.less';

@import 'Order-ProgressBar.less';


.head-color{
	background-color: #f6f6f6;
}

.head-Frame{
	width:1190px;
	margin:0 auto;
	padding-top: 30px;
	padding-bottom: 20px;
	.logo{
		float: left;
	
	}
	.head-ProgressBar{
		float: right;
	}
}


.ProgressBar-words{
	font-family: '宋体';
	font-size: 13px;
	margin-top: 10px;
	.words-li{
		width: 178px;
		float: left;
		text-align: center;
		color: #888;
	}
	.current{
		color:#d42532;
	}
}