
@import '../../../sprite/yituangou/head/sprite.less';

.ProgressBar
{
    text-align: center;
    line-height: 24px;
    /*左边*/
    .ProgressBar-li01-hong
    {
        float: left;
        color:#fff;

        .sprite(@ProgressBar01-hong);
        .number
        {
            .sprite(@Round-hong);
        }
    }
    .ProgressBar-li01-hui
    {
        float: left;
        color:#888;

        .sprite(@ProgressBar01-hui);
        .number
        {
            .sprite(@Round-hui);
        }
    }
    /*中间*/
    .ProgressBar-li02-hong
    {
        float: left;
        color:#fff;

        .sprite(@ProgressBar02-hong);
        .number
        {
            .sprite(@Round-hong);
        }
    }
    .ProgressBar-li02-hui
    {
        float: left;
        color:#888;

        .sprite(@ProgressBar02-hui);
        .number
        {
            .sprite(@Round-hui);
        }
    }
    /*右边*/
    .ProgressBar-li03-hong
    {
        float: left;
        color:#fff;

        .sprite(@ProgressBar03-hong);
        .number
        {
            .sprite(@Round-hong);
        }
    }
    .ProgressBar-li03-hui
    {
        float: left;
        color:#888;

        .sprite(@ProgressBar03-hui);
        .number
        {
            .sprite(@Round-hui);
        }
    }
}
