

.searchbox
{
    width: 456px;

    border: 3px solid #d52532;
    border-right: none;
    .searchTxt
    {
        z-index: 20;

        float: left;
        input
        {
            font-family: '宋体';
            font-size: 13px;
            line-height: 32px;

            width: 336px;
            height: 32px;
            margin: 0 10px;
            padding-top: 2px;

            color: #666;
            border: 0;
            outline: medium none;

            _vertical-align: middle;
        }
    }
    .searchBtn
    {
        font-size: 16px;
        line-height: 36px;

        float: left;

        width: 100px;

        text-align: center;

        color: #fff;
        background-color: #d52532;

        _vertical-align: middle;
    }
}


.topsearch
{
    font-family: '宋体';
    font-size: 13px;

    margin-top: 10px;
    .a1
    {
        font-weight: bold;

        color: #d52532;
    }
    .a2
    {
        color: #888;
    }
    .a3
    {
        margin-left: 25px;

        color: #888;
    }
}
