
@import '../../../sprite/yituangou/head/sprite.less';

.top-log-frame
{
    width: 100%;

    background-color: #fff;
}


.top-log
{
    font-family: '宋体';
    font-size: 13px;
    line-height: 40px;

    width: 1190px;
    margin: 0 auto;
    .top-left
    {
        float: left;

        color: #888;
    }
    .top-right
    {
        float: right;
        .top-nav,
        .spacer
        {
            float: left;
        }
        .a-color
        {
            color: #333;
        }
        .a-color:hover
        {
            color: #d30f26;
        }
        .red-color
        {
            color: #d30f26;
        }
        .spacer
        {
            width: 1px;
            height: 13px;
            margin: 0 20px;
            margin-top: 14px;

            background-color: #555;
        }
        .margin-right
        {
            margin-right: 6px;
        }
        .ShoppingCart
        {
            float: left;

            margin-top: 10px;
            margin-right: 4px;

            .sprite(@ShoppingCart);
        }
    }
}


/*top-log*/
.drop-down-BOX
{
    span
    {
        float: left;
    }
    .drop-down
    {
        margin-top: 18px;
        margin-left: 6px;

        .sprite(@drop-down-Under);
    }
}
.drop-down-BOX:hover
{
    .drop-down
    {
        .sprite(@drop-down-on);
    }
}
