@import '../../../sprite/huiyuanzhongxin/index/sprite.less';
.indexbox
{
    width: 1200px;
    margin: 0 auto;
    padding-top: 70px;
    .indexleft
    {
        width: 600px;
    }
    .indexright
    {
        width: 516px;
    }
    .left_title
    {
        font-size: 20px;

        padding-bottom: 8px;

        border-bottom: 1px solid #d4d4d4;
    }
    .yidou
    {
        margin-top: 15px;

        .sprite(@yidou);
    }
    .jiayi
    {
        margin-top: 100px;

        .sprite(@jiayi);
    }
    .yidoutitle,
    .yidoushu,
    .danwei,
    .yiaoyi,
    .tooltitle
    {
        text-align: center;
    }
    .yidoutitle,
    .yiaoyi
    {
        font-size: 20px;

        margin-top: 66px;
    }
    .xiaoshu
    {
        font-size: 20px;
    }
    .yiaoyi
    {
        margin-top: 40px;
    }
    .danwei
    {
        margin-top: 4px;

        color: #888;
    }
    .yidoushu
    {
        font-size: 30px;

        color: #ec8b00;
    }
    .bankcard
    {
        display: block;

        margin-top: 30px;
    }
    .yidoushu
    {
        margin-top: 20px;
    }
    .tianjia
    {
        margin-top: 3px;
        margin-right: 4px;
        margin-left: 122px;

        .sprite(@tianjia,inline);
    }
    .leftxianxiang,
    .rightxianxiang,
    .leftxianxianglong,
    .rightxianxianglong
    {
        line-height: 34px;

        text-align: center;
    }
    .leftxianxiang
    {
        .sprite(@leftxianxiang);
    }
    .rightxianxiang
    {
        .sprite(@rightxianxiang);
    }
    .leftxianxianglong
    {
        .sprite(@leftxianxianglong);
    }
    .rightxianxianglong
    {
        .sprite(@rightxianxianglong);
    }
    .operating,
    .jiaoyioperating，
    {
        width: 186px;
        margin: 0 auto;
        padding-top: 16px;
    }
    .jiaoyioperating，
    {
        width: 146px;
    }
    .toolbox
    {
        margin-top: 15px;
    }
    .tool
    {
        width: 86px;
        padding-bottom: 10px;
    }
    .data
    {
        .sprite(@data);
    }
    .hejia
    {
        .sprite(@hejia);
    }
    .cidian
    {
        .sprite(@cidian);
    }
    .zhixiangcishuan
    {
        .sprite(@zhixiangcishuan);
    }
    .chengben
    {
        .sprite(@chengben);
    }
    .shaxian
    {
        .sprite(@shaxian);
    }
    .kezhong
    {
        .sprite(@kezhong);
    }
    .haiguan
    {
        .sprite(@haiguan);
    }
    .haiyunfei
    {
        .sprite(@haiyunfei);
    }
    .huilv
    {
        .sprite(@huilv);
    }
    .danweiico
    {
        .sprite(@danwei);
    }
    .data,
    .hejia,
    .cidian,
    .zhixiangcishuan,
    .chengben,
    .shaxian,
    .kezhong,
    .haiguan,
    .haiyunfei,
    .huilv,
    .danweiico
    {
        margin: 0 auto;
        margin-top: 10px;

    }
    .tooltitle{
        margin-top: 6px;
        display: block;
        color: #333;
    }
    .toolleft{
        margin-left: 43px;
    }
    .tooltop{
        margin-top: 30px;
    }
}
