
@import '../../../dev/mixins/mixins.less';

@import '../../../sprite/VIP/easydesign/list/sprite.less';

.main_box
{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 70px;
}

// 右边
.rgbox{
  width: 854px;
}
.titbox
{
  margin-top: 40px;
  padding-bottom: 20px;

  background-color: #fff;
  p.tit
  {
    font-size: 24px;
    line-height: 66px;

    margin-left: 20px;
    display: inline;

    color: #333;
  }
  a.upload{
    width: 130px;
    margin: 17px 20px 0 0;
    .button-variant(#fff; #fd6464; #fd6464);
    .button-size(0; 0; 16px; 36px; 5px);
    i{
      margin: 10px 11px 0 18px;
      .sprite(@btn_upload);
      .icon-VIP-easydesign-list;
    }
  }
  div.typebox
  {
    line-height: 24px;
    margin-top: 10px;

    span.type_tit
    {
      margin-left: 20px;
    }
    p.type
    {
      display: inline;
      width: 758px;
      margin-right: 20px;
    }
    span.type_tit
    {
      margin-top: 10px;
    }
    a.content
    {
      white-space:nowrap;
      margin: 10px 10px 0 5px;

      .button-variant(#333; #fff; #fff);
      .button-size(0; 10px; 14px; 24px; 3px);
      &:hover
      {
        .button-variant(#fff; #e85d40; #e85d40);
      }
    }
    a.cur
    {
      .button-variant(#fff; #e85d40; #e85d40);
    }
  }
}

//列表
ul.case_list{
  width: 854px;
  li.rg_margin{
    //右边距
    margin-right: 19px;
  }
  li{
    position: relative;
    top: 0;
    left: 0;
    line-height: 24px;
    width: 272px;
    height: 398px;
    margin-top: 20px;
    background-color: #fff;
    -webkit-box-shadow:0 0 15px 1px #e0e0e0;
    -moz-box-shadow:0 0 15px 1px #e0e0e0;
    box-shadow:0 0 15px 1px #e0e0e0;
    .case_wrapper{
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      .btnbox{display:none;}
    }
  }

  //li里的样式
  a.pic{
    display: block;
    width: 252px;
    height: 252px;
    overflow: hidden;
    margin: 10px;
  }

  div.released{
    //已发布
    margin: 0 15px;
    a.name{
      color: #333;
      &:hover{
        color: #ff4400;
      }
    }
    //停用
    .switch{
      width: 58px;
      .border-radius(12px);
      cursor: pointer;
      background: #3CA1D7;
      overflow: hidden;
      span{
        .sprite(@switch-lang);
        .icon-VIP-easydesign-list;
        .fixIe6pngTransparent('/images/icon/VIP/easydesign/list/switch-lang.png');
      }
    }
    //启用
    .switchno{
      width: 58px;
      .border-radius(12px);
      cursor: pointer;
      background: #AFAFAF;
      overflow: hidden;
      span{
        margin-left: -33px;
        .sprite(@switch-lang);
        .icon-VIP-easydesign-list;
        .fixIe6pngTransparent('/images/icon/VIP/easydesign/list/switch-lang.png');
      }
    }

    //未发布
    a.edit{
      color: #ff4400;
      i{
        margin: 4px 2px 0 0;
        .sprite(@edit);
        .icon-VIP-easydesign-list;
      }
    }
  }

  //下部分信息
  div.sub{
    margin: 0 15px;
    padding: 15px 0;
    div.progress-bar{
      display: none;
      margin-top: 20px;
      position: relative;
      div.progressBar{
        .sprite(@progressBar);
        .icon-VIP-easydesign-list;
        span{
          .sprite(@progress);
          .icon-VIP-easydesign-list;
        }
      }
      div.progress{
        position: absolute;
        top: -23px;
        left: 125px;
      }
    }
  }

  // 按钮
  div.btnbox{
    margin: 0 10px;
    padding: 0 5px;
    border-top: #e5e5e5 1px solid;
    padding-bottom: 20px;
    a.btn_delete1{
      display: block;
      width: 240px;
      text-align: center;
      margin-top: 10px;
      .button-variant(#fff; #f7210b; #f7210b);
      .button-size(0; 0; 16px; 40px; 3px);
    }
    a.btn_delete2{
      display: block;
      width: 114px;
      text-align: center;
      margin-top: 10px;
      .button-variant(#fff; #f7210b; #f7210b);
      .button-size(0; 0; 16px; 40px; 3px);
    }
    a.btn_delete3{
      display: block;
      width: 70px;
      text-align: center;
      margin: 10px 8px;
      .button-variant(#fff; #f7210b; #f7210b);
      .button-size(0; 0; 16px; 40px; 3px);
    }
    a.btn_blue{
      display: block;
      width: 114px;
      text-align: center;
      margin: 10px 11px 0 0;
      .button-variant(#fff; #3ca1d7; #3ca1d7);
      .button-size(0; 0; 16px; 40px; 3px);
    }
    a.btn_blue1{
      display: block;
      text-align: center;
      margin:10px 5px;
      .button-variant(#fff; #3ca1d7; #3ca1d7);
      .button-size(0px; 10px; 16px; 40px; 3px);
    }
  }
}
