.width-body {
  font-size: 12px;
  width: 1190px;
  margin: 0 auto;
  color: #666;
}
.main {
  margin-top: 20px;
  margin-bottom: 100px;
}
.main .bangzhu-l {
  float: left;
  width: 198px;
  padding-bottom: 20px;
  border: 1px #d6d6d6 solid;
}
.main .bangzhu-l .bangzhu00 {
  margin-top: 37px;
}
.main .bangzhu-l .bangzhu00 .bangzhu01 {
  font-size: 15px;
}
.main .bangzhu-l p {
  font-weight: bold;
  line-height: 33px;
  width: 188px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 10px;
  color: #c30e23;
  border-bottom: 1px #d6d6d6 solid;
  -vertical-align: middle;
}
.main .bangzhu-l p span {
  margin-left: 6px;
}
.main .bangzhu-l li {
  line-height: 36px;
  cursor: pointer;
  -vertical-align: middle;
}
.main .bangzhu-l li span {
  float: left;
  margin-right: 30px;
  margin-left: 20px;
  color: #bdbdbd;
}
.main .bangzhu-l li .dot {
  font-size: 25px;
}
.main .bangzhu-l li .WENZI {
  margin: 0;
  color: #333;
}
.main .bangzhu-l li .jiantou {
  float: right;
  margin-right: 22px;
  color: #fff;
}
.main .bangzhu-l .dangqian,
.main .bangzhu-l li:hover {
  background-color: #c30e23;
}
.main .bangzhu-l .dangqian span,
.main .bangzhu-l li:hover span {
  color: #c30e23;
}
.main .bangzhu-l .dangqian .WENZI,
.main .bangzhu-l li:hover .WENZI,
.main .bangzhu-l .dangqian .jiantou,
.main .bangzhu-l li:hover .jiantou {
  color: #fff;
}
.main .bangzhu-l .dangqian .WENZI,
.main .bangzhu-l li:hover .WENZI {
  margin: 0;
}
.main .bangzhu-r {
  float: right;
  width: 958px;
  padding-bottom: 40px;
  border: 1px #d6d6d6 solid;
}
.main .bangzhu-r .dingwei {
  font-size: 15px;
  line-height: 42px;
  width: 800px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 40px;
  color: #333;
  background-image: url('/images/production/yijingjia/index/fengexian.png');
  background-repeat: no-repeat;
  background-position: bottom;
  -vertical-align: middle;
}
.main .bangzhu-r .dingwei span {
  float: left;
}
.main .bangzhu-r .dingwei .bianxian-hong {
  display: block;
  margin-right: 4px;
  border-bottom: 1px solid #c30e23;
}
.gongsi .jiachu-shang {
  font-family: '宋体';
  font-weight: bold;
  line-height: 26px;
  width: 800px;
  margin-left: 40px;
  -vertical-align: middle;
}
.gongsi p {
  font-family: '宋体';
  line-height: 26px;
  width: 800px;
  margin-left: 40px;
  text-align: justify;
  text-indent: 2em;
  text-justify: inter-ideograph;
  -vertical-align: middle;
}
