.dingbutop {
  overflow: hidden;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
}
.dingbutop a:visited {
  color: #666;
}
.dingbutop a:active {
  color: #666;
}
.dingbutop a:link {
  color: #666;
}
.dingbutop a:hover {
  color: #666;
}
.dingbutop .topbox {
  overflow: hidden;
  margin: 0 auto;
}
.dingbutop .topbox p {
  line-height: 32px;
  float: left;
  colror: #656565;
}
.dingbutop .topbox p a {
  font-weight: bold;
  color: #c40e24;
}
.dingbutop .topbox p span {
  margin-left: 8px;
  color: #c40e24;
}
.dingbutop .topbox ul {
  margin-left: 48%;
  margin-right: 22px;
  _margin-left: 390px;
  float: left;
  line-height: 32px;
}
.dingbutop .topbox ul li {
  float: left;
}
.dingbutop .topbox ul li a {
  float: left;
}
.dingbutop .topbox ul li span {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.waikuang {
  overflow: hidden;
  width: 200px;
  margin-top: 22px;
  border: 1px solid #d5d5d5;
}
.waikuang .likuang1 {
  overflow: hidden;
  padding-bottom: 7px;
  border-bottom: 1px solid #d5d5d5;
  background-color: #fff;
  widht: 100%;
  _height: 51px;
}
.waikuang .likuang1 .tuxiang {
  float: left;
  margin: 7px 0 0 14px;
  _margin-left: 7px;
}
.waikuang .likuang1 .welcome {
  float: left;
  overflow: hidden;
  width: 50%;
  margin-top: 8px;
  margin-left: 18px;
}
.waikuang .likuang1 .welcome .welcome-wenhou {
  color: #666;
}
.waikuang .likuang1 .welcome .welcome-laidao {
  color: #a8a8a8;
}
.waikuang .likuang2 {
  overflow: hidden;
  width: 100%;
  background-color: #eeeced;
}
.waikuang .likuang2 .dengl {
  float: left;
  width: 50%;
  height: 30px;
  border-right: 1px solid #d5d5d5;
  cursor: pointer ;
}
.waikuang .likuang2 .dengl .dengl-weizhi {
  float: left;
  margin-top: 7px;
  margin-left: 25px;
  _margin-left: 13px;
  background-position: -4px -34px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 15px;
  height: 16px;
}
.waikuang .likuang2 .dengl .wenz {
  line-height: 30px;
  float: left;
  height: 30px;
  margin-left: 5px;
  color: #222;
}
.waikuang .likuang2 .chuc {
  float: left;
  width: 48%;
  cursor: pointer ;
}
.waikuang .likuang2 .chuc .chuc-weizhi {
  float: left;
  margin-top: 7px;
  margin-left: 10px;
  _margin-left: 5px;
  background-position: -4px -82px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
}
.waikuang .likuang2 .chuc .wenz {
  line-height: 30px;
  float: left;
  height: 30px;
  margin-left: 5px;
  color: #222;
}
.waikuang .likuang2 .tuichu {
  float: left;
  width: 50%;
  height: 30px;
  border-right: 1px solid #d5d5d5;
}
.waikuang .likuang2 .tuichu .dengl-weizhi {
  float: left;
  margin-top: 7px;
  margin-left: 25px;
  _margin-left: 13px;
  background-position: -4px -58px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 15px;
  height: 16px;
}
.waikuang .likuang2 .tuichu .wenz {
  line-height: 30px;
  float: left;
  height: 30px;
  margin-left: 5px;
  color: #222;
}
.waikuang .likuang2 .huiyuan {
  float: left;
  width: 48%;
}
.waikuang .likuang2 .huiyuan .chuc-weizhi {
  float: left;
  margin-top: 13px;
  margin-left: 4px;
  _margin-left: 5px;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 13px;
  height: 7px;
}
.waikuang .likuang2 .huiyuan .wenz {
  line-height: 30px;
  float: left;
  height: 30px;
  margin-left: 14px;
  _margin-left: 7px;
  color: #222;
}
.icon-yijingjia-Search {
  background-image: url("/images/production/yijingjia/Search/sprite-yijingjia-Search.PNG");
}
a,
img {
  border: 0;
}
.topsearch {
  margin-top: 10px;
}
.topsearch a:visited {
  color: #333;
}
.topsearch a:active {
  color: #333;
}
.topsearch a:link {
  color: #333;
}
.topsearch a:hover {
  color: #333;
}
.topsearch .a1 {
  font-weight: bold;
  color: #333;
}
.topsearch .a2 {
  margin-left: 4px;
}
.topsearch .a3 {
  margin-left: 16px;
}
.searchbox {
  width: 480px;
  height: 44px;
}
.searchbox .searchTxt {
  position: relative;
  z-index: 20;
  float: left;
  width: 398px;
  height: 40px;
  border: 2px solid #c40e24;
  border-right: 0;
  background: #eee;
}
.searchbox .searchTxt input {
  font-size: 13px;
  line-height: 40px;
  float: left;
  width: 298px;
  height: 40px;
  margin-left: 10px;
  color: #666;
  border: 0;
  outline: medium none;
  background: #eee;
}
.searchbox .searchTxt .searchMenu {
  float: left;
  overflow: hidden;
}
.searchbox .searchTxt .searchMenu .searchSelected {
  width: 90px;
  cursor: pointer;
  color: #333;
}
.searchbox .searchTxt .searchMenu .searchSelected p {
  font-size: 13px;
  line-height: 38px;
  float: left;
  padding: 0 8px 0 14px;
}
.searchbox .searchTxt .searchMenu .searchSelected .searchSelectedtu {
  float: left;
  margin-top: 16px;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 7px;
  height: 5px;
}
.searchbox .searchBtn {
  float: left;
}
.searchbox .searchBtn a {
  font-size: 16px;
  cursor: pointer;
  text-indent: -9999px;
  color: #fff;
  border: 0;
  background-position: -4px -30px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 80px;
  height: 44px;
}
.icon-yijingjia-XIAOICO {
  background-image: url("/images/production/yijingjia/XIAOICO/sprite-yijingjia-XIAOICO.PNG");
}
/*正文字体*/
body {
  font-family: '微软雅黑';
  font-size: 13px;
  color: #666;
}
/*页面宽度*/
.width-body {
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.rg {
  float: right !important;
}
.lf {
  float: left !important;
}
.none {
  display: none ;
}
.block {
  display: block ;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.ta-c {
  text-align: center;
}
.hidden {
  display: none ;
}
.icon-yijingjia-denglu {
  background-image: url("/images/production/yijingjia/denglu/sprite-yijingjia-denglu.PNG");
}
ul,
li {
  margin: 0px;
  padding: 0px;
}
dl {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.headerkaun {
  overflow: hidden;
  background-color: #eee;
}
.headerkaun .header {
  overflow: hidden;
  width: 1190px;
  margin: 0 auto;
  background-color: #eee;
}
.headerkaun .header .logo {
  float: left;
  padding-top: 30px;
}
.headerkaun .header .weizi {
  float: left;
  margin-top: 46px;
  margin-left: 64px;
}
.headerkaun .header .huozhe {
  line-height: 44px;
  float: left;
  margin-top: 46px;
  margin-left: 12px;
  color: #666;
}
.headerkaun .header .ann {
  float: left;
  margin-top: 46px;
  margin-right: 36px;
  margin-left: 12px;
}
.headerkaun .header .ann .aannshuxingzhuangtai2 {
  width: 138px;
  overflow: hidden;
  flaot: left;
}
.headerkaun .header .ann .aannshuxingzhuangtai2 a {
  color: #fff;
}
.headerkaun .header .ann .aannshuxingzhuangtai2 ul {
  width: 136px;
  overflow: hidden;
  border: 1px solid #c30e23;
}
.headerkaun .header .ann .aannshuxingzhuangtai2 ul li {
  padding-left: 18px;
  background-color: #fff;
  font-size: 20px;
  line-height: 43px;
}
.headerkaun .header .ann .aannshuxingzhuangtai2 ul li a {
  color: #666;
}
.headerkaun .header .ann .aannshuxingzhuangtai2 span {
  font-size: 20px;
  display: block;
  width: 100%;
  height: 43px;
  color: #fff;
  background-color: #c30e23;
}
.headerkaun .header .ann .aannshuxingzhuangtai2 span .fabiao {
  line-height: 43px;
  float: left;
  margin-left: 18px;
}
.headerkaun .header .ann .aannshuxingzhuangtai2 span .xialaanzhuangtai2 {
  float: left;
  margin-top: 18px;
  margin-left: 12px;
  background-position: -4px -17px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 8px;
  height: 5px;
  background-image: url("/images/production/yijingjia/XIAOICO/sprite-yijingjia-XIAOICO.PNG");
}
.headerkaun .header .ann .annshuxing {
  width: 140px;
  height: 44px;
  background-color: #c30e23;
  flaot: left;
}
.headerkaun .header .ann .annshuxing span {
  font-size: 20px;
  line-height: 44px;
  float: left;
  margin-left: 18px;
  color: #fff;
}
.headerkaun .header .ann .annshuxing .xialaan {
  float: left;
  margin-top: 18px;
  margin-left: 12px;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 8px;
  height: 5px;
  background-image: url("/images/production/yijingjia/XIAOICO/sprite-yijingjia-XIAOICO.PNG");
}
.headerkaun .header .ann .annshuxing .xialaanzhuangtai2 {
  float: left;
  margin-top: 18px;
  margin-left: 12px;
  background-position: -4px -17px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 8px;
  height: 5px;
  background-image: url("/images/production/yijingjia/XIAOICO/sprite-yijingjia-XIAOICO.PNG");
}
.headerkaun .header .nav {
  width: 100%;
  height: 40px;
  margin-top: 28px;
  background-color: #c30e23;
}
.headerkaun .header .nav li {
  font-size: 14px;
  line-height: 40px;
  float: left;
  width: 162px;
  text-align: center;
  color: #fff;
}
.headerkaun .header .nav li a {
  color: #fff;
}
.headerkaun .header .nav .li1 {
  width: 214px;
  background-color: #ab081b;
}
.headerkaun .header .nav .li1 .daohangtuweizi {
  float: left;
  margin-top: 12px;
  margin-left: 20px;
  _margin-left: 10px;
  background-position: -4px -54px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 16px;
}
.headerkaun .header .nav .li1 a {
  float: left;
  margin-left: 10px;
}
.dingwei {
  position: relative;
}
.dingwei .main01left {
  position: absolute;
  top: 0;
  left: 0;
  width: 212px;
  padding-top: 13px;
  padding-bottom: 14px;
  border: 1px #d6d6d6 solid;
  border-top: none;
}
.dingwei .main01left li {
  line-height: 44px;
  margin-left: 20px;
}
.dingwei .main01left li a:hover {
  color: #c30e23;
}
.dingwei .main01left li a {
  color: #333;
}
