.icon-yijingjia-denglu {
  background-image: url("/images/production/yijingjia/denglu/sprite-yijingjia-denglu.PNG");
}
.waikuang {
  overflow: hidden;
  width: 200px;
  margin-top: 22px;
  border: 1px solid #d5d5d5;
}
.waikuang .likuang1 {
  overflow: hidden;
  padding-bottom: 7px;
  border-bottom: 1px solid #d5d5d5;
  background-color: #fff;
  widht: 100%;
  _height: 51px;
}
.waikuang .likuang1 .tuxiang {
  float: left;
  margin: 7px 0 0 14px;
  _margin-left: 7px;
}
.waikuang .likuang1 .welcome {
  float: left;
  overflow: hidden;
  width: 50%;
  margin-top: 8px;
  margin-left: 18px;
}
.waikuang .likuang1 .welcome .welcome-wenhou {
  color: #666;
}
.waikuang .likuang1 .welcome .welcome-laidao {
  color: #a8a8a8;
}
.waikuang .likuang2 {
  overflow: hidden;
  width: 100%;
  background-color: #eeeced;
}
.waikuang .likuang2 .dengl {
  float: left;
  width: 50%;
  height: 30px;
  border-right: 1px solid #d5d5d5;
  cursor: pointer ;
}
.waikuang .likuang2 .dengl .dengl-weizhi {
  float: left;
  margin-top: 7px;
  margin-left: 25px;
  _margin-left: 13px;
  background-position: -4px -34px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 15px;
  height: 16px;
}
.waikuang .likuang2 .dengl .wenz {
  line-height: 30px;
  float: left;
  height: 30px;
  margin-left: 5px;
  color: #222;
}
.waikuang .likuang2 .chuc {
  float: left;
  width: 48%;
  cursor: pointer ;
}
.waikuang .likuang2 .chuc .chuc-weizhi {
  float: left;
  margin-top: 7px;
  margin-left: 10px;
  _margin-left: 5px;
  background-position: -4px -82px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
}
.waikuang .likuang2 .chuc .wenz {
  line-height: 30px;
  float: left;
  height: 30px;
  margin-left: 5px;
  color: #222;
}
.waikuang .likuang2 .tuichu {
  float: left;
  width: 50%;
  height: 30px;
  border-right: 1px solid #d5d5d5;
}
.waikuang .likuang2 .tuichu .dengl-weizhi {
  float: left;
  margin-top: 7px;
  margin-left: 25px;
  _margin-left: 13px;
  background-position: -4px -58px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 15px;
  height: 16px;
}
.waikuang .likuang2 .tuichu .wenz {
  line-height: 30px;
  float: left;
  height: 30px;
  margin-left: 5px;
  color: #222;
}
.waikuang .likuang2 .huiyuan {
  float: left;
  width: 48%;
}
.waikuang .likuang2 .huiyuan .chuc-weizhi {
  float: left;
  margin-top: 13px;
  margin-left: 4px;
  _margin-left: 5px;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 13px;
  height: 7px;
}
.waikuang .likuang2 .huiyuan .wenz {
  line-height: 30px;
  float: left;
  height: 30px;
  margin-left: 14px;
  _margin-left: 7px;
  color: #222;
}
