.icon-common {
  background-image: url("/images/production/common/sprite-common.PNG");
}
/** footer **/
.foot_box {
  width: 100%;
  border-top: #e5e5e5 1px solid;
  background-color: #303745;
}
.Cooper,
.spacing {
  width: 170px;
}
.spacing {
  margin-left: 40px;
}
.footer-nav {
  width: 1200px;
  margin: 0 auto;
}
.footer-nav .dl-box {
  margin-top: 58px;
}
.footer-nav .dl-box dt {
  font-size: 16px;
  padding-bottom: 20px;
  color: #fff;
}
.footer-nav .dl-box dd {
  line-height: 30px;
}
.footer-nav .dl-box a {
  color: #828998;
  font-size: 14px;
}
.footer-nav .dl-box .icon-qq {
  background-position: -4px -88px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/production/common/sprite-common.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/common/icon-qq.png");
  _background: none;
}
.footer-nav .dl-box .icon-sina {
  background-position: -4px -112px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/production/common/sprite-common.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/common/icon-sina.png");
  _background: none;
}
.footer-nav .dl-box .icon-linkedin {
  background-position: -4px -64px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/production/common/sprite-common.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/common/icon-linkedin.png");
  _background: none;
}
.footer-nav .dl-box i {
  margin-top: 9px;
  margin-right: 5px;
}
.footer-nav .about_rg {
  margin-right: 90px;
}
.footer-nav .foot_last {
  margin-right: 73px;
}
.footer-nav .del_mar {
  width: 400px;
  margin-right: 20px;
}
.footer-nav .code {
  margin-top: 58px;
  background-position: -4px -244px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 96px;
  height: 118px;
  background-image: url("/images/production/common/sprite-common.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/common/icon-code.png");
  _background: none;
}
.footer-nav .Customer_Service {
  margin-top: 54px;
  margin-right: 55px;
}
.footer-nav .Customer_Service .onLine {
  margin-top: 5px;
  line-height: 26px;
  color: #fff;
  font-size: 12px;
}
.footer-nav .Customer_Service .number {
  background-position: -4px -174px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 199px;
  height: 62px;
  background-image: url("/images/production/common/sprite-common.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/common/number-footer.png");
  _background: none;
}
.footer-nav .Customer_Service .foot_qq {
  background-position: -4px -136px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("/images/production/common/sprite-common.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/common/foot_qq.png");
  _background: none;
}
.copyright {
  line-height: 34px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 14px;
  color: #7a818f;
}
.copyright_01 {
  margin-top: 0;
  padding-top: 30px;
}
/** footer **/
/** footer2 **/
.footerbox {
  width: 100%;
  padding-top: 30px;
  background-color: #282d41;
}
.footerbox .copyright {
  font-size: 14px;
  line-height: 34px;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: #7a818f;
}
/** /footer2 **/
