@import '../../dev/normalize.less';

@import '../../dev/mixins/mixins.less';

/*链接的默认样式*/
a:hover
{
    text-decoration: none;
}
a:active
{
    text-decoration: none;
}
a:visited
{
    text-decoration: none;
}
a:link
{
    text-decoration: none;
}


/*背景颜色*/
body
{
    font-family: '微软雅黑';
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    height: 100%;

    color: #666;
    background-color: #f2f3f5;
}

.color_blue{
  color:#3CA1D7;
}
.hover_red:hover{
  color:red;
}

.clearfix
{
    .clearfix();
}
.center-block
{
    .center-block();
}
.rg
{
    float: right !important;
}
.lf
{
    float: left !important;
}

.none
{
    display: none ;
}
.block
{
    display: block ;
}
.invisible
{
    visibility: hidden;
}
.text-hide
{
    .text-hide();
}

.ta-c
{
    text-align: center;
}

.hidden
{
    display: none ;
}


//所有图片默认上下居中
img
{
    vertical-align: middle;
}

.input-tip {
    color: red;
    float: left;
    margin-left: 15px;
    line-height: 40px;
}

.margin_0{
    margin:0!important;
}

.fixed-input-tip{
    color:red;
    display:block;
    float:left;
    color: red;
    margin-left: 15px;
    line-height: 40px;
}

.title_name{
    line-height: 40px;
}
.ck_height{
    line-height: 40px;
    height: 42px;
}

.butt_cides {
    line-height: 32px;
    width: 55px;
    text-align: center;
    color: #fff;
    background-color: #3ca1d7;
    border-radius: 3px;
    margin: 5px 0 0 10px;
}
.marginL10{
    margin-left: 10px;
}
.marginB20{
    margin-bottom:20px;
}
.clearL{
    clear: left;
}
.loading {
    margin: 15px auto;
    height: 40px;
    background: url(/images/production/easyPricing/loading.gif) no-repeat bottom center;
}


