

@import '../../sprite/easyPricing/sprite.less';
@import '../../dev/mixins/mixins.less';
.intelligent_box{
    background-color: #ecf5ff;
    .intelligent_infbox{
        width: 1200px;
        margin: 10px auto 0 auto;
        text-align: left;
        background-image: url("/images/production/easyPricing/round.PNG");
        background-repeat:no-repeat;
        background-position:23.5%;
    }
    .computer{
            margin-top: 70px;
            .sprite(@computer);
            .icon-easyPricing;
    }
    .polygon{
            margin-right: 12px;
            .sprite(@polygon);
            .icon-easyPricing;
    }
    .oper_cont{
        margin-left: 10px;
        font-size: 14px;
        color: #888;
    }
    .oper_tit{
        font-size: 18px;
        color: #333;
    }
    .eady_oper,.eady_coll,.eady_comb,.eady_anytime,.eady_provide{
        line-height: 22px;
        margin: 62px 0 0 32px;
    }
    .eady_coll{
        margin:62px 0 0 90px;
    }
    .eady_comb{
        margin:62px 0 0 108px;
    }
    .eady_anytime{
        margin:62px 0 0 92px;
    }
    .eady_provide{
        margin:62px 0 0 42px;
    }
}
.simulation_butt,.video_butt{
    display: block;
    width: 166px;
    margin: 30px auto 0 auto;
    color: #3ca1d7;
    border: 1px solid #3ca1d7;
    font-size: 16px;
    line-height: 38px;
    height: 38px;
    .border-radius(5px);

}
.video_butt{
    border: 1px solid #ff6600;
    color: #ff6600;
}
.index-banner-box
{
    width: 100%;
    height: 500px;
    background-color: #5ab6ab;
    margin-top: 112px;
    position: relative;
    top: 0;
    left: 0;
}

.banner-wrapper
{
    position: relative;
    top: 0;
    left: 0;

    margin: 0 auto;
    height: 500px;
    overflow:hidden;
    ul.banner-box{
        width: 100%;
        height:500px;
        li.banner-li{
            float: left;
            position: relative;
            top: 0;
            left: 0;

            height: 500px;

        }
    }
    .banner-btn
    {
        font-size: 18px;
        line-height: 42px;

        position: absolute;
        bottom: 146px;
        left: 23.3%;

        display: block;

        width: 182px;
        height: 42px;

        color: #fff;
        background-color: #fa9b36;
        .border-radius(100px);
        i,.i2{
            margin-top: 8px;
            margin-right: 18px;
            margin-left: 34px;

            .sprite(@bannner-sheji-btn);
            .icon-yisheji-index;
        }
        .i2{

        }
    }

}
ul.switchable-triggers
{
    position: absolute;
    bottom: 25px;
    left: 50%;
    z-index: 4;
    margin: 0 0 0 -50px;
    li
    {
        line-height: normal;

        display: inline-block;
        overflow: hidden;

        width: 10px;
        height: 10px;
        margin: 0 5px;

        text-align: center;

        border: 1px solid #fff;

        .border-radius(50%);
        cursor: pointer;
    }
    .current
    {
        background-color: #fff;
    }
}
///banner

.simulation_outbox,.effect_box,.intelligent_box{
    text-align: center;
    padding: 60px 0 60px 0;

}
.simulation_outbox{
    background-color: #dce4ed;
}
.studiobox{
    padding-bottom: 60px;
}
.intelligent_box{
    padding-bottom: 100px;
}
.effect_box{
    padding-bottom: 0px;
    background-color: #fff;
    background-image: url("/images/production/easyPricing/video_ico.PNG");
    background-repeat:no-repeat;
    background-position:center 190px;
}


.video_comp{
    .sprite(@video_comp);
    margin: 30px auto 0 auto;
    .icon-easyPricing;
}

.video_icobutt_def,.video_icobutt_def2{
    .icon-easyPricing;
    &:hover{
        cursor: pointer;
    }
}

.video_icobutt_def2{
    position:absolute;
    .sprite(@video_icobutt2);
}
.video_icobutt_def{
    position:relative;
    display:block;
    margin: 200px auto 0 auto;
    text-indent:-9999px;
    .sprite(@video_icobutt);
    width:124px;
    height:124px;
    background-position: 3px -323px;
}



.sim_titlebox{
    position: relative;
    display: inline-block;
}
.title_left{
    .sprite(@titlelf);
    .icon-easyPricing;
    position: absolute;

    left:-10px;
    top:-8px;
}
.title_rg{
    .sprite(@titlerg);
    .icon-easyPricing;
    position: absolute;

    right: -12px;
    bottom: -12px;
}
.sim_title{
    line-height: 32px;
    font-size: 32px;
    font-weight: bold;

}
.sim_exp,.sim_exp2{
    margin-top: 30px;
    color:#888;
    font-size: 14px;
}

.sim_exp2{
    margin-top: 0;
}
.coreprice{
    width: 1200px;
    margin:70px auto 0 auto;
    .cor_mar{
        margin-left: 20px;
    }
    li:hover{
        background: #3ca1d7;
    }
    li:hover .coreprice_tit_ico{
        .sprite(@coreprice_icobai);
    }
    li:hover .coreprice_tit{
        color:#fff;
    }
    li:hover .description{
        color:#fff;
    }
    li:hover .coreprice_butt{
        color: #3ca1d7;
        background-color: #fff;
    }

    li{
        width: 285px;
        padding-top: 30px;
        .border-radius(5px);
        background-color: #fff;
        padding-bottom: 20px;

        .coreprice_tit{
            font-size: 18px;
            line-height: 18px;
        }

        .coreprice_tit_ico{
            .sprite(@coreprice_ico);
            .icon-easyPricing;
            margin:30px auto 0 auto;

        }
        .description{
            text-align: left;
            font-size: 14px;
            line-height: 24px;
            color: #666666;
            margin:20px 0 0  16px;
            height: 160px;
        }
        .coreprice_butt{
            display: block;
            margin:10px auto 0 auto;
            width: 218px;
            font-size: 16px;
            .border-radius(5px);
            line-height: 40px;
            background-color: #3ca1d7;
            color: #fff;

        }


    }


}






