
@import '../../../sprite/easydesign/sprite.less';

@import '../../../dev/mixins/mixins.less';

/*----------------------通用样式--------------------*/

.guanzhu-words
{
    overflow: hidden;
    width: 160px;
}

.guanzhu-p01
{
    font-size: 16px;

    margin-top: 11px;

    color: #333;
    &:hover{
        color: #dd1d20;
    }
}

.guanzhu-p02
{
    font-size: 12px;

    margin-top: 10px;
    i
    {
        margin-right: 3px;
        .sprite(@weizhi);
        .icon-easydesign;
    }
    span
    {
        color: #888;
    }
    a
    {
        margin-left: 10px;

        color: #000;
    }
}

.guanzhu-p04,.guanzhu-p06
{

    color: #888;
}
.guanzhu-p06{
    margin-top: 10px;
    padding-top: 10px;
    border-top:1px solid #e1e1e1;
    a{
        color: #666;
        &:hover{
            color: #dd1d20;
        }
    }
}




        .cover
        {
            width: 263px;

            overflow: hidden;

            padding: 20px 10px;

            border: 1px #e1e1e1 solid;

            .border-radius(5px);
        }





.guanzhu-p04
{
    color: #333;
    margin-top: 6px;
}
.att_data{
    line-height: 20px;
}
.att_butt{
    border: 1px solid #3ca1d7;
    line-height: 18px;
    color: #3ca1d7;
    text-align: center;
    .border-radius(20px);
    width: 60px;
    display: block;
}

.guanzhu-p05
{
    margin-top: 6px;
    a
    {
        width: 77px;
        height: 77px;
        overflow: hidden;
        margin-left: 10px;

        border: 2px #e7e7e7 solid;
    }
    .icon-a01
    {
        margin-left: 0;
    }
}
