@import '../../../dev/mixins/mixins.less';
@import '../../../sprite/easydesign/sprite.less';
.detailbox{
  width: 340px;

  .flowname{
      width: 100px;
      height:32px;
      background-color: #508ce4;
      line-height: 32px;
      text-align: center;
      color: #fff;
      font-size: 16px;
    }
      h1{
      font-size: 20px;
      margin-left: 14px;
      margin-top: 20px;
      font-weight:normal;
      color:#000000;
    }
    .deta_class,.deta_price{
      margin-left: 14px;
      font-size: 14px;
      color:#666666;
      margin-top: 20px;
    }
    .deta_price{
      margin-top: 4px;
    }
    .text_red{
        color:#fe6464;
    }
    .deta_info{
      width: 320px;
      border-top: 1px solid #d9d9d9;
      margin:0 auto;
      margin-top: 20px;
      border-bottom: 1px solid #d9d9d9;
      padding-top: 14px;
    }
    .imgbox{
          width: 50px;
          height: 50px;
          background-color: #000;
          .border-radius(25px);
          overflow: hidden;
        }
    .img_name,.flow_free{
      line-height: 50px;
          margin-left: 10px;
           font-size: 16px;
    }
    .flow_free{
      color: #28b28b;
    }
    .browse{
    margin:6px 6px 0 0  ;
    .sprite(@browse);
    .icon-easydesign;
  }
  .dianzang{
    margin:0px 6px 0 0  ;
    .sprite(@dianzang);
    .icon-easydesign;
  }
  .likebox{
    margin-top: 10px;
    padding-bottom: 12px;
  }
    .flower_title{
          color: #000;
          font-size: 22px;
          width: 320px;
          margin:0 auto;
          margin-top: 30px;
          padding-bottom: 10px;
          border-bottom: 1px solid #d9d9d9;
        }
        .xiangshimianliao{
          width: 320px;
          margin: 0 auto;
          margin-top: 20px;
          .mianliaobox{
            width: 100px;

            height: 100px;
            background-color: #000;
            overflow: hidden;
          }
          .miaoliaobianju{
            margin-left: 10px;
          }
        }
        .mianliaoshangxia{
          margin-top: 10px;
        }
}