@icon-more-hui: -4px -4px 12px 12px;
@genduohong: -4px -24px 51px 12px;
@genduohui: -4px -44px 51px 12px;
@icon-more-cc: -4px -64px 12px 12px;
@sixing: -4px -84px 24px 15px;
@jia: -4px -107px 15px 15px;
@weizhi: -4px -130px 11px 17px;
@btn-shipin-bai: -4px -155px 20px 20px;
@btn-shipin-hui: -4px -183px 20px 20px;
@bannner-sheji-btn: -4px -211px 26px 26px;
@leftjiantou: -4px -245px 20px 40px;
@rightjiantou: -4px -293px 20px 40px;
@diannao: -4px -341px 77px 65px;
@pkbox: -4px -414px 1200px 242px;
.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}
.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}
.sprite(@sprite, @display: block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
.icon-yisheji-index {
  background-image: url("/images/production/yisheji/index/sprite-yisheji-index.PNG");
}