
@import '../../sprite/yituangou/foootersub/sprite.less';
@import '../../sprite/yituangou/copyright/sprite.less';

.footerbox
{
    font-size: 19px;

    border-top: 3px solid #d52532;
    margin-top: 70px;
    width: 100%;
    background-color: #fff;
    a{
        color: #888;
    } 
    a:hover{
        color:#0066cc;
    }
   
    .fl
    {
        float: left;
    }
    .rl
    {
        float: right;
    }
    .fooer_cenbox
    {
        width: 1190px;
        margin: 0 auto;
        padding-top: 26px;
        .erweima
        {
            .sprite(@erweima);
        }
        .xiazai
        {
            font-size: 13px;

            margin-top: 4px;
            margin-left: 40px;

            color: #888;
        }
        ul
        {
            margin-left: 88px;
            li
            {
                font-size: 13px;
                line-height: 20px;

                padding-bottom: 14px;

                color: #666;
                .xinglanweibo
                {
                    margin-right: 2px;

                    vertical-align: top;

                    .sprite(@weibo,inline-block);
                }
            }
            .title_li
            {
                font-size: 18px;

                color: #000;
            }
            .subscription_search
            {
                width: 200px;

                *margin-top: 16px;
                .subscription_searchbox
                {
                    float: left;

                    width: 148px;
                    height: 28px;

                    border: 1px solid #d5d5d5;
                    border-right: none;
                    .subscription_youxiang
                    {
                        float: left;

                        margin-top: 8px;
                        margin-left: 5px;

                        .sprite(@Subscription_youxiang);
                    }
                    .len
                    {
                        font-size: 13px;
                        line-height: 28px;

                        float: left;

                        width: 122px;
                        height: 28px;
                        margin-left: 4px;

                        color: #cacaca;
                        border: 0;

                        _margin-left: 2px;
                        _width: 100px;
                    }
                }
                .subscription_butt
                {
                    float: left;

                    cursor: pointer;

                    border: 0;

                    .sprite(@Subscription_butt);
                }
            }
        }
    }
    .lianjiebox
    {
        font-size: 13px;

        width: 1190px;
        margin: 0 auto;
        padding-top: 40px;

        color: #888;
        .lianjie
        {
            padding-bottom: 18px;

            border-bottom: 1px solid #ddd;
            .jiacu
            {
                font-weight: bold;
            }
            .jiange
            {
                margin-left: 20px;
            }
        }
        .inner_chain
        {
            margin: 0 auto;
            padding-top: 30px;

            text-align: center;
            a
            {
                margin-right: 2px;
                margin-left: 2px;
            }
        }
        .banq
        {
            padding-top: 20px;

            text-align: center;
        }
        .copyright
        {
            width: 900px;
            margin: 0 auto;
            padding-top: 20px;
            padding-bottom: 40px;
            li
            {
                float: left;

                width: 140px;
            }
            .li1
            {
                padding-right: 10px;
                padding-left: 10px;

                .sprite(@banq);
            }
            .li2
            {
                padding-right: 10px;
                padding-left: 10px;

                .sprite(@banq1);
            }
            .li3
            {
                padding-right: 10px;
                padding-left: 10px;

                .sprite(@banq3);
             
            }
            .li4
            {
                padding-right: 10px;
                padding-left: 10px;

                .sprite(@banq4);
            
            }
            .li5
            {
                padding-right: 10px;
                padding-left: 10px;

                .sprite(@banq5);
                
            }
            .li6
            {
                padding-right: 10px;
                padding-left: 10px;

                .sprite(@banq6);
        
            }
        }
    }
}

