
@import '../../sprite/yituangou/Safety/sprite.less';

@import '../../dev/mixins/mixins.less';

@import '../../sprite/yituangou/tuangougeren/sprite.less';

.Safety-Frame
{
    width: 1190px;
    margin: 0 auto;
    margin-top: 30px;
}



.mod-main
{
    font-family: '宋体';
    font-size: 12px;

    float: right;

    width: 970px;
    margin-bottom: 20px;
    padding: 10px 20px 30px 20px;

    color: #666;
    background-color: #fff;
    .mt
    {
        h3
        {
            line-height: 40px;

            _vertical-align: middle;
        }
    }
    .mc
    {
        line-height: 20px;

        _vertical-align: middle;
    }
    .saft-item-lists
    {
        overflow: hidden;

        margin-bottom: -31px;
    }
    .warn-box
    {
        padding: 5px;

        background: #fffdee;
    }
    strong
    {
        font-weight: bold;
    }
    .safe-rank05
    {
        margin-top: 5px;
        margin-right: 10px;

        .sprite(@disetiao);
        .i-lvsetiao{
            .sprite(@lvsetiao);
        }
    }
    .u-safe .rank-text
    {
        font-weight: 400;

        margin-right: 5px;
    }
    .ftx-02,
    {
        color: #71b247;
    }
    .ftx-04,
    {
        color: #ff6c00;
    }
    .ml10
    {
        margin-left: 10px;
    }
    .safe-item
    {
        display: inline-block;
        display: block;

        padding: 30px 0;

        border-bottom: 1px solid #e6e6e6;
        .fore1
        {
            font-size: 18px;

            width: 175px;
            padding-left: 25px;

            text-align: left;
        }
        .fore2
        {
            width: 590px;
            padding-left: 15px;

            border-left: 1px solid #e6e6e6;
        }
        .fore3
        {
            width: 140px;

            text-align: center;
            a
            {
                margin: 0 5px;
            }
        }
        .fore1,
        .fore2,
        .fore3
        {
            line-height: 32px;

            float: left;

            height: 32px;
        }
    }
    .icon-01,
    {
        .sprite(@Complete);
    }
    .icon-02,
    {
        .sprite(@Warning);
    }
    .icon-01,
    .icon-02,
    {
        display: inline-block;
        float: left;

        margin-right: 33px;
        margin-bottom: 10px;
    }
    .ftx-03,
    {
        color: #999;
    }
    .ftx-01,
    {
        color: #e4393c;
    }
    .ftx-05,
    {
        color: #005ea7;
    }
    .ftx-05:hover
    {
        color: #d52532;
    }
    .icon-id01
    {
        .sprite(@Verification-not);
    }
    .icon-id01d
    {
        .sprite(@Verification);
    }
    .icon-id01,
    .icon-id01d
    {
        font-size: 0;

        display: inline-block;
    }
    .ftx-06,
    {
        color: #666;
    }
    .btn-7
    {
        line-height: 18px;

        display: inline-block;

        height: 18px;
        padding: 2px 14px 3px;

        color: #323333;
        border: 1px solid #bfd6af;
        background-color: #f5fbef;

        .border-radius(2px);
    }
}
