@import '../../sprite/yituangou/gouwuche/sprite.less';


.tianjiawaibox
{
    width: 1000px;
    margin: 0 auto;

    background-color: #fff;
    margin-bottom: 20px;
}

.tainxiebox
{
    font-size: 13px;
    line-height: 20px;

    width: 960px;
    margin: 0 auto;

    color: #000;
    .jiachu
    {
        font-weight: bold;
    }
    .input_kaung
    {
        width: 570px;
        height: 28px;

        border: 1px solid #ccc;
    }
    .tianjiatu
    {
        margin: 0 auto;
        margin-top: 62px;
        margin-bottom: 11px;

        .sprite(@tianjia);
    }
    .lanse
    {
        color: #265492;
    }
    .baozhuang_topxiajianju
    {
        padding-top: 42px;
        padding-bottom: 34px;

        border-bottom: 1px solid #e5e5e5;
    }
    .bangzhuang_zhijiantop
    {
        padding-top: 34px;
    }
    .dizhibianjijuli
    {
        margin-left: 4px;
    }
    .baozhuang_leftjianju
    {
        margin-left: 12px;
    }
    .wenzhijuzhong
    {
        text-align: center;
    }
    .radio_jianju
    {
        margin-left: 20px;
    }
    .huise
    {
        color: #888;
    }
    .input_juzhong
    {
        margin-top: 8px;

        *margin-top: 4px;
    }
    .hongsezhi
    {
        color: #d42532;
    }
    .biaoti
    {
        font-size: 16px;

        color: #000;
    }
    .baozhuang_hanggao
    {
        line-height: 30px;
    }
    .dizhijianju
    {
        margin-top: 16px;
    }
    .dizhigaodu
    {
        margin-top: 40px;
    }.dizhikuangdu
    {
        width: 190px;
    }
    .dizhibox
    {
        width: 298px;

        border: 1px solid #ccc;
    }
    .tianjiakuangjianju
    {
        margin-bottom: 30px;
    }
    .danqianzdzhibox
    {
        width: 296px;

        border: 2px solid #d42532;
        position: relative;
        .xzhong{
            position: absolute;
            top:0;
            right:0;
            .sprite(@xzhong);
        }
    }
    .tianjiadibian
    {
        padding-bottom: 53px;
    }
    .webzhiyouju
    {
        text-align: right;
    }
    .bianzhijuli
    {
        margin-left: 22px;
    }
    .dizhikaungyoujuli
    {
        margin-right: 30px;
    }
    .dizhilibox
    {
        width: 270px;
        margin: 0 auto;
        margin-top: 12px;
        padding-bottom: 10px;
    }
    .danqianlibox
    {
        margin-top: 11px;
        padding-bottom: 9px;
    }
    .qubiankuan
    {
        border: none;
    }
}
