
@import 'General/PositioningCurrent.less';

.Yarn-Location
{
    width: 1190px;
    margin: 0 auto;
    padding-top: 2px;
}


.Yarn-Specifications{
	width: 1190px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fff;
    line-height: 38px;
    _vertical-align: middle;
    .Specifications{
    	font-family: '宋体';
        font-size: 12px;
        margin: 0 14px;
        border-bottom: #f1f1f1 1px solid;
        .Specifications-101{
        	float: left;
        	color: #888;
        	width:130px;
        }
        .Specifications-102{
        	float: left;
        	color: #555;
        	width:110px;
        	margin-left: 6px;
        }
        .Specifications-101:hover{
        	color: #d52532;
        }
    }
    .Specifications01{
    	border: none;
    }
}


.Yarn-Sort{
	width: 1190px;
    margin: 0 auto;
    margin-top: 16px;
    background-color: #fff;
}


.Yarn-Buy{
	width: 1190px;
    margin: 0 auto;
	margin-top: 20px;
}