@red:#c30e23;
@border: 1px #d6d6d6 solid;

.main-r-03
{
    margin-top: 20px;

    a:hover
    {
        color: @red;
    }
    p
    {
        font-size: 16px;
        line-height: 38px;

        width: 223px;
        margin: 0 auto;

        color: #333;
        border-bottom: @border;
        background-image: url('/images/production/yijingjia/chengpinbiaoshu/hong-shuxian.PNG');
        background-repeat: no-repeat;
        background-position: left center;

        -vertical-align: middle;
        span
        {
            margin-left: 6px;
        }
    }
    div
    {
        line-height: 32px;

        width: 223px;
        margin: 0 auto;
        padding: 10px 0;

        -vertical-align: middle;
    }
    a
    {
        display: block;

        color: #666;
    }
}
