@import '../../../dev/mixins/mixins.less';

.next-box{
  margin: 30px auto 0 auto;
  text-align: center;
  .next{
    a.flip{

      .border-radius(4px);
      text-decoration: none;
      display: inline-block;
      height: 36px;
      line-height: 36px;
      padding: 0 20px;
      border: 1px solid #ddd;
      background-color: #fff;
      margin-left: 4px;
      cursor: pointer;
    }
    a.current,a.flip:hover{
      color: #fff;
      border: 1px solid #3ca1d7;
      background-color: #3ca1d7;
    }
    a.prohibit,a.prohibit:hover{
      background-color: #ddd;
      color:#fff;
      border: 1px solid #ddd;
    }
  }
}

.next-box2{
  margin-top: 20px;
}