@import '../../../sprite/easydata_old/report/sprite.less';
@import '../../../dev/mixins/mixins.less';
body
{
    font-size: 14px;
    .basic_inf
    {
        background-color: #303845;
    }
   .compatible{
        	padding-bottom: 15px;
        }
    .inf_box
    {
        width: 1200px;
        margin: 0 auto;
        padding-bottom: 40px;
    }
    .position
    {
        line-height: 16px;

        // margin-right: 110px;
        padding-top: 40px;
        a
        {
            color: #888;
        }
        .home
        {
            .sprite(@home);
            .icon-easydata_old-report;
            .fixIe6pngTransparent('/images/icon/easydata_old/report/home.png');
        }
        .arrow
        {
            margin: 3px 5px 0 5px;

            .sprite(@arrow);
            .icon-easydata_old-report;
            .fixIe6pngTransparent('/images/icon/easydata_old/report/arrow.png');
        }
        .current
        {
            color: #fff;
        }
        .prompt
        {
            color: #f93d3d;
        }
    }
    .inf_content
    {
        margin-top: 40px;

        background-color: #3f4755;
        .contbox
        {
            width: 460px;
            margin: 15px 0 0 20px;



            border-right: 1px solid #656c77;
            color: #cccccc;
        }
        .green{
        	.sprite(@green);
            .icon-easydata_old-report;
            .fixIe6pngTransparent('/images/icon/easydata_old/report/green.png');
            margin: 20px 0 0 70px;
        }
        .blue{
        	.sprite(@blue);
            .icon-easydata_old-report;
            .fixIe6pngTransparent('/images/icon/easydata_old/report/blue.png');
            margin: 20px 0px 0 30px;
        }
        .orange{
        	.sprite(@orange);
            .icon-easydata_old-report;
            .fixIe6pngTransparent('/images/icon/easydata_old/report/orange.png');
              margin: 20px 0px 0 30px;
        }
        .credit,.minute,.money,.dollar,.quantity{
        	text-align: center;

        }
        .credit,.money{
        	font-size: 16px;
        	color: #cccccc;
        }
        .credit{
        	margin-top: 46px;
        }
        .money{
        	margin-top: 64px;

        }
        .minute,.dollar,.quantity{
        	font-size: 24px;
        	color: #69c731;
        }
        .dollar{
        	color: #ff9000;
        }
        .quantity{
        	color: #fff;
        }
        .score{
        	color: #fff;
        	background-color: #69c731;
        	width: 85px;
        	line-height: 30px;
        	font-size: 14px;
        	 .border-radius(20px);
        	 display: block;
        	 text-align: center;
        	 margin:10px auto 0 auto;


        }

        .titlebox
        {
            line-height: 24px;

            padding-top: 2px;
        }
        .cont_title
        {
            color: #e3e3e3;
        }
        .add_butt
        {
            width: 66px;
            height: 24px;
            margin-right: 15px;

            color: #fff;
            background-color: #f60;

            .border-radius(3px);
            .add{
                .sprite(@add,inline);
                .icon-easydata_old-report;
                .fixIe6pngTransparent('/images/icon/easydata_old/report/add.png');
                margin:5px 4px 0 10px;
            }
		}
		.inf_linehe,.inf_top,.inf_bottom{
			line-height: 34px;
		}
		.inf_top{
			margin-top: 20px;
		}
		.inf_bottom{
			padding-bottom: 6px;
		}

    }
}
