@drop-down-on: -4px -4px 6px 3px;
@drop-down-Under: -4px -15px 6px 3px;
@Member-current: -4px -26px 11px 6px;
@Portrait: -4px -40px 16px 16px;
@ShoppingCart: -4px -64px 20px 20px;
@ShoppingCart-hong: -4px -92px 20px 20px;
@Member-news: -4px -120px 21px 21px;
@ProgressBar01-hui: -4px -149px 178px 24px;
@ProgressBar02-hong: -4px -181px 178px 24px;
@ProgressBar01-hong: -4px -213px 178px 24px;
@ProgressBar03-hong: -4px -245px 178px 24px;
@ProgressBar03-hui: -4px -277px 178px 24px;
@Round-hong: -4px -309px 178px 24px;
@Round-hui: -4px -341px 178px 24px;
@ProgressBar02-hui: -4px -373px 178px 24px;
@Search: -4px -405px 42px 38px;
.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}
.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}
.sprite(@sprite, @display: block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
.icon-yituangou-head {
  background-image: url("/images/production/yituangou/head/sprite-yituangou-head.PNG");
}