.icon-yituangou-head {
  background-image: url("/images/production/yituangou/head/sprite-yituangou-head.PNG");
}
.top-log-frame {
  width: 100%;
  background-color: #fff;
}
.top-log {
  font-family: '宋体';
  font-size: 13px;
  line-height: 40px;
  width: 1190px;
  margin: 0 auto;
}
.top-log .top-left {
  float: left;
  color: #888;
}
.top-log .top-right {
  float: right;
}
.top-log .top-right .top-nav,
.top-log .top-right .spacer {
  float: left;
}
.top-log .top-right .a-color {
  color: #333;
}
.top-log .top-right .a-color:hover {
  color: #d30f26;
}
.top-log .top-right .red-color {
  color: #d30f26;
}
.top-log .top-right .spacer {
  width: 1px;
  height: 13px;
  margin: 0 20px;
  margin-top: 14px;
  background-color: #555;
}
.top-log .top-right .margin-right {
  margin-right: 6px;
}
.top-log .top-right .ShoppingCart {
  float: left;
  margin-top: 10px;
  margin-right: 4px;
  background-position: -4px -64px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
}
/*top-log*/
.drop-down-BOX span {
  float: left;
}
.drop-down-BOX .drop-down {
  margin-top: 18px;
  margin-left: 6px;
  background-position: -4px -15px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 6px;
  height: 3px;
}
.drop-down-BOX:hover .drop-down {
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 6px;
  height: 3px;
}
.searchbox {
  width: 456px;
  border: 3px solid #d52532;
  border-right: none;
}
.searchbox .searchTxt {
  z-index: 20;
  float: left;
}
.searchbox .searchTxt input {
  font-family: '宋体';
  font-size: 13px;
  line-height: 32px;
  width: 336px;
  height: 32px;
  margin: 0 10px;
  padding-top: 2px;
  color: #666;
  border: 0;
  outline: medium none;
  _vertical-align: middle;
}
.searchbox .searchBtn {
  font-size: 16px;
  line-height: 36px;
  float: left;
  width: 100px;
  text-align: center;
  color: #fff;
  background-color: #d52532;
  _vertical-align: middle;
}
.topsearch {
  font-family: '宋体';
  font-size: 13px;
  margin-top: 10px;
}
.topsearch .a1 {
  font-weight: bold;
  color: #d52532;
}
.topsearch .a2 {
  color: #888;
}
.topsearch .a3 {
  margin-left: 25px;
  color: #888;
}
.nav-color {
  width: 100%;
  background-color: #000;
}
.nav-color .nav {
  width: 1190px;
  height: 50px;
  margin: 0 auto;
}
.nav01 {
  position: relative;
  width: 1190px;
  height: 50px;
}
.nav01 .AllClassification {
  font-family: '微软雅黑';
  font-size: 16px;
  float: left;
  width: 240px;
  height: 50px;
  background-color: #d42532;
}
.nav01 .AllClassification .Word {
  line-height: 50px;
  display: block;
  padding-left: 20px;
  color: #fff;
}
.AllClassification01 {
  line-height: 49px;
  position: absolute;
  top: 50px;
  left: 0;
  width: 238px;
  height: 299px;
  border: solid #d42532 1px;
  border-top: none;
  background-color: #fff;
  _vertical-align: middle;
}
.AllClassification01 .AllClassification01-li {
  font-family: '宋体';
  margin: 0 9px;
  padding: 0 8px;
  border-bottom: #a7a7a7 1px dashed;
}
.AllClassification01 .AllClassification01-li .a-left {
  font-size: 16px;
  font-weight: bold;
  float: left;
  color: #333;
}
.AllClassification01 .AllClassification01-li .a-right {
  font-size: 13px;
  float: right;
  margin-right: 8px;
  color: #888;
}
.AllClassification01 .AllClassification01-li .a-left:hover,
.AllClassification01 .AllClassification01-li .a-right:hover {
  color: #d42532;
}
.AllClassification01 .AllClassification01-li i {
  font-size: 20px;
  font-style: normal;
  line-height: 14px;
  float: right;
  margin-top: 17px;
  color: #b3b3b3;
}
.AllClassification01 .AllClassification01-li01 {
  border: none;
}
.navigation {
  float: left;
  width: 950px;
}
.navigation .navigation-li {
  font-family: '微软雅黑';
  font-size: 16px;
  line-height: 50px;
  float: left;
  width: 158px;
  text-align: center;
  _vertical-align: middle;
}
.navigation .navigation-li a:hover {
  text-decoration: underline;
}
.navigation .navigation-li a {
  color: #fff;
}
.head-center-Frame {
  width: 100%;
  background-color: #fff;
}
.head-Frame {
  width: 1190px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 26px;
}
.head-Frame .logo {
  float: left;
}
.head-Frame .head-Search {
  float: left;
  margin-left: 176px;
}
.head-Frame .Member {
  font-family: '宋体';
  font-size: 13px;
  line-height: 32px;
  float: right;
  margin-top: 8px;
  padding-right: 14px;
  color: #333;
  border: 1px #e2e2e2 solid;
  _vertical-align: middle;
}
.head-Frame .Member .Portrait {
  float: left;
  margin-top: 7px;
  margin-right: 7px;
  margin-left: 11px;
  background-position: -4px -40px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
}
