.icon-yituangou-head {
  background-image: url("/images/production/yituangou/head/sprite-yituangou-head.PNG");
}
.searchbox {
  margin-top: 11px;
}
.searchbox .searchTxt {
  float: left;
}
.searchbox .searchTxt input {
  font-family: '宋体';
  font-size: 13px;
  line-height: 38px;
  float: left;
  width: 190px;
  height: 38px;
  padding-left: 10px;
  color: #666;
  border: none;
  _vertical-align: middle;
}
.searchbox .searchBtn {
  float: left;
  background-color: #fff;
  background-position: -4px -405px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 42px;
  height: 38px;
}
.Member-nav-color {
  width: 100%;
  background-color: #d52532;
}
.Member-nav {
  width: 1190px;
  margin: 0 auto;
}
.Member-nav .logo {
  float: left;
  margin-top: 10px;
}
.Member-nav .nav {
  float: left;
  line-height: 60px;
  _vertical-align: middle;
  font-size: 14px;
  font-family: '微软雅黑';
  position: relative;
  margin-left: 80px;
}
.Member-nav .nav .nav-li {
  float: left;
  margin: 0 25px;
}
.Member-nav .nav .nav-li a {
  color: #fff;
}
.Member-nav .nav .Member-current {
  margin-top: -6px;
  margin-left: 10px;
  background-position: -4px -26px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 11px;
  height: 6px;
}
.Member-nav .nav .news {
  position: absolute;
  right: 6px;
  top: 8px;
  line-height: 21px;
  _vertical-align: middle;
  text-align: center;
  color: #666;
  background-position: -4px -120px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 21px;
  height: 21px;
}
.Member-nav .Member-Search {
  float: left;
  margin-left: 250px;
}
.Member-nav .Return {
  float: right;
  border: 1px solid #fff;
  color: #fff;
  font-family: '微软雅黑';
  font-size: 12px;
  line-height: 20px;
  _vertical-align: middle;
  padding: 0 8px;
  border-radius: 10px;
  margin-top: 20px;
}
