.icon-yituangou-head {
  background-image: url("/images/production/yituangou/head/sprite-yituangou-head.PNG");
}
.searchbox {
  margin-top: 11px;
}
.searchbox .searchTxt {
  float: left;
}
.searchbox .searchTxt input {
  font-family: '宋体';
  font-size: 13px;
  line-height: 38px;
  float: left;
  width: 190px;
  height: 38px;
  padding-left: 10px;
  color: #666;
  border: none;
  _vertical-align: middle;
}
.searchbox .searchBtn {
  float: left;
  background-color: #fff;
  background-position: -4px -405px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 42px;
  height: 38px;
}
