.nav-color {
  width: 100%;
  background-color: #000;
}
.nav-color .nav {
  width: 1190px;
  height: 50px;
  margin: 0 auto;
}
.nav01 {
  position: relative;
  width: 1190px;
  height: 50px;
}
.nav01 .AllClassification {
  font-family: '微软雅黑';
  font-size: 16px;
  float: left;
  width: 240px;
  height: 50px;
  background-color: #d42532;
}
.nav01 .AllClassification .Word {
  line-height: 50px;
  display: block;
  padding-left: 20px;
  color: #fff;
}
.AllClassification01 {
  line-height: 49px;
  position: absolute;
  top: 50px;
  left: 0;
  width: 238px;
  height: 299px;
  border: solid #d42532 1px;
  border-top: none;
  background-color: #fff;
  _vertical-align: middle;
}
.AllClassification01 .AllClassification01-li {
  font-family: '宋体';
  margin: 0 9px;
  padding: 0 8px;
  border-bottom: #a7a7a7 1px dashed;
}
.AllClassification01 .AllClassification01-li .a-left {
  font-size: 16px;
  font-weight: bold;
  float: left;
  color: #333;
}
.AllClassification01 .AllClassification01-li .a-right {
  font-size: 13px;
  float: right;
  margin-right: 8px;
  color: #888;
}
.AllClassification01 .AllClassification01-li .a-left:hover,
.AllClassification01 .AllClassification01-li .a-right:hover {
  color: #d42532;
}
.AllClassification01 .AllClassification01-li i {
  font-size: 20px;
  font-style: normal;
  line-height: 14px;
  float: right;
  margin-top: 17px;
  color: #b3b3b3;
}
.AllClassification01 .AllClassification01-li01 {
  border: none;
}
.navigation {
  float: left;
  width: 950px;
}
.navigation .navigation-li {
  font-family: '微软雅黑';
  font-size: 16px;
  line-height: 50px;
  float: left;
  width: 158px;
  text-align: center;
  _vertical-align: middle;
}
.navigation .navigation-li a:hover {
  text-decoration: underline;
}
.navigation .navigation-li a {
  color: #fff;
}
