.icon-yituangou-head {
  background-image: url("/images/production/yituangou/head/sprite-yituangou-head.PNG");
}
.top-log-frame {
  width: 100%;
  background-color: #fff;
}
.top-log {
  font-family: '宋体';
  font-size: 13px;
  line-height: 40px;
  width: 1190px;
  margin: 0 auto;
}
.top-log .top-left {
  float: left;
  color: #888;
}
.top-log .top-right {
  float: right;
}
.top-log .top-right .top-nav,
.top-log .top-right .spacer {
  float: left;
}
.top-log .top-right .a-color {
  color: #333;
}
.top-log .top-right .a-color:hover {
  color: #d30f26;
}
.top-log .top-right .red-color {
  color: #d30f26;
}
.top-log .top-right .spacer {
  width: 1px;
  height: 13px;
  margin: 0 20px;
  margin-top: 14px;
  background-color: #555;
}
.top-log .top-right .margin-right {
  margin-right: 6px;
}
.top-log .top-right .ShoppingCart {
  float: left;
  margin-top: 10px;
  margin-right: 4px;
  background-position: -4px -64px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
}
/*top-log*/
.drop-down-BOX span {
  float: left;
}
.drop-down-BOX .drop-down {
  margin-top: 18px;
  margin-left: 6px;
  background-position: -4px -15px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 6px;
  height: 3px;
}
.drop-down-BOX:hover .drop-down {
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 6px;
  height: 3px;
}
