@import '../../../sprite/yijingjia/index/sprite.less';

@border: 1px #d6d6d6 solid;
@red:#c30e23;

.main-03
{
    overflow: hidden;

    margin-top: 25px;
    .ma03-r
    {
        margin-left: 40px;
    }
    .ma03-l
    {

        float: left;
        .paihang
        {
            line-height: 30px;

            width: 575px;
            margin-bottom: 5px;

            background-image: url('/images/production/yijingjia/index/fengexian-02.png');
            background-repeat: no-repeat;
            background-position: bottom;
            p
            {
                font-size: 20px;

                width: 124px;

                color: #333;
                border-bottom: 1px @red solid;
                span
                {
                    font-weight: bold;

                    color: @red;
                }
            }
        }
        .top
        {
            overflow: hidden;
            padding:15px 0;

            width: 575px;
            .top-l-01
            {
                float: left;
                display: inline;

                margin-left: 10px;
                 _margin-left:5px;
                .sprite(@top1);
                .icon-yijingjia-index;
            }
            .top-l-02
            {
                float: left;
                display: inline;


                margin-left: 10px;
                 _margin-left:5px;

                .sprite(@top2);
                .icon-yijingjia-index;
            }
            .top-l-03
            {
                float: left;
                display: inline;
               

                margin-left: 10px;
                 _margin-left:5px;
            

                .sprite(@top3);
                .icon-yijingjia-index;
            }
            .top-l-04
            {
                float: left;
                display: inline;

                margin-left: 10px;
                 _margin-left:5px;

                .sprite(@top4);
                .icon-yijingjia-index;
            }
            .top-l-05
            {
                float: left;
                display: inline;

                margin-left: 10px;
                 _margin-left:5px;

                .sprite(@top5);
                .icon-yijingjia-index;
            }
            .qiye-log
            {
                
                float: left;
                display: inline;

                margin-left: 22px;
                 _margin-left:11px;
            }
            .top-lc
            {
                
                float: left;

                width: 373px;
                _width:363px;
                margin-left: 10px;
                 _margin-left:5px;
                display: inline;
                .lc-p
                {
                    font-size: 16px;

                    a:hover
                    {
                        color: @red;
                    }
                        a
                        {
                            color: #333;
                        }
                }
                .lc-p01
                {
                    line-height: 39px;

                }
                .lc-p02
                {
                    overflow: hidden;
                    a
                    {
                        font-family: '宋体';
                        font-size: 12px;
                        line-height: 18px;

                        float: right;

                        margin-right: 10px;
                        padding-right: 6px;


                        text-align: right;

                        color: #a6a6a6;
                        border: @border;
                        background-color: #eee;
                    }
                    .po2-11
                    {
                        float: left;

                        margin-top: 4px;
                        margin-right: 5px;
                        margin-left: 4px;

                        .sprite(@shoucang);
                        .icon-yijingjia-index;
                    }
                    .po2-22
                    {
                        float: left;

                        margin-top: 4px;
                        margin-right: 5px;
                        margin-left: 4px;

                        .sprite(@lianxi);
                        .icon-yijingjia-index;
                    }
                }
            }
        }
    }
}




.youqing
{
    margin-top: 35px;

    border: @border;
    .youqing-top
    {
        overflow: hidden;

        background-color: #fafafa;
        background-image: url('/images/production/yijingjia/index/fengexian.png');
        background-repeat: no-repeat;
        background-position: bottom;
        a
        {
            font-family: '宋体';
            font-size: 16px;
            line-height: 40px;

            float: left;

            padding: 0 20px;

            color:#666;
        }
        .dangqian
        {
            font-weight: bold;

            border-right: @border;
            background-color: #fff;
        }
    }
    .youqing-bottom
    {
        overflow: hidden;

        padding-top: 10px;
        padding-bottom: 20px;
        li
        {
            font-family: '宋体';
            font-size: 12px;
            line-height: 34px;

            float: left;

            margin-left: 20px;
            white-space:nowrap;

            a:hover
            {
                color: @red;
            }
            a
            {
                color: #666;
            }
        }
    }
}
