
@import '../common/details.less';

// 核对修改参数
.modifybox{
  width: 1200px;
  margin: 20px auto 0 auto;
  background-color: #fff;

  // 选择工厂 左边距
  div.fac_box_mar{
    margin: 0 20px;
    p.fac{
      padding-left: 42px;
    }
  }
  //费率信息
  div.information{
    margin: 15px 20px 0 20px;
    padding-bottom: 20px;
    border-bottom: #e5e5e5 1px solid;
    font-size: 16px;
    ul.intbox{
      margin: 15px 0 0 42px;
      li.intli{
        margin-right: 20px;
        line-height: 40px;
        display: inline;
        width: 200px;
      }
      li.GIFintli{
        margin-right: 130px;
      }
      input.int{
        width: 88px;
        line-height: 16px;
        padding: 10px;
        border: #cdcfd1 1px solid;
        margin-left: 5px;
        .border-radius(3px);
      }
    }
    // LDP费率信息
    div.LDP{
      margin-left: 42px;
    }
    ul.LDPL,ul.LDPR{
      width: 440px;
      li.intli{
        line-height: 50px;
      }
      p.name{
        width: 88px;
        text-align: right;
      }
    }
    ul.LDPR{
      width: 610px;
      margin-left: 20px;
      p.name{
        width: 112px;
      }
    }
  }
}

p.smalltitle{
  // 小标题
  margin-left: 42px;
  font-size: 16px;
  color: #333;
}
.txt_red{
  // 红色
  color: #ff0000;
}

//表格
table.tab{
  width: 1074px;
  text-align: center;
  margin: 20px 0 0 42px;
  border-top: #eaeaea 1px solid;
  border-left: #eaeaea 1px solid;
  td{
    border-right: #eaeaea 1px solid;
    border-bottom: #eaeaea 1px solid;
    line-height: 36px;
  }

  // 单品核价
  // 款式尺码信息
  td.style{
    width: 146px;
    padding: 20px 20px 14px 20px;
    span{
      margin-top: 4px;
      display: block;
    }
  }
  // 主要面料
  td.fab_picture{
    width: 146px;
    padding: 20px;
  }

  // 主要辅料
  td.acc_purpose{
    width: 216px;
    padding: 0 10px;
    text-align: left;
  }


  // 套件核价
  // 款式尺码信息   //自由组合第三步
  td.sui_style{
    width: 146px;
    padding: 20px;
  }


  // 标题样式
  tr.tit{
    background-color: #eaeaea;
    td{
      line-height: 50px;
      padding: 0;
      text-align: center;
    }
  }
  tr.tittwo{
    background-color: #f8f8f8;
    td{
      line-height: 44px;
    }
  }
}


