
@import '../../../../dev/mixins/mixins.less';

div.tabbox{
  width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  font-size: 12px;
  padding: 20px 0;
  .border-radius(3px);
  -webkit-box-shadow:0 0 15px 1px #e0e0e0;
  -moz-box-shadow:0 0 15px 1px #e0e0e0;
  box-shadow:0 0 15px 1px #e0e0e0;
}

table.tab_box
{
  font-size: 12px;
  line-height: 36px;

  width: 980px;
  margin: 0 auto;

  text-align: center;

  border: 1px solid #e1e1e1;
  border-right: none;
  border-bottom: none;
  background-color: #fff;
  .tr_tit
  {
    color: #333;
    background-color: #f7f7f7;
  }
  td
  {
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }
}
