@import '../../../../../less/dev/mixins/mixins.less';
@import '../../../../sprite/easydata/priceDet/sprite.less';
.tablebox{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
   .border-radius(4px);
   background-color: #fff;
  .table_cont{
    width: 1160px;
    margin: 0px auto 0 auto;
    padding-top: 30px;
  }


  //






  .tab_tit{
    font-size: 18px;
    color:#000;
  }
  .Margins{
    margin-top: 30px;

  }
 .tab_unit{
    font-size: 14px;
    line-height: 20px;
    color: #888;
  }
  .bule{
    color: #3ca1d7;
  }
  //
    .supp_butt,.suppbutt_left{
    width: 98px;
    display: block;
    line-height: 28px;
    .border-radius(2px);
    color: #3ca1d7;
    border: 1px solid #3ca1d7;
    text-align: center;
    margin: 9px auto 9px auto;
    transition: all .3s;

    .border-radius(2px);
    &:hover{
      background: #3ca1d7;
      color: #fff;
    }
  }
  .butt_box{
    width: 220px;
    margin: 0 auto;
  }
  .suppbutt_left{
    margin-left: 20px;
  }

  //
  .pricechangesbox{
       border-left: 1px solid #cccccc;
    border-top:1px solid #cccccc;
    font-size: 14px;
    color:#333;
    line-height: 48px;
    width: 1159px;
  }
  //**出口价格每年的月度变化
  .vertical{
    background-color: #f2f3f5;
    font-size: 16px;
  }
  .vert_data{
    font-size: 14px;
  }
  .vert_data:nth-child(odd){
    background: #f8f8f8;
  }
  .japan_product,.japan_acc,.japan_rank,.japan_name,.japan_mail,.japan_detail,.japan_name2
  {
    text-align: center;
    border-right:  1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
  }

  .japan_product{
    width: 193px;
  }
   .japan_acc{
    width: 192px;
  }
  .japan_rank{
    width: 60px;
  }
  .japan_name{
    width: 474px;
  }
  .japan_name2{
    width: 454px;
    padding-left: 20px;
    text-align: left;
  }
  .japan_mail{
    width: 170px;

  }
  .japan_detail{
    width: 280px;
  }

  // 链接
  .link00{
    color: #333;
  }
}