@member: -4px -4px 430px 6px;
@xiala: -4px -18px 12px 10px;
@error: -4px -36px 16px 16px;
@i-pwd-medium: -4px -60px 15px 16px;
@i-pwd-strong: -4px -84px 15px 16px;
@i-pwd-weak: -4px -108px 15px 16px;
@correct: -4px -132px 16px 16px;
@arrow-right: -4px -156px 18px 17px;
@jingdu11: -4px -181px 170px 20px;
@jingdu13: -4px -209px 170px 20px;
@jingdu2: -4px -237px 170px 20px;
@jingdu3: -4px -265px 170px 20px;
@jingdu1: -4px -293px 170px 20px;
@jingdu12: -4px -321px 170px 20px;
@logarr: -4px -349px 24px 24px;
@loglogo: -4px -381px 328px 118px;
.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}
.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}
.sprite(@sprite, @display: block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
.icon-VIP-common-RegLog {
  background-image: url("/images/production/VIP/common/RegLog/sprite-VIP-common-RegLog.PNG");
}