.color-01 {
  color: #000;
}
.color-02 {
  color: #fff;
}
.color-03 {
  color: #333;
}
.color-04 {
  color: #888;
}
.color-05 {
  color: #999;
}
.color-06 {
  color: #ec8b00;
}
.color-07 {
  color: #4a7bc4;
}
.color-08 {
  color: #f43232;
}
.color-09 {
  color: #bdbdbd;
}
.color-10 {
  color: #508ce4;
}
.color-11 {
  color: #a1a1a1;
}
.color-12 {
  color: #fd6464;
}
.color-13 {
  color: #fc2e2e;
}
.color-14 {
  color: #38b5f8;
}
.color-15 {
  color: #dd1d20;
}
.color-16 {
  color: #14b610;
}
.color-17 {
  color: #cbcfd6;
}
.color-18 {
  color: #ec8b00;
}
.color-19 {
  color: #ff9902;
}
.color-20 {
  color: #1673fe;
}
.color-21 {
  color: #37b5f9;
}
