.main-r-03 {
  margin-top: 20px;
}
.main-r-03 a:hover {
  color: #c30e23;
}
.main-r-03 p {
  font-size: 16px;
  line-height: 38px;
  width: 223px;
  margin: 0 auto;
  color: #333;
  border-bottom: 1px #d6d6d6 solid;
  background-image: url('/images/production/yijingjia/chengpinbiaoshu/hong-shuxian.PNG');
  background-repeat: no-repeat;
  background-position: left center;
  -vertical-align: middle;
}
.main-r-03 p span {
  margin-left: 6px;
}
.main-r-03 div {
  line-height: 32px;
  width: 223px;
  margin: 0 auto;
  padding: 10px 0;
  -vertical-align: middle;
}
.main-r-03 a {
  display: block;
  color: #666;
}
