
@import '../../../dev/mixins/mixins.less';

.index-banner-box
{
  width: 408px;
  height: 229px;
  position: relative;
  top: 0;
  left: 0;
}

.banner-wrapper
{
  position: relative;
  top: 0;
  left: 0;
  width: 408px;
  height: 229px;
  overflow:hidden;
  .border-radius(5px);
  -webkit-box-shadow:0 0 15px 1px #e0e0e0;
  -moz-box-shadow:0 0 15px 1px #e0e0e0;
  box-shadow:0 0 15px 1px #e0e0e0;
  ul.banner-box{
    width: 408px;
    height:229px;
    li.banner-li{
      float: left;
      position: relative;
      top: 0;
      left: 0;
      width:408px;
      height: 229px;

    }
  }

}
ul.switchable-triggers
{
  position: absolute;
  bottom: 15px;
  left: 50%;
  z-index: 4;
  margin: 0 0 0 -33px;
  li
  {
    line-height: normal;

    display: inline-block;
    overflow: hidden;

    width: 12px;
    height: 12px;
    margin: 0 5px;

    text-align: center;

    background-color: #fff;

    .border-radius(50%);
    cursor: pointer;
  }
  .current
  {
    background-color: #ca0f0f;
  }
}

