
@import '../../../dev/mixins/mixins.less';

@import '../../../sprite/other/PC/sprite.less';

.index-banner-box
{
  width: 425px;
  height: 218px;
  position: relative;
  top: 0;
  left: 0;
}

.banner-wrapper
{
  position: relative;
  top: 0;
  left: 0;
  width: 425px;
  height: 218px;
  overflow:hidden;
  .border-radius(5px);
  ul.banner-box{
    width: 425px;
    height:218px;
    li.banner-li{
      float: left;
      position: relative;
      top: 0;
      left: 0;
      width:425px;
      height: 218px;

    }
  }

}
ul.switchable-triggers
{
  position: absolute;
  bottom: 15px;
  left: 50%;
  z-index: 4;
  margin: 0 0 0 -33px;
  li
  {
    margin: 0 5px;
    cursor: pointer;

    .sprite(@Carousel);
    .icon-other-PC;
    .fixIe6pngTransparent('/images/icon/other/PC/Carousel.png')
  }
  .current
  {
    .sprite(@Carousel_cur);
    .icon-other-PC;
    .fixIe6pngTransparent('/images/icon/other/PC/Carousel_cur.png')
  }
}

