
@import '../../../dev/mixins/mixins.less';

div.mian_box
{
  overflow: hidden;

  width: 180px;
  height: 212px;

  .border-radius(5px);
  p.title
  {
    font-size: 14px;

    color: #333;
    margin-left: 6px;
  }
  ul.news_box
  {
    font-size: 12px;

    width: 160px;
    margin-top: 2px;
    li
    {
      clear: both;
      a.news
      {
        float: left;

        max-width: 160px;
      }
    }

    a.news
    {
      line-height: 34px;

      display: block;
      overflow: hidden;

      width: 160px;

      white-space: nowrap;
      text-overflow: ellipsis;

      color: #666;
      &:hover
      {
        color: #4b7bc5;
      }
    }
  }
}
