.icon-huiyuanzhongxin-right {
  background-image: url("/images/production/huiyuanzhongxin/right/sprite-huiyuanzhongxin-right.PNG");
}
.shezhi .correct i,
.shezhi .error i {
  margin-top: 4px;
  margin-right: 4px;
}
.shezhi .correct {
  color: #14b610;
}
.shezhi .correct i {
  background-position: -4px -110px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/production/huiyuanzhongxin/right/sprite-huiyuanzhongxin-right.PNG");
}
.shezhi .error {
  color: #333;
}
.shezhi .error i {
  background-position: -4px -158px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/production/huiyuanzhongxin/right/sprite-huiyuanzhongxin-right.PNG");
}
.shezhi .margin_a {
  margin-right: 15px;
}
.anquan-box {
  margin-top: 40px;
  background-color: #fff;
  padding-bottom: 74px;
  padding-top: 52px;
}
.anquan-box .anquan_main01 {
  margin-left: 100px;
  position: relative;
}
.anquan-box .anquan_main01 .main01_img {
  position: absolute;
  background-position: -4px -1056px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 140px;
  height: 140px;
  background-image: url("/images/production/huiyuanzhongxin/right/sprite-huiyuanzhongxin-right.PNG");
}
.anquan-box .anquan_main01 .words_p {
  margin-top: 18px;
  margin-left: 17px;
}
.anquan-box .anquan_main02 {
  padding-left: 40px;
  padding-right: 58px;
  border-top: #ebebeb 1px solid;
  padding-top: 40px;
  margin-top: 40px;
}
.anquan-box .anquan_main02 .main02_words {
  width: 405px;
  margin-left: 50px;
  font-size: 13px;
}
