.icon-huiyuanzhongxin-right {
  background-image: url("/images/production/huiyuanzhongxin/right/sprite-huiyuanzhongxin-right.PNG");
}
.icon-huiyuanzhongxin-footer {
  background-image: url("/images/production/huiyuanzhongxin/footer/sprite-huiyuanzhongxin-footer.PNG");
}
.yaoqing-main01 {
  margin-top: 40px;
  padding-bottom: 30px;
  background-color: #fff;
}
.yaoqing-main01 .p01 {
  padding-top: 23px;
}
.yaoqing-main01 .p02 {
  margin-top: 14px;
}
.yaoqing-main01 .p03 {
  margin-top: 13px;
  padding: 10px;
  border: #d9d9d9 1px solid;
}
.yaoqing-main01 .p03 .mar {
  margin-top: 4px;
}
.yaoqing-main01 .p04 {
  margin-top: 10px;
}
.yaoqing-main01 .p04 .bg-color {
  line-height: 32px;
  width: 58px;
  height: 32px;
  text-align: center;
  background-color: #37b5f9;
  border-radius: 3px;
}
.yaoqing-main01 .p04 .fenxiang {
  margin-top: 1px;
  margin-right: 4px;
  background-position: -4px -134px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/production/huiyuanzhongxin/right/sprite-huiyuanzhongxin-right.PNG");
}
.yaoqing-main01 .p04 .icon-qq,
.yaoqing-main01 .p04 .icon-sina,
.yaoqing-main01 .p04 .icon-163,
.yaoqing-main01 .p04 .icon-linkedin {
  margin-top: 1px;
  margin-right: 12px;
  background-image: url("/images/production/huiyuanzhongxin/footer/sprite-huiyuanzhongxin-footer.PNG");
}
.yaoqing-main01 .p04 .icon-qq {
  margin-left: 7px;
  background-position: -4px -52px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
}
.yaoqing-main01 .p04 .icon-sina {
  background-position: -4px -76px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
}
.yaoqing-main01 .p04 .icon-163 {
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
}
.yaoqing-main01 .p04 .icon-linkedin {
  background-position: -4px -28px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
}
.yaoqing-main01 .p04 .icon-more {
  margin-top: 1px;
  margin-right: 5px;
  background-position: -4px -86px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/production/huiyuanzhongxin/right/sprite-huiyuanzhongxin-right.PNG");
}
.haoyou-box .post li {
  position: relative;
  margin-top: 20px;
  padding: 11px 0;
  background-color: #fff;
}
.haoyou-box .post .shade {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  filter: alpha(opacity=0);
}
.haoyou-box .post .shade:after {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  content: '';
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.cover {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.cover .touxiang i {
  position: absolute;
  top: 0;
  left: 0;
  background-position: -4px -733px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 90px;
  height: 90px;
  background-image: url("/images/production/huiyuanzhongxin/right/sprite-huiyuanzhongxin-right.PNG");
}
.cover .words {
  font-size: 12px;
  margin-left: 11px;
}
.cover .words-p01 {
  margin-top: 10px;
}
.cover .words-p01 i {
  margin-right: 6px;
  background-position: -4px -303px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 11px;
  height: 17px;
  background-image: url("/images/production/huiyuanzhongxin/right/sprite-huiyuanzhongxin-right.PNG");
}
.cover .words-p01 .span_mar {
  margin-left: 11px;
}
.guanzhu-p03 {
  margin-top: 10px;
}
.guanzhu-p03 a {
  font-size: 16px;
  line-height: 30px;
  width: 121px;
  color: #fff;
  _vertical-align: middle;
}
.guanzhu-p03 .icon-guanzhu {
  margin-right: 10px;
  background-color: #37b5f9;
}
.guanzhu-p03 .icon-guanzhu i {
  margin-top: 7px;
  margin-right: 3px;
  margin-left: 20px;
  background-position: -4px -254px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/production/huiyuanzhongxin/right/sprite-huiyuanzhongxin-right.PNG");
}
.guanzhu-p03 .icon-guanzhu span {
  margin-left: 10px;
}
.guanzhu-p03 .icon-sixin {
  background-color: #989898;
}
.guanzhu-p03 .icon-sixin i {
  margin-top: 7px;
  margin-right: 7px;
  margin-left: 23px;
  background-position: -4px -206px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 16px;
  background-image: url("/images/production/huiyuanzhongxin/right/sprite-huiyuanzhongxin-right.PNG");
}
.guanzhu-p03 .icon-sixin span {
  margin-left: 6px;
}
.guanzhu-p03 .guanzhu_sixin {
  border-radius: 3px;
}
.a02-box {
  margin-top: 40px;
}
.a02-box .post li {
  padding: 20px 0;
}
.guanzhu-p03a02 {
  margin-top: 0;
}
.guanzhu-p03a02 a {
  display: block;
  margin-right: 0;
}
.guanzhu-p03a02 .icon-sixin {
  margin-top: 20px;
}
