.icon-huiyuanzhongxin-right {
  background-image: url("/images/production/huiyuanzhongxin/right/sprite-huiyuanzhongxin-right.PNG");
}
.mingxi {
  font-size: 24px;
  background-image: url('/images/production/huiyuanzhongxin/right/title_line.png');
  background-repeat: repeat-x;
  background-position: bottom;
}
.mingxi .current,
.mingxi .mingxi_a {
  margin-left: 40px;
  padding: 0 10px;
  padding-bottom: 10px;
  color: #666;
}
.mingxi .current,
.mingxi .mingxi_a:hover {
  color: #4a7bc4;
  border-bottom: 2px solid #4a7bc4;
}
.mingxi .mingxi_mar {
  margin-left: 0;
}
.a17-box01 {
  margin-top: 40px;
  padding-top: 20px;
  background-color: #fff;
  padding-bottom: 23px;
}
.a17-box01 .chaxun {
  line-height: 28px;
  margin-top: 25px;
}
.a17-box01 .chaxun .ipt {
  width: 111px;
  height: 28px;
  border: 1px #cecece solid;
  border-radius: 3px;
}
.a17-box01 .chaxun .span_zhi {
  margin: 0 10px;
}
.a17-box01 .chaxun .span_yewu {
  margin-left: 20px;
}
.a17-box01 .chaxun .btn_chaxun {
  line-height: 30px;
  height: 30px;
  margin-left: 10px;
  color: #333;
  background-color: #e0e0e0;
}
.select-box {
  line-height: 28px;
  position: relative;
  width: 131px;
  height: 28px;
  border: 1px #cecece solid;
  border-radius: 3px;
}
.select-box span {
  width: 90px;
  margin-left: 15px;
}
.select-box i {
  margin-top: 11px;
  margin-left: 8px;
  background-position: -4px -32px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 10px;
  height: 6px;
  background-image: url("/images/production/huiyuanzhongxin/right/sprite-huiyuanzhongxin-right.PNG");
}
.select-box .select-ul {
  position: absolute;
  top: 29px;
  left: -1px;
  width: 131px;
  border: 1px #d9d9d9 solid;
  background-color: #fff;
}
.select-box .select-ul li:hover {
  background-color: #1e90ff;
}
.select-box .select-ul li:hover a {
  color: #fff;
}
.select-box .select-ul a {
  display: block;
  padding-left: 15px;
  color: #666;
}
.fenlei-ul {
  padding-top: 14px;
  padding-bottom: 15px;
  background-color: #fff;
  border-top: #f2f3f5 1px solid;
}
.fenlei-box,
.fenlei-box1 {
  padding: 0 5px;
  text-align: center;
}
.fenlei-box {
  width: 118px;
}
.fenlei-box1 {
  width: 204px;
}
.table-box li {
  position: relative;
  margin-top: 20px;
  background-color: #fff;
  line-height: 24px;
  _vertical-align: middle;
}
.table-box .table_00 {
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 20px 0;
  font-size: 14px;
}
.table-box .post .shade {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  filter: alpha(opacity=0);
}
.table-box .post .shade:after {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  content: '';
  border: 1px solid rgba(0, 0, 0, 0.05);
}
