
@import '../../../../sprite/VIP/common/news/sprite.less';

// 消息中心
.main_box{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 70px;
}
.newswu{
    .loadbox{
     width: 178px;
     height: 166px;
     margin:0 auto 0 auto;
     padding-top:30px;
    }
    .newswu_text{

        padding-bottom: 40px;
        text-align: center;

    }
     margin-top: 20px;
    width: 854px;
    background-color: #fff;
}
.xiaoxi_box
{
    margin-top: 20px;
    li.width-rg{
        width: 854px;
        height: 120px;
        overflow: hidden;
        margin-top: 20px;

        background-color: #fff;
    }
    .xiaoxi_main
    {
        margin: 0 20px;
        p.tit{
            font-size: 16px;
            color: #fc2e2e;
        }

    }

    .btn{
        font-size: 14px;
        margin-top: 6px;
    }
    .bg_hui{
        background-color: #676767;
        margin-right: 10px;
    }
    .bg_hong{
        background-color: #fc4444;
    }
}



.xiaoxi_main{
    padding-top: 20px;
    .main_p01{
        margin-top: 10px;
    }
    .main_p02{
        margin-top: 15px;
        padding-bottom: 20px;
        color: #000;
        i{
            margin-top: 7px;
            margin-left: 5px;
        }
        .shouqi{
            .sprite(@icon_shouqi);
            .icon-VIP-common-news;
        }
        .zhankai{
            .sprite(@icon_zhankai);
            .icon-VIP-common-news;
        }
    }
    a.Packup{
        color: #888;
    }
    .main_p03{
        margin-top: 10px;
    }


    .neirong{
        border-top: #d9d9d9 1px solid;
        padding-top: 16px;
        line-height: 24px;
        .neirong_lf{
            width: 804px;
            overflow: auto;
            height: 220px;
            padding-right: 10px;
            padding-bottom: 20px;
        }

        .icon_00{
            margin-top: 10px;
        }

        .neirong_p01{
            margin-top: 10px;
            text-align: justify;
            text-justify: inter-ideograph;
        }
        .neirong_p02{
            margin-top: 0;
        }
        .neirong_p03{
            margin-top: 20px;
        }
        .neirong_p04{
            text-align: right;
        }
        .int_huifu{
            input{
                width: 700px;
                line-height: 30px;
                height: 30px;
                border: #d9d9d9 1px solid;
                margin-top: 6px;
            }
        }
    }
}