.icon-VIP-easydesign-increase {
  background-image: url("/images/production/VIP/easydesign/increase/sprite-VIP-easydesign-increase.PNG");
}
.mainbox {
  padding: 20px 0 130px 0;
}
.fabricbox {
  width: 1200px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #fff;
  padding-bottom: 40px;
}
.fabricbox .fabric_con {
  padding-top: 10px;
  width: 1150px;
  margin: 0 auto;
}
.fabricbox .flower_title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 20px 0 30px 0 ;
  color: #303845;
}
.fabricbox .Key_words {
  font-size: 18px;
  color: #333333;
  margin-left: 76px;
}
.fabricbox .title_name,
.fabricbox .title_density,
.fabricbox .yarn_tit,
.fabricbox .para_tit,
.fabricbox .ingredient_tit,
.fabricbox .AddItem_tit,
.fabricbox .zonal_tit {
  font-size: 16px;
  text-align: right;
}
.fabricbox .para_tit {
  line-height: 130px;
  width: 80px;
}
.fabricbox .title_name,
.fabricbox .zonal_tit {
  width: 124px;
}
.fabricbox .zonal_tit {
  margin-left: 40px;
}
.fabricbox .data_frm,
.fabricbox .rad_frm {
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #e5e5e5;
}
.fabricbox .rad_frm {
  padding: 10px 0 10px 0;
}
.fabricbox .input_fabric,
.fabricbox .dropdown_box,
.fabricbox .fabric_width,
.fabricbox .long_input,
.fabricbox .width_company_none,
.fabricbox .width_company,
.fabricbox .reducebox,
.fabricbox .reduceiput,
.fabricbox .increasebox,
.fabricbox .density_input,
.fabricbox .handle_one,
.fabricbox .fabric_money {
  border: 1px solid #cdcfd1;
  border-radius: 5px;
  color: #333333;
  padding-left: 10px;
  height: 38px;
  line-height: 38px;
  background-color: #fff;
}
.fabricbox .textarea_sty,
.fabricbox .textarea_flowcla {
  border: 1px solid #cdcfd1;
  border-radius: 5px;
  color: #333333;
  width: 970px;
  height: 140px;
  resize: none;
}
.fabricbox .textarea_flowcla {
  margin: 4px 0 10px 0;
  display: block;
}
.fabricbox .fabr_imgbox {
  width: 700px;
}
.fabricbox .fabr_imgbox .fabr_img {
  width: 180px;
  height: 180px;
  background-color: #f9f9f9;
  border: 1px dashed #dddddd;
  display: block;
}
.fabricbox .fabr_imgbox .tian_img {
  background-position: -4px -162px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 65px;
  height: 47px;
  background-image: url("/images/production/VIP/easydesign/increase/sprite-VIP-easydesign-increase.PNG");
  margin: 50px auto 0 auto;
}
.fabricbox .fabr_imgbox .fabrimg_text {
  color: #dcdcdc;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}
.fabricbox .handle_one {
  padding: 0 20px 0 20px;
  cursor: pointer;
}
.fabricbox .Locate,
.fabricbox .handle_one {
  position: relative;
}
.fabricbox .Multiply {
  margin: 14px 0px 0 10px;
  background-position: -4px -36px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 11px;
  height: 11px;
  background-image: url("/images/production/VIP/easydesign/increase/sprite-VIP-easydesign-increase.PNG");
}
.fabricbox .fabric_money {
  margin-left: 10px;
  width: 40px;
}
.fabricbox .select {
  position: absolute;
  right: 0;
  bottom: 0;
  background-position: -4px -127px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 33px;
  height: 27px;
  background-image: url("/images/production/VIP/easydesign/increase/sprite-VIP-easydesign-increase.PNG");
  display: none;
}
.fabricbox .placeholder {
  position: absolute;
  top: 10px;
  color: #cacbcc;
  left: 10px;
}
.fabricbox .handle_mag {
  margin-left: 10px;
}
.fabricbox .handle_one:hover {
  border: 1px solid #3ca1d7;
}
.fabricbox .handle_one:hover .select {
  display: block;
}
.fabricbox .yarn_butt {
  display: inline-block;
  width: 90px;
  padding: 0;
  text-align: center;
  line-height: 40px;
  height: 40px;
  color: #fff;
  background-color: #3ca1d7;
  font-style: 16px;
  border-radius: 5px;
  margin: 40px 0 0 10px;
}
.fabricbox .density_input {
  width: 68px;
  padding: 0;
  text-align: center;
}
.fabricbox .input_fabric {
  width: 80px;
  margin-left: 10px;
}
.fabricbox .plus {
  margin: 12px 5px 12px 5px;
  background-position: -4px -103px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/production/VIP/easydesign/increase/sprite-VIP-easydesign-increase.PNG");
}
.fabricbox .reduceiput {
  width: 40px;
  padding: 0;
  text-align: center;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.fabricbox .reducebox,
.fabricbox .increasebox {
  width: 38px;
  padding-left: 0;
  background-color: #f7f7f7;
  border-radius: 5px 0 0 5px;
}
.fabricbox .reduceimg {
  margin: 18px auto 0 auto;
  background-position: -4px -14px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 2px;
  background-image: url("/images/production/VIP/easydesign/increase/sprite-VIP-easydesign-increase.PNG");
}
.fabricbox .increaseimg {
  margin: 11px auto 0 auto;
  background-position: -4px -55px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/production/VIP/easydesign/increase/sprite-VIP-easydesign-increase.PNG");
}
.fabricbox .include {
  margin-top: 38px;
  background-position: -4px -217px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 11px;
  height: 56px;
  background-image: url("/images/production/VIP/easydesign/increase/sprite-VIP-easydesign-increase.PNG");
}
.fabricbox .increasebox {
  border-radius: 0 5px 5px 0;
  border: 1px solid #3ca1d7;
  background-color: #3ca1d7;
}
.fabricbox .width_company,
.fabricbox .width_company_none {
  position: relative;
  margin-left: 10px;
}
.fabricbox .width_company_none,
.fabricbox .long_input {
  margin-left: 0;
}
.fabricbox .long_input {
  width: 212px;
}
.fabricbox .fabric_width,
.fabricbox .width_company,
.fabricbox .width_company_none {
  width: 90px;
}
.fabricbox .dropdown_box {
  background-color: #fff;
  position: relative;
  width: 212px;
}
.fabricbox .down_arr {
  position: absolute;
  top: 17px;
  right: 16px;
  background-position: -4px -24px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 6px;
  height: 4px;
  background-image: url("/images/production/VIP/easydesign/increase/sprite-VIP-easydesign-increase.PNG");
}
.fabricbox .Single_box,
.fabricbox .title_name,
.fabricbox .title_density,
.fabricbox .yarn_tit,
.fabricbox .prompt,
.fabricbox .ingredient_tit,
.fabricbox .AddItem_tit,
.fabricbox .zonal_tit {
  line-height: 40px;
}
.fabricbox .ingredient_tit {
  width: 40px;
}
.fabricbox .yarn_tit {
  width: 92px;
  text-align: right;
}
.fabricbox .Single_box {
  font-size: 14px;
}
.fabricbox .radio_rg {
  padding-right: 20px;
}
.fabricbox .radio_post {
  margin: 14px 4px 0 0;
  display: inline-block;
  *margin-top: 10px;
}
.fabricbox .yarntype_box,
.fabricbox .wefttype_box {
  width: 1102px;
  margin: 14px auto 0 auto;
  border: 1px dashed #e5e5e5;
  padding-bottom: 20px;
}
.fabricbox .wefttype_box {
  margin: 0 auto;
  border-top: none;
}
.fabricbox .yarndensity_box,
.fabricbox .unit_box {
  padding-top: 20px;
}
.fabricbox .yarndensity_box {
  padding-bottom: 20px;
}
.fabricbox .prompt {
  margin-left: 20px;
}
.fabricbox .fabr_prompt,
.fabricbox .prompt {
  color: #ff0000;
}
.fabricbox .fabr_prompt {
  margin-top: 10px;
}
.fabricbox .yarn_para,
.fabricbox .yarn_para2 {
  width: 350px;
  margin-left: 20px;
  background-color: #f7f7f7;
  height: 130px;
  border-radius: 5px;
}
.fabricbox .yarn_para2 {
  margin-left: 5px;
}
.fabricbox .ingredient,
.fabricbox .thickness {
  margin-top: 20px;
  display: block;
}
.fabricbox .thickness {
  margin-top: 10px;
}
.fabricbox .AddItem {
  margin-top: 10px;
}
.fabricbox .AddItem_tit {
  width: 240px;
}
.fabricbox .butt_box {
  width: 320px;
  margin: 30px auto 0 auto;
}
.fabricbox .butt_pricing,
.fabricbox .butt_return {
  width: 150px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-color: #929698;
  border-radius: 5px;
}
.fabricbox .butt_return {
  background-color: #3ca1d7;
}
