@disetiao: -4px -4px 90px 12px;
@jusetiao: -4px -24px 48px 12px;
@lvsetiao: -4px -44px 70px 12px;
@update: -4px -64px 15px 15px;
@dizi: -4px -87px 23px 18px;
@huangxin: -4px -113px 20px 18px;
@huixing: -4px -139px 20px 18px;
@jibenxxi: -4px -165px 17px 21px;
@dingdan: -4px -194px 18px 21px;
@VIP: -4px -223px 16px 21px;
@fabu: -4px -252px 19px 25px;
@touxiang: -4px -285px 92px 92px;
.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}
.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}
.sprite(@sprite, @display: block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
.icon-yituangou-tuangougeren {
  background-image: url("/images/production/yituangou/tuangougeren/sprite-yituangou-tuangougeren.PNG");
}