@progressbar_g: -4px -4px 599px 6px;
@progressbar_o: -4px -18px 599px 6px;
@alreadySet: -4px -32px 16px 16px;
@mailbox_s: -4px -56px 50px 50px;
@password_s: -4px -114px 50px 50px;
@phone_s: -4px -172px 50px 50px;
@realname_s: -4px -230px 50px 50px;
@InformaArea: -4px -288px 188px 188px;
.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}
.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}
.sprite(@sprite, @display: block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
.icon-VIP-common-index {
  background-image: url("/images/production/VIP/common/index/sprite-VIP-common-index.PNG");
}