.mainbox {
  padding-bottom: 70px;
}
.fabrictitle {
  padding-top: 20px;
  width: 1200px;
  margin: 0 auto;
  line-height: 18px;
}
.fabrictitle .fabrictitle_left {
  font-size: 18px;
  padding-left: 10px;
  border-left: 2px solid #3ca1d7;
  color: #666666;
}
.fabrictitle .fabrictitle_rg {
  font-size: 12px;
}
.fabrictitle .fabrictitle_rg a {
  color: #666666;
}
.fabrictitle .fabrictitle_rg a:hover {
  color: #3ca1d7;
}
.modifybox {
  width: 1200px;
  margin: 20px auto 0 auto;
  background-color: #fff;
}
.modifybox p.title {
  font-size: 30px;
  color: #303845;
  text-align: center;
  line-height: 90px;
}
.modifybox p.reminder {
  margin: 15px 0 0 30px;
  font-size: 12px;
  color: #ff0000;
}
.modifybox div.ratebox {
  margin: 40px 20px 0 20px;
  padding-bottom: 16px;
  border-bottom: #e5e5e5 1px solid;
}
.modifybox div.ratebox div.pricingbox {
  margin-left: 42px;
}
.modifybox div.ratebox div.pricingbox label.lab {
  margin: 15px 30px 0 0;
}
.modifybox div.ratebox div.pricingbox label.lab input.int {
  margin: 2px 5px 0 0;
  width: 18px;
  height: 18px;
}
.modifybox div.information {
  margin: 15px 20px 0 20px;
  padding-bottom: 20px;
  border-bottom: #e5e5e5 1px solid;
  font-size: 16px;
}
.modifybox div.information ul.intbox {
  margin: 15px 0 0 42px;
}
.modifybox div.information ul.intbox li.intli {
  margin-right: 20px;
  line-height: 40px;
  display: inline;
}
.modifybox div.information ul.intbox li.GIFintli {
  margin-right: 130px;
}
.modifybox div.information ul.intbox input.int {
  width: 88px;
  line-height: 16px;
  padding: 10px;
  border: #cdcfd1 1px solid;
  margin-left: 5px;
  border-radius: 3px;
}
.modifybox div.information div.LDP {
  margin-left: 42px;
}
.modifybox div.information ul.LDPL,
.modifybox div.information ul.LDPR {
  width: 440px;
}
.modifybox div.information ul.LDPL li.intli,
.modifybox div.information ul.LDPR li.intli {
  line-height: 50px;
}
.modifybox div.information ul.LDPL p.name,
.modifybox div.information ul.LDPR p.name {
  width: 88px;
  margin-top: 20px;
  text-align: right;
  line-height: 40px;
}
.modifybox div.information ul.LDPL input.int,
.modifybox div.information ul.LDPR input.int {
  width: 88px;
  line-height: 16px;
  padding: 10px;
  border: #cdcfd1 1px solid;
  margin: 20px 0 0 5px;
  border-radius: 3px;
}
.modifybox div.information ul.LDPR {
  width: 610px;
  margin-left: 20px;
}
.modifybox div.information ul.LDPR p.name {
  width: 112px;
}
.modifybox form.radiobox {
  margin: 15px 0 0 42px;
}
.modifybox form.radiobox label.offer {
  margin-right: 20px;
}
.modifybox form.radiobox input.rad {
  width: 20px;
  height: 20px;
  margin: 2px 5px 0 0;
}
.modifybox form.radiobox p.reminder {
  margin-top: 0;
}
.modifybox form.radiocom {
  padding: 0 20px;
  margin: 0;
  text-align: left;
}
.modifybox form.radiocom label.offer {
  margin-right: 0;
}
.modifybox form.radiocom input.rad {
  width: 20px;
  height: 20px;
  margin: 9px 5px 0 0;
}
.modifybox .btnbox {
  width: 320px;
  margin: 0 auto;
  padding: 30px 0 40px 0;
}
.modifybox .btnbox a.btn_gray {
  width: 150px;
  text-align: center;
  margin-right: 20px;
  color: #fff;
  background-color: #929698;
  border-color: #929698;
  padding: 0 0;
  font-size: 16px;
  line-height: 40px;
  border-radius: 3px;
}
.modifybox .btnbox a.btn_gray:focus,
.modifybox .btnbox a.btn_gray.focus {
  color: #fff;
  background-color: #9fa3a4;
  border-color: #d4d5d6;
}
.modifybox .btnbox a.btn_gray:hover {
  color: #fff;
  background-color: #9fa3a4;
  border-color: #b1b4b6;
}
.modifybox .btnbox a.btn_gray:active,
.modifybox .btnbox a.btn_gray.active {
  color: #fff;
  background-color: #9fa3a4;
  border-color: #b1b4b6;
}
.modifybox .btnbox a.btn_blue {
  width: 150px;
  text-align: center;
  color: #fff;
  background-color: #3ca1d7;
  border-color: #3ca1d7;
  padding: 0 0;
  font-size: 16px;
  line-height: 40px;
  border-radius: 3px;
}
.modifybox .btnbox a.btn_blue:focus,
.modifybox .btnbox a.btn_blue.focus {
  color: #fff;
  background-color: #51abdb;
  border-color: #a6d4ed;
}
.modifybox .btnbox a.btn_blue:hover {
  color: #fff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
.modifybox .btnbox a.btn_blue:active,
.modifybox .btnbox a.btn_blue.active {
  color: #fff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
div.resultbox {
  margin: 30px 20px 0 20px;
  padding-bottom: 70px;
  font-size: 16px;
}
p.smalltitle {
  margin-left: 42px;
  font-size: 16px;
  color: #333;
}
p.smalltitle a.shrink {
  color: #3ca1d7;
}
p.smalltitle a.shrink:hover {
  color: #ff6600;
}
.txt_red {
  color: #ff0000;
}
table.tab {
  width: 1074px;
  text-align: center;
  margin: 20px 0 0 42px;
  border-top: #eaeaea 1px solid;
  border-left: #eaeaea 1px solid;
}
table.tab td {
  border-right: #eaeaea 1px solid;
  border-bottom: #eaeaea 1px solid;
  line-height: 36px;
}
table.tab td a {
  color: #3ca1d7;
}
table.tab td a:hover {
  color: #ff0000;
}
table.tab td div.pricebox {
  padding: 10px 0;
}
table.tab td div.pricebox p.price {
  line-height: 40px;
  white-space: nowrap;
}
table.tab td div.pricebox input.int {
  width: 58px;
  line-height: 16px;
  padding: 10px;
  border: #cdcfd1 1px solid;
  margin: 0 8px 0 5px;
  border-radius: 3px;
}
table.tab td input.combina_int {
  width: 58px;
  line-height: 16px;
  padding: 10px;
  border: #cdcfd1 1px solid;
  border-radius: 3px;
}
table.tab td.style {
  width: 146px;
  padding: 20px 20px 14px 20px;
}
table.tab td.style span {
  margin-top: 4px;
  display: block;
}
table.tab td.sty {
  width: 175px;
}
table.tab td.fab_picture {
  width: 146px;
  padding: 20px;
}
table.tab td.fab_price {
  width: 251px;
  padding: 0 10px;
}
table.tab td.acc_price {
  width: 170px;
  padding: 0 10px;
}
table.tab td.acc_purpose {
  width: 216px;
  padding: 0 10px;
  text-align: left;
}
table.tab td.re_sin_type {
  width: 110px;
  padding: 20px 10px;
}
table.tab tr.tit {
  background-color: #eaeaea;
}
table.tab tr.tit td {
  line-height: 50px;
  padding: 0;
  text-align: center;
}
table.tab tr.tittwo {
  background-color: #f8f8f8;
}
table.tab tr.tittwo td {
  line-height: 44px;
}
