.mainbox {
  padding-bottom: 70px;
}
.fabrictitle {
  padding-top: 20px;
  width: 1200px;
  margin: 0 auto;
  line-height: 18px;
}
.fabrictitle .fabrictitle_left {
  font-size: 18px;
  padding-left: 10px;
  border-left: 2px solid #3ca1d7;
  color: #666666;
}
.fabrictitle .fabrictitle_rg {
  font-size: 12px;
}
.fabrictitle .fabrictitle_rg a {
  color: #666666;
}
.fabrictitle .fabrictitle_rg a:hover {
  color: #3ca1d7;
}
ul.arraybox {
  width: 1220px;
  margin: 20px auto 0 auto;
  padding-bottom: 5px;
}
ul.arraybox li.array {
  background-color: #fff;
  padding-bottom: 15px;
  margin: 0 10px;
  display: inline;
  -webkit-box-shadow: 0 0 15px 1px #e0e0e0;
  -moz-box-shadow: 0 0 15px 1px #e0e0e0;
  box-shadow: 0 0 15px 1px #e0e0e0;
  border-radius: 3px;
}
ul.arraybox li.array .picture {
  width: 265px;
  height: 265px;
  margin: 10px;
}
ul.arraybox li.array div.name {
  margin: 0 15px;
  line-height: 26px;
}
ul.arraybox li.array div.name p.words {
  width: 185px;
}
ul.arraybox li.array div.name p.words span {
  margin-right: 20px;
}
ul.arraybox li.array div.dropbox {
  margin: 10px 10px 0 10px;
  border-top: #e5e5e5 1px solid;
  width: 265px;
}
ul.arraybox li.array div.dropbox label.lab {
  width: 76px;
  margin: 11px 6px 0 6px;
  cursor: pointer;
  font-size: 12px;
}
ul.arraybox li.array div.dropbox label.lab input.int {
  margin: 3px 5px 0 0;
  width: 18px;
  height: 18px;
}
ul.arraybox li.array a.btn_blue1 {
  display: block;
  width: 254px;
  text-align: center;
  margin: 10px 0 0 16px;
  color: #fff;
  background-color: #3ca1d7;
  border-color: #3ca1d7;
  padding: 0 0;
  font-size: 16px;
  line-height: 40px;
  border-radius: 3px;
}
ul.arraybox li.array a.btn_blue1:focus,
ul.arraybox li.array a.btn_blue1.focus {
  color: #fff;
  background-color: #51abdb;
  border-color: #a6d4ed;
}
ul.arraybox li.array a.btn_blue1:hover {
  color: #fff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
ul.arraybox li.array a.btn_blue1:active,
ul.arraybox li.array a.btn_blue1.active {
  color: #fff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
ul.arraybox li.array a.btn_blue2 {
  width: 120px;
  text-align: center;
  margin: 10px 14px 0 16px;
  color: #fff;
  background-color: #3ca1d7;
  border-color: #3ca1d7;
  padding: 0 0;
  font-size: 16px;
  line-height: 40px;
  border-radius: 3px;
}
ul.arraybox li.array a.btn_blue2:focus,
ul.arraybox li.array a.btn_blue2.focus {
  color: #fff;
  background-color: #51abdb;
  border-color: #a6d4ed;
}
ul.arraybox li.array a.btn_blue2:hover {
  color: #fff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
ul.arraybox li.array a.btn_blue2:active,
ul.arraybox li.array a.btn_blue2.active {
  color: #fff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
ul.arraybox li.array a.btn_red {
  width: 120px;
  text-align: center;
  margin-top: 10px;
  color: #fff;
  background-color: #f7210b;
  border-color: #f7210b;
  padding: 0 0;
  font-size: 16px;
  line-height: 40px;
  border-radius: 3px;
}
ul.arraybox li.array a.btn_red:focus,
ul.arraybox li.array a.btn_red.focus {
  color: #fff;
  background-color: #f83724;
  border-color: #fb9186;
}
ul.arraybox li.array a.btn_red:hover {
  color: #fff;
  background-color: #f83724;
  border-color: #f95746;
}
ul.arraybox li.array a.btn_red:active,
ul.arraybox li.array a.btn_red.active {
  color: #fff;
  background-color: #f83724;
  border-color: #f95746;
}
