.icon-easydata_old-buyerEva {
  background-image: url("/images/production/easydata_old/buyerEva/sprite-easydata_old-buyerEva.PNG");
}
.Sequence_box {
  line-height: 20px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 37px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}
.Sequence_box .Ranking,
.Sequence_box .current,
.Sequence_box .Sequence:hover {
  color: #ff6700;
}
.Sequence_box .Ranking,
.Sequence_box .Sequence,
.Sequence_box .current {
  margin: 0 20px;
}
.Sequence_box .Ranking {
  padding-right: 15px;
  border-right: 1px solid #ccc;
}
.Sequence_box .Sequence {
  color: #888;
}
.Sequence_box .Sequence i {
  margin-top: 5px;
  margin-left: 7px;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 6px;
  height: 10px;
  background-image: url("/images/production/easydata_old/buyerEva/sprite-easydata_old-buyerEva.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata_old/buyerEva/icon_Sequence.png");
  _background: none;
}
.Sequence_box .current i,
.Sequence_box .Sequence:hover i {
  margin-top: 5px;
  margin-left: 7px;
  background-position: -4px -22px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 6px;
  height: 10px;
  background-image: url("/images/production/easydata_old/buyerEva/sprite-easydata_old-buyerEva.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata_old/buyerEva/icon_Sequence_Orange.png");
  _background: none;
}
