.arrangement_box {
  width: 1200px;
  margin: 0 auto;
  font-size: 14px;
  margin-top: 25px;
}
.arrangement_box li {
  padding: 15px 20px;
  border-bottom: #d9d9d9 1px solid;
}
.arrangement_box li:hover {
  background-color: #fafafa;
}
.arrangement_box .Ranking {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
.arrangement_box .Ranking .No {
  color: #fff;
  width: 78px;
  background-color: #999999;
}
.arrangement_box .Ranking .Credit {
  font-style: italic;
  color: #999;
  width: 76px;
  border: #999999 1px solid;
}
.arrangement_box .Ranking_01 .No {
  background-color: #f6492b;
}
.arrangement_box .Ranking_01 .Credit {
  color: #f6492b;
  border: #f6492b 1px solid;
}
.arrangement_box .Ranking_02 .No {
  background-color: #ff6600;
}
.arrangement_box .Ranking_02 .Credit {
  color: #ff6600;
  border: #ff6600 1px solid;
}
.arrangement_box .Ranking_03 .No {
  background-color: #69c731;
}
.arrangement_box .Ranking_03 .Credit {
  color: #69c731;
  border: #69c731 1px solid;
}
.arrangement_box .Ranking_No {
  font-style: italic;
  width: 62px;
  font-size: 24px;
  line-height: 56px;
  text-align: center;
  color: #999;
  border: #999999 1px solid;
}
.arrangement_box .Ranking_No01 {
  color: #f6492b;
  border: #f6492b 1px solid;
}
.arrangement_box .Ranking_No02 {
  color: #ff6600;
  border: #ff6600 1px solid;
}
.arrangement_box .Ranking_No03 {
  color: #69c731;
  border: #69c731 1px solid;
}
.arrangement_box .content {
  width: 920px;
  margin-left: 20px;
}
.arrangement_box .content .company {
  margin-top: 2px;
  font-size: 18px;
  color: #333;
  display: block;
}
.arrangement_box .content .company_content {
  margin-top: 11px;
  color: #666;
}
.arrangement_box .content .company_content p {
  margin-right: 100px;
}
.arrangement_box .content .company_content span {
  color: #ff6600;
}
.arrangement_box .btn_box {
  margin-top: 26px;
}
.arrangement_box .btn_box .btn {
  width: 132px;
  line-height: 30px;
  border: #ff6600 1px solid;
  color: #ff6600;
  text-align: center;
  display: block;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.arrangement_box .btn_box .btn:hover {
  background-color: #f60;
  color: #fff;
}
.arrangement_box .btn_box01 {
  margin-top: 0;
}
.arrangement_box .btn_box01 .btn_01 {
  margin-bottom: 10px;
  border: #3ca1d7 1px solid;
  color: #3ca1d7;
}
