.main_box {
  padding-bottom: 70px;
}
p.title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 20px 0 30px 0;
  color: #303845;
}
.fac_box {
  line-height: 40px;
  padding-left: 10px;
  border-bottom: 1px solid #efefef;
}
.fac_box p.tit {
  color: #333;
}
.fac_box p.fac span.fac_tit {
  width: 120px;
}
.fac_box p.fac span.fac_name {
  width: 240px;
}
.fac_box p.fac span.fac_money {
  width: 200px;
}
div.btn {
  width: 150px;
  margin: 30px auto 0 auto;
  padding-bottom: 40px;
}
div.btn a.btn_blue {
  width: 150px;
  text-align: center;
  color: #fff;
  background-color: #3ca1d7;
  border-color: #3ca1d7;
  padding: 0 0;
  font-size: 16px;
  line-height: 40px;
  border-radius: 5px;
}
div.btn a.btn_blue:focus,
div.btn a.btn_blue.focus {
  color: #fff;
  background-color: #51abdb;
  border-color: #a6d4ed;
}
div.btn a.btn_blue:hover {
  color: #fff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
div.btn a.btn_blue:active,
div.btn a.btn_blue.active {
  color: #fff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
.detailsbox {
  width: 1160px;
  margin: 20px auto 0 auto;
  line-height: 40px;
  border: 1px solid #efefef;
  border-bottom: none;
  background-color: #fff;
  padding: 0 20px;
}
.detailsbox .res_tit {
  width: 140px;
  color: #333;
  padding-left: 10px;
}
.detailsbox .res_con {
  width: 838px;
  padding-left: 10px;
  color: #666;
}
.detailsbox .data_mar {
  margin-left: 40px;
}
.detailsbox .Row {
  height: 40px;
  border-bottom: 1px solid #efefef;
}
