@import '../../../sprite/easyPricing/Popups/sprite.less';
.accessories_box{
    width: 980px;
    margin:0 auto;

    border: 1px solid #e1e1e1;
    border-bottom: none;
    border-right: none;
    font-size: 12px;
    background-color: #000;
    li{
        border-bottom: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
        text-align: center;
        height: 36px;
        line-height: 36px;

    }
    .access_tit{
        background-color: #f7f7f7;
        color: #333333;

    }
    .access_data{
        background-color: #fff;
        color: #666;
    }
    .numbering{
        width: 14.5%;
    }
    .specification{
        width: 25%;
    }
    .specification_zhi{
        padding-left: 2%;
        width: 23%;
        text-align: left;
    }
    .unit{
        width: 7.3%;
    }
    .weight{
        width: 11.2%;
    }
    .select_num{
        width: 15.5%;

    }
    .access_butt,.aft_butt{
        display: block;
        width: 100px;
        line-height: 24px;
        border:1px solid #dddddd;
        height: 24px;
        background-color:#f7f7f7;
        color:#333333;
        margin:5px auto;
    }
    .aft_butt{
        background-color: #00a2c9;
        border:1px solid #0284a4;
    }
    .confirm_bule{
        margin:6px 4px 0 26px;
        .sprite(@confirm_bule);
        .icon-easyPricing-Popups;
    }
    .confirm_white{
        margin:6px 4px 0 26px;
        .sprite(@confirm_white);
        .icon-easyPricing-Popups;
    }

}