@import '../../../sprite/easyPricing/Popups/sprite.less';
.accessories_box{
    width: 980px;
    margin:0 auto;

    border: 1px solid #e1e1e1;
    border-bottom: none;
    border-right: none;
    font-size: 12px;
    background-color: #000;
    li{
        border-bottom: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
        text-align: center;
        height: 36px;
        line-height: 36px;


    }
    .access_tit{
        background-color: #f7f7f7;
        color: #333333;

    }
    .access_data{
        background-color: #fff;
        color: #666;
    }
    //
    .numbering{
        width: 14.5%;
    }
    .specification{
        width: 25%;
    }
    .specification_zhi{
        padding-left: 2%;
        width: 23%;
        text-align: left;
    }
    .unit{
        width: 7.3%;
    }
    .weight{
        width: 11.2%;
    }
    .select_num{
        width: 15.5%;

    }
    //辅料查询


    //
    .ingredient{
        width: 10%;
    }
    .thickness{
        width: 6%;
    }
    .proportional{
        width: 8.1%;
    }
    .factory_nane{
        width: 10.3%;
    }
    //工厂报价

    //
    .origin{
        width: 12.2%;
    }
    .ing_name{
        width: 11.3%;
    }
    .price{
        color: #57acb1;
        font-weight: bold;
    }
    //易家纺库



    //
    .export_box{
        width: 32%;
    }
    .export_zhi{
        width: 30%;
        padding-left: 2%;
        text-align: left;

    }
    .code{
        width: 20%;
    }

    //出口税


    //

    .str_ing{
        width: 35%;
    }
    .str_thick{
        width: 15%;
    }
    .str_pro{
        width: 18.9%;
    }


     //易家纺精简库


    .access_butt,.aft_butt{
        display: block;
        width: 80px;
        line-height: 24px;
        border:1px solid #dddddd;
        height: 24px;
        background-color:#f7f7f7;
        color:#333333;
        margin:5px auto;
    }
    .aft_butt{
        background-color: #00a2c9;
        border:1px solid #0284a4;
    }
    .confirm_bule{
        margin:6px 4px 0 16px;
        .sprite(@confirm_bule);
        .icon-easyPricing-Popups;
    }
    .confirm_white{
        margin:6px 4px 0 16px;
        .sprite(@confirm_white);
        .icon-easyPricing-Popups;
    }

}