@import '../../../dev/mixins/mixins.less';

@import '../../../sprite/easyPricing/pricing/sprite.less';
.result{
    width: 998px;
    margin: 0 auto;
    line-height: 40px;
    border:1px solid #efefef;
    border-bottom: none;
    background-color: #fff;
    .res_tit{
        width: 140px;
        color:#333;
        padding-left: 10px;
    }
    .res_con{
        width: 838px;
        padding-left: 10px;
        color: #666;
    }
    .data_mar{
        margin-left: 40px;
    }
    .Row{
         height: 40px;
        border-bottom: 1px solid #efefef;
    }

    p.title{
    margin: 0 10px;
    line-height: 52px;
    height:52px;
    font-size: 16px;
    background-image: url("/images/production/easyPricing/pricing/grayline.png");
    background-repeat: repeat-x;
    background-position: bottom;
    a{
      color: #666;
      padding: 0 10px;
      margin-right: 20px;
    }
    .cur,.herfa:hover{
      color: #3ca1d7;
      border-bottom: 2px solid #3ca1d7;
    }
    span.btn_close{
      margin-top: 15px;
      cursor: pointer;
      .sprite(@btn_close);
      .icon-easyPricing-pricing;
    }
  }
}