
@import '../../../sprite/easydata/buyerEva/sprite.less';

@import '../../../dev/mixins/mixins.less';

.Sequence_box
{
    line-height: 20px;

    width: 1200px;
    margin: 0 auto;
    margin-top: 37px;
    padding-bottom: 12px;

    border-bottom: 1px solid #ccc;
    .Ranking,
    .current,
    .Sequence:hover
    {
        color: #ff6700;
    }
    .Ranking,
    .Sequence,
    .current
    {
        margin: 0 20px;
    }
    .Ranking
    {
        padding-right: 15px;

        border-right: 1px solid #ccc;
    }
    .Sequence
    {
        color: #888;
        i
        {
            margin-top: 5px;
            margin-left: 7px;

            .sprite(@icon_Sequence);
            .icon-easydata-buyerEva;
            .fixIe6pngTransparent('/images/icon/easydata/buyerEva/icon_Sequence.png');
        }
    }
    .current,
    .Sequence:hover
    {
        i
        {
            margin-top: 5px;
            margin-left: 7px;

            .sprite(@icon_Sequence_Orange);
            .icon-easydata-buyerEva;
            .fixIe6pngTransparent('/images/icon/easydata/buyerEva/icon_Sequence_Orange.png');
        }
    }
}
