.icon-yituangou-Registerandlogin {
  background-image: url("/images/production/yituangou/Registerandlogin/sprite-yituangou-Registerandlogin.PNG");
}
.width-body {
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
}
.zhuce-logo a {
  margin: 16px 0 18px 8px;
  display: block;
}
.zhuce-yonghu a {
  float: left;
  font-size: 16px;
}
.zhuce-yonghu a span {
  margin-top: 12px;
  float: left;
}
.zhuce-yonghu a .icon-yituangou-Registerandlogin {
  margin-left: 253px;
  margin-right: 10px;
}
.zhuce-yonghu .dang-hong {
  color: #fff;
  background-position: -4px -240px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 595px;
  height: 49px;
}
.zhuce-yonghu .geren-bai {
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 18px;
  height: 17px;
}
.zhuce-yonghu .geren-hui {
  background-position: -4px -29px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 18px;
  height: 17px;
}
.zhuce-yonghu .dang-hui {
  color: #333;
  background-position: -4px -297px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 595px;
  height: 49px;
}
.zhuce-yonghu .qiye-hui {
  background-position: -4px -79px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 17px;
  height: 17px;
}
.zhuce-yonghu .qiye-bai {
  background-position: -4px -54px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 17px;
  height: 17px;
}
.zhuce-jindutiao {
  width: 906px;
  margin: 0 auto;
}
.zhuce-jindutiao p {
  float: left;
  text-align: center;
  color: #e5e5e5;
}
.zhuce-jindutiao p span {
  padding-top: 3px;
}
.zhuce-jindutiao .hongtiao {
  background-position: -4px -104px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 302px;
  height: 26px;
}
.zhuce-jindutiao .huitiao {
  background-position: -4px -172px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 302px;
  height: 26px;
}
.zhuce-jindutiao .hongyuan {
  background-position: -4px -138px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 302px;
  height: 26px;
}
.zhuce-jindutiao .huiyuan {
  background-position: -4px -206px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 302px;
  height: 26px;
}
.zhuce-wenzi {
  width: 906px;
  margin: 0 auto;
}
.zhuce-wenzi p {
  float: left;
  text-align: center;
  width: 302px;
  color: #cccccc;
  margin-top: 6px;
}
.zhuce-wenzi .dangqian {
  color: #c30d23;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.wrapweizhi {
  margin-top: 30px;
  margin-left: 10px;
}
.zhuchu_shengfengweizhi {
  margin-top: 8px;
}
.zhuchu_shengfengweizhi2 {
  margin-top: 12px;
}
.zhuti {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 13px;
  vertical-align: middle;
}
#wrap {
  font-size: 14px;
  color: #666666;
  line-height: 16px;
}
#wrap label {
  cursor: pointer;
}
#wrap .shuru {
  line-height: 16px;
  margin-left: 24px;
  margin-right: 10px;
}
#wrap .clear {
  line-height: 0;
  display: block;
  clear: both;
  height: 0;
}
#wrap label.radio .holder {
  height: 62px;
  background: url("/images/production/yijingjia/radio.gif") 0 -1px no-repeat;
}
#wrap label.checked .holder {
  top: -42px !important;
}
#wrap label.checked:hover .holder {
  top: -42px !important;
}
#wrap label.list {
  float: left;
  clear: left;
  margin: 0 0 5px 0;
}
#wrap label.inline {
  float: left;
  margin: 0 10px 0 22px;
}
#wrap input.hiddenCheckbox {
  position: absolute;
  left: -10000px;
}
#wrap label.prettyCheckbox .holderWrap {
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
  margin-right: 5px;
}
#wrap label.prettyCheckbox .holder {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.icon-yituangou-head {
  background-image: url("/images/production/yituangou/head/sprite-yituangou-head.PNG");
}
.top-log-frame {
  width: 100%;
  background-color: #fff;
}
.top-log {
  font-family: '宋体';
  font-size: 13px;
  line-height: 40px;
  width: 1190px;
  margin: 0 auto;
}
.top-log .top-left {
  float: left;
  color: #888;
}
.top-log .top-right {
  float: right;
}
.top-log .top-right .top-nav,
.top-log .top-right .spacer {
  float: left;
}
.top-log .top-right .a-color {
  color: #333;
}
.top-log .top-right .a-color:hover {
  color: #d30f26;
}
.top-log .top-right .red-color {
  color: #d30f26;
}
.top-log .top-right .spacer {
  width: 1px;
  height: 13px;
  margin: 0 20px;
  margin-top: 14px;
  background-color: #555;
}
.top-log .top-right .margin-right {
  margin-right: 6px;
}
.top-log .top-right .ShoppingCart {
  float: left;
  margin-top: 10px;
  margin-right: 4px;
  background-position: -4px -64px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
}
/*top-log*/
.drop-down-BOX span {
  float: left;
}
.drop-down-BOX .drop-down {
  margin-top: 18px;
  margin-left: 6px;
  background-position: -4px -15px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 6px;
  height: 3px;
}
.drop-down-BOX:hover .drop-down {
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 6px;
  height: 3px;
}
.zhuce-jin {
  margin-top: 37px;
  margin-bottom: 43px;
}
.gerrenyouhu2_box {
  width: 906px;
  margin: 0 auto;
}
.gerrenyouhu2_box .gerenyonghu_buttstyle {
  font-size: 16px;
  display: block;
  width: 144px;
  height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox {
  float: left;
  width: 678px;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox .gerrenyouhu2_contentsbox dt {
  font-size: 16px;
  font-weight: bold;
  color: #565656;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox .gerrenyouhu2_contentsbox dt span {
  font-size: 14px;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox .gerrenyouhu2_contentsbox .dt_ju {
  margin-top: 20px;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox .gerrenyouhu2_contentsbox dd {
  line-height: 38px;
  margin-top: 15px;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox .gerrenyouhu2_contentsbox dd .ipnut_time {
  width: 148px;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox .gerrenyouhu2_contentsbox dd .time_zhi {
  float: left;
  margin: 0 6px 0 6px;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox .gerrenyouhu2_contentsbox dd .tianjiajingli {
  line-height: 32px;
  float: left;
  clear: left;
  width: 112px;
  margin-top: 15px;
  margin-left: 100px;
  text-align: center;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ccc;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox .gerrenyouhu2_contentsbox dd .butt_xiayibu {
  float: left;
  margin-top: 20px;
  margin-left: 100px;
  text-align: center;
  color: #fff;
  background-color: #ccc;
  _margin-left: 50px;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox .gerrenyouhu2_contentsbox dd .butt_wangcheng {
  margin-left: 38px;
  background-color: #c30d23;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox .gerrenyouhu2_contentsbox dd .diquxiala {
  width: 188px;
  height: 38px;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox .gerrenyouhu2_contentsbox dd .contents_mingz {
  font-size: 14px;
  float: left;
  width: 80px;
  margin-right: 20px;
  text-align: right;
  color: #565656;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox .gerrenyouhu2_contentsbox dd .contents_mingz .xing {
  margin-right: 4px;
  vertical-align: middle;
  color: #c30d23;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox .gerrenyouhu2_contentsbox dd .input_fl {
  float: left;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox .gerrenyouhu2_contentsbox dd .input_yanshi {
  line-height: 36px;
  float: left;
  height: 36px;
  color: #c9c9c9;
  border: 1px solid #d6d6d6;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox .gerrenyouhu2_contentsbox dd .input_kuang {
  width: 324px;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox .gerrenyouhu2_contentsbox dd .yanzhengtishi {
  font-size: 12px;
  line-height: 38px;
  float: left;
  height: 38px;
  padding-left: 10px;
  color: #b2b2b2;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox .gerrenyouhu2_contentsbox dd .yanzhengtishi img {
  float: left;
  margin-top: 10px;
  margin-right: 6px;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox .gerrenyouhu2_contentsbox dd .yanzhengtishi p {
  float: left;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox .gerrenyouhu2_contentsbox dd .qiyeleixing {
  line-height: 24px;
  float: left;
  padding-top: 8px;
  padding-bottom: 6px;
  _padding-top: 10px;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox .gerrenyouhu2_contentsbox dd .qiyeleixing input {
  float: none;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
}
.gerrenyouhu2_box .gerrenyouhu2_leftbox .gerrenyouhu2_contentsbox dd .qiyeleixing .input_leftjuli {
  margin-left: 10px;
}
.gerrenyouhu2_box .gerrenyouhu2_rightbox {
  float: right;
  width: 208px;
}
.gerrenyouhu2_box .gerrenyouhu2_rightbox .yishihuiyuan {
  font-size: 16px;
  margin-top: 114px;
  color: #4f4f4f;
}
.gerrenyouhu2_box .gerrenyouhu2_rightbox .butt_liji {
  line-height: 38px;
  margin-top: 12px;
  text-align: center;
  color: #fff;
  background-color: #c30d23;
}
.gerrenyouhu2_box .gerrenyouhu2_rightbox p {
  font-size: 14px;
  line-height: 16px;
  margin-top: 8px;
  color: #565656;
}
.gerrenyouhu2_box .gerrenyouhu2_rightbox p span {
  margin-right: 4px;
  vertical-align: middle;
  color: #c30d23;
}
.gerrenyouhu2_box .gerrenyouhu2_rightbox .p_clolr {
  color: #c30d23;
}
