@browse: -4px -4px 20px 11px;
@jia: -4px -23px 15px 15px;
@icon-sina: -4px -46px 16px 16px;
@icon-qq: -4px -70px 16px 16px;
@icon-linkedin: -4px -94px 16px 16px;
@weizhi: -4px -118px 11px 17px;
@dianzang_oga: -4px -143px 20px 20px;
@dianzang: -4px -171px 20px 20px;
@videobai: -4px -199px 20px 20px;
@videohui: -4px -227px 20px 20px;
@titlelf: -4px -255px 24px 24px;
@titlerg: -4px -287px 24px 24px;
@morepng: -4px -319px 74px 26px;
@foot_qq: -4px -353px 30px 30px;
@foot_Wechat: -4px -391px 30px 30px;
@realScene: -4px -429px 194px 36px;
@vrScene: -4px -473px 194px 36px;
@download: -4px -517px 122px 36px;
@selectFabricTop: -4px -561px 122px 36px;
@rightjiantou: -4px -605px 20px 40px;
@leftjiantou: -4px -653px 20px 40px;
@number-footer: -4px -701px 199px 62px;
@computer: -4px -771px 77px 65px;
@search: -4px -844px 68px 68px;
@moreimg: -4px -920px 68px 68px;
@video_icobutt: -4px -996px 110px 110px;
@icon-code: -4px -1114px 96px 118px;
@sceneVS: -4px -1240px 120px 120px;
@video_icobutt2: -4px -1368px 124px 124px;
@selectFabricbg: -4px -1500px 122px 358px;
@video_comp: -4px -1866px 840px 492px;
.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}
.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}
.sprite(@sprite, @display: block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
.icon-easydesign {
  background-image: url("/images/production/easydesign/sprite-easydesign.PNG");
}