

@import '../../../../sprite/yituangou/Registerandlogin/sprite.less';

.zhuce-jindutiao{
	width:906px;
	margin: 0 auto;
	p{
		float: left;
		text-align: center;
		color: #e5e5e5;
		span{
			padding-top: 3px;
		}
	}
	.hongtiao
	{
	    .sprite(@zhuce-hongtiao);
	}
	.huitiao
	{
	    .sprite(@zhuce-huitiao);
	}
	.hongyuan
	{
	    .sprite(@zhuce-hongyuan);
	}
	.huiyuan
	{
	    .sprite(@zhuce-huiyuan);
	}

}


.zhuce-wenzi{
	width:906px;
	margin: 0 auto;
	p{
		float: left;
		text-align: center;
		width:302px;
		color: #cccccc;
		margin-top: 6px;
	}
	.dangqian{
		color:#c30d23;
	}
}