

@import '../../../../sprite/yituangou/Registerandlogin/sprite.less';

.width-body
{
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
}

.zhuce-logo{
	a{
		margin: 16px 0 18px 8px;
		display: block;
	}
}

.zhuce-yonghu{
	a{
		float: left;
		font-size: 16px;
		span{
			margin-top: 12px;
			float: left;
		}
			.icon-yituangou-Registerandlogin{
				margin-left: 253px;
				margin-right: 10px;
			}
	}

	.dang-hong{
		color:#fff;
		.sprite(@dang-hong);
	}
	.geren-bai{
		.sprite(@geren-bai);
	}
	.geren-hui{
		.sprite(@geren-hui);
	}
	.dang-hui{
		color:#333;
		.sprite(@dang-hui);
	}
	.qiye-hui{
		.sprite(@qiye-hui);
	}
	.qiye-bai{
		.sprite(@qiye-bai);
	}

}