@import '../../../../less/dev/mixins/mixins.less';
@import '../../../sprite/easydata/priceDet/sprite.less';
.tablebox{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
   .border-radius(4px);
   background-color: #fff;
  .table_cont{
    width: 1160px;
    margin: 0px auto 0 auto;
    padding-top: 30px;
  }
  .left_box{
    width: 562px;
  }

  //






  .tab_tit{
    font-size: 18px;
    color:#000;
  }
  .Margins{
    margin-top: 30px;

  }
 .tab_unit{
    font-size: 14px;
    line-height: 20px;
    color: #888;
  }
  //




  //
  .pricechangesbox01{
       border-left: 1px solid #cccccc;
    border-top:1px solid #cccccc;
    font-size: 14px;
    color:#333;
    line-height: 48px;
    width: 561px;
  }
  //**出口价格每年的月度变化
  .vertical{
    background-color: #f2f3f5;
    font-size: 16px;
  }
  .vert_data{
    font-size: 14px;
  }
  .vert_data:nth-child(odd){
    background: #f8f8f8;
  }
  .unitprice
  {
    text-align: center;
    border-right:  1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
  }

  .unitprice{
    width: 186px;
  }


}