
@import '../search/search.less';

@import '../list/list.less';

@import '../footer.less';

@import '2companyInfo.less';

@import '3unitprice.less';

@import '3searchAbroad.less';

@import 'japan/japan.less';

.main_box{
  width: 100%;
  background-color: #f2f3f5;
  padding-top: 20px;
}

.distance_top{
  margin-top: 112px;
}

// 距离上边20px
.mar_20{
  margin-top: 20px;
}

// 与版权的距离70px
.pad_bottom{
  padding-bottom: 70px;
}
