@browse: -4px -4px 20px 11px;
@dianzang: -4px -23px 20px 20px;
@dianzang_oga: -4px -51px 20px 20px;

.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite(@sprite, @display:block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

.icon-VIP-easydesign-detail {
  background-image: url('/images/production/VIP/easydesign/detail/sprite-VIP-easydesign-detail.png');
}
