.icon-VIP-common-account {
  background-image: url("/images/production/VIP/common/account/sprite-VIP-common-account.PNG");
}
.main_box {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 70px;
}
.mingxi {
  font-size: 24px;
  background-image: url('/images/production/VIP/common/account/title_line.png');
  background-repeat: repeat-x;
  background-position: bottom;
  margin: 0 20px;
}
.mingxi .current,
.mingxi .mingxi_a {
  margin-left: 40px;
  padding: 0 10px 10px 10px;
}
.mingxi .current,
.mingxi .mingxi_a:hover {
  color: #4a7bc4;
  border-bottom: 2px solid #4a7bc4;
}
.mingxi .mingxi_mar {
  margin-left: 0;
}
.a15box {
  font-size: 18px;
  width: 854px;
  margin-top: 40px;
  padding: 20px 0 60px 0;
  background-color: #fff;
}
.a15box .fangshibox {
  width: 794px;
  margin: 50px auto 0 auto;
}
.a15box .title_caozuo {
  font-size: 18px;
  line-height: 50px;
  width: 170px;
  text-align: right;
  color: #333;
}
.a15box .title_caozuo .txt_red {
  color: #fc2e2e;
}
.a15box .shurukaung,
.a15box .beizhu {
  line-height: 48px;
  width: 370px;
  height: 50px;
  padding-left: 10px;
  color: #bdbdbd;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
.a15box .beizhu {
  overflow: hidden;
  height: 100px;
  resize: none;
}
.a15box .onetop {
  margin-top: 40px;
}
.a15box .tongyongtop_00 {
  margin-top: 20px;
}
.a15box .tishi {
  font-size: 13px;
  margin-top: 6px;
  color: #888;
}
.a15box .tijiao {
  font-size: 18px;
  line-height: 40px;
  display: block;
  width: 104px;
  margin-top: 40px;
  margin-left: 172px;
  border: 0;
  text-align: center;
  color: #fff;
  background-color: #4a7bc4;
  border-radius: 3px;
}
.a15box .shangchuang {
  line-height: 48px;
  display: block;
  width: 112px;
  height: 48px;
  text-align: center;
  color: #38b5f8;
  border: 1px solid #38b5f8;
  border-radius: 3px;
}
.a15box .tuqinatishi {
  margin-left: 16px;
  font-size: 13px;
  color: #999999;
  line-height: 50px;
}
.input-tip {
  color: red;
  float: left;
  margin-left: 15px;
  line-height: 50px;
}
#num {
  position: relative;
  top: 0;
  left: 0;
}
#num .placeholder {
  position: absolute;
  top: 15px;
  left: 180px;
  font-size: 15px;
  color: #888;
}
