
.main_box{
  padding-bottom: 70px;
}

.detailsbox{
  width: 1160px;
  margin: 20px auto 0 auto;
  line-height: 40px;
  border:1px solid #efefef;
  border-bottom: none;
  background-color: #fff;
  padding: 0 20px;
  .res_tit{
    width: 140px;
    color:#333;
    padding-left: 10px;
  }
  .res_con{
    width: 838px;
    padding-left: 10px;
    color: #666;
  }
  .data_mar{
    margin-left: 40px;
  }
  .Row{
     height: 40px;
    border-bottom: 1px solid #efefef;
  }
}