
@import '../../../../dev/mixins/mixins.less';

.main_box
{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.rgbox{
  width: 854px;
}

// 右边搜索
.searchint
{
  margin-top: 40px;

  background-color: #fff;
  p.tit
  {
    font-size: 24px;
    line-height: 70px;

    margin-left: 20px;

    color: #333;
  }
}

// 右边列表
div.rg_list
{
  width: 854px;
  margin-top: 20px;

  background-color: #fff;
  ul.list_box{
    width: 715px;
    padding: 10px 0;
    li{
      margin-left: 20px;
      line-height: 36px;
      span.txt_gray{
        color: #333;
        font-size: 18px;
      }
      span.txt_orange{
        color: #f79226;
        font-size: 20px;
      }
    }
    li.list_one{
      width: 136px;
    }
    li.list_two{
      width: 167px;
    }
    li.list_three{
      width: 142px;
    }
    li.list_four{
      width: 190px;
    }
  }
}

