@import '../../../sprite/yijingjia/fuwushang/sprite.less';
.equity_box
{
    width: 263px;
    padding-bottom: 20px;
    border: 1px #d5d5d5 solid;
    .equity_Textstyle
    {
        line-height: 36px;

        text-align: center;
    }
    .equitu_title
    {
        font-size: 28px;
        font-weight: bold;

        padding-top: 14px;

        color: #c30e23;
    }
    .equitu_reason
    {
        font-size: 20px;

        color: #333;
    }
    li
    {
        margin-left: 20px;
        padding-top: 24px;
        .industry_picture_hangye
        {
            float: left;

            .sprite(@hangye);
        }
        .industry_picture_wangluo
        {
            float: left;

            .sprite(@wangluo);
        }
        .industry_picture_safety
        {
            float: left;

            .sprite(@anq);
        }
        .industry_picture_qian
        {
            float: left;

            .sprite(@qian);
        }
        .industry_textbox
        {
            float: left;

            padding-left: 20px;
            .industry_textjuli
            {
                margin-top: 4px;
            }
            .industry_text
            {
                font-size: 18px;
            }
        }
    }
}
