@import 'currentlocation';
@import '../tongyong/xinshoubangzhu.less';
@import '../chengpinbiaoshu/xiangqingqiehuan';
@import 'arrangment';
@import 'tenderlist';
@import 'netx_page';
@import 'equity';
@import 'subscription';


.personalcenter_box
{
    width: 1190px;
    margin: 0 auto;
    margin-top: 32px;
    .personalcenter_leftbox
    {
        float: left;

        width: 905px;
        .leftbox_classificationbox
        {
            width: 903px;

            border: 1px solid #d5d5d5;
            .classification_contents
            {
                margin-top: 20px;
                margin-left: 20px;
                a
                {
                    line-height: 24px;

                    float: left;

                    margin-right: 10px;
                    padding: 0 11px;

                    color: #333;
                }
                .contents_title
                {
                    font-weight: bold;

                    color: #888;
                }
                .contents_kongjian
                {
                    margin-right: 20px;
                }
                .contente_current,.contents_kongjian:hover
                {
                    color: #fff;
                    background-color: #c30e23;
                }
            }
            .classification_spacing
            {
                margin-top: 36px;
                padding-bottom: 32px;
            }
        }
        .business_box
        {
            width: 903px;

            border: 1px solid #d6d6d6;
            .business_contentsbox
            {
                line-height: 24px;

                width: 865px;
                margin: 0 auto;
                h1
                {
                    font-size: 18px;
                    font-weight: bold;

                    margin-top: 25px;
                    padding-bottom: 13px;

                    color: #333;
                    border-bottom: 1px solid #e6e6e6;
                }
                .contents_juli
                {
                    margin-top: 15px;
                    margin-bottom: 25px;
                }
                .contents_logo
                {
                    float: left;
                }
                .contents_Introductionbox
                {
                    font-size: 14px;

                    float: left;

                    margin-left: 20px;
                    .contents_titlewenzhi
                    {
                        font-weight: bold;

                        margin-right: 16px;

                        color: #333;
                    }
                    .Introduction_informationbox
                    {
                        width: 688px;
                        .information_jianjieleft
                        {
                            margin-left: 34px;
                        }
                        .information_jianjieleft:hover
                        {
                            color:#c30d23;
                        }
                    }
                    .Introduction_area
                    {
                        margin-top: 8px;
                        li
                        {
                            float: left;

                            margin-right: 0;
                        }
                        .li_weiz
                        {
                            margin-left: 16px;
                        }
                    }
                    .Introduction_identity
                    {
                        margin-top: 8px;
                        li
                        {
                            float: left;
                        }
                        .li_gongyingshang
                        {
                            line-height: 22px;

                            padding: 0 7px 0 7px;

                            color: #c30d23;
                            border: 1px solid #c30d23;
                        }
                    }
                    .Introduction_statistics
                    {
                        margin-top: 8px;
                        li
                        {
                            float: left;

                            margin-right: 40px;

                            color: #333;
                            span
                            {
                                margin: 0 4px;

                                color: #4461f2;
                            }
                        }
                    }
                }
            }
        }
    }
    .personalcenter_rightbox
    {
        float: right;

        width: 265px;
    }
    .wode-biaoshu
    {
        width: 903px;
        margin-top: 20px;

        border: 1px solid #d6d6d6;
        border-top: none;
    }
}
