.tenderlistbox
{
    margin: 0 auto;
    width: 864px;
    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: 1px dashed #b2b2b2;
    .tenderlist_contentsbox
    {
        width: 100%;
        .tenderlist_logobox
        {
            float: left;

            width: 79px;
            height: 79px;

            border: 1px solid #d6d6d6;
            .logobox_within
            {
                width: 69px;
                height: 69px;
                margin: auto auto auto auto;
                margin-top: 5px;
            }
        }
        .tenderlist_contents
        {
            float: left;
            *width: 638px;
            margin-left: 14px;
            .contents_tendernumber
            {
                .tendernumber_title
                {
                    line-height: 20px;

                    float: left;

                    color: #fff;
                    background-color: #ff9600;
                    padding:0 12px 0 12px;
                }
                .tendernumber_number
                {
                    line-height: 18px;

                    float: left;

                    color: #323232;
                    border: 1px solid #ff9600;
                     padding:0 6px 0 12px;
                }
                .tendernumber_name{
                	float: left;
                	font-size: 18px;
                	color:#333;
                	line-height: 20px;
                	padding-left: 10px;

                }
                .tendernumber_name01:hover{
                    color:#c30e23;
                }
            }
            ul{
            	padding-top: 13px;
            	width: 638px;
            	li{
            		width: 25%;
            		float: left;
            		color:#888;
            		*width:159px;
            	}
            	.li_max{
            		width: 50%;
            		*width:318px;
            	}
            }
        }
        .tenderlist_buttbox{
        	float: left;
        	.butt_style{

        		margin-left: 4px;
        		width: 122px;
        		height: 40px;
        		border: 0;
        		color:#fff;
        		font-size: 18px;
        		margin-top: 16px;
        	}
        	.butt_color{
        		background-color: #c30e23;
        	}
        	.butt_weizhi{
        		background-color: #b4b4b4;
        	}
        	p{
        		padding-top: 8px;
        		font-size: 13px;

        	}
        }
        
    }
}
