@import 'currentlocation';
@import 'arrangment';
@import 'business';
@import 'netx_page';
@import 'equity';
@import 'subscription';
@import '../tongyong/xinshoubangzhu.less';
.zhaofuwushangbox{
	width: 1190px;
	margin:0 auto;
	    margin-top: 32px;
	    .zhaofuwushangbox_leftbox{
	    	float: left;
	    	width: 905px;
	    	.fuwushang_classificationbox{
	    		border: 1px solid #d6d6d6;
	    		padding-top: 18px;
	    		padding-left: 20px;
	    		padding-bottom: 18px;
	    		font-size: 14px;
	    		color:#333;
	    		.fuwushang_classification{
	    			a{
	    				float: left;
	    				line-height: 24px;
	    				padding: 0 10px;
	    				margin-right: 4px;
	    				color:#333;
	    			}
	    			.shengfeng_color,.shengfeng_weizhi:hover{
	    				background-color: #c40e24;
	    				color:#fff;
	    			}
	    			.shengfeng_weizhi{
	    				margin-right: 20px;
	    			}
	    		}
	    	}
	    }
	    .zhaofuwushangbox_right{
	    	float: right;
	    	width: 265px;

	    }

}