body{
  font-size: 14px;
  background-color: #fff;
  min-height: 800px;
}

.wolkbg {
    width: 1200px;
    margin: 50px auto;
}

.designlist {
    width: 922px;
}

.dd3 {
    padding: 15px 0 50px 0;
}

.dd3 p{
    padding: 0 25px;
}

.dd3 ul.honor li {
    height: 165px;
}

.dd3 ul.honor li div {
    width: 200px;
    display: block;
    text-align: center;
}

.dd3 ul.honor li div img{
    display: inline-block;
}


.dd3 ul.report li {
    width: 730px;
    margin-left: 20px;
}

.dd3 ul.intelligence li {
    margin: 15px;
}

 .ssrg2 a {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #eee;
    color: #7c7c7c;
    display: block;
    height: 36px;
    line-height: 36px;
    margin: 0px;
    padding-left: 17px;
}
