body{
  font-size: 14px;
}

.wolkbg {
    width: 1200px;
    margin: 50px auto;
}

.designlist {
    width: 922px;
}

.dd3 {
    padding: 15px 0 50px 0;
}

.dd3 ul.honor li {
    height: 165px;
}

.dd3 ul.honor li div {
    width: 200px;
    display: block;
    text-align: center;
}

.dd3 ul.honor li div img{
    display: inline-block;
}


.dd3 ul.report li {
    width: 730px;
    margin-left: 20px;
}