
@import '../../../dev/mixins/mixins.less';

@import '../../../sprite/easysofthome/helpCenter/sprite.less';

.AboutUs-box{
  width: 100%;
  background-color: #f9f9f9;
  margin-top: 112px;
  padding-bottom: 70px;
}


// 定位链接
.title-box{
  width: 1200px;
  margin: 0 auto;
  line-height: 50px;
  a.link{
    color: #333;
    &:hover{
      text-decoration: underline;
    }
  }
  i{
    padding: 0 5px;
  }
}


// 主要内容
.AboutUs-main{
  width: 1200px;
  margin: 0 auto;
  border: #ddd 1px solid;
  background-color: #fff;
}

// 左边导航
ul.AboutUs-L{
  width: 260px;
  background-color: #ebebeb;
  li.nav-L{
    height: 46px;
    line-height: 46px;
    a{
      color: #333;
      display: block;
      margin-left: 20px;
      padding-left: 30px;
      &:hover{
        background-color: #fff;
      }
    }
  }
  li.cur{
    a{
      color: #ea5404;
      background-color: #fff;
    }
  }
}


// 右边内容
.AboutUs-R{
  width: 840px;
  padding: 30px 60px 60px 40px;
  .tab{
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
    color: #333;
    .tit{
      font-size: 16px;
      line-height: 26px;
    }
  }

  // 关于易家纺
  .text-content{
    margin-bottom: 20px;
    line-height: 30px;
    .tit{
      color: #333;
      text-indent: 2em;
      font-weight: bold;
      margin-top: 20px;
    }
    .retract{
      text-indent: 2em;
    }
    .margintop{
      margin-top: 20px;
    }
  }

  // 公司资质
  .honor-box{
    .honor{
      margin-top: 30px;
      width: 280px;
      text-align: center;
      img{
        display: inline-block;
      }
      p{
        display: inline-block;
        line-height: 30px;
      }
    }
  }

  // 知识产权
  .Intelligence-box{
    .Intelligence{
      margin-top: 30px;
      width: 210px;
      text-align: center;
      img{
        display: inline-block;
      }
      p{
        display: inline-block;
        line-height: 30px;
      }
    }
  }

  // 媒体报道
  .Report-box{
    .Report{
      line-height: 20px;
      margin-top: 30px;
    }
    .icon{
      width: 40px;
      color: #fff;
      margin-right: 5px;
      height: 20px;
      text-align: center;
    }
    .orange{
      background-image: url("/images/original/easysofthome/AboutUs/orange.png");
      background-repeat: no-repeat;
    }
    .gray{
      background: none;
      color: #999;
    }

    .news-title{
      width: 450px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      vertical-align: top;
      margin-right: 40px;
      a{
        color: #333;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}