

@import '../../dev/globalImp';



@width:1000px;
@border:solid 1px #dfdfdf;
@color:#00a2c9;
@color-o:#ea5504;



dl{padding:0;}

img
{
	border:none;
}


.suppliers
{
	width:@width;
	margin:0 auto;
	margin-top:22px;
	.suppliers-top
	{
		border:@border;
		line-height:32px;
		overflow:hidden;
		.suppliers-top-left
		{
			float:left;
			img
			{
				padding-right:10px;
			}
			a
			{
				color:#666666;
			}
			a:hover
			{
				color:#fd650b;
			}
		}
		.suppliers-top-right
		{
			float:right;
			.rig
			{
				padding-right:5px;
			}
			a
			{
				color:#666666;
			}
			a:hover
			{
				color:#fd650b;
			}
		}
	}
	
	
	.suppliers-company
	{
		width:@width;
		margin:0 auto;
		margin-top:10px;
		.suppliers-company-top
		{
			width:150px;
			line-height:38px;
			color:#fff;
			font-size:16px;
			background-color:@color;
			text-align:center;
		}
		.suppliers-company-bottom
		{
			border:@border;
			border-top:3px solid @color;
			overflow:hidden;
			span
			{
				color:@color;
				float:left;
				line-height:22px;
				margin-left:18px;
				padding-top:12px;
				padding-bottom:7px;
				a
				{
					color:#999;	
				}
			}
			.suppliers-company-bottom-rig
			{
				float:right;
				margin-right:18px;
				margin-top:20px;
				overflow:hidden;
				.dianhua:hover,
				.baidu:hover
				{
					background-color:@color;
				}
				.dianhua a:hover
				{
					color:#fff;
				}
				.dianhua
				{
					float:right;
					border:@border;
					margin-right:10px;
					cursor:pointer;
					a
					{
						color:#323232;
						margin-right:9px;
						margin-left:4px;
						line-height:23px;
						img
						{
							margin-right:5px;
						}
					}
				}
				.baidu
				{
					float:right;
					border:@border;
					cursor:pointer;
					img
					{
						padding-top:3px;
						padding-bottom:3px;
						padding-left:9px;
						padding-right:16px;
					}
				}
			}
		}
	}
	
	
	.suppliers-evaluation
	{
		width:@width;
		margin:0 auto;
		line-height:38px;
		color:#323232;
		font-size:18px;
	}
	
	
	.suppliers-details
	{
		width:@width;
		border:@border;
		margin:0 auto;
		.suppliers-details-top
		{
			border-bottom:@border;
			line-height:32px;
			overflow:hidden;
			.suppliers-details-top-left
			{
				width:135px;
				float:left;
				text-align:right;
				padding-top:17px;
				padding-bottom:10px;
				span
				{
					color:#ff2626;
				}
			}
			.suppliers-details-top-right
			{
				float:left;
				padding-top:17px;
				padding-bottom:10px;
				margin-left:5px;
				.reminder
				{
					color:@color-o;
					margin-left:10px;
				}
				.text-a1
				{
					width:175px;
					height:22px;
					border:@border;
				}
				.but-a1,
				.but-a2
				{
					width:70px;
					height:24px;
					background-color:@color;
					border:none;
					.border-radius(5px);
				}
				.but-a2
				{
					margin-left:14px;
					margin-right:26px;
				}
				.radio-a1
				{
					margin-right:6px;
					vertical-align:middle;
				}
				.hui
				{
					color:#a5a5a5;
				}
			}
		}
		
		.suppliers-details-conter
		{
			border-bottom:@border;
			overflow:hidden;
			width:1000px;
			.p-a1
			{
				line-height:52px;
				margin-left:20px;
				color:#323232;
				font-size:16px;
			}
			.suppliers-details-conter-left
			{
				border-right:@border;
			}
			.suppliers-details-conter-left,
			.suppliers-details-conter-right
			{
				width:498px;
				float:left;
				.span-a1
				{
					display:block;
					margin-left:40px;
					padding-bottom:8px;
					font-size:14px;
				}
				.kuang
				{
					width:420px;
					border-top:@border;
					margin:0 auto;
					line-height:30px;
					p
					{
						margin-left:25px;
						padding-top:14px;
						padding-bottom:20px;
						.radio-a3
						{
							float:left;
							margin-top:10px;
							margin-right:8px;
						}
						a
						{
							float:left;
						}
					}
				}
			}
		}
		
		.suppliers-details-bottom
		{
			.p-a2
			{
				line-height:52px;
				margin-left:20px;
				color:#323232;
				font-size:16px;
			}
			.fie-a1
			{
				width:918px;
				margin:0 auto;
				height:134px;
				display:block;
				border:@border;
				margin-bottom:20px;
			}
		}
		
	}
	
	
	.present
	{
		width:@width;
		margin:0 auto;
		margin-top:30px;
		.sub-a1
		{
			display:block;
			width:205px;
			line-height:40px;
			color:#fff;
			font-size:14px;	
			margin:0 auto;
			border:none;
			background-color:@color;
			.border-radius(5px);
		}
	}
	
}


