.icon-yijingjia-fuwushang {
  background-image: url("/images/production/yijingjia/fuwushang/sprite-yijingjia-fuwushang.PNG");
}
.arrangmentbox_qubiankuan {
  border: 1px solid #d5d5d5;
  border-top: none;
}
.arrangmentbox {
  width: 903px;
}
.arrangmentbox .arrangment_withinbox {
  width: 862px;
  margin: 0 auto 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.arrangmentbox .arrangment_withinbox .within_way a {
  line-height: 28px;
  float: left;
  padding: 0 16px;
  color: #535353;
  border: 1px solid #d5d5d5;
  background-color: #ececec;
}
.arrangmentbox .arrangment_withinbox .within_way a span {
  float: left;
}
.arrangmentbox .arrangment_withinbox .within_way a .sequence_img {
  float: left;
  margin-top: 10px;
  margin-left: 6px;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 9px;
  height: 9px;
}
.arrangmentbox .arrangment_withinbox .within_way .li_color {
  background-color: #fff;
}
.arrangmentbox .arrangment_withinbox .within_way .li_leftborder {
  border-left: none;
}
.arrangmentbox .arrangment_withinbox .within_way .li_zhonghejuli {
  padding: 0 18px;
}
.arrangmentbox .arrangment_withinbox .within_searchbox {
  float: left;
  width: 152px;
  margin-left: 20px;
}
.arrangmentbox .arrangment_withinbox .within_searchbox .search_left {
  float: left;
  width: 121px;
  border: 1px solid #d5d5d5;
  border-right: none;
}
.arrangmentbox .arrangment_withinbox .within_searchbox .search_left input {
  line-height: 28px;
  width: 121px;
  height: 28px;
  color: #cacaca;
  border: 0;
  border: none;
  *height: 26px;
}
.arrangmentbox .arrangment_withinbox .within_searchbox .search_right {
  float: left;
  width: 28px;
  height: 28px;
  border: 1px solid #d5d5d5;
}
.arrangmentbox .arrangment_withinbox .within_searchbox .search_right .right_img {
  margin: 5px;
  background-position: -4px -141px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 18px;
  height: 18px;
}
.arrangmentbox .arrangment_withinbox .within_buttbox {
  float: right;
}
.arrangmentbox .arrangment_withinbox .within_buttbox .butt {
  line-height: 28px;
  display: block;
  float: left;
  width: 83px;
  height: 28px;
  text-align: center;
  color: #333;
  border: 1px solid #d5d5d5;
}
.arrangmentbox .arrangment_withinbox .within_buttbox .butt_juli {
  margin-left: 3px;
}
.arrangmentbox .arrangment_withinbox .within_buttbox .butt_color {
  color: #bbb;
}
