.icon-yijingjia-fuwushang {
  background-image: url("/images/production/yijingjia/fuwushang/sprite-yijingjia-fuwushang.PNG");
}
.businessbox {
  margin-top: 20px;
  font-size: 14px;
  width: 903px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #d6d6d6;
}
.businessbox .business_logo {
  float: left;
  margin: 0 14px 0 20px;
  _margin-left: 10px;
}
.businessbox .business_information {
  float: left;
  margin-top: 6px;
}
.businessbox .business_information .information_titlebox {
  _width: 512px;
}
.businessbox .business_information .information_titlebox .titlebox_title {
  font-size: 16px;
  font-weight: bold;
  float: left;
  color: #132b88;
}
.businessbox .business_information .information_titlebox .title_credit {
  float: left;
  padding-top: 2px;
  padding-left: 20px;
}
.businessbox .business_information .information_titlebox .title_credit li {
  float: left;
  padding-left: 10px;
  background-position: -4px -116px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 18px;
  height: 17px;
}
.businessbox .business_information .information_titlebox .title_credit .li_starhui {
  float: left;
  padding-left: 10px;
  background-position: -4px -91px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 18px;
  height: 17px;
}
.businessbox .business_information .information_detailbox {
  width: 512px;
  margin-top: 10px;
}
.businessbox .business_information .information_detailbox .detail_contents {
  float: left;
  color: #666;
}
.businessbox .business_information .information_detailbox .detail_butt {
  float: right;
  color: #333;
}
.businessbox .business_information .information_detailbox .detail_butt:hover {
  color: #c30d23;
}
.businessbox .business_information .information_operatingbox {
  width: 512px;
  padding-top: 12px;
}
.businessbox .business_information .information_operatingbox .operating_ldentity {
  line-height: 22px;
  float: left;
  padding-right: 8px;
  padding-left: 8px;
  color: #c30d23;
  border: 1px solid #c30d23;
}
.businessbox .business_information .information_operatingbox .operating_record {
  float: right;
}
.businessbox .business_information .information_operatingbox .operating_record li {
  line-height: 24px;
  float: left;
}
.businessbox .business_information .information_operatingbox .operating_record li span {
  color: #c30d23;
}
.businessbox .business_information .information_operatingbox .operating_record .juli {
  margin: 0 14px 0 14px;
}
.businessbox .ibusiness_buttbox {
  float: left;
  margin-left: 70px;
  padding-top: 20px;
}
.businessbox .ibusiness_buttbox .butt_join {
  width: 152px;
  height: 30px;
  border: 1px solid #efd88f;
  background-color: #ffeeba;
}
.businessbox .ibusiness_buttbox .butt_join .join_img {
  float: left;
  margin: 6px 6px 0 26px;
  background-position: -4px -167px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 22px;
  height: 18px;
  _margin-left: 13px;
}
.businessbox .ibusiness_buttbox .butt_join a {
  line-height: 28px;
  color: #947e3d;
}
.businessbox .ibusiness_buttbox .butt_style {
  width: 70px;
  height: 26px;
  margin-top: 10px;
  border: 1px solid #d0d0d0;
  background-color: #eee;
}
.businessbox .ibusiness_buttbox a {
  line-height: 24px;
  float: left;
  color: #a6a6a6;
}
.businessbox .ibusiness_buttbox .butt_imgstyle {
  float: left;
  margin: 7px 4px 0 7px;
  _margin-left: 3.5px;
}
.businessbox .ibusiness_buttbox .butt_collect {
  float: left;
}
.businessbox .ibusiness_buttbox .butt_collect .collect_img {
  background-position: -4px -73px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 10px;
  height: 10px;
}
.businessbox .ibusiness_buttbox .butt_contact {
  float: left;
  margin-left: 10px;
}
.businessbox .ibusiness_buttbox .butt_contact .contact_img {
  background-position: -4px -55px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 10px;
  height: 10px;
}
