.current_locationbox {
  width: 1188px;
  border: 1px solid #d6d6d6;
  margin: 0 auto 0 auto;
  padding-bottom: 17px;
}
.current_locationbox .current_location {
  color: #333;
  font-size: 14px;
  margin: 17px 0 0 20px;
}
.current_locationbox .current_location li {
  float: left;
}
.current_locationbox .current_location .location_juli {
  margin: 0 6px;
}
.current_locationbox .current_location a {
  color: #333;
}
.current_locationbox .current_location a:hover {
  color: #c30d23;
}
