.icon-yijingjia-fuwushang {
  background-image: url("/images/production/yijingjia/fuwushang/sprite-yijingjia-fuwushang.PNG");
}
.equity_box {
  width: 263px;
  padding-bottom: 20px;
  border: 1px #d5d5d5 solid;
}
.equity_box .equity_Textstyle {
  line-height: 36px;
  text-align: center;
}
.equity_box .equitu_title {
  font-size: 28px;
  font-weight: bold;
  padding-top: 14px;
  color: #c30e23;
}
.equity_box .equitu_reason {
  font-size: 20px;
  color: #333;
}
.equity_box li {
  margin-left: 20px;
  padding-top: 24px;
}
.equity_box li .industry_picture_hangye {
  float: left;
  background-position: -4px -193px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 50px;
  height: 40px;
}
.equity_box li .industry_picture_wangluo {
  float: left;
  background-position: -4px -241px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 50px;
  height: 47px;
}
.equity_box li .industry_picture_safety {
  float: left;
  background-position: -4px -296px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 50px;
  height: 50px;
}
.equity_box li .industry_picture_qian {
  float: left;
  background-position: -4px -354px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 51px;
  height: 57px;
}
.equity_box li .industry_textbox {
  float: left;
  padding-left: 20px;
}
.equity_box li .industry_textbox .industry_textjuli {
  margin-top: 4px;
}
.equity_box li .industry_textbox .industry_text {
  font-size: 18px;
}
