.icon-yijingjia-subscription {
  background-image: url("/images/production/yijingjia/subscription/sprite-yijingjia-subscription.PNG");
}
.subscription_box {
  margin-top: 20px;
  width: 263px;
  border: 1px #d5d5d5 solid;
}
.subscription_box .subscription_titlebox {
  width: 220px;
  margin: 20px auto 0 auto;
}
.subscription_box .subscription_titlebox .subscription_picture {
  float: left;
  background-position: -4px -63px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 50px;
  height: 50px;
}
.subscription_box .subscription_titlebox .subscription_title {
  float: left;
  margin-left: 20px;
  padding-top: 4px;
}
.subscription_box .subscription_titlebox .subscription_title .subscription_titletext {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.subscription_box .subscription_titlebox .subscription_title .subscription_explanation {
  font-size: 13px;
  color: #888;
}
.subscription_box .subscription_search {
  width: 220px;
  margin: 22px auto 0 auto;
  padding-bottom: 20px;
}
.subscription_box .subscription_search .subscription_searchbox {
  float: left;
  width: 168px;
  height: 28px;
  border: 1px solid #d5d5d5;
  border-right: none;
}
.subscription_box .subscription_search .subscription_searchbox .subscription_youxiang {
  float: left;
  margin-top: 8px;
  margin-left: 5px;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 13px;
}
.subscription_box .subscription_search .subscription_searchbox .len {
  float: left;
  width: 142px;
  height: 28px;
  margin-left: 4px;
  border: 0;
  _margin-left: 2px;
  _width: 140px;
  line-height: 28px;
  font-size: 13px;
}
.subscription_box .subscription_search .subscription_butt {
  float: left;
  cursor: pointer;
  border: 0;
  background-position: -4px -25px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 51px;
  height: 30px;
}
