@mouse_arrow: -4px -4px 10px 5px;
@icon-linkedin: -4px -17px 16px 16px;
@icon-qq: -4px -41px 16px 16px;
@icon-163: -4px -65px 16px 16px;
@icon-sina: -4px -89px 16px 16px;
@mouse: -4px -113px 16px 23px;
@gray: -4px -144px 27px 27px;
@foot_Wechat: -4px -179px 30px 30px;
@foot_qq: -4px -217px 30px 30px;
@browser: -4px -255px 220px 34px;
@baoti: -4px -297px 1162px 36px;
@mousedown: -4px -341px 60px 60px;
@iPhone: -4px -409px 61px 61px;
@PC: -4px -478px 61px 61px;
@Android: -4px -547px 61px 61px;
@number-footer: -4px -616px 199px 62px;
@flower: -4px -686px 80px 80px;
@data: -4px -774px 80px 80px;
@qian: -4px -862px 80px 80px;
@Firefox: -4px -950px 100px 100px;
@ie: -4px -1058px 100px 100px;
@chrome: -4px -1166px 100px 100px;
@opera: -4px -1274px 100px 100px;
@logoimg: -4px -1382px 285px 102px;
@icon-code: -4px -1492px 96px 118px;
@dibanben: -4px -1618px 559px 125px;
@nav4: -4px -1751px 240px 163px;
@nav5: -4px -1922px 240px 163px;
@nav1: -4px -2093px 240px 163px;
@nav2: -4px -2264px 240px 163px;
@nav3: -4px -2435px 240px 163px;
@nav8: -4px -2606px 240px 164px;
@nav7: -4px -2778px 240px 164px;
@nav6: -4px -2950px 240px 164px;
@sheji: -4px -3122px 565px 339px;
@hejia: -4px -3469px 601px 384px;
.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}
.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}
.sprite(@sprite, @display: block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
.icon-easysofthome {
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
}