
@import '../../../dev/mixins/mixins.less';

/*按钮的样式*/
.Button
{
    line-height: 32px;

    width: 100px;

    text-align: center;

    color: #fff;
    background-color: #d42532;

    _vertical-align: middle;
    .border-radius(3px);
}