
.xiangxibox
{
    font-size: 12px;
    line-height: 16px;

    width: 1190px;
    margin: 0 auto;
    padding-top: 10px;

    color: #333;
    .justif
    {
        float: left;
    }
    a
    {
        color: #333;
    }
    .dangqianyanse
    {
        color: #d52532;
    }
    .weizhijianju
    {
        margin: 0 4px;
    }
    .jiantuoyanse
    {
        color: #aaa;
    }
}
