
@import '../../../sprite/yituangou/index/sprite.less';

.Sort
{
    float: left;
    .Sort-a
    {
        font-family: '宋体';
        font-size: 13px;
        line-height: 30px;

        float: left;

        padding-right: 15px;

        color: #000;
        background-color: #fff;

        _vertical-align: middle;
        span
        {
            float: left;
        }
    }
    .Sort-icon
    {
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 15px;
    }
    .Comprehensive
    {
        .sprite(@Comprehensive);
    }
    .Drop
    {
        .sprite(@Drop);
    }
    .Rise
    {
        .sprite(@Rise);
    }
}
