@import '../../../sprite/yituangou/mianliaotubiao/sprite.less';

.jianhao
{
    margin: 13px 7px;

    .sprite(@jian);
}
.shulian_bor
{
    display: block;

    width: 28px;
    height: 28px;

    border: 1px solid #ddd;
}
.jiahao
{
    margin: 7px 7px;

    .sprite(@jiahao);
}
.qubainkaung
{
    width: 90px;

    border-right: none;
    border-left: none;
    input
    {
        line-height: 28px;

        width: 90px;
        height: 28px;

        border: none;
        border: 0;

        *line-height: 26px;
        *height: 26px;
    }
}

