@import '../../../sprite/yituangou/renzheng/sprite.less';
@import '../../../sprite/yituangou/mianliaotubiao/sprite.less';
@import '../General/Button.less';


  .huise{
        color:#888;
    }
  .hongse
    {
        color: #d30f26;
    }
    .heise{
        color: #000;
    }

.baisekuang{
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding-bottom: 50px;
}

.gouwuchebox
{
    font-size: 13px;

    width: 960px;
    margin: 0 auto;
    padding-top: 40px;
  

    .biaotishuxing
    {
        font-size: 16px;

 
    }
    .biaotishuxing_xiangxiajuli{
        padding-bottom: 20px;
    }
    .baititishi
    {
        line-height: 22px;

        text-align: right;

        color: #888;
    }
  
    .yansegaodu{
    	margin-top:10px;
    }
    .miaoliaotubiao1{
    	width: 60px;
    	height: 60px;
    	.sprite(@mianliao1);
    }
    .miaoliaotubiao2{
    	width: 60px;
    	height: 60px;
    	.sprite(@mianliao2);
    }
    .miaoliaotubiao2{
    	width: 60px;
    	height: 60px;
    	.sprite(@mianliao2);
    }
    .miaoliaotubiao3{
    	width: 60px;
    	height: 60px;
    	.sprite(@mianliao3);
    }
    .miaoliaotubiao4{
    	width: 60px;
    	height: 60px;
    	.sprite(@mianliao4);
    }
    .miaoliaotubiao5{
    	width: 60px;
    	height: 60px;
    	.sprite(@mianliao5);
    }
    .miaoliaotubiao6{
    	width: 60px;
    	height: 60px;
    	.sprite(@mianliao6);
    }
    .shuliangjiajianweizi{
    	margin-left: 10px;
    	margin-top: 14px;
    }
    .jingen{
    	margin-left: 30px;
    	margin-top: 16px;
    	font-size: 20px;
    	color: #d42532;
    }
    .qujuli{
    	margin: 0;
    }
    .biankaung{
    	padding-bottom: 10px;
    	border-bottom: 1px solid #e5e5e5;
    }
    .zhihao_13{
    	font-size: 13px;
    }
    .zhihao_14{
    	font-size: 14px;
    }
    .youfujuli{
    	margin-right: 30px;
    	display: inline;
    }
    .jiachu{
    	font-weight: bold;
    }
    .gouwu_gaodu
    {
        margin-top: 20px;
    }
     .gouwu_gaoduda{
     	margin-top: 30px;

     }
  
   
    .mianliaomingchengbox{
    	width: 280px;
    	color: #888888;
    	line-height: 16px;
    	margin-left:10px;
    }
    .yanse_color{
    	margin-left: 10px;
    	color: #333;
    }
    .shuliang{
    	margin-top: 24px;
    	margin-left: 20px;
    	width: 160px;
    	text-align: center;
    }
    .shangchu
    {
        margin-top: 6px;
        margin-right: 4px;

        .sprite(@shanchu);
    }
    .check_weizhi{
    	margin-left: 10px;
    	padding-top: 22px;
    	margin-right: 20px;
    	display: inline;
    }
    .shanchucaoz{
    	margin: 16px 0px 0px 20px;
    }
    .zengjiagao{
        margin-left: 50px;
    }
    .xingjingenjuli{
        margin-left: 46px;
    }
    .caozuolang
    {
        line-height: 30px;

        margin-top: 12px;

        background-color: #e4e2dd;
        .danx_weizhi
        {
            display: inline;

            margin-left: 10px;

            vertical-align: middle;
            input
            {
                float: left;

                margin-top: 8px;
                margin-right: 2px;

                *margin-top: 4px;
            }
        }
        .jianrong
        {
            margin-right: 8px;

            color: #888;
        }
        .shixing
        {
            margin-top: 7px;
            margin-left: 40px;

            .sprite(@shixiang);
        }
    }
    .jiachu
    {
        font-weight: bold;
    }
     .gouwu_gaoduda{
     	margin-top: 30px;

     }

     .tongji{
     	color: #333;

     	.tongjijuli{
     		margin-left: 30px;
     	}
     	.zongenbox{
     		border: 3px solid #d42532;
     		width: 374px;
     		padding-bottom: 20px;

     	}
     	.jinendaixao{
     		text-align: right;
     		width: 300px;
     		display: inline;
     	}
        .com_fang{
            line-height: 32px;
            margin-right: 20px;
            color:#888;
        }
     }

}


