@import '../../../sprite/yituangou/gouwuche/sprite.less';
@import '../../../dev/mixins/mixins.less';



.wanchengwaibox{
       border-top: 3px solid #d42532;
    padding-top: 60px;
    padding-bottom: 20px;
    width: 1000px;
    background-color: #fff;
    margin: 0 auto;
}
.wanchengbox
{
    line-height: 28px;

    width: 522px;
    margin: 0 auto;

    color: #333;
    .wangchengtu
    {
        margin-left: 96px;

        .sprite(@wangcheng);
    }
    .tujuli
    {
        margin-left: 20px;
    }
    .zhihaothirteen
    {
        font-size: 13px;
    }
    .yanseqianhui
    {
        color: #888;
    }
    .zhifuchengg
    {
        font-size: 30px;
    }
    .lianxifangshijuli
    {
        margin-top: 26px;
    }
    .hongse
    {
        color: #d42532;
    }
    .tuobujuli
    {
        margin-top: 8px;
    }
    .lanse
    {
        color: #275394;
    }
    .xuxianbiankuang
    {
        margin-top: 38px;

        text-align: center;

        border: 1px dashed #dedbd4;
    }
    .wenzhijuli
    {
        margin-left: 16px;
    }
    .annbox
    {
        line-height: 40px;

        margin-top: 26px;
        .annjuli
        {
            margin-left: 32px;
        }
        .Button
        {
            width: 108px;

            text-align: center;

            color: #fff;
            background-color: #d42532;

            _vertical-align: middle;
            .border-radius(3px);
        }
    }
}


.wancheng-buy-frame
{
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;

    background-color: #fff;
    .wancheng-line
    {
        line-height: 55px;

        margin: 0 20px;

        background-image: url('/images/production/yituangou/ProductDetails/Background-line01.png');
        background-repeat: no-repeat;
        background-position: bottom;

        _vertical-align: middle;
        p
        {
            font-size: 20px;

            width: 93px;
            padding-left: 8px;

            color: #333;
            border-bottom: #d52532 3px solid;
        }
    }
    .wancheng-Buy-06
    {
        float: left;

        width: 282px;
        margin-top: 20px;
        margin-right: 37px;
        margin-left: 20px;
    }
    .wancheng-Buy
    {
        margin-right: 0;
    }
}
