@import '../../../sprite/yituangou/gouwuche/sprite.less';


.zhifubox
{
    font-size: 13px;
    line-height: 20px;

    width: 1000px;
    margin: 0 auto;
   
    color: #888;
    .hongsezi
    {
        color: #d42532;
    }
    .huisezi
    {
        color: #333;
    }
    .lianse
    {
        color: #275392;
    }
    .jiachu
    {
        font-weight: bold;
    }
    .zhifudinggaodu
    {
        padding-top: 10px;
    }
    .xiaohaozhi{
    	font-size: 12px;
    }
    .dingdanbox
    {
         background-color: #fff;
        border: 1px solid #e6e6e6;
    }
    .dingdanlibox
    {
        width: 962px;
        margin: 0 auto;
        margin-top: 18px;

    }
    .xian
    {
        padding-bottom: 10px;

        border-bottom: 1px solid #e6e6e6;
    }
    .dizhi
    {
        margin-top: 10px;
    }
    .kuangdu
    {
        width: 700px;
        padding-bottom: 10px;
    }
    input{
    	vertical-align: middle;
    }
    .juse
    {
        color: #f60;
    }
    .zhihaoeighteen
    {
        font-size: 18px;
    }
    .xieyi{
    	margin-left: 6px;
    }
    .jiantou
    {
        margin-top: -2px;
        margin-left: 4px;

        vertical-align: middle;

        .sprite(@jiantou,inline-block);
    }
    .zhifufangshibox
    {

        margin-top: 20px;

        background-image: url('/images/production/yituangou/zhifubiankuang.png');
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .fangshibiankuan
    {
        font-size: 16px;
        line-height: 50px;

        padding-right: 26px;
        padding-left: 26px;

        border: 1px solid #e6e6e6;
        border-bottom: none;
        background-color: #fff;
        color: #888;
    }
    .selected
    {
        border-top: 2px solid #f60;
        border-bottom: none;
        background-color: #fff;
    }
    .qita
    {
        border: 1px solid #e6e6e6;
        background-color: #f3f3f3;
    }
    .fangshibiankuan_juli
    {
        margin-left: 8px;
    }
    .zhifubaobox
    {
         background-color: #fff;
        border: 1px solid #e6e6e6;
        border-top: none;
        .zhifubaolibox
        {
            width: 920px;
            margin: 0 auto;
            padding-top: 36px;
        }
    }
    .radioweizhi
    {
        margin-top: 20px;
        margin-right: 6px;
    }
    .zhifubaotu
    {
        .sprite(@zhifubao);
    }
    .tongyi_com{
    	margin-top: 10px;
    	color: #fff;
    	text-align: center;
    	display: block;
    	border: 1px solid #d74c00;
    	width: 188px;
    	line-height: 38px;
    	background-color: #ff6600;
    	margin-bottom: 20px;
    }
}



