.icon-yijingjia-chengpingfabu {
  background-image: url("/images/production/yijingjia/chengpingfabu/sprite-yijingjia-chengpingfabu.PNG");
}
.icon-yijingjia-jindutiao {
  background-image: url("/images/production/yijingjia/jindutiao/sprite-yijingjia-jindutiao.PNG");
}
.jingdutiao {
  margin: 0 auto;
  width: 1090px;
  padding-top: 50px;
}
.jingdutiao li {
  width: 25%;
  float: left;
}
.jingdutiao .hongli {
  background-position: -4px -84px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 272px;
  height: 32px;
}
.jingdutiao .hongli span {
  font-size: 18px;
  line-height: 32px;
  margin-left: 115px;
  text-align: center;
  color: #fff;
  background-position: -4px -204px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
}
.jingdutiao .huili {
  background-position: -4px -124px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 272px;
  height: 32px;
}
.jingdutiao .huili span {
  font-size: 18px;
  line-height: 32px;
  margin-left: 115px;
  text-align: center;
  color: #fff;
  background-position: -4px -164px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
}
.jingdutiao .changhongli {
  width: 50%;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 544px;
  height: 32px;
}
.jingdutiao .changhongli span {
  font-size: 18px;
  line-height: 32px;
  margin-left: 256px;
  text-align: center;
  color: #fff;
  background-position: -4px -204px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
}
.jingdutiao .changhuili {
  width: 50%;
  background-position: -4px -44px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 544px;
  height: 32px;
}
.jingdutiao .changhuili span {
  font-size: 18px;
  line-height: 32px;
  margin-left: 256px;
  text-align: center;
  color: #fff;
  background-position: -4px -164px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
}
.jingdutiao .zhonghongli {
  width: 33.3%;
  background-position: -4px -244px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 363px;
  height: 32px;
}
.jingdutiao .zhonghongli span {
  font-size: 18px;
  line-height: 32px;
  margin-left: 160px;
  text-align: center;
  color: #fff;
  background-position: -4px -204px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
}
.jingdutiao .zhonghuili {
  width: 33.3%;
  background-position: -4px -284px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 363px;
  height: 32px;
}
.jingdutiao .zhonghuili span {
  font-size: 18px;
  line-height: 32px;
  margin-left: 160px;
  text-align: center;
  color: #fff;
  background-position: -4px -164px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
}
.jingdutiaowenzi {
  margin: 0 auto;
  width: 1090px;
  margin-top: 10px;
}
.jingdutiaowenzi li {
  font-size: 18px;
  float: left;
  width: 25%;
  text-align: center;
  color: #c40e24;
}
.jingdutiaowenzi .changli {
  width: 50%;
}
.jingdutiaowenzi .zhongli {
  width: 33.3%;
}
.jingdutiaowenzi .yanse {
  color: #ccc;
}
.mianliao_options {
  width: 100%;
  height: 82px;
  padding-top: 12px;
  border-bottom: 1px dashed #bfbfbf;
}
.mianliao_options .category {
  margin-left: 18px;
  color: #333;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.wrapweizhi {
  margin-top: 30px;
  margin-left: 10px;
}
.zhuchu_shengfengweizhi {
  margin-top: 8px;
}
.zhuchu_shengfengweizhi2 {
  margin-top: 12px;
}
.zhuti {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 13px;
  vertical-align: middle;
}
#wrap {
  font-size: 14px;
  color: #666666;
  line-height: 16px;
}
#wrap label {
  cursor: pointer;
}
#wrap .shuru {
  line-height: 16px;
  margin-left: 24px;
  margin-right: 10px;
}
#wrap .clear {
  line-height: 0;
  display: block;
  clear: both;
  height: 0;
}
#wrap label.radio .holder {
  height: 62px;
  background: url("/images/production/yijingjia/radio.gif") 0 -1px no-repeat;
}
#wrap label.checked .holder {
  top: -42px !important;
}
#wrap label.checked:hover .holder {
  top: -42px !important;
}
#wrap label.list {
  float: left;
  clear: left;
  margin: 0 0 5px 0;
}
#wrap label.inline {
  float: left;
  margin: 0 10px 0 22px;
}
#wrap input.hiddenCheckbox {
  position: absolute;
  left: -10000px;
}
#wrap label.prettyCheckbox .holderWrap {
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
  margin-right: 5px;
}
#wrap label.prettyCheckbox .holder {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.jiabor {
  border: 1px solid #ccc;
}
.mian {
  width: 1188px;
  margin: 0 auto;
  margin-top: 20px;
}
.mian .fabuann {
  padding-bottom: 56px;
}
.mian .fabuann .button-jiesu {
  width: 200px;
  height: 40px;
  color: #fff;
  border: none;
  background-color: #c40e24;
}
.mian .fabuann .button-jiesuweiz {
  margin-left: 254px;
}
.mian .fabuann .button-jiesuweiz2 {
  margin-left: 40px;
}
.mian .jibenxingxikuang {
  width: 1090px;
  margin: 0 auto;
  margin-top: 48px;
}
.mian .jibenxingxikuang .jibenxingxijuli {
  padding-bottom: 50px;
}
.mian .jibenxingxikuang .jibenxingxi {
  float: left;
  width: 640px;
}
.mian .jibenxingxikuang .jibenxingxi dd {
  padding-bottom: 30px;
}
.mian .jibenxingxikuang .jibenxingxi dd .qita_input {
  width: 200px;
  vertical-align: middle;
  _width: 182px;
}
.mian .jibenxingxikuang .jibenxingxi dd .jingxian_butt {
  margin-left: 20px;
  padding: 6px 18px 6px 18px;
  color: #fff;
  border: 0;
  background-color: #00a2c9;
  _vertical-align: middle;
}
.mian .jibenxingxikuang .jibenxingxi dd .yingxian_juli {
  margin-left: 20px;
}
.mian .jibenxingxikuang .jibenxingxi dd .yingxian_textjuli {
  margin-right: 8px;
}
.mian .jibenxingxikuang .jibenxingxi dd .wwishaweizhi {
  margin-left: 20px;
}
.mian .jibenxingxikuang .jibenxingxi dd .houqi_checkbox {
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  vertical-align: top;
}
.mian .jibenxingxikuang .jibenxingxi dd .houqi_checkbox .houqi_wenben {
  float: left;
  width: 122px;
  *width: 100px;
}
.mian .jibenxingxikuang .jibenxingxi dd .houqi_checkbox .qingfu {
  clear: left;
}
.mian .jibenxingxikuang .jibenxingxi dd .houqi_checkbox label {
  margin-bottom: 10px;
}
.mian .jibenxingxikuang .jibenxingxi dd .houqi_checkbox .qingjuli {
  margin-bottom: 0;
}
.mian .jibenxingxikuang .jibenxingxi dd .houqi_checkbox input {
  vertical-align: middle;
}
.mian .jibenxingxikuang .jibenxingxi dd .chengfeng_textbox {
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  margin-top: -4px;
  vertical-align: top;
}
.mian .jibenxingxikuang .jibenxingxi dd .chengfeng_textbox .chengfeng_text {
  float: left;
  width: 122px;
  *width: 110px;
}
.mian .jibenxingxikuang .jibenxingxi dd .chengfeng_textbox .qingfu {
  clear: left;
}
.mian .jibenxingxikuang .jibenxingxi dd .chengfeng_textbox label {
  margin-bottom: 10px;
}
.mian .jibenxingxikuang .jibenxingxi dd .chengfeng_textbox .qingjuli {
  margin-bottom: 0;
}
.mian .jibenxingxikuang .jibenxingxi dd .chengfeng_textbox input {
  color: #999;
  width: 28px;
  border: 1px solid #cecece;
  height: 28px;
  vertical-align: middle;
  line-height: 28px;
}
.mian .jibenxingxikuang .jibenxingxi dd .shaxian {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
}
.mian .jibenxingxikuang .jibenxingxi dd .shaxian .shaxiankuangbox {
  line-height: 28px;
  display: block;
  float: left;
  width: 28px;
  margin-left: 6px;
  border: 1px solid #ccc;
  border-right: none;
}
.mian .jibenxingxikuang .jibenxingxi dd .shaxian .shaxiankuangbox .shangxian_tujianhaohui {
  margin-left: 9px;
  margin-top: 13px;
  margin-bottom: 13px;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 10px;
  height: 2px;
}
.mian .jibenxingxikuang .jibenxingxi dd .shaxian .shaxiankuangbox .shangxian_tujianhaohong {
  margin-left: 9px;
  margin-top: 13px;
  margin-bottom: 13px;
  background-position: -4px -14px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 10px;
  height: 2px;
}
.mian .jibenxingxikuang .jibenxingxi dd .shaxian .shaxiankuangbox .shangxian_tujiahaohong {
  margin-left: 9px;
  margin-top: 9px;
  margin-bottom: 9px;
  background-position: -4px -24px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 10px;
  height: 10px;
}
.mian .jibenxingxikuang .jibenxingxi dd .shaxian .shaxiankuangbox .shangxian_tujiahaohui {
  margin-left: 9px;
  margin-top: 9px;
  margin-bottom: 9px;
  background-position: -4px -42px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 10px;
  height: 10px;
}
.mian .jibenxingxikuang .jibenxingxi dd .shaxian .shaxiankuangbox2 {
  margin-left: 0;
  border: 1px solid #ccc;
  border-left: none;
}
.mian .jibenxingxikuang .jibenxingxi dd .shaxian p {
  line-height: 30px;
  float: left;
  width: 30px;
  text-align: center;
  color: #fff;
  background-color: #00a2c9;
}
.mian .jibenxingxikuang .jibenxingxi dd .menfu_xiala {
  line-height: 32px;
  width: 75px;
  height: 32px;
  text-align: center;
  border: 1px solid #ccc;
}
.mian .jibenxingxikuang .jibenxingxi dd .shangtuweizhi {
  margin-left: 134px;
  padding-top: 10px;
}
.mian .jibenxingxikuang .jibenxingxi dd .button-xiayibu {
  float: right;
  width: 200px;
  height: 40px;
  color: #fff;
  border: none;
  background-color: #c40e24;
  _vertical-align: middle;
}
.mian .jibenxingxikuang .jibenxingxi dd .wenxing {
  margin-left: 144px;
  padding-top: 10px;
  color: #c40e24;
}
.mian .jibenxingxikuang .jibenxingxi dd .yanzheng {
  margin-top: 6px;
  margin-left: 144px;
}
.mian .jibenxingxikuang .jibenxingxi dd .yanzheng img {
  display: inline-block;
  margin-right: 2px;
  vertical-align: bottom;
}
.mian .jibenxingxikuang .jibenxingxi dd .qita_wenyu {
  width: 490px;
  height: 92px;
  border: 1px solid #d6d6d6;
}
.mian .jibenxingxikuang .jibenxingxi dd .xunzhao_butt {
  width: 236px;
  height: 30px;
  margin-right: 20px;
  color: #fff;
  border: none;
  background-color: #1d90bf;
  _vertical-align: middle;
}
.mian .jibenxingxikuang .jibenxingxi dd .inputtongyi {
  line-height: 30px;
  height: 30px;
  border: 1px solid #d6d6d6;
  _vertical-align: middle;
}
.mian .jibenxingxikuang .jibenxingxi dd .input_weizhi {
  margin-top: 30px;
  margin-left: 146px;
}
.mian .jibenxingxikuang .jibenxingxi dd .shul_input {
  width: 100px;
}
.mian .jibenxingxikuang .jibenxingxi dd .yanshi_input {
  width: 488px;
}
.mian .jibenxingxikuang .jibenxingxi dd .yanshi_butt {
  width: 110px;
  height: 30px;
  margin-right: 20px;
  color: #fff;
  border: none;
  background-color: #1d90bf;
  _vertical-align: middle;
}
.mian .jibenxingxikuang .jibenxingxi dd .yanshi_guige {
  width: 100px;
}
.mian .jibenxingxikuang .jibenxingxi dd .chenghao {
  line-height: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
.mian .jibenxingxikuang .jibenxingxi dd .title {
  display: inline-block;
  width: 136px;
  padding-right: 10px;
  text-align: right;
  color: #333;
  *display: inline;
  *zoom: 1;
}
.mian .jibenxingxikuang .jibenxingxi dd .title .suo-hong {
  margin-left: 2px;
  background-position: -4px -60px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 11px;
  height: 14px;
}
.mian .jibenxingxikuang .jibenxingxi dd .title .suo-hui {
  margin-left: 2px;
  background-position: -4px -82px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 11px;
  height: 14px;
}
.mian .jibenxingxikuang .jibenxingxi dd .title a {
  margin-right: 4px;
  color: #c40e24;
}
.mian .jibenxingxikuang .tishi {
  float: left;
  padding-left: 66px;
}
.mian .jibenxingxikuang .tishi .shuoming {
  overflow: hidden;
  width: 100%;
  padding-bottom: 20px;
}
.mian .jibenxingxikuang .tishi .shuoming .shuomingtu {
  float: left;
  background-position: -4px -104px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
}
.mian .jibenxingxikuang .tishi .shuoming p {
  line-height: 32px;
  float: left;
  height: 32px;
  margin-left: 10px;
  color: #c40e24;
}
.mian .jibenxingxikuang .tishi .tishiwenzi {
  line-height: 22px;
  width: 340px;
}
.mian .jibenxingxikuang .tishi .tishiwenzi .tishiwenzi-suohong {
  margin-right: 4px;
  background-position: -4px -60px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 11px;
  height: 14px;
}
.mian .jibenxingxikuang .tishi .tishiwenzi .tishiwenzi-huihong {
  margin-right: 4px;
  margin-left: 2px;
  background-position: -4px -82px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 11px;
  height: 14px;
}
.mian .mianliao_quality {
  width: 908px;
  margin: 0 auto;
  padding-top: 34px;
}
.mian .mianliao_quality .wenzhi_quality {
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 26px;
  color: #333;
}
.mian .mianliao_quality .wenzhi_quality .quality_suo {
  margin-left: 4px;
  vertical-align: bottom;
  background-position: -4px -60px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 11px;
  height: 14px;
}
.mian .mianliao_quality .mianliao-xiayibu {
  float: left;
  width: 200px;
  height: 40px;
  margin-top: 30px;
  color: #fff;
  border: none;
  background-color: #c40e24;
  _vertical-align: middle;
}
.mian .mianliao_quality .mianliao-xiayibu_juli {
  margin-left: 234px;
}
.mian .mianliao_quality .mianliao-xiayibu_juli2 {
  margin-left: 40px;
}
.mian .mianliao_quality .mianliao_options2 {
  width: 100%;
  height: 146px;
  padding-top: 12px;
  border-bottom: 1px dashed #bfbfbf;
}
.mian .mianliao_quality .mianliao_options2 .category {
  margin-left: 18px;
  color: #333;
}
.mianliao_jia {
  padding-top: 20px;
  padding-left: 30px;
}
.mianliao_jia .mianliao_title {
  font-size: 14px;
  padding-right: 14px;
  vertical-align: middle;
}
.mianliao_jia .mianliao_yanshi_input {
  line-height: 30px;
  width: 400px;
  height: 30px;
  vertical-align: middle;
  border: 1px solid #d6d6d6;
}
.mianliao_jia .title {
  font-size: 12px;
  padding-left: 26px;
  color: #c40e24;
}
