.icon-VIP-common-RegLog {
  background-image: url("/images/production/VIP/common/RegLog/sprite-VIP-common-RegLog.PNG");
}
.logbox {
  background: url("/images/production/VIP/common/RegLog/logback.png") top center no-repeat;
  padding-top: 80px;
}
.logbox .header {
  position: fixed;
  top: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  _filter: progid:DXImageTransform.Microsoft.Gradient(enabled='true', startColorstr='#00000000', endColorStr='#00000000');
}
.logbox .header .top {
  font-size: 12px;
  line-height: 14px;
  width: 80%;
  margin: 0 auto;
  padding: 9px 0;
}
.logbox .header .top a {
  color: #fff;
}
.logbox .header .top .butt_right {
  margin-right: 20px;
}
.logbox .header .top #username i {
  padding: 0px 11px;
  background: #f90;
  font-style: normal;
  border-radius: 9px;
  margin-left: 4px;
}
.logbox .nane_tit,
.logbox .phon_tit {
  line-height: 40px;
  font-size: 14px;
  color: #444;
  width: 300px;
  margin-right: 6px;
  text-align: right;
}
.logbox .nane_box {
  margin-top: 40px;
}
.logbox .cods_box {
  margin-top: 20px;
}
.logbox .input_nane,
.logbox .input_naneduan {
  color: #999;
  line-height: 38px;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  height: 40px;
  width: 324px;
  padding-left: 10px;
}
.logbox .dropdown_box {
  width: 324px;
}
.logbox .down_ico {
  margin: 14px 10px 0 0;
  background-position: -4px -18px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 12px;
  height: 10px;
  background-image: url("/images/production/VIP/common/RegLog/sprite-VIP-common-RegLog.PNG");
}
.logbox .dropdown {
  height: 40px;
  width: 324px;
  padding-left: 10px;
  line-height: 38px;
  border: 1px solid #c8c8c8;
  color: #666;
  border-radius: 3px;
}
.logbox .input_naneduan {
  width: 180px;
}
.logbox .user_name {
  position: relative;
}
.logbox .placeholder {
  position: absolute;
  top: 10px;
  left: 318px;
  color: #888;
  font-size: 14px;
}
.logbox .cods_cen {
  width: 120px;
  margin-left: 24px;
  height: 40px;
  overflow: hidden;
  background: url("/images/production/VIP/common/RegLog/codes.jpg");
  background-position: -2px;
}
.logbox .carryout {
  width: 100px;
  height: 100px;
  background: url("/images/production/VIP/common/RegLog/carryout.png");
  margin-left: 220px;
}
.logbox .carryout_box {
  padding-top: 60px;
  padding-bottom: 20px;
}
.logbox .loglog {
  margin: 0 auto 0 auto;
  background-position: -4px -381px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 328px;
  height: 118px;
  background-image: url("/images/production/VIP/common/RegLog/sprite-VIP-common-RegLog.PNG");
}
.logbox .carryout_text {
  font-size: 16px;
  margin: 20px;
}
.logbox .Setup {
  color: #41b341;
  margin-bottom: 6px;
}
.logbox .return {
  color: #2c7ab6;
  text-decoration: underline;
}
.logbox .log_left {
  width: 350px;
  padding-right: 20px;
}
.logbox .pass_title {
  font-size: 20px;
  color: #999;
  padding-bottom: 30px;
}
.logbox .log_box {
  width: 900px;
  padding: 40px;
  border: 1px solid #dedede;
  margin: 56px auto 0 auto;
  background-color: #fff;
  border-radius: 5px;
}
.logbox .wenzistyle {
  color: #e65c6c;
}
.logbox .butt_forpass,
.logbox .butt_phone {
  line-height: 40px;
  width: 160px;
  background-color: #3ca1d7;
  color: #fff;
  border-radius: 5px;
  display: block;
  text-align: center;
  font-size: 16px;
  margin: 40px 0 0 308px;
}
.logbox .butt_phone {
  width: 120px;
  margin: 0 0 0 20px;
}
.logbox .for_username,
.logbox .for_phone {
  line-height: 40px;
  font-size: 16px;
  color: #ff6600;
  font-weight: bold;
}
.logbox .for_phone {
  line-height: 16px;
}
.logbox .wenzistyle1 {
  color: #a0aacf;
}
.logbox .wenzistyle1,
.logbox .wenzistyle {
  margin-top: 6px;
}
.logbox .step1 {
  overflow: hidden;
  padding-bottom: 20px;
}
.logbox .step1 .step_width {
  width: 700px;
  margin: 0 auto;
}
.logbox .step1 .step_width li {
  float: left;
  line-height: 20px;
  color: #FFF;
  font-weight: 700;
  width: 170px;
  text-align: center;
}
.logbox .step1 .step_width .jingdu1 {
  background-position: -4px -293px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 170px;
  height: 20px;
  background-image: url("/images/production/VIP/common/RegLog/sprite-VIP-common-RegLog.PNG");
}
.logbox .step1 .step_width .jingdu2 {
  background-position: -4px -237px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 170px;
  height: 20px;
  background-image: url("/images/production/VIP/common/RegLog/sprite-VIP-common-RegLog.PNG");
}
.logbox .step1 .step_width .jingdu3 {
  background-position: -4px -265px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 170px;
  height: 20px;
  background-image: url("/images/production/VIP/common/RegLog/sprite-VIP-common-RegLog.PNG");
}
.logbox .step1 .step_width .jingdu11 {
  background-position: -4px -181px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 170px;
  height: 20px;
  background-image: url("/images/production/VIP/common/RegLog/sprite-VIP-common-RegLog.PNG");
}
.logbox .step1 .step_width .jingdu12 {
  background-position: -4px -321px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 170px;
  height: 20px;
  background-image: url("/images/production/VIP/common/RegLog/sprite-VIP-common-RegLog.PNG");
}
.logbox .step1 .step_width .jingdu13 {
  background-position: -4px -209px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 170px;
  height: 20px;
  background-image: url("/images/production/VIP/common/RegLog/sprite-VIP-common-RegLog.PNG");
}
