.icon-VIP-common-RegLog {
  background-image: url("/images/production/VIP/common/RegLog/sprite-VIP-common-RegLog.PNG");
}
.logbox {
  background: url("/images/production/VIP/common/RegLog/logback.png") top center no-repeat;
  padding-top: 80px;
}
.logbox .header {
  position: fixed;
  top: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  _filter: progid:DXImageTransform.Microsoft.Gradient(enabled='true', startColorstr='#00000000', endColorStr='#00000000');
}
.logbox .header .top {
  font-size: 12px;
  line-height: 14px;
  width: 80%;
  margin: 0 auto;
  padding: 9px 0;
}
.logbox .header .top a {
  color: #fff;
}
.logbox .header .top .butt_right {
  margin-right: 20px;
}
.logbox .header .top #username i {
  padding: 0px 11px;
  background: #f90;
  font-style: normal;
  border-radius: 9px;
  margin-left: 4px;
}
.logbox .loglog {
  margin: 0 auto 0 auto;
  background-position: -4px -333px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 328px;
  height: 118px;
  background-image: url("/images/production/VIP/common/RegLog/sprite-VIP-common-RegLog.PNG");
}
.logbox .log_left {
  width: 350px;
  padding-right: 20px;
}
.logbox .log_box {
  width: 900px;
  padding: 40px;
  border: 1px solid #dedede;
  margin: 56px auto 0 auto;
  background-color: #fff;
  border-radius: 5px;
}
.logbox .username,
.logbox .password,
.logbox .Codes {
  border: 0;
  border: none;
  background-color: #f2f2f2;
  border-radius: 5px;
  line-height: 46px;
  width: 330px;
  padding-left: 20px;
  color: #999;
  font-size: 16px;
  display: block;
}
.logbox .username {
  margin-top: 20px;
}
.logbox .Codes {
  width: 130px;
}
.logbox .password,
.logbox .Codes_box,
.logbox .butt_log {
  margin-top: 20px;
}
.logbox .Codes_cen {
  width: 160px;
  height: 46px;
  background-color: #000;
  overflow: hidden;
  background: url("/images/production/VIP/common/RegLog/codes.jpg");
}
.logbox .QRcode {
  margin: 30px 0 0 20px;
  width: 450px;
  height: 285px;
  background: url("/images/production/VIP/common/RegLog/erweima.png") no-repeat;
}
.logbox .QRcode_text {
  font-size: 16px;
  margin-top: 10px;
  color: #666;
}
.logbox .for_pass {
  text-align: right;
  display: block;
  margin-top: 16px;
  font-size: 14px;
  color: #3ca1d7;
}
.logbox .butt_log {
  width: 350px;
  text-align: center;
  line-height: 46px;
  color: #fff;
  background-color: #3ca1d7;
  font-size: 18px;
  display: block;
  border-radius: 5px;
}
.logbox .arr_rig {
  margin: 2px 0 0 4px;
  background-position: -4px -108px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 18px;
  height: 17px;
  background-image: url("/images/production/VIP/common/RegLog/sprite-VIP-common-RegLog.PNG");
}
.logbox .immediately {
  color: #3ca1d7;
  font-size: 16px;
  text-decoration: underline;
}
.logbox .status {
  margin-top: 2px;
}
.logbox .immediately_box {
  margin: 20px 0 0 90px;
}
.user_box,
.password_box,
.authcode_box {
  position: relative;
  top: 0;
  left: 0;
}
.user_box span.placeholder,
.password_box span.placeholder,
.authcode_box span.placeholder {
  position: absolute;
  top: 13px;
  left: 15px;
  color: #888;
  font-size: 16px;
}
.butt_log {
  border: 0;
}
