.icon-VIP-common-RegLog {
  background-image: url("/images/production/VIP/common/RegLog/sprite-VIP-common-RegLog.PNG");
}
.logbox {
  background: url("/images/production/VIP/common/RegLog/logback.png") top center no-repeat;
  padding-top: 80px;
}
.logbox .header {
  position: fixed;
  top: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  _filter: progid:DXImageTransform.Microsoft.Gradient(enabled='true', startColorstr='#00000000', endColorStr='#00000000');
}
.logbox .header .top {
  font-size: 12px;
  line-height: 14px;
  width: 80%;
  margin: 0 auto;
  padding: 9px 0;
}
.logbox .header .top a {
  color: #fff;
}
.logbox .header .top .butt_right {
  margin-right: 20px;
}
.logbox .header .top #username i {
  padding: 0px 11px;
  background: #f90;
  font-style: normal;
  border-radius: 9px;
  margin-left: 4px;
}
.logbox .loglog {
  margin: 0 auto 0 auto;
  background-position: -4px -381px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 328px;
  height: 118px;
  background-image: url("/images/production/VIP/common/RegLog/sprite-VIP-common-RegLog.PNG");
}
.logbox .log_content {
  width: 900px;
  padding: 40px;
  border: 1px solid #dedede;
  margin: 56px auto 0 auto;
  background-color: #fff;
  border-radius: 5px;
}
.logbox .signup {
  width: 470px;
  border-right: 1px solid #dddddd;
}
.logbox .user {
  margin-top: 30px;
}
.logbox .padding {
  margin-top: 18px;
}
.logbox .member {
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 430px;
  height: 6px;
  background-image: url("/images/production/VIP/common/RegLog/sprite-VIP-common-RegLog.PNG");
}
.logbox .sign_mem {
  text-align: center;
  font-size: 16px;
  color: #189fed;
  line-height: 28px;
  width: 430px;
}
.logbox .men_tit {
  line-height: 40px;
  font-size: 14px;
  color: #444;
}
.logbox .input_left {
  margin-left: 10px;
  display: inline;
  width: 326px;
}
.logbox .input_left2 {
  margin-left: 10px;
  display: inline;
}
.logbox .input_style,
.logbox .input_codes {
  color: #999;
  line-height: 38px;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  height: 40px;
  width: 324px;
  padding-left: 10px;
}
.logbox .input_codes {
  width: 138px;
}
.logbox .butt_cides {
  line-height: 32px;
  width: 90px;
  text-align: center;
  color: #fff;
  background-color: #3ca1d7;
  border-radius: 3px;
  margin: 4px 0 0 10px;
}
.logbox .identity label {
  margin-right: 30px;
}
.logbox .radio_posi {
  margin-top: 14px;
}
.logbox .radio_spacing {
  margin-left: 20px;
}
.logbox .rad_text {
  line-height: 40px;
  margin-left: 4px;
  cursor: pointer;
}
.logbox .chec_posi {
  margin-top: 4px;
  *margin-top: 0px;
}
.logbox .chec_text {
  margin-left: 4px;
}
.logbox .chec_spacing {
  margin-top: 10px;
}
.logbox .words {
  margin-left: 5px;
}
.logbox .words2 {
  margin-left: 4px;
}
.logbox .agree {
  margin-top: 20px;
}
.logbox .check_agree {
  margin: 4px 0 0 93px;
  *margin-top: 0px;
}
.logbox .check_agreetext {
  margin-left: 4px;
  line-height: 18px;
}
.logbox .bule_color {
  color: #0066cc;
}
.logbox .cutt_reg {
  width: 330px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border: 0;
  font-size: 16px;
  border-radius: 3px;
  background-color: #3ca1d7;
  display: block;
  margin: 20px 0 0 93px;
}
.logbox .rg_box {
  padding-left: 40px;
  margin-top: 80px;
}
.logbox .logarr {
  margin: 6px 0 0 6px;
  background-position: -4px -349px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("/images/production/VIP/common/RegLog/sprite-VIP-common-RegLog.PNG");
}
.logbox .log_text {
  font-size: 24px;
  color: #189fed;
}
.logbox .logarr_box {
  margin-top: 14px;
  display: block;
}
.logbox .servicebox {
  font-size: 14px;
  color: #444444;
  margin-top: 60px;
}
.logbox .service_marg {
  margin-top: 10px;
}
.logbox .red_color {
  color: #dd2706;
}
/* 添加js */
.username_box,
.password_box,
.passwordRe_box {
  position: relative;
}
.username_box span.placeholder,
.password_box span.placeholder,
.passwordRe_box span.placeholder {
  position: absolute;
  top: 11px;
  left: 11px;
  color: #999;
}
.capslock-tip {
  right: 2px;
  top: -45px;
}
.tips {
  position: absolute;
  background: #fef4e5;
  border: solid 1px #f6c090;
  color: #bc5212;
  display: none;
  padding: 0 12px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 3px;
  z-index: 11;
}
.tips .arrow {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-color: #f6c090 transparent transparent;
  border-style: solid dashed dashed;
  border-width: 8px;
  position: absolute;
  left: 50%;
  margin-left: -4px;
  bottom: -16px;
}
.tips .arrow-inner {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-color: #fef4e5 transparent transparent;
  border-style: solid dashed dashed;
  border-width: 8px;
  position: absolute;
  left: 50%;
  margin-left: -4px;
  bottom: -15px;
}
.error {
  color: red;
}
.i-pwd-weak {
  margin-right: 10px;
  vertical-align: text-bottom;
  background-position: -4px -108px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 15px;
  height: 16px;
  background-image: url("/images/production/VIP/common/RegLog/sprite-VIP-common-RegLog.PNG");
}
.i-pwd-medium {
  margin-right: 10px;
  vertical-align: text-bottom;
  background-position: -4px -60px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 15px;
  height: 16px;
  background-image: url("/images/production/VIP/common/RegLog/sprite-VIP-common-RegLog.PNG");
}
.i-pwd-strong {
  margin-right: 10px;
  vertical-align: text-bottom;
  background-position: -4px -84px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 15px;
  height: 16px;
  background-image: url("/images/production/VIP/common/RegLog/sprite-VIP-common-RegLog.PNG");
}
.btnt {
  width: 322px;
  margin: 20px auto 0;
}
.regist-2013 .btnt .btn-img {
  width: 322px;
  height: 34px;
  line-heiht: 34px;
  background: #e4393c;
  color: #FFF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: "微锟斤拷锟脚猴拷";
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
}
#protocol-con {
  height: 356px;
  overflow: auto;
  padding: 10px 20px 0 10px;
}
#protocol-con h5 {
  line-height: 30px;
}
#protocol-con p {
  line-height: 20px;
}
#protocol-con p strong {
  font-weight: 400;
}
