@import '../../../../sprite/VIP/common/account/sprite.less';
@import '../../../../dev/mixins/mixins.less';
@import './modify.less';


.main_box{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.databox
{
  font-size: 18px;

  width: 854px;
  margin-top: 40px;

  background-color: #fff;
  padding-bottom: 80px;
  // 按钮
  .save{
    border: 2px solid #ff9900;
    .border-radius(5px);
    width: 374px;
    line-height: 50px;
    color: #ff9902;
    display: block;
    text-align: center;
    margin-left: 240px;
    margin-top: 40px;
    background-color: #fff;

  }
}


//基本资料
.dataTop{
  margin: 30px 20px 0 20px;
  .Inforbox{
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    color: #333;
    p{
      width: 350px;
      margin-right: 10px;
    }
  }
  .btn_modify{
    display: inline-block;
    color: #2355c8;
    &:hover{
      cursor: pointer;
      color: #d4160f;
    }
  }
}

// 字间距
.three{
  letter-spacing:22px;
}
.five{
  letter-spacing:4px;
}
.two{
  letter-spacing:58px;
}
.four{
  letter-spacing:10px;
}
.letter_two{
  letter-spacing:63px;
}

// 联系方式
.contactbox{
  color: #333;
  font-size: 14px;
  .words{
    background-image: url("/images/production/VIP/common/contact.png");
    background-repeat: repeat-x;
    background-position: center;
    margin: 50px 20px 0 20px;
    span{
      font-size: 18px;
      padding-right: 10px;
      background-color: #fff;
    }
  }
  .contact{
    margin-top: 50px;
  }
  .contact_int{
    margin: 20px 0 0 130px;
    p{
      margin-top: 7px;
    }
    input{
      height: 22px;
      padding: 5px 10px;
      border: #d9d9d9 1px solid;
      .border-radius(5px);
    }
    .int{
      width: 202px;
    }
    .choice{
      width: 82px;
      margin-right: 10px;
    }
    .address{
      width: 424px;
    }
  }


  // 实名认证
  div.addto{
    width: 222px;
    height: 222px;
    background-color: #f9f9f9;
    border: dashed 1px #dddddd;
    cursor: pointer;
    text-align: center;
    line-height: 222px;
    font-size: 20px;
    &:hover{
      color: #5ec4f5;
    }
  }
}

// 承诺   奖励
.promise,.reward{
  line-height: 20px;
  color: #666;
  margin: 0 20px;
  font-size: 12px;
}
.redTxt{
    color: #ff0000;
  }

.promise{
  margin-top: 50px;
}

.reward{
  margin-top: 20px;
  padding-bottom: 20px;
}


.input-tip{
  float: right;
  margin-left: 10px;
  line-height: 32px;
}
.error{
  color: red;
}
