@import '../../../../sprite/VIP/common/account/sprite.less';
@import '../../../../dev/mixins/mixins.less';

.main_box{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.databox
{
  font-size: 18px;

  width: 854px;
  margin-top: 40px;

  background-color: #fff;
  padding-bottom: 80px;
  // 按钮
  .save{
    width: 374px;
    line-height: 50px;
    // color: #ff9902;
    text-align: center;
    margin-left: 240px;
    margin-top: 30px;
    background-color: #fff;
    .save_butt{
      width: 176px;
     .border-radius(5px);
     color: #fff;
     background-color: #3ca1d7;
    }

  }
}
.fabri_ico{
  margin: 60px 0 0 166px;
  .sprite(@failure);
  .icon-VIP-common-account;
}
.fabri_textbox{
  margin:66px 0 0 10px;
  .fabri_tit{
    font-size: 18px;
    color:#333;
    font-weight: bold;

  }
  .fabri_text{
    font-size: 14px;
    margin-top:10px;
    color: #666;
    a{
      color: #51c5f2;
      text-decoration:underline;
    }
  }
}





// 联系方式
.contactbox{
  color: #333;
  font-size: 14px;
  .words{
    background-image: url("/images/production/VIP/common/contact.png");
    background-repeat: repeat-x;
    background-position: center;
    margin: 50px 20px 0 20px;
    span{
      font-size: 18px;
      padding-right: 10px;
      background-color: #fff;
    }
  }
  .contact{
    margin-top: 50px;
  }




}
