
@import '../../../../sprite/VIP/common/account/sprite.less';

@import '../../../../dev/mixins/mixins.less';

div.modifybox{
  width: 1000px;
  height: 190px;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom: 10px;

  p.tit{
    margin: 0 10px;
    line-height: 40px;
    font-size: 16px;
    color: #3ca1d7;
    margin-bottom: 10px;
    span{
      display: block;
      width: 84px;
      text-align: center;
      border-bottom: #3ca1d7 1px solid;
    }
    i{
      cursor: pointer;
      margin-top: 10px;
      .sprite(@btn_close);
      .icon-VIP-common-account;
    }
  }
  .mod_buttbox{
    text-align: center;
    margin-top: 20px;
    .mod_buttlf{
      display: inline-block;
      width: 72px;

      text-align: center;
      .button-variant(#fff; #3ca1d7; #3ca1d7);
      .button-size(0; 0; 16px; 32px; 3px);
    }
  }
  label.modify{
    margin: 10px 20px;
    line-height: 16px;
    input.int{
      width: 16px;
      height: 16px;
      margin-right: 3px;
    }
  }
}