@icon_zhankai: -4px -4px 11px 6px;
@icon_shouqi: -4px -18px 11px 6px;
@xiala_hui: -4px -32px 10px 6px;
@guanbi: -4px -46px 10px 10px;
@tianjia: -4px -64px 14px 14px;
@icon_more: -4px -86px 16px 16px;
@correct: -4px -110px 16px 16px;
@icon_fenxiang: -4px -134px 16px 16px;
@error: -4px -158px 16px 16px;
@icon-yan: -4px -182px 28px 16px;
@icon-sixin: -4px -206px 24px 16px;
@icon_shangchuan: -4px -230px 16px 16px;
@icon-guanzhu: -4px -254px 16px 16px;
@shanchu: -4px -278px 17px 17px;
@didian: -4px -303px 11px 17px;
@bianji: -4px -328px 17px 17px;
@nv: -4px -353px 25px 24px;
@nan: -4px -385px 25px 24px;
@a12_yisheji: -4px -417px 34px 34px;
@a12_yishuju: -4px -459px 34px 34px;
@titledanqian: -4px -501px 115px 40px;
@a06_touxiang: -4px -549px 46px 50px;
@titlebj: -4px -607px 814px 50px;
@a12_title_bg: -4px -665px 314px 60px;
@yuan-90px: -4px -733px 90px 90px;
@a06_yinzhang: -4px -831px 97px 97px;
@gundongtiao: -4px -936px 8px 112px;
@yuan-140px: -4px -1056px 140px 140px;
@gundongtiao_bg: -4px -1204px 8px 220px;
@a06_kuang: -4px -1432px 508px 249px;
.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}
.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}
.sprite(@sprite, @display: block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
.icon-huiyuanzhongxin-right {
  background-image: url("/images/production/huiyuanzhongxin/right/sprite-huiyuanzhongxin-right.PNG");
}