.icon-yituangou-mianliaotubiao {
  background-image: url("/images/production/yituangou/mianliaotubiao/sprite-yituangou-mianliaotubiao.PNG");
}
.jianhao {
  margin: 13px 7px;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 14px;
  height: 2px;
}
.shulian_bor {
  display: block;
  width: 28px;
  height: 28px;
  border: 1px solid #ddd;
}
.jiahao {
  margin: 7px 7px;
  background-position: -4px -14px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 14px;
  height: 14px;
}
.qubainkaung {
  width: 90px;
  border-right: none;
  border-left: none;
}
.qubainkaung input {
  line-height: 28px;
  width: 90px;
  height: 28px;
  border: none;
  border: 0;
  *line-height: 26px;
  *height: 26px;
}
