.icon-yituangou-renzheng {
  background-image: url("/images/production/yituangou/renzheng/sprite-yituangou-renzheng.PNG");
}
.icon-yituangou-mianliaotubiao {
  background-image: url("/images/production/yituangou/mianliaotubiao/sprite-yituangou-mianliaotubiao.PNG");
}
/*按钮的样式*/
.Button {
  line-height: 32px;
  width: 100px;
  text-align: center;
  color: #fff;
  background-color: #d42532;
  _vertical-align: middle;
  border-radius: 3px;
}
.huise {
  color: #888;
}
.hongse {
  color: #d30f26;
}
.heise {
  color: #000;
}
.baisekuang {
  width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom: 50px;
}
.gouwuchebox {
  font-size: 13px;
  width: 960px;
  margin: 0 auto;
  padding-top: 40px;
}
.gouwuchebox .biaotishuxing {
  font-size: 16px;
}
.gouwuchebox .biaotishuxing_xiangxiajuli {
  padding-bottom: 20px;
}
.gouwuchebox .baititishi {
  line-height: 22px;
  text-align: right;
  color: #888;
}
.gouwuchebox .yansegaodu {
  margin-top: 10px;
}
.gouwuchebox .miaoliaotubiao1 {
  background-position: -4px -60px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 60px;
  height: 60px;
}
.gouwuchebox .miaoliaotubiao2 {
  background-position: -4px -128px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 60px;
  height: 60px;
}
.gouwuchebox .miaoliaotubiao2 {
  background-position: -4px -128px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 60px;
  height: 60px;
}
.gouwuchebox .miaoliaotubiao3 {
  background-position: -4px -196px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 60px;
  height: 60px;
}
.gouwuchebox .miaoliaotubiao4 {
  background-position: -4px -264px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 60px;
  height: 60px;
}
.gouwuchebox .miaoliaotubiao5 {
  background-position: -4px -332px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 60px;
  height: 60px;
}
.gouwuchebox .miaoliaotubiao6 {
  background-position: -4px -400px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 60px;
  height: 60px;
}
.gouwuchebox .shuliangjiajianweizi {
  margin-left: 10px;
  margin-top: 14px;
}
.gouwuchebox .jingen {
  margin-left: 30px;
  margin-top: 16px;
  font-size: 20px;
  color: #d42532;
}
.gouwuchebox .qujuli {
  margin: 0;
}
.gouwuchebox .biankaung {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}
.gouwuchebox .zhihao_13 {
  font-size: 13px;
}
.gouwuchebox .zhihao_14 {
  font-size: 14px;
}
.gouwuchebox .youfujuli {
  margin-right: 30px;
  display: inline;
}
.gouwuchebox .jiachu {
  font-weight: bold;
}
.gouwuchebox .gouwu_gaodu {
  margin-top: 20px;
}
.gouwuchebox .gouwu_gaoduda {
  margin-top: 30px;
}
.gouwuchebox .mianliaomingchengbox {
  width: 280px;
  color: #888888;
  line-height: 16px;
  margin-left: 10px;
}
.gouwuchebox .yanse_color {
  margin-left: 10px;
  color: #333;
}
.gouwuchebox .shuliang {
  margin-top: 24px;
  margin-left: 20px;
  width: 160px;
  text-align: center;
}
.gouwuchebox .shangchu {
  margin-top: 6px;
  margin-right: 4px;
  background-position: -4px -36px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
}
.gouwuchebox .check_weizhi {
  margin-left: 10px;
  padding-top: 22px;
  margin-right: 20px;
  display: inline;
}
.gouwuchebox .shanchucaoz {
  margin: 16px 0px 0px 20px;
}
.gouwuchebox .zengjiagao {
  margin-left: 50px;
}
.gouwuchebox .xingjingenjuli {
  margin-left: 46px;
}
.gouwuchebox .caozuolang {
  line-height: 30px;
  margin-top: 12px;
  background-color: #e4e2dd;
}
.gouwuchebox .caozuolang .danx_weizhi {
  display: inline;
  margin-left: 10px;
  vertical-align: middle;
}
.gouwuchebox .caozuolang .danx_weizhi input {
  float: left;
  margin-top: 8px;
  margin-right: 2px;
  *margin-top: 4px;
}
.gouwuchebox .caozuolang .jianrong {
  margin-right: 8px;
  color: #888;
}
.gouwuchebox .caozuolang .shixing {
  margin-top: 7px;
  margin-left: 40px;
  background-position: -4px -25px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 81px;
  height: 15px;
}
.gouwuchebox .jiachu {
  font-weight: bold;
}
.gouwuchebox .gouwu_gaoduda {
  margin-top: 30px;
}
.gouwuchebox .tongji {
  color: #333;
}
.gouwuchebox .tongji .tongjijuli {
  margin-left: 30px;
}
.gouwuchebox .tongji .zongenbox {
  border: 3px solid #d42532;
  width: 374px;
  padding-bottom: 20px;
}
.gouwuchebox .tongji .jinendaixao {
  text-align: right;
  width: 300px;
  display: inline;
}
.gouwuchebox .tongji .com_fang {
  line-height: 32px;
  margin-right: 20px;
  color: #888;
}
