.icon-yisheji-index {
  background-image: url("/images/production/yisheji/index/sprite-yisheji-index.PNG");
}
.icon-easydesign {
  background-image: url("/images/production/easydesign/sprite-easydesign.PNG");
}
.index-banner-box {
  z-index: 1;
  width: 100%;
  background-color: #5ab6ab;
  margin-top: 112px;
}
.index-banner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
}
.index-banner .banner-btn {
  font-size: 18px;
  line-height: 42px;
  position: absolute;
  bottom: 146px;
  left: 84px;
  display: block;
  width: 182px;
  height: 42px;
  color: #fff;
  background-color: #fa9b36;
  border-radius: 100px;
}
.index-banner .banner-btn i {
  margin-top: 8px;
  margin-right: 18px;
  margin-left: 34px;
  background-position: -4px -211px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 26px;
  height: 26px;
  background-image: url("/images/production/yisheji/index/sprite-yisheji-index.PNG");
}
.index-banner .banner-lunbo {
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin: 0 0 0 -22px;
}
.index-banner .banner-lunbo a {
  line-height: normal;
  display: inline-block;
  overflow: hidden;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
}
.index-banner .banner-lunbo .current {
  background-color: #fff;
}
.simulation_outbox,
.effect_box {
  text-align: center;
  padding: 60px 0 60px 0;
}
.effect_box {
  padding-bottom: 100px;
}
.simulation_outbox,
.studiobox {
  background-color: #dce4ed;
}
.studiobox {
  padding-bottom: 60px;
}
.exp_butt {
  width: 794px;
  margin: 40px auto 0 auto;
}
.exp_butt li {
  width: 122px;
  line-height: 40px;
  *height: 42px;
  border: 1px solid #d1d0d6;
  border-radius: 60px;
  font-size: 14px;
  color: #666666;
}
.exp_butt .exp_lileft {
  margin-left: 10px;
}
.exp_butt .curr_li {
  border: 1px solid #3ca1d7;
  background-color: #3ca1d7;
  color: #fff;
}
.exo_conbox {
  width: 1200px;
  margin: 30px auto 0 auto;
}
.exo_conbox .con_left {
  margin-left: 4px;
}
.exo_conbox .selectbox {
  background-image: url("/images/production/easydesign/Transparent.png");
  left: 0;
  top: 0;
  position: absolute;
  width: 297px;
  height: 297px;
}
.exo_conbox li {
  width: 297px;
  height: 297px;
  overflow: hidden;
  position: relative;
  margin-bottom: 4px;
  background-color: #3ca1d7;
}
.exo_conbox .img_position {
  margin-left: -86px;
}
.exo_conbox .search {
  margin: 110px auto 0 auto;
  background-position: -4px -668px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 68px;
  height: 68px;
  background-image: url("/images/production/easydesign/sprite-easydesign.PNG");
}
.exo_conbox .moreimg {
  margin: 110px auto 0 auto;
  background-position: -4px -744px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 68px;
  height: 68px;
  background-image: url("/images/production/easydesign/sprite-easydesign.PNG");
}
.exo_conbox .select_text {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  display: block;
}
.sim_titlebox {
  position: relative;
  display: inline-block;
}
.title_left {
  background-position: -4px -255px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("/images/production/easydesign/sprite-easydesign.PNG");
  position: absolute;
  left: -10px;
  top: -8px;
}
.title_rg {
  background-position: -4px -287px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("/images/production/easydesign/sprite-easydesign.PNG");
  position: absolute;
  right: -12px;
  bottom: -12px;
}
.sim_title {
  line-height: 32px;
  font-size: 32px;
  font-weight: bold;
}
.sim_exp,
.sim_exp2 {
  margin-top: 30px;
  color: #888;
  font-size: 14px;
}
.sim_exp2 {
  margin-top: 0;
}
.studiobox .studio {
  width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  line-height: normal;
}
.studiobox .studio .studio_title {
  color: #333333;
  font-size: 20px;
}
.studiobox .studio .morepng {
  background-position: -4px -319px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 74px;
  height: 26px;
  margin: 0 auto;
  margin-top: 8px;
  background-image: url("/images/production/easydesign/sprite-easydesign.PNG");
}
.studiobox .studio .studio_con {
  margin-top: 10px;
}
.studiobox .studio .studip_conleft {
  width: 900px;
  background-color: #58b2e2;
  position: relative;
  height: 340px;
}
.studiobox .studio .studip_conrg {
  width: 300px;
  background-color: #3ca1d7;
  height: 340px;
}
.studiobox .studio .leftjiantou {
  position: absolute;
  left: 0;
  top: 150px;
  background-position: -4px -477px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 40px;
  background-image: url("/images/production/easydesign/sprite-easydesign.PNG");
}
.studiobox .studio .rightjiantou {
  position: absolute;
  right: 0;
  top: 150px;
  background-position: -4px -429px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 40px;
  background-image: url("/images/production/easydesign/sprite-easydesign.PNG");
}
.studiobox .studio .yiyou {
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
.studiobox .studio .dahaozi {
  font-size: 40px;
}
.studiobox .studio .zhonghao {
  font-size: 13px;
}
.studiobox .studio .cangjiagzs {
  background-position: -4px -595px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 77px;
  height: 65px;
  margin: 70px auto 0 auto;
  background-image: url("/images/production/easydesign/sprite-easydesign.PNG");
}
.studiobox .studio .immediately {
  background-color: #e85d40;
  width: 204px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  display: block;
  font-size: 20px;
  margin-top: 23px;
}
.studiobox .studio .stu_lefylist,
.studiobox .studio .stu_lefylist2 {
  margin-top: 56px;
  width: 204px;
  background-color: #fff;
  margin-left: 12px;
  border-radius: 5px;
  padding-bottom: 20px;
}
.studiobox .studio .stu_lefylist2 {
  margin-left: 20px;
}
.studiobox .studio .locate {
  position: relative;
}
.studiobox .studio .touxiang {
  position: absolute;
  left: 26%;
  top: -36px;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius: 60px;
  overflow: hidden;
}
.studiobox .studio .username {
  margin-top: 86px;
  text-align: center;
  font-size: 16px;
  color: #333333;
  display: block;
  padding-bottom: 10px;
}
.studiobox .studio .username:hover {
  color: #dd1d20;
}
.studiobox .studio .position {
  margin: 1px 2px 0 16px;
  background-position: -4px -118px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 11px;
  height: 17px;
  background-image: url("/images/production/easydesign/sprite-easydesign.PNG");
}
.studiobox .studio .qianhui {
  color: #888;
}
.studiobox .studio .hei {
  margin-left: 8px;
  color: #000;
}
.studiobox .studio .red {
  color: #dd1d20;
}
.studiobox .studio .juzhong {
  margin-top: 4px;
  text-align: center;
}
.studiobox .studio .flower_data {
  font-size: 14px;
  text-align: center;
  margin-top: 12px;
}
.studiobox .studio .flower_data .txt_gray {
  color: #666;
}
.studiobox .studio .flower_data .txt_gray:hover {
  color: #dd1d20;
}
.studiobox .studio .increase_butt {
  width: 162px;
  height: 30px;
  background-color: #37b5f9;
  display: block;
  margin: 20px auto 0 auto;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
}
.studiobox .studio .increase {
  margin: 8px 4px 0 52px;
  _margin-left: 26px;
  background-position: -4px -23px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("/images/production/easydesign/sprite-easydesign.PNG");
}
.shipin-box {
  width: 1200px;
  margin: 60px auto 0 auto;
}
.shipin-box li {
  position: relative;
  margin-right: 20px;
}
.shipin-box .zuihou-li {
  margin-right: 0;
}
.shipin-box .a03 {
  display: block;
  overflow: hidden;
  width: 285px;
  height: 180px;
  border-radius: 7px;
}
.shipin-box .a04 {
  display: block;
  position: absolute;
  left: 10px;
  bottom: -20px;
  width: 265px;
  line-height: 40px;
  _vertical-align: middle;
  background-color: #e7e7e7;
  color: #333;
  border-radius: 7px;
}
.shipin-box .a04 span {
  margin-left: 15px;
}
.shipin-box .a04 i {
  margin-right: 15px;
  margin-top: 10px;
  background-position: -4px -227px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("/images/production/easydesign/sprite-easydesign.PNG");
}
.shipin-box .a04:hover {
  background-color: #e85d40;
  color: #fff;
}
.shipin-box .a04:hover i {
  background-position: -4px -143px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("/images/production/easydesign/sprite-easydesign.PNG");
}
