.probox{
    width: 70%;
    margin: 0 auto;
    .pro_topbox{
        font-size: 60px;
        line-height: 50px;
        border-bottom: 2px solid #dcdcdc;
        color: #CCCCCC;
        text-indent: 30px;
        padding: 10px 0 20px;
        font-family: "黑体", "微软雅黑";
    }
    h1{
        font-size: 38px;
        font-family: "微软雅黑", "宋体";
        font-weight: 300;
        text-indent: 30px;
        color: #3ca1d7;
        line-height: 40px;
        padding: 0;
        margin: 10px 0 20px;
    }
    .video_box{
        width: 500px;
        height: 380px;
        margin:60px auto 0 auto;

    }
}