.icon-easydata_old-report {
  background-image: url("/images/production/easydata_old/report/sprite-easydata_old-report.PNG");
}
body {
  font-size: 14px;
}
body .basic_inf {
  background-color: #303845;
}
body .compatible {
  padding-bottom: 15px;
}
body .inf_box {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 40px;
}
body .position {
  line-height: 16px;
  padding-top: 40px;
}
body .position a {
  color: #888;
}
body .position .home {
  background-position: -4px -139px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/production/easydata_old/report/sprite-easydata_old-report.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata_old/report/home.png");
  _background: none;
}
body .position .arrow {
  margin: 3px 5px 0 5px;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 6px;
  height: 11px;
  background-image: url("/images/production/easydata_old/report/sprite-easydata_old-report.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata_old/report/arrow.png");
  _background: none;
}
body .position .current {
  color: #fff;
}
body .position .prompt {
  color: #f93d3d;
}
body .inf_content {
  margin-top: 40px;
  background-color: #3f4755;
}
body .inf_content .contbox {
  width: 460px;
  margin: 15px 0 0 20px;
  border-right: 1px solid #656c77;
  color: #cccccc;
}
body .inf_content .green {
  background-position: -4px -351px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 180px;
  height: 180px;
  background-image: url("/images/production/easydata_old/report/sprite-easydata_old-report.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata_old/report/green.png");
  _background: none;
  margin: 20px 0 0 70px;
}
body .inf_content .blue {
  background-position: -4px -163px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 180px;
  height: 180px;
  background-image: url("/images/production/easydata_old/report/sprite-easydata_old-report.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata_old/report/blue.png");
  _background: none;
  margin: 20px 0px 0 30px;
}
body .inf_content .orange {
  background-position: -4px -539px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 180px;
  height: 180px;
  background-image: url("/images/production/easydata_old/report/sprite-easydata_old-report.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata_old/report/orange.png");
  _background: none;
  margin: 20px 0px 0 30px;
}
body .inf_content .credit,
body .inf_content .minute,
body .inf_content .money,
body .inf_content .dollar,
body .inf_content .quantity {
  text-align: center;
}
body .inf_content .credit,
body .inf_content .money {
  font-size: 16px;
  color: #cccccc;
}
body .inf_content .credit {
  margin-top: 46px;
}
body .inf_content .money {
  margin-top: 64px;
}
body .inf_content .minute,
body .inf_content .dollar,
body .inf_content .quantity {
  font-size: 24px;
  color: #69c731;
}
body .inf_content .dollar {
  color: #ff9000;
}
body .inf_content .quantity {
  color: #fff;
}
body .inf_content .score {
  color: #fff;
  background-color: #69c731;
  width: 85px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 20px;
  display: block;
  text-align: center;
  margin: 10px auto 0 auto;
}
body .inf_content .titlebox {
  line-height: 24px;
  padding-top: 2px;
}
body .inf_content .cont_title {
  color: #e3e3e3;
}
body .inf_content .add_butt {
  width: 66px;
  height: 24px;
  margin-right: 15px;
  color: #fff;
  background-color: #f60;
  border-radius: 3px;
}
body .inf_content .add_butt .add {
  background-position: -4px -23px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline;
  width: 12px;
  height: 12px;
  background-image: url("/images/production/easydata_old/report/sprite-easydata_old-report.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata_old/report/add.png");
  _background: none;
  margin: 5px 4px 0 10px;
}
body .inf_content .inf_linehe,
body .inf_content .inf_top,
body .inf_content .inf_bottom {
  line-height: 34px;
}
body .inf_content .inf_top {
  margin-top: 20px;
}
body .inf_content .inf_bottom {
  padding-bottom: 6px;
}
