

.searchbox-21
{
    font-size: 13px;
    line-height: 26px;

    width: 1008px;

    color: #666;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    a{
        color: #666;
    }
    .libox
    {
        width: 972px;
        margin: 0 auto;
        padding-top: 20px;
        .search
        {
            width: 334px;
        }
        .yanse
        {
            color: #d52532;
        }
        .search_left
        {
            width: 251px;
            height: 26px;

            border: 1px solid #bfbfbf;
            border-right: none;
            input
            {
                line-height: 26px;

                width: 250px;
                height: 26px;

                border: none;
                border: 0;

                *line-height: 24px;
                *height: 24px;
            }
        }
        .right
        {
            line-height: 26px;

            width: 80px;

            text-align: center;

            color: #3c3c3c;
            border: 1px solid #bfbfbf;
        }
        .bianju{
        	margin-right: 34px;
        	*margin-right: 20px;

        }
        .xiangxiajuli{
        	padding-bottom: 20px;
        }
        li
        {
            line-height: 30px;

     
            margin-top: 25px;
            .xiala
            {
                width: 150px;
                line-height: 28px;
                *background: #fff;
                *border: 1px solid #bfbfbf;
                *padding: 4px;
                .container
                {
                    *border: 0;
                    *position: relative;
                    *width: 150px;
                    *height: 20px;
                    *overflow: hidden;
                 
                }
                .select
                {
                   
          
                    width: 150px;
                    height: 32px;
                    margin: -1px;
                    color: #666;
                    border: 1px solid #bfbfbf;
                    *height: 22px;
                    *width: 152px;
              
                 
                }
            }
            .shurukuang
            {
                width: 150px;
                height: 28px;

                border: 1px solid #bfbfbf;
            }
        }
    }
}
