@import '../../../sprite/yituangou/tuangougeren/sprite.less';
.gerenxingxi
{
    line-height: 20px;

    width: 1008px;

    border: 1px solid #e0e0e0;

    background-color: #fff;
    
    .gerentouxiang
    {
        margin: 18px 20px;

        *padding-bottom: 18px;
        _margin-left: 9px;
        .sprite(@touxiang);
    }
    .vip
    {
        vertical-align: bottom;

        .sprite(@VIP,inline-block);
    }
    .geren_name
    {
        font-size: 16px;
        font-weight: bold;

        color: #000;
    }
    .geren_wenhuozhihao
    {
        font-size: 13px;
    }
    .geren_jibiezhihao
    {
        font-size: 14px;
    }
    .geren_wenhuoyanse
    {
        color: #666;
    }
    .gaodu_xingxi
    {
        margin-top: 24px;
    }
    .dizhizhihao
    {
        font-size: 15px;

        color: #666;
    }
    .zhiliaojuli
    {
        margin-top: 14px;
    }
    .xingyugaodu{
    	margin-top: 20px;
    }
    .safetyjuli
    {
        margin-top: 4px;
    }
    .lijitis
    {
        font-size: 12px;

        margin-left: 10px;

        color: #1d94d1;
    }
    .fenhaojuli
    {
        margin: 0 3px 0 2px;
    }
    .xinghuang{
    	margin-left: 10px;
    	.sprite(@huangxin);
    }
    .xinghui{
    	margin-left: 10px;
    	.sprite(@huixing);
    }
    .dizhi
    {
        margin-right: 4px;

        vertical-align: top;

        .sprite(@dizi,inline-block);
        *margin-right: 6px;
    }
    .shuoming{
    	 font-size: 12px;
    	 color: #666666;
    	 margin-top: 10px;
    	 line-height: 16px;
    }
    .xingxingjuli{
    	margin-left: 6px;
    	_margin-left: 0px;
    	margin-top: 8px;
    }
    .jibenxxi
    {
        margin-top: -1px;
        _margin-top: 0;
        margin-right: 5px;
        margin-left: 4px;

        vertical-align: top;

        .sprite(@jibenxxi,inline-block);
        *margin-right: 6px;
    }
    .dingdan
    {
        margin-right: 4px;

        vertical-align: top;

        .sprite(@dingdan,inline-block);
        *margin-right: 6px;
    }
    .fabu
    {
        margin-top: -3px;
        margin-right: 4px;

        vertical-align: top;

        .sprite(@fabu,inline-block);
        *margin-right: 6px;
    }
    .caozhizhongjieju
    {
        margin-left: 50px;
    }
    .zaozuojuli
    {
        margin-left: 60px;
    }
    .jianruo
    {
        _width: 250px;
    }
     .jianruo_caozuo
    {
        _width: 300px;
    }
    .yonghuxingyu{
    	font-size: 14px;
    	color: #333;
    }
    .safety_hui
    {
        margin-top: 5px;

        .sprite(@disetiao);
        .safety_lv
        {
            .sprite(@lvsetiao);
        }
        .safety_juse
        {
            .sprite(@jusetiao);
        }
    }
}
