@import '../../../sprite/yituangou/renzheng/sprite.less';

.liebiaobox
{
    font-size: 12px;

    width: 1152px;

    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
    .huowu
    {
        width: 33%;
    }
    .qita
    {
        width: 13%;
    }
    .caozuo
    {
        width: 14%;
    }
    .cunhei
    {
        color: #000;
    }
    .qianhei
    {
        color: #4d4d4d;
    }
    .mianliaojuli
    {
        margin-top: 16px;
    }
    .dun
    {
        .sprite(@dun,inline-block);
    }
    .shijian
    {
        .sprite(@shijian,inline-block);
    }
    .xing
    {
        .sprite(@xingyong,inline-block);
    }
    .renzhengjuli
    {
        margin-top: 4px;
    }
    .zhengrenjuli
    {
        margin-right: 2px;

        *margin-right: 6px;
    }
    
    .tianjiaxiabiankuang
    {
        border-bottom: 1px solid #e0e0e0;
    }
    .wenzhijuzhong
    {
        line-height: 20px;

        text-align: center;
    }
    .shujugaodu
    {
        margin-top: 60px;
    }
    .biejingse
    {
        font-size: 13px;
        font-weight: bold;
        line-height: 40px;

        text-align: center;

        color: #333;
        background-color: #e1e1e1;
    }
    .mianliaoxiangqi
    {
        line-height: 24px;

        margin-left: 18px;
    }
    .biaozunyanse
    {
        color: #999;
    }
    .yonhuoxingxibox
    {
        margin-top: 18px;
        margin-left: 36px;
        padding-bottom: 16px;
        .riqijuli
        {
            margin-left: 16px;
        }
        .mianliaotu
        {
            width: 77px;
            height: 77px;

            .sprite(@miantu);
        }
    }
}
