@import '../../../sprite/yituangou/renzheng/sprite.less';
@import '../../../dev/mixins/mixins.less';
.biaoti
{
    font-size: 18px;

    padding-bottom: 14px;

    color: #444;
}

.liebiaobox
{
    font-size: 12px;

    width: 1008px;

    border: 1px solid #e0e0e0;
    background-color: #fff;
    .huowu
    {
        width: 33%;
    }
    .qita
    {
        width: 13%;
    }
    .caozuo
    {
        width: 14%;
    }
    .cunhei
    {
        color: #000;
    }
    .qianhei
    {
        color: #4d4d4d;
    }
    .mianliaojuli
    {
        margin-top: 16px;
    }
    .dun
    {
        .sprite(@dun,inline-block);
    }
    .shijian
    {
        .sprite(@shijian,inline-block);
    }
    .xing
    {
        .sprite(@xingyong,inline-block);
    }
    .renzhengjuli
    {
        margin-top: 4px;
    }
    .zhengrenjuli
    {
        margin-right: 2px;

        *margin-right: 6px;
    }
    .com_chakan
    {
        line-height: 28px;

        width: 100px;
        height: 28px;
        margin-top: 41px;
        margin-left: 22px;

        text-align: center;

        background-color: #50afef;

        .border-radius(4px);
        a
        {
            color: #fff;
        }
    }
    .com_chakangaodu
    {
        margin-top: 6px;
    }
    .com_chakangaodu2
    {
        margin-top: 36px;
    }
    .com_chakanhui
    {
        background-color: #a8a8a8;
    }
    .sixing
    {
        margin-left: 54px;

        vertical-align: top;

        .sprite(@shixiang,inline-block);
    }
    .tianjiaxiabiankuang
    {
        border-bottom: 1px solid #e0e0e0;
    }
    .wenzhijuzhong
    {
        line-height: 20px;

        text-align: center;
    }
    .shujugaodu
    {
        margin-top: 45px;
    }
    .biejingse
    {
        font-size: 13px;
        font-weight: bold;
        line-height: 40px;

        text-align: center;

        color: #333;
        background-color: #e1e1e1;
    }
    .mianliaoxiangqi
    {
        line-height: 24px;

        margin-left: 18px;
    }
    .biaozunyanse
    {
        color: #999;
    }
    .dingdanriqi
    {
        margin-top: 18px;
        margin-left: 36px;
    }
    .riqijuli
    {
        margin-left: 16px;
    }
    .yonhuoxingxibox
    {
        margin-top: 18px;
        margin-left: 36px;
        padding-bottom: 16px;
        .mianliaotu
        {
            width: 77px;
            height: 77px;

            .sprite(@miantu);
        }
    }
}
