@import '../../../sprite/yituangou/renzheng/sprite.less';
.tianjiabox{
	width: 1010px;
	font-size: 12px;
	line-height: 20px;
	.tianjia_com{
		line-height: 28px;
		width: 118px;
		border: 1px solid #bfd6af;
		text-align: center;
		background-color: #edf7e5;
		color: #3e3f3e;
		font-size: 14px;
		font-weight: bold;
		a{
			color: #3e3f3e;
		}

	}
	.tianjia_tishi{
		margin-left: 12px;
		line-height: 30px;
		font-size: 12px;
		span{
			color: #87b291;
		}
	}
	.shouhuodizhibox{
		margin-top: 10px;
		border:2px solid #e6e6e6;
		width: 1006px;
		padding-bottom: 8px;
	}

	.moren_com{
		width: 56px;
		line-height: 20px;
		background-color: #ffaa45;
		a{
			color:#fff;
		}
		text-align: center;
	}
	.morenshezhibox{
		margin-top: 8px;
		margin-left: 20px;
	}
	.shanchu{
		margin-right: 10px;
		margin-top: 3px;
		.sprite(@shangchu);
	}
	.dizhititle{
		width: 80px;
		text-align: right;
		color: #999999;
	}
	.yumorenjuli{
		margin-top: 18px;
	}
	.hangjianju{
		margin-top: 2px;
	}
	.yansehui{
		color: #666666;

	}
    .bianji{
    	color:#005ea7;
    	margin-right: 26px;
    }
}