@import '../../../sprite/yituangou/renzheng/sprite.less';
@import 'liebiao_da.less';

a{
	color: #333333;
}
.xiangxibox{
	line-height: 16px;
	margin:0 auto;
	width: 1190px;
	padding-top:10px;
	font-size: 12px;
	color:#333333;
	.dangqianyanse{
		color:#d52532;
	}
	.weizhijianju{
     margin:0 4px;
	}
	.jiantuoyanse{
		color: #aaaaaa;
	}
	.tianjiadibiankuang{
		border-bottom: 1px solid #d6d6d6;
	}
	.jiacu{
		font-weight: bold;
	}
	.rangong_gaofu{
		margin-top:14px;
	}
	.xianhui{
		color:#666;
	}
	.youbianjuli{
		margin-right:10px;
	}
	.lidaxiao{
		width: 266px;
	}
	.xiangxi_dibianjuli{
		padding-bottom: 26px;
	}
	.shixing{
		margin-top: -2px;
		margin-left: 4px;
		_margin-top:0px;
		.sprite(@shixiang,inline-block);
		vertical-align: middle;
	}
	.xiangxingxiweiz{
		margin-left: 80px;
	}
	.biaotizhihao{
		font-size: 14px;
	}
	.biaotigaodu{
		margin-top: 18px;
	}
	.youjianyanse{
		color: #d52532;
	}
	.xianbiejing{
		margin-top: 20px;
		  background-image: url("/images/production/yituangou/bingjingxian.png");
		  background-repeat: no-repeat;
		  background-position: bottom;
		  .selection_dangqian{
		  	margin-left: 20px;
		  	border: 1px solid #dbdbdb;
		  	width: 120px;
		  	line-height: 32px;
		  	border-bottom: none;
		  	background-color: #fff;
		  	text-align: center;
		  	font-size: 16px;
		  }
		  .rengong_yanse{
		  	color:#2898ef;
		  }
	}
	.dingdan_contentsbox{
		border: 1px solid #dbdbdb;
		border-top:none;
		background-color: #fff;
		.dingdan_contentslibox{
			width: 1154px;
			margin:0 auto;
			padding-top: 20px;
		}
	}




}