@import '../../../sprite/easydata/buyer/sprite.less';
@import '../../../dev/mixins/mixins.less';

.company-info-wrap{
  width:100%;
  background-color: #F2F3F5;
  margin-top: 112px;
  .company-info-box{
    margin: 40px auto 70px;
    width:1100px;
    padding: 30px 50px;
    background-color: #fff;
    color: #333;
    position: relative;

    .border-radius(4px);
    .box-shadow(0px 0px 7px 7px #eee);

    .company-name{
      font-size: 24px;
    }
    .company-info{
      font-size: 14px;
      line-height: 35px;
    }
    .money-num{
      font-size: 62px;
      color: #f60;
    }
    .company-loc{
      position: absolute;
      top: 30px;
      right: 20px;
      span{
        float:left;
        margin-top: 3px;
        margin-right: 7px;
        .sprite(@location);
        .icon-easydata-buyer;
      }
    }
    .company-sites{
      position: absolute;
      top: 70px;
      right: 20px;
      span{
        float:left;
        margin-top: 3px;
        margin-right: 10px;
        .sprite(@sites);
        .icon-easydata-buyer;
      }
      a{
        color: #333;
      }
    }
  }
}