
@import '../../../sprite/huiyuanzhongxin/right/sprite.less';

@import 'common/shezhi.less';

.anquan-box{
	margin-top: 40px;
	background-color: #fff;
	padding-bottom: 74px;
	padding-top: 52px;
	.anquan_main01{
		margin-left: 100px;
		position: relative;
		.main01_img{
			position: absolute;
			.sprite(@yuan-140px);
            .icon-huiyuanzhongxin-right;
		}
		.words_p{
			margin-top: 18px;
			margin-left: 17px;
		}
	}


	.anquan_main02{
		padding-left: 40px;
		padding-right: 58px;
		border-top: #ebebeb 1px solid;
		padding-top: 40px;
		margin-top: 40px;
		.main02_words{
			width: 405px;
			margin-left: 50px;
			font-size: 13px;
		}
	}
}