@import '../../../sprite/huiyuanzhongxin/right/sprite.less';
@import '../../../dev/mixins/mixins.less';
.a04box
{
    font-size: 18px;

    width: 854px;
    margin-top: 40px;

    background-color: #fff;
    padding-bottom: 20px;
    .tuoxiangbox
    {
        position: relative;

        overflow: hidden;

        width: 140px;
        height: 140px;
        margin: 0 auto;
        margin-top: 45px;
    }
    .shuru,
    .shuruchang,
    .xialakuang,
    .shurutime,
    .shurutime2
    {
        line-height: 48px;

        height: 50px;

        border: 1px solid #d9d9d9;

        .border-radius(3px);
    }
    .shuruchang
    {
        width: 394px;
        padding-left: 10px;
    }
    .imgbox
    {
        position: absolute;
        top: 0;
        left: 0;

        .sprite(@yuan-140px);
    }
    .titilexingxi,
    .waiwengai
    {
        line-height: 50px;
    }
    .xingbei
    {
        margin-top: 35px;
        margin-bottom: 8px;
    }
    .nan,
    .shuruchang,
    .xialakuang,
    .shurutime,
    .zhuanchang,
    .onetechang
    {
        margin-left: 15px;
    }
    .shurutop
    {
        margin-top: 20px;
    }
    .nan
    {
        .sprite(@nan);
    }
    .nv
    {
        margin-left: 20px;

        .sprite(@nv);
    }
    .nv,
    .nan
    {
        margin-top: 13px;
        margin-right: 6px;
    }
    .xialakuangleft,.techengjianju
    {
        margin-left: 11px;
    }
    .titilexingxi
    {
        width: 238px;

        text-align: right;
    }
    .quyutitle,
    {
        line-height: 50px;

        margin: 80px auto 0 auto;
        margin-bottom: 50px;

        text-align: center;

        color: #333;

        .sprite(@titlebj);
    }
    .yiyouzhiwei,
    .zhiweimingcheng
    {
        font-size: 18px;
    }
    .leftbianju
    {
        margin-left: 155px;
    }
    .bianji,
    .shangchu
    {
        margin-top: 4px;
        margin-right: 4px;
    }
    .shangchu
    {
        margin-left: 8px;

        .sprite(@shanchu);
    }
    .bianji
    {
        .sprite(@bianji);
    }
    .hongse
    {
        margin-right: 200px;

        color: #e85d40;
    }
    .zhiweimingcheng
    {
        margin-top: 10px;

        color: #888;
    }
    .riqi
    {
        margin-right: 200px;
    }
    .danweinametop
    {
        margin-top: 65px;
    }
    .shurutime,
    .shurutime2
    {
        width: 184px;
    }
    .zhi
    {
        line-height: 50px;

        width: 32px;

        text-align: center;

        color: #888;
    }
    .tianjiajingli
    {
        font-size: 18px;
        line-height: 40px;

        display: block;

        width: 142px;
        margin-top: 20px;
        margin-left: 253px;

        text-align: center;

        color: #fff;
        background-color: #4a7bc4;

        .border-radius(3px);
    }
    .techaung,.techaungtianjia
    {
        margin-top: 9px;
        line-height: 32px;

        display: block;

        width: 118px;

        color: #fff;
        -webkit-border-top-left-radius: 6px;
                border-top-left-radius: 6px;
        -webkit-border-bottom-right-radius: 6px;
                border-bottom-right-radius: 6px;
        background-color: #4a7bc4;

           -moz-border-top-left-radius: 6px;
           -moz-border-bottom-right-radius: 6px;
    }
    .techaungtianjia{
        width: 80px;
        background-color: #b9b9b9;
    }
    .techaungtext{
        margin-left: 10px;
    }
    .qudiao{
        margin-top: 10px;
        margin-left: 12px;
        .sprite(@guanbi);
    }
    .cengjia{
        margin:10px 8px 0 10px;
        .sprite(@tianjia);
    }
    .techanggaodu{
        margin-top: 12px;
    }
    .save{
        border: 2px solid #ff9900;
        .border-radius(3px);
        width: 374px;
        line-height: 50px;
        color: #ff9902;
        display: block;
        text-align: center;
        margin-left: 240px;
        margin-top: 40px;

    }
}




.select-box
{
    position: relative;

    width: 126px;

    border: 1px #cecece solid;

    .border-radius(3px);
    span
    {
        width: 68px;
        margin-left: 10px;
    }
    i
    {
        margin-top: 21px;
        margin-left: 19px;

        .sprite(@xiala_hui);
        .icon-huiyuanzhongxin-right;
    }
    .select-ul
    {
        position: absolute;
        top: 50px;
        left: -1px;

        width: 126px;

        border: 1px #d9d9d9 solid;
        background-color: #fff;

        li:hover
        {
            background-color: #1e90ff;
            a
            {
                color: #fff;
            }
        }
            a
            {
                display: block;

                padding-left: 10px;

                color: #666;
            }
    }
}