
@import '../../../sprite/huiyuanzhongxin/right/sprite.less';

.a06_box
{
    font-size: 12px;

    width: 854px;
    height: 480px;
    margin-top: 40px;
    padding-top: 200px;

    background-color: #fff;
}

.a06_main
{
    position: relative;

    margin-left: 186px;

    .sprite(@a06_kuang);
    .icon-huiyuanzhongxin-right;
    .touxiang_box
    {
        margin-top: 60px;
        margin-left: 50px;
        .touxiang
        {
            margin-left: 19px;
            padding-bottom: 8px;

            .sprite(@a06_touxiang);
            .icon-huiyuanzhongxin-right;
        }
    }
    .words
    {
        margin-top: 50px;
        margin-left: 75px;
        p
        {
            margin-top: 7px;
        }
    }
    .yinzhang
    {
        position: absolute;
        top: 48px;
        left: 112px;

        .sprite(@a06_yinzhang);
        .icon-huiyuanzhongxin-right;
    }
}
