
@import 'common/shezhi.less';

@import '../../../sprite/huiyuanzhongxin/right/sprite.less';

.a12_box
{
    margin-top: 40px;
    .a12_main01
    {
        background-color: #303745;
        .main01
        {
            width: 396px;
            padding-top: 20px;
            padding-bottom: 18px;
            padding-left: 30px;
        }
        .main01_size
        {
            font-size: 30px;

            margin-top: 3px;
            padding-bottom: 16px;
        }
        .border_rg
        {
            border-right: 2px solid #f2f3f5;
        }
        .main01_a
        {
            margin-right: 36px;

            color: #cbcfd6;
        }
    }
}


.a12_main02
{
    margin-top: 20px;

    background-color: #fff;
    .main02_01
    {
        font-size: 20px;
        line-height: 60px;

        padding-left: 30px;

        .sprite(@a12_title_bg);
        .icon-huiyuanzhongxin-right;
    }
    .main02_02
    {
        padding: 32px 0;
        padding-right: 58px;
        padding-left: 40px;
        .yisheji_icon,
        .yishuju_icon
        {
            font-weight: bold;
            i
            {
                margin-right: 10px;
            }
        }
        .yisheji_icon
        {
            i
            {
                .sprite(@a12_yisheji);
                .icon-huiyuanzhongxin-right;
            }
        }
        .yishuju_icon
        {
            i
            {
                .sprite(@a12_yishuju);
                .icon-huiyuanzhongxin-right;
            }
        }
        .words
        {
            width: 370px;
            margin-left: 66px;
            font-size: 13px;
        }
        .mar_top
        {
            margin-top: 5px;
        }
    }
    .bor_top
    {
        border-top: #ebebeb 1px solid;
    }
}
