
@import '../../../dev/mixins/mixins.less';

@import '../../../sprite/huiyuanzhongxin/right/sprite.less';

@import '../../../sprite/huiyuanzhongxin/footer/sprite.less';

.yaoqing-main01
{
    margin-top: 40px;
    padding-bottom: 30px;

    background-color: #fff;
    .p01
    {
        padding-top: 23px;
    }
    .p02
    {
        margin-top: 14px;
    }
    .p03
    {
        margin-top: 13px;
        padding: 10px;

        border: #d9d9d9 1px solid;
        .mar
        {
            margin-top: 4px;
        }
    }
    .p04
    {
        margin-top: 10px;
        .bg-color
        {
            line-height: 32px;

            width: 58px;
            height: 32px;

            text-align: center;

            background-color: #37b5f9;

            .border-radius(3px);
        }
        .fenxiang
        {
            margin-top: 1px;
            margin-right: 4px;

            .sprite(@icon_fenxiang);
            .icon-huiyuanzhongxin-right;
        }
        .icon-qq,
        .icon-sina,
        .icon-163,
        .icon-linkedin
        {
            margin-top: 1px;
            margin-right: 12px;

            .icon-huiyuanzhongxin-footer;
        }
        .icon-qq
        {
            margin-left: 7px;

            .sprite(@icon-qq);
        }
        .icon-sina
        {
            .sprite(@icon-sina);
        }
        .icon-163
        {
            .sprite(@icon-163);
        }
        .icon-linkedin
        {
            .sprite(@icon-linkedin);
        }
        .icon-more
        {
            margin-top: 1px;
            margin-right: 5px;

            .sprite(@icon_more);
            .icon-huiyuanzhongxin-right;
        }
    }
}



.haoyou-box
{
    .post
    {
        li
        {
            position: relative;

            margin-top: 20px;
            padding: 11px 0;

            background-color: #fff;
        }
        .shade
        {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            opacity: 0;
            background-color: #fff;
            box-shadow: 0 0 12px rgba(0, 0, 0, .2);

            filter: alpha(opacity=0);
        }
        .shade:after
        {
            position: absolute;
            top: -1px;
            right: -1px;
            bottom: -1px;
            left: -1px;

            content: '';

            border: 1px solid rgba(0, 0, 0, .05);
        }
    }
}

.cover
{
    position: relative;
    z-index: 2;

    overflow: hidden;
    .touxiang
    {
        i
        {
            position: absolute;
            top: 0;
            left: 0;

            .sprite(@yuan-90px);
            .icon-huiyuanzhongxin-right;
        }
    }
    .words
    {
        font-size: 12px;

        margin-left: 11px;
    }
    .words-p01
    {
        margin-top: 10px;
        i
        {
            margin-right: 6px;

            .sprite(@didian);
            .icon-huiyuanzhongxin-right;
        }
        .span_mar
        {
            margin-left: 11px;
        }
    }
}



.guanzhu-p03
{
    margin-top: 10px;
    a
    {
        font-size: 16px;
        line-height: 30px;

        width: 121px;

        color: #fff;

        _vertical-align: middle;
    }
    .icon-guanzhu
    {
        margin-right: 10px;

        background-color: #37b5f9;
        i
        {
            margin-top: 7px;
            margin-right: 3px;
            margin-left: 20px;

            .sprite(@icon-guanzhu);
            .icon-huiyuanzhongxin-right;
        }
        span
        {
            margin-left: 10px;
        }
    }
    .icon-sixin
    {
        background-color: #989898;
        i
        {
            margin-top: 7px;
            margin-right: 7px;
            margin-left: 23px;

            .sprite(@icon-sixin);
            .icon-huiyuanzhongxin-right;
        }
        span
        {
            margin-left: 6px;
        }
    }
    .guanzhu_sixin
    {
        .border-radius(3px);
    }
}




// a02
.a02-box
{
    margin-top: 40px;
    .post
    {
        li
        {
            padding: 20px 0;
        }
    }
}

.guanzhu-p03a02
{
    margin-top: 0;
    a
    {
        display: block;

        margin-right: 0;
    }
    .icon-sixin
    {
        margin-top: 20px;
    }
}
