.icon-VIP-common-security {
  background-image: url("/images/production/VIP/common/security/sprite-VIP-common-security.PNG");
}
.main_box {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 70px;
}
.portraitbox {
  width: 854px;
  margin-top: 40px;
  background-color: #fff;
  padding-bottom: 70px;
}
.portraitboxL {
  margin-top: 40px;
  padding: 0 28px 0 40px;
  border-right: #e9eaec 1px solid;
}
.portraitboxL p.btn_upload {
  width: 200px;
  line-height: 30px;
  color: #333;
  border: 1px solid #d3d3d3;
  background-color: #f2f2f2;
  cursor: default;
  border-radius: 3px;
}
.portraitboxL p.btn_upload i {
  margin: 8px 5px 0 27px;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 14px;
  height: 14px;
  background-image: url("/images/production/VIP/common/security/sprite-VIP-common-security.PNG");
}
.portraitboxL p.format {
  color: #888;
  font-size: 12px;
  margin-top: 3px;
}
.portraitboxL p.preservation {
  width: 60px;
  text-align: center;
  margin-top: 10px;
  cursor: default;
  color: #fff;
  background-color: #68bdda;
  border-color: #68bdda;
  padding: 0 0;
  font-size: 14px;
  line-height: 30px;
  border-radius: 3px;
}
.portraitboxL p.preservation:focus,
.portraitboxL p.preservation.focus {
  color: #fff;
  background-color: #7cc6df;
  border-color: #ceeaf3;
}
.portraitboxL p.preservation:hover {
  color: #fff;
  background-color: #7cc6df;
  border-color: #99d2e6;
}
.portraitboxL p.preservation:active,
.portraitboxL p.preservation.active {
  color: #fff;
  background-color: #7cc6df;
  border-color: #99d2e6;
}
.portraitboxR {
  margin: 40px 0 0 30px;
  width: 234px;
}
.portraitboxR h3 {
  color: #333;
}
.portraitboxR p.Smallprint {
  color: #888;
  font-size: 12px;
  margin-top: 3px;
}
div.img-cont {
  position: relative;
  width: 470px;
  height: 236px;
  display: table;
  text-align: center;
  background: #f9f9f9;
  border: 1px solid #e9eaec;
  margin-top: 15px;
}
div.img-cont div.img-b {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 5;
}
div.img-cont div.img-b img {
  margin: 0 auto;
}
div.img-m-cont {
  margin-top: 20px;
  width: 100px;
  height: 100px;
}
div.img-s-cont {
  margin-top: 20px;
  width: 50px;
  height: 50px;
}
