
@import '../../../../sprite/huiyuanzhongxin/right/sprite.less';

.shezhi
{
    .correct,
    .error
    {
        i
        {
            margin-top: 4px;
            margin-right: 4px;
        }
    }
    .correct
    {
        color: #14b610;
        i
        {
            .sprite(@correct);
            .icon-huiyuanzhongxin-right;
        }
    }
    .error
    {
        color: #333;
        i
        {
            .sprite(@error);
            .icon-huiyuanzhongxin-right;
        }
    }
    .margin_a
    {
        margin-right: 15px;
    }
}
