@import '../../../dev/mixins/mixins.less';

@import '../../../sprite/yijingjia/XIAOICO/sprite.less';

@import '../../../sprite/yijingjia/copyright/sprite.less';
.footerkuang
{
    margin-top:40px;
    overflow: hidden;

    width: 100%;

    border-top: solid 2px #c8c8c8;
    border-bottom: solid 1px #e5e5e5;
    .footer
    {
        width: 1190px;
        margin: 0 auto 0 auto;
        .footer-dl1
        {
            float: left;

            padding-top: 24px;
            padding-right: 92px;
            dt
            {
                font-size: 20px;
                font-weight: bold;

                padding-bottom: 4px;

                color: #666;
            }
            dd
            {
                padding-top: 16px;

                color: #666;

                a{
                    color: #666;
                }
                a:hover{
                    color: #333;
                }
            }
        }
        .footer-dl2
        {
            float: left;

            padding-top: 24px;
            padding-right: 80px;
            dt
            {
                font-size: 20px;
                font-weight: bold;

                padding-bottom: 4px;

                color: #666;
            }
            dd
            {
                padding-top: 16px;

                color: #666;
                a{
                    color: #666;
                }
                a:hover{
                    color: #333;
                }
            }
        }
        .footer-dl3
        {
            float: left;

            width: 192px;
            padding-top: 24px;
            padding-bottom: 40px;

            text-align: center;;
            dt
            {
                font-size: 20px;
                font-weight: bold;

                padding-bottom: 4px;

                text-align: center;

                color: #666;;
            }
            dd
            {
                margin-top: 16px;

                .sprite(@erweima);
                .icon-yijingjia-XIAOICO;
            }
        }
        .footer-dl4
        {
            float: left;

            padding-top: 24px;
            padding-left: 100px;
            dt
            {
                font-size: 20px;
                font-weight: bold;

                padding-bottom: 4px;

                color: #666;
            }
            dd
            {
                overflow: hidden;

                width: 180px;
                padding-top: 16px;

                color: #666;
                .tengxunweibo
                {
                    float: left;

                    .sprite(@tengxunweibo);
            
                }
                .xinglangweibo
                {
                    float: left;

                    .sprite(@xinglangweibo);
                  
                }
                .wangyi
                {
                    float: left;

                    .sprite(@wangyi);
                 
                }
                .in
                {
                    float: left;

                    .sprite(@in);
               
                }
                .wenan
                {
                    line-height: 16px;

                    float: left;

                    margin-left: 4px;
                    a{
                        color: #666;
                    }
                    a:hover{
                        color: #333;
                    }
                }
            }
        }
        .footer-dl5
        {
            float: left;

            padding-top: 24px;

            dt
            {
                font-size: 20px;
                font-weight: bold;

                padding-bottom: 4px;

                color: #666;
            }
            .dd1
            {
                font-size: 20px;
                font-weight: bold;

                padding-top: 16px;

                color: #c20d23;
            }
            .dd2
            {
                margin-top: 6px;
                margin-bottom: 10px;

                .sprite(@dianhua);
                .icon-yijingjia-XIAOICO;
            }
        }
    }
}
.footerdaohang{
	padding-top: 30px;
	overflow: hidden;
	width: 780px;
	
	margin: 0 auto;
	li{
		float: left;
		color:#333333;
		span{
			margin-left: 12px;
			margin-right: 12px;
			color: #cacaca;
		}
        a{
            color: #666;
        }
        a:hover{
            color: #333;
        }
	}

}
.banp{
	padding-top: 20px;
	width: 100%;
	text-align: center;
}
.copyright{
	padding-top:20px;
	overflow: hidden;
	width: 900px;
	margin:0 auto;
    padding-bottom: 40px;
	li{
		float: left;
		width: 140px;

	}
	.li1{
		padding-left: 10px;
		padding-right: 10px;
			.sprite(@banq);
		}
		.li2{
			padding-left: 10px;
		padding-right: 10px;
			.sprite(@banq1);
            .icon-yijingjia-copyright;
		}
		.li3{
			padding-left: 10px;
		padding-right: 10px;
			.sprite(@banq3);
               .icon-yijingjia-copyright;
		}
		.li4{
			padding-left: 10px;
		padding-right: 10px;
			.sprite(@banq4);
               .icon-yijingjia-copyright;
		}
		.li5{
			padding-left: 10px;
		padding-right: 10px;
			.sprite(@banq5);
               .icon-yijingjia-copyright;
		}
		.li6{
			padding-left: 10px;
		padding-right: 10px;
			.sprite(@banq6);
               .icon-yijingjia-copyright;
		}

}