

.Product-Small-title{
	font-size: 20px;
	
	line-height: 49px;
	_vertical-align: middle;
	background-image: url("/images/production/yituangou/ProductDetails/Background-line.png");
	background-repeat: no-repeat;
	background-position: bottom;
	a{
		float: left;
		padding: 0 30px;
		color: #888;
		border-top: 2px solid #fff;
	}
	.current{
		color: #d42532;
		border-top: 2px solid #d42532;
		background-color: #fff;
	}
	.border-left{
		border-left: #cccccc 1px solid;
	}
	.border-right{
		border-right: #cccccc 1px solid;
	}
}