@import 'baogetongyan.less';
@import 'liebiaoann.less';
.chukobox{
	margin:0 auto;
	width: 998px;
	border:1px solid #dedede;
	background-color: #fff;
	line-height: 40px;
	.right_biankuan{
		border-right: 1px solid #dfdfdf;
	}
	.huibeijing{
		background-color: #eeeeee;
	}
	/*出口销量的宽度*/
	.xuhaokuang{
       width: 62px;
  
	}
	.chukoguojiakuang{
		width: 231px;
	}
	.zhongshukuang{
		width: 188px;
	
	}
	.mingxikuang{
		width: 135px;
		_width:132px;
	
	}
	/*出口销量的宽度*/
	/*采购产品明细*/
    .cangpingmingchengkuang{
		width: 325px;
	}
	.chukobikuang{
		width: 161px;
	
	}
	.zhongpicikuang{
		width: 149px;
	
	}
	/*采购产品明细*/
	/*采购商采购排行*/
    .caigoupaihangkuang{
		width: 313px;
	}
	.paihangbikuang{
		width: 177px;
	
	}
	.paihangzhongkuang{
		width: 143px;
	
	}
	.paihangpicikuang{
		width: 163px;
	
	}
	/*采购商采购排行*/
	.tiaotihaodu{
		height: 60px;
	}
	.xiabiankuang{
		border-bottom:1px solid #dfdfdf;
	}
	.biaotihanghao{
		line-height: 6px;
	}
	.comkuang_gao{
		height: 40px;
	}
	.baotihao{
		height: 60px;
	}
}
