@import 'baogetongyan.less';
.chukobox{
	margin:0 auto;
	width: 998px;
	border:1px solid #dedede;
	line-height: 40px;
	background-color: #fff;
	a
	{
		color: #666;
	}
	a:hover
	{
		color: #00a2c9;
	}
	.right_biankuan{
		border-right: 1px solid #dfdfdf;
	}
	.huibeijing{
		background-color: #eeeeee;
	}
	.paixukuang{
       width: 92px;
	}
	.qiyemingkuang{
		width: 366px;
	}
	.zhongliankuang{
		width: 173px;
		_width:170px;
	}
	.dbikuang{
		width: 190px;
	}
	.xiabiankuang{
		border-bottom:1px solid #dfdfdf;
	}
}
