@import 'baogetongyan.less';
@import '../../../dev/mixins/mixins.less';
.fanyebox{
	font-size: 12px;
	line-height: 28px;
	color:#a1a1a1;
	margin-left: 310px;
	.fanyejuxingkuang{
     border: 1px solid #dddddd;
     padding-left: 10px;
     padding-right: 10px;
     .border-radius(2px);
	}
	.baikuan{
		border: 1px solid #fff;
	}
	.biankuanjuli{
		margin-left:7px;
	}
	.shengsekuang{
		border: 1px solid #a1a1a1;
	}
}