@import 'baogetongyan.less';
@import 'liebiaoann.less';
.chukobox{
	margin:0 auto;
	width: 998px;
	border:1px solid #dedede;
	line-height: 40px;
	background-color: #fff;
	.right_biankuan{
		border-right: 1px solid #dfdfdf;
	}
	.huibeijing{
		background-color: #eeeeee;
	}
	.xuhaokuang{
       width: 62px;
  
	}
	.changpingkuang{
		width: 231px;
	}
	.chuokuang{
		width: 91px;
	
	}
	.zhongliankuang{
		width: 121px;
	
	}
	.xiaoliangkuang{
		width: 109px;

	}
	.caigoukuang{
		width: 135px;
		_width: 132px;
		
	}
	.tiaotihaodu{
		height: 60px;
	}
	.xiabiankuang{
		border-bottom:1px solid #dfdfdf;
	}
	.biaotihanghao{
		line-height: 6px;
	}
	.comkuang_gao{
		height: 40px;
	}
}
