@import 'baogetongyan.less';
@import 'liebiaoann.less';
.chukobox{
	margin:0 auto;
	width: 998px;
	border:1px solid #dedede;
	line-height: 40px;
	background-color: #fff;
	.right_biankuan{
		border-right: 1px solid #dfdfdf;
	}
	.huibeijing{
		background-color: #eeeeee;
	}
	.paixukuang{
       width: 92px;
	}
	.qiyekuang{
		width: 452px;
	}
	.lianxikuang{
		width: 261px;
	}
	.xiazaikuang{
		width: 190px;
		_width: 186px;
	}
	.xiabiankuang{
		border-bottom:1px solid #dfdfdf;
	}
	.lianxigaodu{
		height: 40px;
	}
}
