@import 'baogetongyan.less';
.shujubiankuan{
		margin:0 auto;
	width: 1000px;
	.xiabianju{
		margin-bottom: 20px;
		margin-top:30px;
	}
.chukobox{
    width: 998px;
	border:1px solid #dedede;
	line-height: 40px;
	background-color: #fff;
	.right_biankuan{
		border-right: 1px solid #dfdfdf;
	}
	.huibeijing{
		background-color: #eeeeee;
	}
	.xiabiankuang{
		border-bottom:1px solid #dfdfdf;
	}
	.biaotihanggao{
		line-height: 74px;
	}
	.biaotikuan{
		width: 76px;
	}
	.IEjianrou{
		_width:72px;
	}
	.nfenkuan{
		width: 74px;
	}
	.biaogezi{
		font-size: 12px;
	}
	
}
}
