.icon-yijingjia-chengpingfabu {
  background-image: url("/images/production/yijingjia/chengpingfabu/sprite-yijingjia-chengpingfabu.PNG");
}
.biaoshuneirong {
  width: 825px;
  margin: 0 auto;
  margin-top: 35px;
}
.biaoshuneirong .icon-kai {
  margin: 0 3px;
  margin-top: 1px;
  background-position: -4px -82px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 11px;
  height: 14px;
  background-image: url("/images/production/yijingjia/chengpingfabu/sprite-yijingjia-chengpingfabu.PNG");
}
.biaoshuneirong .icon-suo01 {
  margin: 0 3px;
  margin-top: 1px;
  background-position: -4px -60px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 11px;
  height: 14px;
  background-image: url("/images/production/yijingjia/chengpingfabu/sprite-yijingjia-chengpingfabu.PNG");
}
.biaoshuneirong .zhizao {
  width: 825px;
  margin: 0 auto;
}
.biaoshuneirong .zhizao p {
  padding: 15px 0;
}
.biaoshuneirong .zhizao p span {
  float: left;
}
.biaoshuneirong .shaxian {
  width: 825px;
  margin: 0 auto;
  margin-top: 30px;
}
.biaoshuneirong .shaxian p {
  font-size: 16px;
  color: #c30e23;
}
.biaoshuneirong .shaxian dl {
  width: 825px;
}
.biaoshuneirong .shaxian dl dt {
  margin-top: 20px;
  color: #333;
  -margin-top: 10px;
}
.biaoshuneirong .shaxian dl dd {
  margin-top: 18px;
  margin-bottom: 5px;
  -margin-top: 9px;
}
.biaoshuneirong .shaxian dl dd span {
  float: left;
  width: 150px;
}
.biaoshuneirong .M-Frame {
  width: 825px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.biaoshuneirong .M-Frame .Not-fl {
  font-size: 16px;
  color: #c30e23;
}
.biaoshuneirong .M-Frame .fl {
  font-size: 16px;
  color: #c30e23;
}
.biaoshuneirong .M-Frame .fl span {
  float: left;
}
.biaoshuneirong .M-Frame .p-width100 {
  float: left;
  width: 100px;
  margin-top: 13px;
  margin-right: 5px;
}
.biaoshuneirong .suo-si {
  margin-top: 4px;
}
.biaoshuneirong .suo-wu {
  margin-top: 5px;
}
.biaoshuneirong .zhiliang {
  width: 861px;
  margin: 0 auto;
  margin-top: 45px;
}
.biaoshuneirong .zhiliang p {
  font-size: 16px;
  width: 825px;
}
.biaoshuneirong .zhiliang p span {
  float: left;
  color: #c30e23;
}
.biaoshuneirong .zhiliang .suoshui {
  display: inline;
}
.biaoshuneirong .zhiliang .shuxing {
  margin-top: 13px;
}
.biaoshuneirong .zhiliang .shuxing a {
  line-height: 38px;
  float: left;
  width: 400px;
  -vertical-align: middle;
}
.biaoshuneirong .left-01 {
  line-height: 22px;
  width: 861px;
  margin-top: 40px;
  color: #c30e23;
}
.biaoshuneirong .left-01 p span {
  float: left;
  margin-bottom: 10px;
}
.biaoshuneirong .left-01 p .yaoqiu {
  width: 445px;
  margin-left: 4px;
}
.biaoshuneirong .left-01 .width-100 {
  float: left;
  width: 100px;
  margin: 0 4px;
  margin-bottom: 10px;
}
.biaoshuneirong .left-01 .width-450 {
  width: 480px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: 4px;
}
.biaoshuneirong .shangchuan {
  width: 825px;
  margin: 0 auto;
  margin-top: 40px;
}
.biaoshuneirong .shangchuan dl {
  float: left;
}
.biaoshuneirong .shangchuan dl dd {
  margin-top: 16px;
}
.biaoshuneirong .shangchuan dl dd img {
  padding: 20px 10px;
  border: 1px #d6d6d6 solid;
}
.biaoshuneirong .shangchuan dl .dianji {
  font-size: 18px;
  line-height: 32px;
  width: 224px;
  height: 32px;
  margin-top: 10px;
  text-align: center;
  background-color: #c30e23;
}
.biaoshuneirong .shangchuan dl .dianji a {
  color: #fff;
}
.biaoshuneirong .shangchuan .gongyidan {
  width: 300px;
}
.biaoshuneirong .shangchuan .baozhuangtu {
  width: 525px;
}
.biaoshuneirong .shuliang-mubiao {
  width: 825px;
  margin: 0 auto;
}
.biaoshuneirong .shuliang-mubiao p {
  width: 825px;
  margin: 0 auto;
  margin-top: 30px;
}
.biaoshuneirong .shuliang-mubiao p span {
  float: left;
  color: #666;
}
.biaoshuneirong .shuliang-mubiao p .jianyi01 {
  margin-left: 20px;
  color: #c30e23;
}
.biaoshuneirong .shuliang-mubiao p input {
  font-family: '宋体';
  float: left;
  margin: 0 4px;
  border: none;
  border-bottom: 1px #c30e23 solid;
}
.biaoshuneirong .shuliang-mubiao p .jianyi02 {
  font-family: '宋体';
  color: #c30e23;
}
.biaoshuneirong .shuliang-mubiao .fukuan-01 {
  margin-top: 50px;
}
