.main-l {
  float: left;
  width: 905px;
}
.main-l .main-l-ll {
  width: 903px;
  margin: 0 auto;
  border: 1px #d6d6d6 solid;
  margin-top: 20px;
}
.main-l .main-l-ll .biaoshuneirong01 {
  margin-left: 20px;
}
.main-l .main-l-ll .biaoti {
  font-size: 24px;
  width: 861px;
  margin: 0 auto;
  margin-top: 35px;
  text-align: center;
  color: #333;
}
.main-l .main-l-ll .gongsi {
  font-size: 16px;
  line-height: 60px;
  width: 861px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px #d6d6d6 solid;
}
.main-l .main-l-ll .gongsi span {
  margin: 0 50px;
}
.main-l .main-l-ll .baojia {
  width: 861px;
  margin: 0 auto;
  margin-top: 35px;
  padding-top: 40px;
  text-align: center;
  border-top: 1px #d6d6d6 solid;
}
.main-l .main-l-ll .baojia span {
  font-size: 30px;
  margin-right: 4px;
  color: #c30e23;
}
.main-l .main-l-ll .zhongbiao-anniu {
  width: 861px;
  margin: 0 auto;
  text-align: center;
}
.main-l .main-l-ll .zhongbiao-anniu .anniu-juzhong {
  width: 284px;
  margin: 0 auto;
  margin-top: 40px;
}
.main-l .main-l-ll .zhongbiao-anniu .anniu-juzhong input {
  font-size: 18px;
  float: left;
  width: 122px;
  height: 40px;
  margin: 0 10px;
  color: #fff;
  border: none;
}
.main-l .main-l-ll .zhongbiao-anniu .anniu-juzhong .beixuan {
  background-color: #ff9600;
}
.main-l .main-l-ll .zhongbiao-anniu .anniu-juzhong .zhongbiao {
  background-color: #c30e23;
}
.main-l .main-l-ll .zhongbiao-anniu .queren {
  width: 144px;
}
.main-l .main-l-ll .tixing {
  font-family: '宋体';
  width: 861px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 40px;
  text-align: center;
  color: #c30e23;
}
.main-l .main-l-ll .wo-baojia {
  font-size: 24px;
  width: 861px;
  margin: 0 auto;
  margin-top: 26px;
  padding-top: 24px;
  color: #c30e23;
  border-top: 1px #d6d6d6 solid;
}
.main-l .main-l-ll .lujing {
  font-size: 16px;
  width: 861px;
  margin: 0 auto;
  margin-top: 32px;
  color: #333;
}
.main-l .main-l-ll .gongju {
  width: 861px;
  margin: 0 auto;
}
.main-l .main-l-ll .gongju dl {
  float: left;
  width: 360px;
}
.main-l .main-l-ll .gongju dl dd {
  margin-top: 26px;
}
.main-l .main-l-ll .gongju dl dd a {
  padding: 5px 10px;
  background-color: #4366f3;
  color: #fff;
}
.main-l .main-l-ll .gongju-ba {
  width: 861px;
  margin: 0 auto;
  margin-top: 30px;
}
.main-l .main-l-ll .gongju-ba span {
  float: left;
}
.main-l .main-l-ll .gongju-ba a {
  float: left;
  margin-right: 18px;
  color: #4366f3;
}
.main-l .main-l-ll .renmingbi {
  width: 861px;
  margin: 0 auto;
  margin-top: 55px;
}
.main-l .main-l-ll .renmingbi span {
  float: left;
}
.main-l .main-l-ll .renmingbi input {
  float: left;
  border: none;
  border-bottom: 1px #d6d6d6 solid;
}
.main-l .main-l-ll .xuzi {
  width: 861px;
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 40px;
  text-align: center;
  border-top: 1px #d6d6d6 solid;
}
.main-l .main-l-ll .xuzi label {
  font-family: '宋体';
  margin-right: 16px;
}
.main-l .main-l-ll .xuzi label input {
  width: 14px;
  height: 14px;
  vertical-align: middle;
}
.main-l .main-l-ll .xuzi a {
  color: #4366f3;
}
