.icon-yijingjia-fuwushang {
  background-image: url("/images/production/yijingjia/fuwushang/sprite-yijingjia-fuwushang.PNG");
}
.main-r {
  float: right;
  width: 265px;
  margin-top: 20px;
}
.main-r .main-r00 {
  width: 263px;
  border: 1px #d6d6d6 solid;
}
.main-r .main-r-01 .liulan {
  width: 223px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px #d6d6d6 solid;
  background-image: url('/images/production/yijingjia/chengpinbiaoshu/zhongjianxian.PNG');
  background-repeat: no-repeat;
  background-position: center;
}
.main-r .main-r-01 .liulan .liulan-l {
  float: left;
  width: 111px;
}
.main-r .main-r-01 .liulan .liulan-l .shuzi {
  font-size: 20px;
  margin-top: 2px;
}
.main-r .main-r-01 .liulan .liulan-l .shuzi01 {
  color: #c30e23;
}
.main-r .main-r-01 .wo-toubiao {
  font-size: 22px;
  line-height: 50px;
  display: block;
  width: 223px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  color: #fff;
  background-color: #c30e23;
  -vertical-align: middle;
}
.main-r .main-r-01 .sixin {
  line-height: 30px;
  width: 223px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #a6a6a6;
  -vertical-align: middle;
}
.main-r .main-r-01 .sixin a {
  float: left;
  width: 107px;
  color: #666;
  background-color: #eee;
}
.main-r .main-r-01 .sixin .sixin02 {
  margin-left: 8px;
}
.main-r .main-r-02 {
  margin-top: 20px;
}
.main-r .main-r-02 p {
  width: 223px;
  margin: 0 auto;
}
.main-r .main-r-02 .gongsi-zi {
  font-size: 18px;
  line-height: 28px;
  margin-top: 20px;
  color: #333;
  -vertical-align: middle;
}
.main-r .main-r-02 .xing {
  float: left;
  margin-right: 12px;
  cursor: pointer;
}
.main-r .main-r-02 .huang-xing {
  background-position: -4px -116px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 18px;
  height: 17px;
  background-image: url("/images/production/yijingjia/fuwushang/sprite-yijingjia-fuwushang.PNG");
}
.main-r .main-r-02 .hui-xing {
  background-position: -4px -91px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 18px;
  height: 17px;
  background-image: url("/images/production/yijingjia/fuwushang/sprite-yijingjia-fuwushang.PNG");
}
.main-r .main-r-02 .huoyue {
  margin-top: 12px;
}
.main-r .main-r-02 .huoyue span {
  margin-right: 45px;
}
.main-r .main-r-02 ul {
  position: relative;
  width: 223px;
  margin: 0 auto;
  margin-top: 15px;
  padding-bottom: 15px;
}
.main-r .main-r-02 ul .lianxifangshi {
  padding-bottom: 2px;
  color: #c30e23;
}
.main-r .main-r-02 ul li {
  line-height: 30px;
  -vertical-align: middle;
}
.main-r .main-r-02 ul .zhongbiaozi {
  position: absolute;
  top: 36px;
  left: 0;
  width: 223px;
  height: 114px;
  background-image: url('/images/production/yijingjia/chengpinbiaoshu/zhongbiaozi.PNG');
  background-repeat: no-repeat;
  background-position: center;
}
