@import 'selecttongyong.less';
@import 'hudong.less';
@import 'yue.less';
@import '../top/safety.less';
@import '../top/VIP.less';
@import '../../../sprite/huiyuanzhongxin/left/sprite.less';

.gao{
    margin-top: 1px;
}
.shangbianju
{
    margin-top: 20px;
}
.dianhua
{
    margin-top: 20px;
    padding-top: 20px;
    background-color: #fff;
    width: 326px;
    padding-bottom: 20px;
    .dianhuahaoma
    {
        margin-left: 20px;

        .sprite(@dianhuahaoma);
    }
    .lianxikefu{
        width: 176px;
        text-align: center;
        line-height: 30px;
        background-color: #e85d40;
        display: block;
        margin-left: 20px;
        margin-top: 20px;
    }
}
