@import '../../../sprite/huiyuanzhongxin/top/sprite.less';
.safety
{
    padding-top: 20px;
    background-color: #fff;
    padding-bottom: 20px;
    width: 326px;
    .anq_title{
			margin-left: 20px;
		}
    .VIPboxwidth
    {
        display: inline;

        width: 54px;
        margin-left: 20px;
    }
    .jingdutiao{
			.sprite(@jingdutiao);
			margin: 0 auto;
			margin-top: 12px;
		}
     .lanjingdutiao{
            .sprite(@lanjingdu);
        }
		.jingdu{
			.sprite(@jingdu);
		}
    .shouji
    {
        margin: 0 auto;

        .sprite(@shoujibangding);
    }
    .shiming
    {
        margin: 0 auto;

        .sprite(@shiming);
    }
    .youxiang
    {
        margin: 0 auto;

        .sprite(@youxiang);
    }
    .mima
    {
        margin: 0 auto;

        .sprite(@mima);
    }
    .VIPname
    {
        padding-top: 6px;

        text-align: center;
	}
	.VIPshangbianju{
			margin-top: 12px;
		}
}
