@import '../../../sprite/huiyuanzhongxin/left/sprite.less';

.selecttongyong
{
    width: 326px;
    .danqianlist
    {
        line-height: 50px;
        display: block;
        height: 50px;
    }
    .jiabj
    {
        border-left: 3px solid #4a7bc4;
        background-color: #ebebeb;
    }
    .topxiaobianju
    {
        margin-top: 1px;
    }
    .kuozhang
    {
        line-height: 30px;

        display: block;

        height: 30px;
    }
    .kuozhangimg
    {
        margin: 14px 6px 0 133px;

        .sprite(@huikuozhang);
    }
    .kuozhanglanimg
    {
        margin: 14px 6px 0 133px;

        .sprite(@lankuozhang);
    }
    .jiachu
    {
        font-weight: bold;
    }
    .shangjianju{
        margin-top: 10px;
    }
    .lastjianju
    {
        margin-top: 10px;
        padding-bottom: 17px;
    }
    .baibj
    {
        background-color: #fff;
    }
    .anq
    {
        .sprite(@lianxiren);
    }
    .huilianxiren
    {
        .sprite(@huilianxiren);
    }
     .techang
    {
        .sprite(@techang);
    }
     .gongzuo
    {
        .sprite(@gongzuo);
    }
     .jiayu
    {
        .sprite(@jiayu);
    }
     .landianhua
    {
        .sprite(@landianhua);
    }
    .dianhua
    {

        .sprite(@dianhua);
    }
      .xiaoxi
    {

        .sprite(@xiaoxi);
    }
      .sixing
    {

        .sprite(@sixing);
    }
   .sheji
    {

        .sprite(@sheji);
    }
    .data
    {

        .sprite(@data);
    }
    .yaoqing
    {

        .sprite(@yaoqing);
    }
    .lanxiaoxi{
        .sprite(@lanxiaoxi);
    }
     .huisixing{
        .sprite(@huisixing);
    }
    .kuozhangimg,.kuozhanglanimg,.anq,.dianhua{
    	display: inline;
    }
    .current_ico
    {
        margin-top: 15px;
        margin-left: 104px;
    }
    .jiajuli
    {
        margin-left: 107px;
    }
    .wanzhiweizhi
    {
        margin-left: 8px;
    }
}
