@import '../../../sprite/huiyuanzhongxin/left/sprite.less';
.yuebox{
	width: 326px;
	background-color:#FFF;
	padding-bottom: 30px;
	.yidou,.jiaoyijingeTOP{
		padding: 20px 0 0 20px;
	}
	.jiaoyijingeTOP{
		padding-top: 16px;
	}
	.chongzhiLEFT{
		margin-left: 20px;
	}
	.xian{
		.sprite(@xian);
		margin: 0 auto;
		margin-top: 14px;
	}
}
.dibianju{
	padding-bottom: 20px;
}
