.icon-zhinengbaojia {
  background-image: url("/images/production/zhinengbaojia/sprite-zhinengbaojia.PNG");
}
.bannerbox {
  background-color: #22b3ce;
}
.Subject {
  overflow: hidden;
  width: 900px;
  margin: 0 auto 0 auto;
  margin-top: 80px;
  background-image: url(../../../images/original/zhinengbaojia/Subjectbackground.png);
  background-repeat: no-repeat;
}
.Subject .Upset {
  font-size: 24px;
  margin-left: 8% ;
  padding-top: 6.5%;
  color: #fff;
  _padding-top: 60px;
  _padding-left: 10px;
}
.Subject .UpsetContents {
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  padding-top: 5%;
  padding-left: 8%;
  color: #fff;
  _padding-top: 45px;
  _padding-left: 80px;
}
.Subject .UpsetContents .left {
  float: left;
  width: 25%;
  margin-top: 14%;
  _margin-top: 80px;
  background-position: left extract(left, 2);
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: extract(left, 3);
  height: extract(left, 4);
}
.Subject .UpsetContents .left p {
  margin-top: 24%;
  margin-left: 30%;
  padding-bottom: 20%;
  _margin-top: 48px;
  _margin-left: 58px;
  _padding-bottom: 20px;
}
.Subject .UpsetContents .center {
  float: left;
  overflow: hidden;
  width: 52%;
}
.Subject .UpsetContents .center .center1 {
  float: left;
  width: 50%;
  background-position: center1 extract(center1, 2);
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: extract(center1, 3);
  height: extract(center1, 4);
}
.Subject .UpsetContents .center .center1 p {
  margin-left: 30%;
  padding-top: 23%;
  padding-bottom: 20%;
  _padding-top: 48px;
  _margin-left: 58px;
  _padding-bottom: 20px;
}
.Subject .UpsetContents .center .center2 {
  float: left;
  width: 48%;
  background-position: center2 extract(center2, 2);
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: extract(center2, 3);
  height: extract(center2, 4);
}
.Subject .UpsetContents .center .center2 p {
  margin-left: 30%;
  padding-top: 23%;
  padding-bottom: 20%;
  _padding-bottom: 40px;
  _padding-top: 48px;
  _margin-left: 58px;
}
.Subject .UpsetContents .rgiht {
  float: left;
  width: 23%;
  margin-top: 14% !important;
  margin-top: 100px;
  background-position: rgith extract(rgith, 2);
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: extract(rgith, 3);
  height: extract(rgith, 4);
}
.Subject .UpsetContents .rgiht p {
  margin-left: 30%;
  padding-top: 25%;
  padding-bottom: 20%;
  _padding-bottom: 170px;
  _padding-top: 48px;
  _margin-left: 58px;
}
.Subject .Upset2 {
  font-size: 24px;
  margin-left: 8%;
  padding-top: 1.7%;
  padding-bottom: 4%;
  color: #fff;
  _padding-top: 14px;
}
.Subject .resolve {
  overflow: hidden;
  padding-bottom: 18%;
  padding-left: 8%;
  _padding-left: 80px;
}
.Subject .resolve dl {
  float: left;
  width: 50%;
  padding-top: 10%;
  padding-top: 40px;
}
.Subject .resolve dl dt {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 4px;
  color: #00a2ca;
}
.Subject .resolve dl dd {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  color: #4c4c4c;
}
.Subject .resolve renwu2 {
  display: block;
  float: left;
  width: 49%;
  margin-left: 3%;
}
