.icon-easydesign-common {
  background-image: url("/images/production/easydesign/common/sprite-easydesign-common.PNG");
}
.title {
  width: 1200px;
  margin: 0 auto;
  margin-top: 45px;
  background-image: url('/images/production/easydesign/common/title-bg.png');
  background-repeat: repeat-x;
  background-position: bottom;
}
.title a {
  font-size: 20px;
  line-height: 32px;
  margin-right: 60px;
  padding: 0 20px 11px 20px;
  _vertical-align: middle;
}
.title a i {
  margin-right: 15px;
}
.title .title-a {
  color: #252525;
}
.title .title-a i {
  background-position: -4px -192px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("/images/production/easydesign/common/sprite-easydesign-common.PNG");
}
.title .current,
.title .title-a:hover {
  color: #5ab6ab;
  border-bottom: #5ab6ab 3px solid;
}
.title .current i,
.title .title-a:hover i {
  background-position: -4px -232px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("/images/production/easydesign/common/sprite-easydesign-common.PNG");
}
.leibie_box {
  line-height: 24px;
  width: 1200px;
  margin: 0 auto;
}
.leibie_box .leibie {
  margin-top: 30px;
}
.leibie_box span {
  margin-top: 10px;
  margin-left: 20px;
}
.leibie_box a {
  margin-left: 13px;
  padding: 0 11px;
  color: #000;
}
.leibie_box .current,
.leibie_box a:hover {
  color: #fff;
  background-color: #fd6464;
  border-radius: 5px;
}
.leibie_box .leibie_p {
  width: 1105px;
}
.leibie_box .leibie_p a {
  margin-top: 10px;
}
.Collapse {
  line-height: 40px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 25px;
  cursor: pointer;
  text-align: center;
  color: #000;
  background-color: #f2f3f5;
}
.fenlei {
  width: 1200px;
  margin: 0 auto;
  border-top: 1px #d9d9d9 solid;
  border-bottom: 1px #d9d9d9 solid;
  line-height: 50px;
  _vertical-align: middle;
  margin-top: 30px;
  color: #888;
}
.fenlei .sp {
  margin-left: 20px;
}
.fenlei a {
  margin-left: 40px;
  color: #888;
}
.fenlei a i {
  margin-top: 21px;
  margin-left: 5px;
  background-position: -4px -46px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 6px;
  height: 10px;
  background-image: url("/images/production/easydesign/common/sprite-easydesign-common.PNG");
}
.fenlei .current,
.fenlei a:hover {
  color: #dd4343;
}
.fenlei .current i,
.fenlei a:hover i {
  margin-top: 21px;
  margin-left: 5px;
  background-position: -4px -28px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 6px;
  height: 10px;
  background-image: url("/images/production/easydesign/common/sprite-easydesign-common.PNG");
}
.icon-easydesign {
  background-image: url("/images/production/easydesign/sprite-easydesign.PNG");
}
.flowerbox {
  font-size: 14px;
  color: #666666;
  width: 285px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.flowerbox .flowerimg {
  width: 285px;
  height: 285px;
  overflow: hidden;
  background-color: #000;
  display: block;
}
.flowerbox .flowetextbox {
  background-color: #fff;
  width: 245px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}
.flowerbox .flower_tit {
  font-size: 16px;
  color: #333;
  padding-bottom: 14px;
  display: block;
}
.flowerbox .touxiang {
  width: 20px;
  height: 20px;
  border-radius: 60px;
  overflow: hidden;
  display: block;
}
.flowerbox .flowernane,
.flowerbox .free {
  margin-left: 4px;
  line-height: 20px;
  color: #666666;
}
.flowerbox .flower_tit:hover,
.flowerbox .flowernane:hover {
  color: #ff6600;
}
.flowerbox .free {
  color: #28b28b;
}
.flowerbox .browse {
  margin: 6px 6px 0 0  ;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 11px;
  background-image: url("/images/production/easydesign/sprite-easydesign.PNG");
}
.flowerbox .dianzang {
  margin: 0px 6px 0 0  ;
  background-position: -4px -199px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("/images/production/easydesign/sprite-easydesign.PNG");
}
.flowerbox .dianzang:hover {
  background-position: -4px -171px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("/images/production/easydesign/sprite-easydesign.PNG");
}
.flowerbox .likebox {
  margin-top: 8px;
  padding-bottom: 10px;
}
/*----------------------通用样式--------------------*/
.guanzhu-words {
  overflow: hidden;
  width: 160px;
}
.guanzhu-p01 {
  font-size: 16px;
  margin-top: 11px;
  color: #333;
}
.guanzhu-p01:hover {
  color: #dd1d20;
}
.guanzhu-p02 {
  font-size: 12px;
  margin-top: 10px;
}
.guanzhu-p02 i {
  margin-right: 3px;
  background-position: -4px -118px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 11px;
  height: 17px;
  background-image: url("/images/production/easydesign/sprite-easydesign.PNG");
}
.guanzhu-p02 span {
  color: #888;
}
.guanzhu-p02 a {
  margin-left: 10px;
  color: #000;
}
.guanzhu-p04,
.guanzhu-p06 {
  color: #888;
}
.guanzhu-p06 {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e1e1e1;
}
.guanzhu-p06 a {
  color: #666;
}
.guanzhu-p06 a:hover {
  color: #dd1d20;
}
.cover {
  width: 263px;
  overflow: hidden;
  padding: 20px 10px;
  border: 1px #e1e1e1 solid;
  border-radius: 5px;
}
.guanzhu-p04 {
  color: #333;
  margin-top: 6px;
}
.att_data {
  line-height: 20px;
}
.att_butt {
  border: 1px solid #3ca1d7;
  line-height: 18px;
  color: #3ca1d7;
  text-align: center;
  border-radius: 20px;
  width: 60px;
  display: block;
}
.guanzhu-p05 {
  margin-top: 6px;
}
.guanzhu-p05 a {
  width: 77px;
  height: 77px;
  overflow: hidden;
  margin-left: 10px;
  border: 2px #e7e7e7 solid;
}
.guanzhu-p05 .icon-a01 {
  margin-left: 0;
}
.attentionbox,
.flowlistbox {
  width: 1220px;
  margin: 0 auto;
}
.flowlist .flowerbox {
  margin: 30px 10px 0 10px;
}
.attentionbox .cover {
  margin: 30px 10px 0 10px;
}
