/*正文字体*/
body {
  font-family: '微软雅黑';
  font-size: 13px;
  color: #666;
}
/*页面宽度*/
.width-body {
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.rg {
  float: right !important;
}
.lf {
  float: left !important;
}
.none {
  display: none ;
}
.block {
  display: block ;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.ta-c {
  text-align: center;
}
.hidden {
  display: none ;
}
.icon-yijingjia-Registerandlogin {
  background-image: url("/images/production/yijingjia/Registerandlogin/sprite-yijingjia-Registerandlogin.PNG");
}
.zhuce-jindutiao {
  width: 906px;
  margin: 0 auto;
}
.zhuce-jindutiao p {
  float: left;
  text-align: center;
  color: #e5e5e5;
}
.zhuce-jindutiao p span {
  padding-top: 3px;
}
.zhuce-jindutiao .hongtiao {
  background-position: -4px -104px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 302px;
  height: 26px;
}
.zhuce-jindutiao .huitiao {
  background-position: -4px -172px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 302px;
  height: 26px;
}
.zhuce-jindutiao .hongyuan {
  background-position: -4px -138px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 302px;
  height: 26px;
}
.zhuce-jindutiao .huiyuan {
  background-position: -4px -206px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 302px;
  height: 26px;
}
.zhuce-wenzi {
  width: 906px;
  margin: 0 auto;
}
.zhuce-wenzi p {
  float: left;
  text-align: center;
  width: 302px;
  color: #cccccc;
  margin-top: 6px;
}
.zhuce-wenzi .dangqian {
  color: #c30d23;
}
