@messageDot: -4px -4px 8px 8px;
@selectBtn: -4px -20px 6px 11px;
@icon-163: -4px -39px 16px 16px;
@icon-linkedin: -4px -63px 16px 16px;
@icon-qq: -4px -87px 16px 16px;
@icon-sina: -4px -111px 16px 16px;
@switch_dot_cur: -4px -135px 16px 16px;
@switch_dot: -4px -159px 18px 18px;
@sites: -4px -185px 18px 18px;
@location: -4px -211px 14px 18px;
@message: -4px -237px 20px 24px;
@messageOrigin: -4px -269px 22px 24px;
@closeBtn: -4px -301px 30px 30px;
@number-footer: -4px -339px 257px 42px;
@logoOrigin: -4px -389px 167px 43px;
@logo: -4px -440px 167px 43px;
@scrollTop: -4px -491px 54px 54px;
@matchOn: -4px -553px 100px 100px;
@attentionOn: -4px -661px 100px 100px;
@buyerEva: -4px -769px 100px 100px;
@industryDet: -4px -877px 100px 100px;
@industryDetOn: -4px -985px 100px 100px;
@modSearch: -4px -1093px 100px 100px;
@modSearchOn: -4px -1201px 100px 100px;
@buyerEvaOn: -4px -1309px 100px 100px;
@priceDet: -4px -1417px 100px 100px;
@priceDetOn: -4px -1525px 100px 100px;
@attention: -4px -1633px 100px 100px;
@trend: -4px -1741px 100px 100px;
@match: -4px -1849px 100px 100px;
@survey: -4px -1957px 100px 100px;
@surveyOn: -4px -2065px 100px 100px;
@trendOn: -4px -2173px 100px 100px;
@banner-word: -4px -2281px 403px 124px;
@icon-code: -4px -2413px 148px 148px;
@circle: -4px -2569px 400px 400px;
.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}
.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}
.sprite(@sprite, @display: block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
.icon-easydata_old {
  background-image: url("/images/production/easydata_old/sprite-easydata_old.PNG");
}