.icon-easysofthome {
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
}
body,
html {
  margin: 0;
  padding: 0;
  text-align: center;
}
.header {
  position: fixed;
  top: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  _filter: progid:DXImageTransform.Microsoft.Gradient(enabled='true', startColorstr='#00000000', endColorStr='#00000000');
}
.header .top {
  font-size: 12px;
  line-height: 14px;
  width: 80%;
  margin: 0 auto;
  padding: 9px 0;
}
.header .top a {
  color: #fff;
}
.header .top .butt_right {
  margin-right: 20px;
}
.header .top #username i {
  padding: 0px 11px;
  background: #f90;
  font-style: normal;
  border-radius: 9px;
  margin-left: 4px;
}
.wrap {
  width: 100%;
}
/*** 下一页提醒箭头 ***/
.mousedown {
  position: fixed;
  bottom: 60px;
  left: 50.4%;
  z-index: 100;
  width: 16px;
  height: 40px;
}
.mousedown span {
  position: relative;
  background-position: -4px -113px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 23px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easysofthome/mouse.png");
  _background: none;
  overflow: visible;
}
.mousedown span i {
  position: absolute;
  bottom: 12px;
  left: 3px;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 10px;
  height: 5px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easysofthome/mouse_arrow.png");
  _background: none;
  -webkit-animation: mousedown 3s cubic-bezier(0.5, 0, 0.1, 1) infinite;
  animation: mousedown 3s cubic-bezier(0.5, 0, 0.1, 1) infinite;
}
@keyframes mousedown {
  0%,
  100% {
    bottom: -10px;
  }
  60% {
    bottom: -20px;
  }
}
.mousedown:hover {
  cursor: pointer;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
/*** /下一页提醒箭头 ***/
#section0 {
  position: relative;
  background: url('/images/production/easysofthome/background.jpg') top center;
}
#section0 .wrap {
  position: absolute;
}
#section0 .logo {
  margin: 0 auto;
  background-position: -4px -908px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 285px;
  height: 102px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
}
#section0 .features,
#section0 .web_title {
  text-align: center;
  color: #fff;
}
#section0 .web_title {
  font-size: 40px;
  line-height: 40px;
  margin-top: 30px;
}
#section0 .features {
  font-size: 24px;
  line-height: 24px;
  margin-top: 20px;
}
#section0 .navigation {
  width: 1054px;
  margin: 64px auto 0 auto;
}
#section0 .navigation .nav_content {
  padding: 10px 0 10px 0;
  width: 1016px;
  background-image: url('/images/original/easysofthome/touming.png');
}
#section0 .navigation .nav_content li {
  margin-left: 10px;
  width: 241px;
  height: 162px;
  overflow: hidden;
  position: relative;
}
#section0 .navigation .nav_content li span.nav {
  transform: scale(1);
  transition: transform 0.35s;
}
#section0 .navigation .nav_content li:hover span.nav {
  transform: scale(1.05);
}
#section0 .navigation .nav_content li.disableSup .nav-mask,
#section0 .navigation .nav_content li.disableBuy .nav-mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#section0 .navigation .nav_content li.disableSup .nav-mask span,
#section0 .navigation .nav_content li.disableBuy .nav-mask span {
  display: block;
  width: 135px;
  margin: 0 auto;
  margin-top: 8px;
  padding: 5px 16px;
  background: #f90;
  color: #eee;
  border-radius: 7px;
}
#section0 .navigation .nav_content li.disableSup:hover .nav-mask,
#section0 .navigation .nav_content li.disableBuy:hover .nav-mask {
  display: block;
}
#section0 .navigation .nav_content .nav_height {
  margin-top: 10px;
}
#section0 .navigation .nav_content .nav1 {
  margin-top: -10px;
  background-position: -4px -1642px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 242px;
  height: 243px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
}
#section0 .navigation .nav_content .nav2 {
  margin-top: -80px;
  background-position: -4px -2903px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 250px;
  height: 250px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
}
#section0 .navigation .nav_content .nav3 {
  margin-top: -10px;
  background-position: -4px -2144px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 240px;
  height: 243px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
}
#section0 .navigation .nav_content .nav4 {
  margin-top: -10px;
  background-position: -4px -1893px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 242px;
  height: 243px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
}
#section0 .navigation .nav_content .nav5 {
  margin-top: -30px;
  background-position: -4px -2395px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 244px;
  height: 244px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
}
#section0 .navigation .nav_content .nav6 {
  margin-top: -40px;
  background-position: -4px -1144px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 242px;
  height: 240px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
}
#section0 .navigation .nav_content .nav7 {
  margin-top: -30px;
  background-position: -4px -1392px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 241px;
  height: 242px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
}
#section0 .navigation .nav_content .nav8 {
  margin-top: -10px;
  background-position: -4px -2647px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 249px;
  height: 248px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
}
#section0 .navigation .nav1_tit {
  position: absolute;
  bottom: 0;
  height: 40px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  left: 0;
  width: 241px;
  background-image: url('/images/original/easysofthome/navbj.png');
  overflow: hidden;
  display: block;
}
#section0 .navigation .supplier,
#section0 .navigation .buyers {
  font-size: 16px;
  line-height: 16px;
  width: 30px;
  margin-top: 10px;
  padding: 6px 2px 6px 2px;
  text-align: center;
  color: #fff;
  background-color: #38f;
  margin-right: 2px;
}
#section0 .navigation .buyers {
  margin-top: 80px;
  background-color: #b60202;
}
#section1 {
  position: relative;
  display: none;
}
#section1 .storehouse {
  width: 1054px;
  margin: 0px auto 20px auto;
  padding-top: 60px;
}
#section1 li {
  width: 33.1%;
}
#section1 .frame {
  border-left: 1px solid #ccc;
  border-right: 1px dashed #ccc;
}
#section1 .frame_rg {
  border-right: 1px solid #ccc;
}
#section1 .frame_xu {
  border-right: 1px dashed #ccc;
}
#section1 .flower {
  margin-left: 20px;
  background-position: -4px -644px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 80px;
  height: 80px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
}
#section1 .qian {
  margin-left: 20px;
  background-position: -4px -732px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 80px;
  height: 80px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
}
#section1 .data {
  margin-left: 20px;
  background-position: -4px -820px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 80px;
  height: 80px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
}
#section1 .flower_text {
  margin-left: 20px;
  margin-top: 6px;
}
#section1 .buyer_tit {
  font-size: 18px;
  line-height: 32px;
  text-align: left;
}
#section1 .people {
  line-height: 16px;
  padding-top: 12px;
  margin: 0px 4px 0 4px;
  font-size: 16px;
}
#section1 .quantity {
  font-size: 30px;
  line-height: 30px;
  padding-top: 4px;
  color: #ff6c10;
}
#section1 .othermodules {
  background-color: #09a;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#01AFB8), to(#09a));
  background-image: -moz-linear-gradient(0% 100% 90deg, #01AFB8, #09a);
  position: relative;
  top: 0;
  left: 0;
}
#section1 .content_box {
  position: absolute;
  height: 475px;
  width: 80%;
  margin-top: -238px;
  left: 50%;
  overflow: hidden;
}
#section1 .othermod_word {
  position: relative;
  margin-bottom: 45px;
  top: 0;
  width: 100%;
}
#section1 .othe_tit,
#section1 .othe_design,
#section1 .othe_price {
  text-align: center;
  color: #fff;
  line-height: 40px;
}
#section1 .othe_tit {
  font-size: 40px;
}
#section1 .othe_design,
#section1 .othe_price {
  margin-top: 36px;
  font-size: 20px;
  line-height: 24px;
}
#section1 .othe_price {
  margin-top: 2px;
}
#section1 .features {
  width: 1054px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -527px;
}
#section1 .feat_left {
  width: 48%;
  height: 300px;
  background-color: #000;
  overflow: hidden;
  position: relative;
}
#section1 a:hover .sheji {
  transform: scale(1.02);
}
#section1 a:hover .hejia {
  transform: scale(1.02);
}
#section1 a .sheji {
  margin: -30px 0 0 0px;
  background-position: -4px -3161px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 565px;
  height: 339px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
  transition: transform .35s;
  transform: scale(1);
}
#section1 a .hejia {
  margin: -84px 0 0 -46px;
  background-position: -4px -3508px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 601px;
  height: 384px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
  transition: transform .35s;
  transform: scale(1);
}
#section1 .sheji_text,
#section1 .hejia_text {
  top: -50%;
  position: absolute;
  font-size: 14px;
  color: #fff;
  text-align: left;
}
#section1 .Real {
  position: absolute;
  bottom: 6px;
  right: 10px;
  color: #fff;
  font-size: 12px;
}
#section1 .hejia_text {
  color: #fff;
  width: 300px;
  left: 25px;
}
#section1 .sheji_text {
  left: 25px;
}
#section1 .gray {
  background-position: -4px -144px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 27px;
  height: 27px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
}
#section1 .graybox {
  margin-top: 20px;
}
#section1 .gray_text {
  font-size: 24px;
  margin-right: 10px;
}
/** section2 */
#section2 {
  position: ralative;
  display: none;
}
#section2 .wrap {
  position: relative;
  background-color: #f2f1f0;
  overflow: hidden;
}
.downloadbox {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -150px;
}
.down_tit {
  background-position: -4px -255px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 1162px;
  height: 36px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
  margin: 0 auto;
}
.down_version {
  margin: 50px auto 0 auto;
  width: 1054px;
}
.down_version li {
  width: 255px;
  padding: 0 40px;
}
.down_version .down_frame {
  border-right: 1px solid #cccccc;
}
.down_version .PC {
  background-position: -4px -436px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 61px;
  height: 61px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
}
.down_version .IOS {
  background-position: -4px -505px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 61px;
  height: 61px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
}
.down_version .Android {
  background-position: -4px -367px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 61px;
  height: 61px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
}
.down_version .PC_text {
  margin-left: 10px;
}
.down_version .Chinese,
.down_version .English {
  font-size: 18px;
  color: #010101;
}
.down_version .Chinese {
  margin-top: 8px;
}
.down_version .English {
  color: #8d8d8d;
}
.down_version .introduction {
  font-size: 14px;
  color: #6f6f6f;
  margin-top: 24px;
  text-align: left;
  height: 70px;
}
.down_version .down_buttbox {
  margin-top: 26px;
}
.down_version .down_butt {
  color: #fff;
  background-color: #fc6a60;
  border-color: #fc6a60;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 18px;
  border-radius: 6px;
  float: left;
}
.down_version .down_butt:focus,
.down_version .down_butt.focus {
  color: #fff;
  background-color: #fc8179;
  border-color: #fedfdd;
}
.down_version .down_butt:hover {
  color: #fff;
  background-color: #fc8179;
  border-color: #fda29c;
}
.down_version .down_butt:active,
.down_version .down_butt.active {
  color: #fff;
  background-color: #fc8179;
  border-color: #fda29c;
}
.down_version .under_butt {
  color: #fff;
  background-color: #6ebeae;
  border-color: #6ebeae;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 18px;
  border-radius: 6px;
  float: right;
}
.down_version .under_butt:focus,
.down_version .under_butt.focus {
  color: #fff;
  background-color: #80c6b8;
  border-color: #c6e5df;
}
.down_version .under_butt:hover {
  color: #fff;
  background-color: #80c6b8;
  border-color: #98d1c6;
}
.down_version .under_butt:active,
.down_version .under_butt.active {
  color: #fff;
  background-color: #80c6b8;
  border-color: #98d1c6;
}
/** /section2 **/
/** footer  **/
.foot_box {
  width: 100%;
  border-top: #e5e5e5 1px solid;
  background-color: #303745;
}
.Cooper,
.spacing {
  width: 170px;
}
.spacing {
  margin-left: 40px;
}
.footer-nav {
  width: 1200px;
  margin: 0 auto;
  text-align: left;
}
.footer-nav .dl-box {
  margin-top: 44px;
}
.footer-nav .dl-box dt {
  font-size: 16px;
  padding-bottom: 20px;
  color: #fff;
}
.footer-nav .dl-box dd {
  line-height: 30px;
}
.footer-nav .dl-box a {
  color: #828998;
  font-size: 14px;
}
.footer-nav .dl-box .icon-qq {
  background-position: -4px -41px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easysofthome/icon-qq.png");
  _background: none;
}
.footer-nav .dl-box .icon-sina {
  background-position: -4px -17px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easysofthome/icon-sina.png");
  _background: none;
}
.footer-nav .dl-box .icon-linkedin {
  background-position: -4px -65px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easysofthome/icon-linkedin.png");
  _background: none;
}
.footer-nav .dl-box i {
  margin-top: 9px;
  margin-right: 5px;
}
.footer-nav .about_rg {
  margin-right: 90px;
}
.footer-nav .foot_last {
  margin-right: 73px;
}
.footer-nav .del_mar {
  width: 400px;
  margin-right: 20px;
}
.footer-nav .code {
  margin-top: 44px;
  background-position: -4px -1018px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 96px;
  height: 118px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easysofthome/icon-code.png");
  _background: none;
}
.footer-nav .Customer_Service {
  margin-top: 54px;
  margin-right: 55px;
}
.footer-nav .Customer_Service .onLine {
  margin-top: 5px;
  line-height: 26px;
  color: #fff;
  font-size: 12px;
}
.footer-nav .Customer_Service .number {
  background-position: -4px -574px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 199px;
  height: 62px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easysofthome/number-footer.png");
  _background: none;
}
.footer-nav .Customer_Service .foot_qq {
  background-position: -4px -217px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easysofthome/foot_qq.png");
  _background: none;
}
.footer-nav .Customer_Service .foot_Wechat {
  margin-left: 10px;
  background-position: -4px -179px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("/images/production/easysofthome/sprite-easysofthome.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easysofthome/foot_Wechat.png");
  _background: none;
}
.copyright {
  line-height: 34px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 44px;
  text-align: center;
  font-size: 14px;
  color: #7a818f;
}
/**  /footer  */
