.icon-easydesign-common {
  background-image: url("/images/production/easydesign/common/sprite-easydesign-common.PNG");
}
.fenlei {
  width: 1200px;
  margin: 0 auto;
  border-top: 1px #d9d9d9 solid;
  border-bottom: 1px #d9d9d9 solid;
  line-height: 50px;
  _vertical-align: middle;
  margin-top: 30px;
  color: #888;
}
.fenlei .sp {
  margin-left: 20px;
}
.fenlei a {
  margin-left: 40px;
  color: #888;
}
.fenlei a i {
  margin-top: 21px;
  margin-left: 5px;
  background-position: -4px -46px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 6px;
  height: 10px;
  background-image: url("/images/production/easydesign/common/sprite-easydesign-common.PNG");
}
.fenlei .current,
.fenlei a:hover {
  color: #dd4343;
}
.fenlei .current i,
.fenlei a:hover i {
  margin-top: 21px;
  margin-left: 5px;
  background-position: -4px -28px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 6px;
  height: 10px;
  background-image: url("/images/production/easydesign/common/sprite-easydesign-common.PNG");
}
.fenlei div.intbox {
  width: 160px;
  border: 1px solid #d1d1d1;
  margin: 10px 0 0 40px;
  border-radius: 3px;
}
.fenlei div.intbox input.int {
  width: 108px;
  line-height: 18px;
  padding: 5px 10px;
  border: 0;
}
.fenlei div.intbox i {
  margin: 8px 0 0 8px;
  background-position: -4px -64px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 14px;
  height: 14px;
  background-image: url("/images/production/easydesign/common/sprite-easydesign-common.PNG");
}
