@pers_under333: -4px -4px 10px 6px;
@pers_under: -4px -18px 10px 6px;
@pers_on333: -4px -32px 10px 6px;
@pers_on: -4px -46px 10px 6px;
@messageDot: -4px -60px 8px 8px;
@selectBtn: -4px -76px 6px 11px;
@selectBtn_o: -4px -95px 6px 11px;
@icon-vip: -4px -114px 12px 12px;
@icon-download: -4px -134px 12px 12px;
@icon-ser: -4px -154px 12px 12px;
@icon-qq: -4px -174px 16px 16px;
@icon-sina: -4px -198px 16px 16px;
@switch_dot_cur: -4px -222px 16px 16px;
@icon-linkedin: -4px -246px 16px 16px;
@icon-163: -4px -270px 16px 16px;
@sites: -4px -294px 18px 18px;
@location: -4px -320px 14px 18px;
@switch_dot: -4px -346px 18px 18px;
@switch-bg: -4px -372px 58px 24px;
@message: -4px -404px 20px 24px;
@switch-lang: -4px -436px 91px 24px;
@messageOrigin: -4px -468px 22px 24px;
@foot_qq: -4px -500px 30px 30px;
@foot_Wechat: -4px -538px 30px 30px;
@closeBtn: -4px -576px 30px 30px;
@number-footer2: -4px -614px 257px 41px;
@logo: -4px -663px 167px 43px;
@logoOrigin: -4px -714px 167px 43px;
@scrollTop: -4px -765px 54px 54px;
@number-footer: -4px -827px 199px 62px;
@float_panel_bg: -4px -897px 36px 94px;
@matchOn: -4px -999px 100px 100px;
@buyerEvaOn: -4px -1107px 100px 100px;
@attention: -4px -1215px 100px 100px;
@match: -4px -1323px 100px 100px;
@attentionOn: -4px -1431px 100px 100px;
@trend: -4px -1539px 100px 100px;
@priceDet: -4px -1647px 100px 100px;
@priceDetOn: -4px -1755px 100px 100px;
@industryDet: -4px -1863px 100px 100px;
@industryDetOn: -4px -1971px 100px 100px;
@modSearch: -4px -2079px 100px 100px;
@modSearchOn: -4px -2187px 100px 100px;
@survey: -4px -2295px 100px 100px;
@surveyOn: -4px -2403px 100px 100px;
@buyerEva: -4px -2511px 100px 100px;
@trendOn: -4px -2619px 100px 100px;
@icon-code: -4px -2727px 96px 118px;
@banner-word: -4px -2853px 403px 124px;
@guideDes: -4px -2985px 420px 250px;
@circle: -4px -3243px 400px 400px;

.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite(@sprite, @display:block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

.icon-easydata {
  background-image: url('/images/production/easydata/sprite-easydata.png');
}
