@import '../../dev/mixins/mixins.less';
body
{
    color: #fff;
    background-color: #303845;
    .flip
    {
        font-size: 13px;
        line-height: 30px;

        margin-top: 30px;

        color: #dbdbdb;
        a
        {
            color: #dbdbdb;
        }
        .page_mar
        {
            margin-right: 10px;
        }
        .flip_butt,
        .sel_butt,
        .jump_enter,
        .jump_go
        {
            margin-left: 10px;
        }
        .flip_butt,
        .sel_butt,
        .jump_enter,
        {
            .border-radius(5px);
        }
        .flip_butt,
        .sel_butt
        {
            padding: 0 10px;
        }
        .flip_butt,
        .jump_enter
        {
            background-color: #49515e;
        }
        .pagedigital
        {
            padding: 0 2px;

            color: #03f6ba;
        }
        .jump_mar
        {
            margin-left: 30px;
        }
        .jump_enter
        {
            width: 52px;
            height: 30px;
            padding-left: 6px;

            color: #dbdbdb;
            border: none;

            bordr: 0;
        }
        .jump_go
        {
            padding-right: 30px;
        }
    }
    .boxwidth
    {
        font-size: 14px;

        overflow: hidden;
        overflow: auto;

        color: #fff;
        .tab_style
        {
            line-height: 50px;

            margin: 20px 30px 40px 30px;

            border-collapse: collapse;

            border: none;
        }
        .tab_title
        {
            background-color: #1e2b5a;
        }
        .tab_wid
        {
            padding: 0 30px 0 10px;

            white-space: nowrap;
            word-break: keep-all;

            border-right: 1px solid #959aa2;
        }
        .tab_darkgray
        {
            background-color: #3b4351;
        }
        .tab_lightgray{
        	background-color: #49515e;
        }
    }
    .copyright,
    .copyright_number
    {
        text-align: center;

        color: #888;
        margin-top: 20px;
    }
}
