@import '../../sprite/easydata/sprite.less';
@import '../../../less/dev/mixins/mixins.less';



  .guidelayer{
    border:1px solid red;
    position:relative;
    width:630px;
    height:260px;
    margin:0;
    padding:0;
    }

   .pClick{
      position:absolute;
      top:0;
      left:0;
    }


  .desContent{
      position:absolute;
      top:-35px;
      left:251px;

    }

  .desContent span{
      .sprite(@guideDes);
      .icon-easydata;
      .fixIe6pngTransparent('/images/icon/easydata/guideDes.png');
      text-align: center;

  }

  .skipGuideDiv{
    padding: 190px 200px 200px 195px;
  }
  .skipGuideDiv img{
    &:hover{
        cursor: pointer;
      }
  }
 #jpWalkthrough #jpwTooltip .bottom{
    background: url("/images/original/common/handPoint.gif") no-repeat scroll 0 0 transparent;
    height: 40px;
    left: 130px;
    position: absolute;
    top: -86px;
    width: 100px;
    display: block;
    z-index: 1000;
}



