.qutside_box{
  position: relative;
    width: 100%;

    height: 600px;
  .within_box{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -105px;


  }
}
.loadbox{
  width: 400px;
  height: 210px;
  img{
    margin: 0 auto;
  }
}
.nodata_text{
  text-align: center;
  font-size: 16px;
  padding: 20px 0 150px 0;
  color: #666;
}