@Kazakhstan: -4px -4px 20px 10px;
@Latvia: -4px -22px 20px 10px;
@Bahamas: -4px -40px 20px 10px;
@Philippines: -4px -58px 20px 10px;
@Canada: -4px -76px 20px 10px;
@Argentina: -4px -94px 20px 10px;
@Croatia: -4px -112px 20px 10px;
@Slovenia: -4px -130px 20px 10px;
@Jamaica: -4px -148px 20px 10px;
@Ireland: -4px -166px 20px 10px;
@Ecuado: -4px -184px 20px 10px;
@England: -4px -202px 20px 10px;
@Ethiopia: -4px -220px 20px 10px;
@Honduras: -4px -238px 20px 10px;
@Korea: -4px -256px 20px 11px;
@America: -4px -275px 20px 11px;
@NewZealand: -4px -294px 20px 11px;
@Australia: -4px -313px 20px 11px;
@Mexico: -4px -332px 20px 11px;
@Malaysia: -4px -351px 20px 11px;
@Hungary: -4px -370px 20px 11px;
@Slovakia: -4px -389px 20px 11px;
@Finland: -4px -408px 20px 11px;
@Salvador: -4px -427px 20px 11px;
@Nicaragua: -4px -446px 20px 12px;
@Germany: -4px -466px 20px 12px;
@Trinidad: -4px -486px 20px 12px;
@Togo: -4px -506px 20px 12px;
@Tobago: -4px -526px 20px 12px;
@Sweden: -4px -546px 20px 12px;
@Paraguay: -4px -566px 20px 12px;
@Burundi: -4px -586px 20px 12px;
@LUX: -4px -606px 20px 12px;
@Peru: -4px -626px 20px 13px;
@Italy: -4px -647px 20px 13px;
@Japan: -4px -668px 20px 13px;
@Vietnam: -4px -689px 20px 13px;
@CS: -4px -710px 20px 13px;
@Columbia: -4px -731px 20px 13px;
@LTU: -4px -752px 20px 13px;
@Dominica: -4px -773px 20px 13px;
@Madagascar: -4px -794px 20px 13px;
@Malawi: -4px -815px 20px 13px;
@China: -4px -836px 20px 13px;
@Malta: -4px -857px 20px 13px;
@Mauritius: -4px -878px 20px 13px;
@Chile: -4px -899px 20px 13px;
@Mozambique: -4px -920px 20px 13px;
@Netherlands: -4px -941px 20px 13px;
@Indonesia: -4px -962px 20px 13px;
@Greece: -4px -983px 20px 13px;
@Uruguay: -4px -1004px 20px 13px;
@Pakistan: -4px -1025px 20px 13px;
@Panama: -4px -1046px 20px 13px;
@India: -4px -1067px 20px 13px;
@Ukraine: -4px -1088px 20px 13px;
@Bulgaria: -4px -1109px 20px 13px;
@Poland: -4px -1130px 20px 13px;
@Portugal: -4px -1151px 20px 13px;
@Romania: -4px -1172px 20px 13px;
@Russia: -4px -1193px 20px 13px;
@Brazil: -4px -1214px 20px 13px;
@Senegal: -4px -1235px 20px 13px;
@Singapore: -4px -1256px 20px 13px;
@Guatemala: -4px -1277px 20px 13px;
@Austria: -4px -1298px 20px 13px;
@SouthAfrica: -4px -1319px 20px 13px;
@Spanish: -4px -1340px 20px 13px;
@Estonia: -4px -1361px 20px 13px;
@Guinea: -4px -1382px 20px 13px;
@France: -4px -1403px 20px 13px;
@Zambia: -4px -1424px 20px 13px;
@Cyprus: -4px -1445px 20px 14px;
@Thailand: -4px -1467px 20px 15px;
@Denmark: -4px -1490px 20px 15px;
@Belgium: -4px -1513px 20px 17px;
@Niger: -4px -1538px 20px 17px;
.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}
.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}
.sprite(@sprite, @display: block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
.icon-easydata-country {
  background-image: url("/images/production/easydata/country/sprite-easydata-country.PNG");
}