
/*----------上部分按钮样式------------*/
@import '../../../sprite/yishuju/UpperPart/sprite.less';

@border:solid 1px #dfdfdf;

.Search-Search
{
    line-height: 24px;

    margin-top: 10px;
    padding: 0 10px;

    color: #fff;

    _vertical-align: middle;
    i
    {
        margin-top: 6px;
        margin-right: 7px;
    }
    .Search
    {
        .sprite(@search);
    }
    .Reset
    {
        .sprite(@Reset);
    }
    .Collection
    {
        .sprite(@Collection);
    }
    .Contact
    {
        .sprite(@Contact);
    }
    .PayAttention
    {
        .sprite(@PayAttention);
    }
}
.Search-color-01
{
    background-color: #00a2c9;
}
.Search-color-02
{
    background-color: #888;
}
.Search-color-03
{
    background-color: #f9a83f;
}