
@import '../../../sprite/yishuju/UpperPart/sprite.less';

@import 'UpperPart-btn.less';

@border:solid 1px #dfdfdf;

/*----------UpperPart-01------------*/
.suppliers-header
{
    line-height: 32px;

    width: 998px;
    margin: 0 auto;
    margin-top: 32px;

    border: @border;

    _vertical-align: middle;
    span,
    a:hover
    {
        color: #00a2c9;
    }
    a
    {
        color: #666;
    }
    i
    {
        margin: 0 13px;
        margin-top: 1px;

        .sprite(@House);
    }
    .rig
    {
        padding-right: 5px;
    }
}



/*----------UpperPart-02------------*/
.suppliers-Classification-frame
{
    width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
    .suppliers-words-box
    {
        border-bottom: #00a2c9 3px solid;
    }
    .suppliers-words
    {
        font-size: 16px;
        line-height: 40px;

        width: 150px;

        text-align: center;

        color: #fff;
        background-color: #00a2c9;

        _vertical-align: middle;
    }
    .suppliers-Classification
    {
        width: 998px;

        border: @border;
        border-top: none;
        background-color: #fff;
    }
}
.Classification-box
{
    margin: 0 20px;

    border-bottom: @border;
    h3
    {
        font-size: 13px;
        line-height: 53px;

        width: 83px;

        color: #000;

        _vertical-align: middle;
    }
    .h3-span
    {
        margin-right: 26px;
    }
    .right
    {
        font-size: 13px;

        margin-top: 15px;
    }
    .right-bottom
    {
        width: 875px;
        padding-bottom: 8px;

        border-bottom: @border;
    }
    .right-bottom-none
    {
        border: none;
    }
    .right-bottom-color
    {
        width: 875px;

        background-color: #f6f6f6;
    }
    a
    {
        line-height: 23px;

        padding: 0 10px;

        color: #666;

        _vertical-align: middle;
    }
    .right-span
    {
        margin: 0 6px;
    }
    i
    {
        margin-top: 7px;
        margin-left: 5px;

        .sprite(@RedCross);
    }
    .border
    {
        border: @border;
    }
    .current-border,
    .border:hover
    {
        border: #00a2c9 1px solid;
    }
    .words-color,
    .color
    {
        margin-right: 10px;
    }
    .current-color,
    .color:hover
    {
        color: #fff;
        background-color: #00a2c9;
    }
    .words-color:hover,
    .current-words
    {
        color: #00a2c9;
    }
}
.Classification-box-none
{
    padding-bottom: 25px;

    border: none;
}



/*----------UpperPart-03------------*/
.Search-terms-frame
{
    font-size: 13px;
    line-height: 44px;

    width: 998px;
    margin: 0 auto;
    margin-top: 10px;

    border: @border;
    background-color: #fff;

    _vertical-align: middle;
}
.Search-terms-box
{
    padding-left: 20px;

    color: #666;
    border-bottom: @border;
    .Search-terms-margin
    {
        margin-left: 10px;
    }
    .span-color
    {
        margin-right: 5px;

        color: #000;
    }
    .span-margin
    {
        margin: 0 5px;
    }
    input
    {
        line-height: 22px;

        height: 22px;
        margin-top: 10px;
        padding-left: 5px;

        border: @border;

        _vertical-align: middle;
    }
    .input01
    {
        width: 67px;
    }
    .input02
    {
        width: 177px;
    }
    select
    {
        line-height: 22px;

        width: 98px;
        height: 22px;
        margin-top: 10px;

        color: #666;
        border: @border;

        _vertical-align: middle;
    }
}

.Search-terms-Sort
{
    padding: 0 20px;
    .Sort-margin
    {
        margin-right: 40px;

        color: #888;
    }
    i
    {
        margin-left: 5px;
    }
    .Sort-on
    {
        margin-top: 18px;

        .sprite(@Sort-on);
    }
    .Sort-Under
    {
        margin-top: 18px;

        .sprite(@Sort-Under);
    }
}




/*----------UpperPart-04------------*/
.Top-blue-line
{
    width: 1000px;
    height: 3px;
    margin: 0 auto;
    margin-top: 10px;

    background-color: #00a2c9;
}
.blue-line-title
{
    font-size: 13px;

    width: 998px;
    margin: 0 auto;

    border: @border;
    border-top: none;
    background-color: #fff;
    .name-p
    {
        font-size: 16px;

        padding: 0 20px;
        padding-top: 16px;

        color: #00a2c9;
    }
    .title-box
    {
        padding: 0 20px;
        padding-bottom: 15px;
    }
    .title-box-p
    {
        margin-top: 10px;
        margin-right: 45px;
    }
    .span-color
    {
        color: #f60;
    }
    .title-margin
    {
        margin-left: 10px;
    }
}



/*----------UpperPart-05------------*/
.UpperPart-05-box
{
    font-size: 13px;
    line-height: 32px;

    width: 1000px;
    margin: 0 auto;
    margin-top: 18px;

    color: #db1414;

    _vertical-align: middle;
    a
    {
        color: #fff;
        background-color: #00a2c9;
    }
    .baobiao-icon
    {
        margin-top: 5px;
        margin-right: 5px;
        margin-left: 7px;

        .sprite(@baobiao-icon);
    }
    .color-01
    {
        width: 1px;
        height: 32px;

        background-color: #00b5d4;
    }
    .color-02
    {
        padding-right: 10px;
        padding-left: 6px;

        border-left: #008ab8 1px solid;
    }
}




/*----------UpperPart-06------------*/
.UpperPart-06-box
{
    width: 1000px;
    margin: 0 auto;

    border: @border;
    border-top: none;
    background-color: #fff;
    .Classification-box
    {
        border: none;
    }
}
