.icon-easyPricing-pricing {
  background-image: url("/images/production/easyPricing/pricing/sprite-easyPricing-pricing.PNG");
}
.progressBar {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 14px 0 24px 0;
  text-align: center;
  line-height: 24px;
  border-radius: 3px;
}
.progressBar ul.words li.width {
  width: 144px;
}
.progressBar ul.words li.widththree {
  width: 912px;
}
.progressBar ul.words li.widthfour {
  width: 352px;
  margin-left: 104px;
}
.progressBar ul.words li.widthfour2 {
  width: 352px;
  margin-right: 104px;
}
.progressBar ul.words li.txtblue {
  color: #3ca1d7;
}
.progressBar ul.Step {
  margin: 5px 0 0 60px;
}
.progressBar ul.Step li.barthree {
  width: 504px;
  height: 24px;
}
.progressBar ul.Step li.barfour {
  width: 328px;
  height: 24px;
}
.progressBar ul.Step li.bargray {
  background-image: url("/images/production/easyPricing/pricing/bargray.png");
  background-repeat: repeat-x;
  background-position: center;
}
.progressBar ul.Step li.barblue {
  background-image: url("/images/production/easyPricing/pricing/barblue.png");
  background-repeat: repeat-x;
  background-position: center;
}
.progressBar ul.Step li.barblue {
  background-image: url("/images/production/easyPricing/pricing/barblue.png");
}
.progressBar ul.Step li.circle {
  background-position: -4px -118px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("/images/production/easyPricing/pricing/sprite-easyPricing-pricing.PNG");
}
.progressBar ul.Step li.txtwhite {
  color: #fff;
  background-position: -4px -86px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("/images/production/easyPricing/pricing/sprite-easyPricing-pricing.PNG");
}
.fabrictitle {
  padding: 20px 0;
  width: 1200px;
  margin: 0 auto;
  line-height: 18px;
}
.fabrictitle .fabrictitle_left {
  font-size: 18px;
  padding-left: 10px;
  border-left: 2px solid #3ca1d7;
  color: #666666;
}
.fabrictitle .fabrictitle_rg {
  font-size: 12px;
}
.fabrictitle .fabrictitle_rg a {
  color: #666666;
}
div.typebox {
  width: 1200px;
  margin: 20px auto 0 auto;
  background-color: #fff;
  padding: 20px 0;
}
div.typebox p.tit {
  width: 70px;
  margin: 7px 0 0 20px;
  display: inline;
}
div.typebox a.whole {
  line-height: 26px;
  padding: 0 10px;
  border-radius: 3px;
  margin: 7px 10px 0 10px;
  display: block;
  color: #666;
}
div.typebox ul.type {
  width: 1042px;
}
div.typebox a.type_a {
  line-height: 26px;
  padding: 0 10px;
  border-radius: 3px;
  margin: 7px 10px 0 10px;
  display: block;
  color: #666;
}
div.typebox a.type_a:hover,
div.typebox a.cur {
  background-color: #3ca1d7;
  color: #fff;
}
.ban-bg {
  position: relative;
  margin-top: 112px;
}
.mainbox {
  padding-bottom: 70px;
}
.progressBar {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 14px 0 24px 0;
  text-align: center;
  line-height: 24px;
  border-radius: 3px;
}
.progressBar ul.words li.width {
  width: 144px;
}
.progressBar ul.words li.widththree {
  width: 912px;
}
.progressBar ul.words li.widthfour {
  width: 352px;
  margin-left: 104px;
}
.progressBar ul.words li.widthfour2 {
  width: 352px;
  margin-right: 104px;
}
.progressBar ul.words li.txtblue {
  color: #3ca1d7;
}
.progressBar ul.Step {
  margin: 5px 0 0 60px;
}
.progressBar ul.Step li.barthree {
  width: 504px;
  height: 24px;
}
.progressBar ul.Step li.barfour {
  width: 328px;
  height: 24px;
}
.progressBar ul.Step li.bargray {
  background-image: url("/images/production/easyPricing/pricing/bargray.png");
  background-repeat: repeat-x;
  background-position: center;
}
.progressBar ul.Step li.barblue {
  background-image: url("/images/production/easyPricing/pricing/barblue.png");
  background-repeat: repeat-x;
  background-position: center;
}
.progressBar ul.Step li.barblue {
  background-image: url("/images/production/easyPricing/pricing/barblue.png");
}
.progressBar ul.Step li.circle {
  background-position: -4px -118px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("/images/production/easyPricing/pricing/sprite-easyPricing-pricing.PNG");
}
.progressBar ul.Step li.txtwhite {
  color: #fff;
  background-position: -4px -86px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("/images/production/easyPricing/pricing/sprite-easyPricing-pricing.PNG");
}
.sortbox {
  width: 1200px;
  margin: 20px auto 0 auto;
  font-size: 12px;
}
.sortbox div.sort {
  line-height: 32px;
  width: 970px;
}
.sortbox div.sort p.tit {
  margin-right: 5px;
}
.sortbox div.sort a.cur,
.sortbox div.sort a.sort_ablue {
  margin-right: 30px;
}
.sortbox div.sort a.cur i,
.sortbox div.sort a.sort_ablue i {
  margin: 12px 0 0 9px;
  background-image: url("/images/production/easyPricing/pricing/sprite-easyPricing-pricing.PNG");
}
.sortbox div.sort a.sort_ablue {
  color: #888;
}
.sortbox div.sort a.sort_ablue i {
  background-position: -4px -22px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 6px;
  height: 10px;
}
.sortbox div.sort a.cur,
.sortbox div.sort a.sort_ablue:hover {
  color: #3ca1d7;
}
.sortbox div.sort a.cur i,
.sortbox div.sort a.sort_ablue:hover i {
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 6px;
  height: 10px;
}
.sortbox div.intbox {
  width: 140px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
}
.sortbox div.intbox input.int {
  width: 88px;
  line-height: 18px;
  padding: 5px 10px;
  border: 0;
  background-color: #f2f3f5;
}
.sortbox div.intbox i {
  margin: 8px 0 0 8px;
  background-position: -4px -40px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 14px;
  height: 14px;
  background-image: url("/images/production/easyPricing/pricing/sprite-easyPricing-pricing.PNG");
}
ul.arraybox {
  width: 1220px;
  margin: 20px auto 0 auto;
  padding-bottom: 5px;
}
ul.arraybox li.array {
  background-color: #fff;
  padding-bottom: 15px;
  margin: 0 10px;
  display: inline;
  border-radius: 3px;
}
ul.arraybox li.array .picture {
  width: 265px;
  height: 265px;
  margin: 10px;
}
ul.arraybox li.array p.name {
  margin-left: 15px;
}
ul.arraybox li.array div.dropbox {
  margin: 10px 10px 0 10px;
  border-top: #e5e5e5 1px solid;
  width: 265px;
}
ul.arraybox li.array div.dropbox label.lab {
  width: 76px;
  margin: 11px 6px 0 6px;
  cursor: pointer;
  font-size: 12px;
}
ul.arraybox li.array div.dropbox label.lab input.int {
  margin: 3px 5px 0 0;
  width: 18px;
  height: 18px;
}
ul.arraybox li.array a.btn {
  display: block;
  width: 254px;
  text-align: center;
  margin: 10px 0 0 16px;
  color: #fff;
  background-color: #3ca1d7;
  border-color: #3ca1d7;
  padding: 0 0;
  font-size: 16px;
  line-height: 40px;
  border-radius: 3px;
}
ul.arraybox li.array a.btn:focus,
ul.arraybox li.array a.btn.focus {
  color: #fff;
  background-color: #51abdb;
  border-color: #a6d4ed;
}
ul.arraybox li.array a.btn:hover {
  color: #fff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
ul.arraybox li.array a.btn:active,
ul.arraybox li.array a.btn.active {
  color: #fff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
