.icon-easyPricing-pricing {
  background-image: url("/images/production/easyPricing/pricing/sprite-easyPricing-pricing.PNG");
}
div.popupbox {
  width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  font-size: 12px;
  padding-bottom: 20px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 15px 1px #e0e0e0;
  -moz-box-shadow: 0 0 15px 1px #e0e0e0;
  box-shadow: 0 0 15px 1px #e0e0e0;
}
div.popupbox p.title {
  margin: 0 10px;
  line-height: 52px;
  font-size: 16px;
  background-image: url("/images/production/easyPricing/pricing/grayline.png");
  background-repeat: repeat-x;
  background-position: bottom;
}
div.popupbox p.title a {
  color: #666;
  padding: 0 10px;
  margin-right: 20px;
}
div.popupbox p.title .cur,
div.popupbox p.title .herfa:hover {
  color: #3ca1d7;
  border-bottom: 2px solid #3ca1d7;
}
div.popupbox p.title span.btn_close {
  margin-top: 15px;
  cursor: pointer;
  background-position: -4px -62px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/production/easyPricing/pricing/sprite-easyPricing-pricing.PNG");
}
div.popupbox div.typebox {
  width: 980px;
  margin: 0 10px;
  background-color: #fff;
  padding-top: 5px;
}
div.popupbox div.typebox div.container {
  border-bottom: dashed 1px #dbdbdb;
}
div.popupbox div.typebox p.tit {
  width: 60px;
  margin-top: 7px;
  display: inline;
  text-align: right;
}
div.popupbox div.typebox ul.type {
  width: 920px;
}
div.popupbox div.typebox ul.type a.type_a {
  padding: 0 10px;
  border-radius: 3px;
  margin: 7px 5px;
  display: block;
  color: #666;
  white-space: nowrap;
}
div.popupbox div.typebox ul.type a.type_a:hover,
div.popupbox div.typebox ul.type a.cur {
  background-color: #3ca1d7;
  color: #fff;
}
div.popupbox .sortbox {
  width: 980px;
  margin: 10px 10px 0 10px;
}
div.popupbox .sortbox div.sort {
  line-height: 32px;
  width: 830px;
}
div.popupbox .sortbox div.sort p.tit {
  margin-right: 5px;
}
div.popupbox .sortbox div.sort a.cur,
div.popupbox .sortbox div.sort a.sort_ablue {
  margin-right: 30px;
}
div.popupbox .sortbox div.sort a.cur i,
div.popupbox .sortbox div.sort a.sort_ablue i {
  margin: 12px 0 0 9px;
  background-image: url("/images/production/easyPricing/pricing/sprite-easyPricing-pricing.PNG");
}
div.popupbox .sortbox div.sort a.sort_ablue {
  color: #888;
}
div.popupbox .sortbox div.sort a.sort_ablue i {
  background-position: -4px -22px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 6px;
  height: 10px;
}
div.popupbox .sortbox div.sort a.cur,
div.popupbox .sortbox div.sort a.sort_ablue:hover {
  color: #3ca1d7;
}
div.popupbox .sortbox div.sort a.cur i,
div.popupbox .sortbox div.sort a.sort_ablue:hover i {
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 6px;
  height: 10px;
}
div.popupbox .sortbox div.intbox,
div.popupbox .sortbox div.intchoice {
  width: 140px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
}
div.popupbox .sortbox div.intbox input.int,
div.popupbox .sortbox div.intchoice input.int {
  width: 88px;
  line-height: 18px;
  padding: 5px 10px;
  border: 0;
  background-color: #fff;
}
div.popupbox .sortbox div.intbox i,
div.popupbox .sortbox div.intchoice i {
  margin: 8px 0 0 8px;
  background-position: -4px -40px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 14px;
  height: 14px;
  background-image: url("/images/production/easyPricing/pricing/sprite-easyPricing-pricing.PNG");
}
div.popupbox .sortbox div.intchoice {
  width: 150px;
  border: 0;
}
div.popupbox .sortbox div.intchoice input.int {
  border: 1px solid #d1d1d1;
}
div.popupbox .sortbox div.intchoice span {
  line-height: 30px;
}
div.popupbox .querybox {
  width: 980px;
  margin: 10px 10px 0 10px;
}
div.popupbox .querybox div.intbox {
  line-height: 30px;
  margin-right: 30px;
  border-radius: 3px;
}
div.popupbox .querybox div.intbox input.int {
  width: 88px;
  line-height: 18px;
  padding: 5px 10px;
  border: 1px solid #d1d1d1;
  background-color: #fff;
}
div.popupbox .querybox a.btn_blue {
  width: 70px;
  text-align: center;
  color: #fff;
  background-color: #3ca1d7;
  border-color: #3ca1d7;
  padding: 0 0;
  font-size: 12px;
  line-height: 30px;
  border-radius: 3px;
}
div.popupbox .querybox a.btn_blue:focus,
div.popupbox .querybox a.btn_blue.focus {
  color: #fff;
  background-color: #51abdb;
  border-color: #a6d4ed;
}
div.popupbox .querybox a.btn_blue:hover {
  color: #fff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
div.popupbox .querybox a.btn_blue:active,
div.popupbox .querybox a.btn_blue.active {
  color: #fff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
div.popupbox .tabbox {
  margin-top: 10px;
}
div.popupbox label.labbox {
  line-height: 16px;
}
div.popupbox label.labbox input.checkint {
  width: 16px;
  height: 16px;
  margin: 0 2px 0 10px;
}
div.popupbox div.btnbox {
  width: 160px;
  margin: 10px auto 0 auto;
}
div.popupbox div.btnbox .btn_blue {
  width: 70px;
  text-align: center;
  margin-right: 20px;
  color: #fff;
  background-color: #3ca1d7;
  border-color: #3ca1d7;
  padding: 0 0;
  font-size: 12px;
  line-height: 30px;
  border-radius: 3px;
}
div.popupbox div.btnbox .btn_blue:focus,
div.popupbox div.btnbox .btn_blue.focus {
  color: #fff;
  background-color: #51abdb;
  border-color: #a6d4ed;
}
div.popupbox div.btnbox .btn_blue:hover {
  color: #fff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
div.popupbox div.btnbox .btn_blue:active,
div.popupbox div.btnbox .btn_blue.active {
  color: #fff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
div.popupbox div.btnbox .btn_gray {
  width: 70px;
  text-align: center;
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
  padding: 0 0;
  font-size: 12px;
  line-height: 30px;
  border-radius: 3px;
}
div.popupbox div.btnbox .btn_gray:focus,
div.popupbox div.btnbox .btn_gray.focus {
  color: #fff;
  background-color: #d9d9d9;
  border-color: #ffffff;
}
div.popupbox div.btnbox .btn_gray:hover {
  color: #fff;
  background-color: #d9d9d9;
  border-color: #ebebeb;
}
div.popupbox div.btnbox .btn_gray:active,
div.popupbox div.btnbox .btn_gray.active {
  color: #fff;
  background-color: #d9d9d9;
  border-color: #ebebeb;
}
ul.arraybox {
  width: 1000px;
  margin: 10px auto 0 auto;
  padding-bottom: 5px;
}
ul.arraybox li.array {
  background-color: #fff;
  padding-bottom: 10px;
  margin: 0 10px;
  display: inline;
  border-radius: 3px;
}
ul.arraybox li.array .picture {
  width: 230px;
  height: 230px;
  cursor: pointer;
}
ul.arraybox li.array div.words {
  margin: 5px 0 0 5px;
}
ul.arraybox li.array a.name {
  color: #666;
  display: block;
}
ul.arraybox li.array a.name:hover {
  color: #ff6600;
}
.volumebox {
  width: 980px;
  margin: 10px 10px 0 10px;
}
.volumebox div.intbox {
  line-height: 30px;
  margin: 10px 45px 10px 0;
  display: inline;
  border-radius: 3px;
}
.volumebox div.intbox input.int {
  width: 128px;
  line-height: 18px;
  padding: 5px 10px;
  border: 1px solid #d1d1d1;
  background-color: #fff;
}
