@icon_Sequence: -4px -4px 6px 10px;
@icon_Sequence_Orange: -4px -22px 6px 10px;
@icon_link: -4px -40px 6px 11px;
@icon_Collect: -4px -59px 12px 12px;
@icon_Switching: -4px -79px 12px 12px;
@icon_search: -4px -99px 13px 13px;
.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}
.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}
.sprite(@sprite, @display: block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
.icon-easydata_old-buyerEva {
  background-image: url("/images/production/easydata_old/buyerEva/sprite-easydata_old-buyerEva.PNG");
}