@Comprehensive: -4px -4px 11px 11px;
@Drop: -4px -23px 10px 11px;
@Rise: -4px -42px 10px 11px;
@index-Search: -4px -61px 32px 30px;
@lowest: -4px -99px 43px 43px;
@Quality-testing: -4px -150px 43px 43px;
@Time-limit: -4px -201px 43px 43px;
.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}
.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}
.sprite(@sprite, @display: block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
.icon-yituangou-index {
  background-image: url("/images/production/yituangou/index/sprite-yituangou-index.PNG");
}