@border: 1px #d6d6d6 solid;
@red:#c30e23;


.main
{
    margin-top: 20px;
    margin-bottom: 100px;
    .bangzhu-l
    {
        float: left;

        width: 198px;
        padding-bottom: 20px;

        border: @border;
        .bangzhu00
        {
            margin-top: 37px;
            .bangzhu01
            {
                font-size: 15px;
            }
        }
        p
        {
            font-weight: bold;
            line-height: 33px;

            width: 188px;
            margin-top: 12px;
            margin-bottom: 12px;
            margin-left: 10px;

            color: @red;
            border-bottom: @border;

            -vertical-align: middle;
            span
            {
                margin-left: 6px;
            }
        }
        li
        {
            line-height: 36px;

            cursor: pointer;

            -vertical-align: middle;
            span
            {
                float: left;

                margin-right: 30px;
                margin-left: 20px;

                color: #bdbdbd;
            }
            .dot
            {
                font-size: 25px;
            }
            .WENZI
            {
                margin: 0;

                color: #333;
            }
            .jiantou
            {
                float: right;

                margin-right: 22px;

                color: #fff;
            }
        }
        .dangqian,
        li:hover
        {
            background-color: @red;
            span
            {
                color: @red;
            }
            .WENZI,
            .jiantou
            {
                color: #fff;
            }
            .WENZI
            {
                margin: 0;
            }
        }
    }
    .bangzhu-r
    {
        float: right;

        width: 958px;
        padding-bottom: 40px;

        border: @border;
        .dingwei
        {
            font-size: 15px;
            line-height: 42px;

            width: 800px;
            margin-top: 30px;
            margin-bottom: 20px;
            margin-left: 40px;

            color: #333;
            background-image: url('/images/production/yijingjia/index/fengexian.png');
            background-repeat: no-repeat;
            background-position: bottom;

            -vertical-align: middle;
            span
            {
                float: left;
            }
            .bianxian-hong
            {
                display: block;

                margin-right: 4px;

                border-bottom: 1px solid @red;
            }
        }
    }
}
