
@import 'bangzhu-tongyong.less';

@border: 1px #d6d6d6 solid;
@red:#c30e23;



.zhongxin
{
    height: 659px;

    a:hover
    {
        text-decoration: underline;
    }
    a
    {
        font-family: '宋体';
        line-height: 26px;
        line-height: 36px;

        width: 800px;
        margin-left: 40px;

        color: #259;

        -vertical-align: middle;
    }
}
