.dropdownInput {
  line-height: 18px;
  width: 150px;
  padding: 5px 10px;
  border: 1px solid #cdcfd1;
  border-radius: 3px;
}
.int_430 {
  position: relative;
}
.pop-up {
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 2;
  width: 374px;
  padding: 11px 0 1px 12px;
  background-color: #fff;
  border: 1px solid #cdcfd1;
  color: #333;
  line-height: normal;
}
.pop-up .item {
  float: left;
  width: 60px;
  padding: 4px 0;
  font-size: 14px;
  color: #333;
  overflow: hidden;
}
.pop-up li.province{
  position:relative;
  overflow:visible;
}
.pop-up ul.zxcities,
.pop-up ul.provinces {
  display: relative;
  font-size: 12px;
}
.pop-up ul.zxcities li span,
.pop-up ul.provinces li span {
  position: relative;
  float: left;
  line-height: 14px;
  padding: 4px 7px;
  cursor: pointer;
}
.pop-up ul.zxcities li span:hover,
.pop-up ul.provinces li span:hover {
  background: #444;
  color: #fff;
}
.pop-up ul.provinces li span {
  padding: 4px;
}
.pop-up .sub-items {
  z-index: 1;
  top:23px;
  position: absolute;
  width: 374px;
  padding-left: 12px;
  margin: 0 0 0 -12px;

}
.pop-up .sub-items span {
  font-size: 12px;
  padding: 4px;
}
.input-tri {
  position: relative;
  top: -3px;
  margin-right: 6px;
  margin-left: 3px;
  border: solid 1px rgba(0, 0, 0, 0);
  border-width: 4px 4px 0;
  border-top-color: #666;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  _border-color: #000;
  _filter: chroma(color=black);
  position: absolute;
  top: 14px;
  right: 4px;
}
.toggleTri {
  border: solid 1px rgba(0, 0, 0, 0);
  border-width: 4px 4px 0;
  border-top-color: #666;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  _border-color: #fff;
  _filter: chroma(color=white);
}
