.icon-yijingjia-index {
  background-image: url("/images/production/yijingjia/index/sprite-yijingjia-index.PNG");
}
.main-01 {
  overflow: hidden;
}
.main-01 .main01center {
  float: left;
  display: inline;
  margin-top: 20px;
  margin-left: 234px;
}
.main-01 .main01center .ma01cen-top {
  position: relative;
  width: 670px;
  height: 292px;
  background-color: red;
}
.main-01 .main01center .ma01cen-top ul {
  position: absolute;
  right: 13px;
  bottom: 10px;
  overflow: hidden;
}
.main-01 .main01center .ma01cen-top ul li:hover {
  background-position: -4px -62px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 14px;
  height: 14px;
  background-image: url("/images/production/yijingjia/index/sprite-yijingjia-index.PNG");
}
.main-01 .main01center .ma01cen-top ul li {
  float: left;
  margin: 0 2px;
  cursor: pointer;
  background-position: -4px -40px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 14px;
  height: 14px;
  background-image: url("/images/production/yijingjia/index/sprite-yijingjia-index.PNG");
}
.main-01 .main01center .ma01cen-top ul .dangqian {
  background-position: -4px -62px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 14px;
  height: 14px;
  background-image: url("/images/production/yijingjia/index/sprite-yijingjia-index.PNG");
}
.main-01 .main01center .ma01cen-bottom {
  overflow: hidden;
  width: 670px;
}
.main-01 .main01center .ma01cen-bottom dl {
  display: inline;
  float: left;
  margin-top: 23px;
  margin-right: 53px;
  margin-left: 20px;
  text-align: center;
}
.main-01 .main01center .ma01cen-bottom dl dt {
  font-weight: bold;
  width: 63px;
  height: 50px;
  margin: 0 auto;
  background-position: center;
}
.main-01 .main01center .ma01cen-bottom dl .hangye {
  background-position: -4px -142px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 63px;
  height: 50px;
  background-image: url("/images/production/yijingjia/index/sprite-yijingjia-index.PNG");
}
.main-01 .main01center .ma01cen-bottom dl .anquan {
  background-position: -4px -200px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 63px;
  height: 50px;
  background-image: url("/images/production/yijingjia/index/sprite-yijingjia-index.PNG");
}
.main-01 .main01center .ma01cen-bottom dl .caozuo {
  background-position: -4px -258px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 63px;
  height: 50px;
  background-image: url("/images/production/yijingjia/index/sprite-yijingjia-index.PNG");
}
.main-01 .main01center .ma01cen-bottom dl .yongjin-02 {
  background-position: -4px -84px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 63px;
  height: 50px;
  background-image: url("/images/production/yijingjia/index/sprite-yijingjia-index.PNG");
}
.main-01 .main01center .ma01cen-bottom dl dd {
  margin-top: 10px;
}
.main-01 .main01center .ma01cen-bottom dl dd p {
  line-height: 22px;
  color: #888;
}
.main-01 .main01center .ma01cen-bottom dl dd p span {
  font-size: 18px;
}
.main-01 .main01center .ma01cen-bottom .dd01 {
  width: 107px;
}
.main-01 .main01center .ma01cen-bottom .dd02 {
  width: 92px;
}
.main-01 .main01center .ma01cen-bottom .dd03 {
  width: 117px;
}
.main-01 .main01center .ma01cen-bottom .yongjin-01 {
  width: 91px;
  margin-right: 0;
}
.main-01 .main01right {
  float: right;
}
.main-01 .main01right li {
  width: 264px;
  height: 134px;
  margin-top: 20px;
  border: 1px #d6d6d6 solid;
}
.main-01 .main01right li p {
  line-height: 26px;
  float: left;
  margin-top: 40px;
  margin-right: 12px;
  color: #949494;
}
.main-01 .main01right li p span {
  font-size: 20px;
  color: #ff9600;
}
.main-01 .main01right li .pingtai-01 {
  width: 66px;
  height: 66px;
  margin-top: 34px;
  margin-left: 12px;
}
.main-01 .main01right li .lishi {
  background-position: -4px -390px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 66px;
  height: 66px;
  background-image: url("/images/production/yijingjia/index/sprite-yijingjia-index.PNG");
}
.main-01 .main01right li .zuori {
  background-position: -4px -464px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 66px;
  height: 66px;
  background-image: url("/images/production/yijingjia/index/sprite-yijingjia-index.PNG");
}
.main-01 .main01right li .renshu {
  background-position: -4px -316px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 66px;
  height: 66px;
  background-image: url("/images/production/yijingjia/index/sprite-yijingjia-index.PNG");
}
.guanggao-01 {
  margin-top: 20px;
}
.main-02 {
  margin-top: 25px;
}
.main-02 .tuijian {
  line-height: 30px;
  overflow: hidden;
  background-image: url('/images/production/yijingjia/index/fengexian.png');
  background-repeat: no-repeat;
  background-position: bottom;
}
.main-02 .tuijian .rebiao {
  font-size: 20px;
  padding-right: 4px;
  color: #333;
  border-bottom: 1px #c30e23 solid;
}
.main-02 .tuijian .rebiao span {
  font-weight: bold;
  color: #c30e23;
}
.main-02 .tuijian li {
  font-size: 16px;
  float: left;
  margin-right: 40px;
}
.main-02 .tuijian li a:hover {
  color: #c30e23;
}
.main-02 .tuijian li a {
  color: #333;
}
.main-02 .tuijian-liebiao:hover {
  background-color: #efefef;
}
.main-02 .tuijian-liebiao {
  overflow: hidden;
  position: relative;
  border-top: #b2b2b2 1px dashed;
}
.main-02 .tuijian-liebiao .liebiao-l {
  float: left;
  display: inline;
  margin-left: 20px;
  padding: 20px 0;
}
.main-02 .tuijian-liebiao .liebiao-r {
  float: left;
  display: inline;
  overflow: hidden;
  width: 1078px;
  margin-top: 20px;
  margin-left: 12px;
}
.main-02 .tuijian-liebiao .liebiao-r p {
  font-size: 18px;
  float: left;
  margin-top: 8px;
}
.main-02 .tuijian-liebiao .liebiao-r p a:hover {
  color: #c30e23;
}
.main-02 .tuijian-liebiao .liebiao-r p span {
  margin-right: 10px;
  color: #ff9600;
}
.main-02 .tuijian-liebiao .liebiao-r p a {
  color: #333;
}
.main-02 .tuijian-liebiao .liebiao-r .toubiaoanniu {
  font-size: 18px;
  line-height: 40px;
  float: right;
  width: 122px;
  margin-right: 20px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #b4b4b4;
}
.main-02 .tuijian-liebiao .liebiao-r .toubiaoanniu:hover {
  background-color: #c30e23;
}
.main-02 .tuijian-liebiao .liebiao-r ul {
  clear: both;
  padding-top: 9px;
}
.main-02 .tuijian-liebiao .liebiao-r ul li {
  float: left;
  width: 187px;
}
.main-02 .tuijian-liebiao .liebiao-r ul li a:hover {
  color: #c30e23;
}
.main-02 .tuijian-liebiao .liebiao-r ul li a {
  color: #666;
}
.main-02 .tuijian-liebiao .liebiao-r ul .jiezhi {
  float: right;
  width: 122px;
  margin-right: 20px;
  text-align: center;
}
.main-02 .tui-dangqian {
  border: none;
  background-color: #efefef;
}
.main-02 .tui-dangqian .liebiao-r .toubiaoanniu01 {
  font-size: 18px;
  line-height: 40px;
  float: right;
  width: 122px;
  margin-right: 20px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #c30e23;
}
.guanggao-02 {
  margin-top: 10px;
}
.tuijian-icon {
  position: absolute;
  top: 18px;
  right: 220px;
  background-position: -4px -978px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 84px;
  height: 84px;
  background-image: url("/images/production/yijingjia/index/sprite-yijingjia-index.PNG");
}
.main-03 {
  overflow: hidden;
  margin-top: 25px;
}
.main-03 .ma03-r {
  margin-left: 40px;
}
.main-03 .ma03-l {
  float: left;
}
.main-03 .ma03-l .paihang {
  line-height: 30px;
  width: 575px;
  margin-bottom: 5px;
  background-image: url('/images/production/yijingjia/index/fengexian-02.png');
  background-repeat: no-repeat;
  background-position: bottom;
}
.main-03 .ma03-l .paihang p {
  font-size: 20px;
  width: 124px;
  color: #333;
  border-bottom: 1px #c30e23 solid;
}
.main-03 .ma03-l .paihang p span {
  font-weight: bold;
  color: #c30e23;
}
.main-03 .ma03-l .top {
  overflow: hidden;
  padding: 15px 0;
  width: 575px;
}
.main-03 .ma03-l .top .top-l-01 {
  float: left;
  display: inline;
  margin-left: 10px;
  _margin-left: 5px;
  background-position: -4px -538px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 80px;
  height: 80px;
  background-image: url("/images/production/yijingjia/index/sprite-yijingjia-index.PNG");
}
.main-03 .ma03-l .top .top-l-02 {
  float: left;
  display: inline;
  margin-left: 10px;
  _margin-left: 5px;
  background-position: -4px -626px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 80px;
  height: 80px;
  background-image: url("/images/production/yijingjia/index/sprite-yijingjia-index.PNG");
}
.main-03 .ma03-l .top .top-l-03 {
  float: left;
  display: inline;
  margin-left: 10px;
  _margin-left: 5px;
  background-position: -4px -714px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 80px;
  height: 80px;
  background-image: url("/images/production/yijingjia/index/sprite-yijingjia-index.PNG");
}
.main-03 .ma03-l .top .top-l-04 {
  float: left;
  display: inline;
  margin-left: 10px;
  _margin-left: 5px;
  background-position: -4px -802px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 80px;
  height: 80px;
  background-image: url("/images/production/yijingjia/index/sprite-yijingjia-index.PNG");
}
.main-03 .ma03-l .top .top-l-05 {
  float: left;
  display: inline;
  margin-left: 10px;
  _margin-left: 5px;
  background-position: -4px -890px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 80px;
  height: 80px;
  background-image: url("/images/production/yijingjia/index/sprite-yijingjia-index.PNG");
}
.main-03 .ma03-l .top .qiye-log {
  float: left;
  display: inline;
  margin-left: 22px;
  _margin-left: 11px;
}
.main-03 .ma03-l .top .top-lc {
  float: left;
  width: 373px;
  _width: 363px;
  margin-left: 10px;
  _margin-left: 5px;
  display: inline;
}
.main-03 .ma03-l .top .top-lc .lc-p {
  font-size: 16px;
}
.main-03 .ma03-l .top .top-lc .lc-p a:hover {
  color: #c30e23;
}
.main-03 .ma03-l .top .top-lc .lc-p a {
  color: #333;
}
.main-03 .ma03-l .top .top-lc .lc-p01 {
  line-height: 39px;
}
.main-03 .ma03-l .top .top-lc .lc-p02 {
  overflow: hidden;
}
.main-03 .ma03-l .top .top-lc .lc-p02 a {
  font-family: '宋体';
  font-size: 12px;
  line-height: 18px;
  float: right;
  margin-right: 10px;
  padding-right: 6px;
  text-align: right;
  color: #a6a6a6;
  border: 1px #d6d6d6 solid;
  background-color: #eee;
}
.main-03 .ma03-l .top .top-lc .lc-p02 .po2-11 {
  float: left;
  margin-top: 4px;
  margin-right: 5px;
  margin-left: 4px;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 10px;
  height: 10px;
  background-image: url("/images/production/yijingjia/index/sprite-yijingjia-index.PNG");
}
.main-03 .ma03-l .top .top-lc .lc-p02 .po2-22 {
  float: left;
  margin-top: 4px;
  margin-right: 5px;
  margin-left: 4px;
  background-position: -4px -22px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 10px;
  height: 10px;
  background-image: url("/images/production/yijingjia/index/sprite-yijingjia-index.PNG");
}
.youqing {
  margin-top: 35px;
  border: 1px #d6d6d6 solid;
}
.youqing .youqing-top {
  overflow: hidden;
  background-color: #fafafa;
  background-image: url('/images/production/yijingjia/index/fengexian.png');
  background-repeat: no-repeat;
  background-position: bottom;
}
.youqing .youqing-top a {
  font-family: '宋体';
  font-size: 16px;
  line-height: 40px;
  float: left;
  padding: 0 20px;
  color: #666;
}
.youqing .youqing-top .dangqian {
  font-weight: bold;
  border-right: 1px #d6d6d6 solid;
  background-color: #fff;
}
.youqing .youqing-bottom {
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 20px;
}
.youqing .youqing-bottom li {
  font-family: '宋体';
  font-size: 12px;
  line-height: 34px;
  float: left;
  margin-left: 20px;
  white-space: nowrap;
}
.youqing .youqing-bottom li a:hover {
  color: #c30e23;
}
.youqing .youqing-bottom li a {
  color: #666;
}
/*正文字体*/
body {
  font-family: '微软雅黑';
  font-size: 13px;
  color: #666;
}
/*页面宽度*/
.width-body {
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.rg {
  float: right !important;
}
.lf {
  float: left !important;
}
.none {
  display: none ;
}
.block {
  display: block ;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.ta-c {
  text-align: center;
}
.hidden {
  display: none ;
}
