.xiangxibox {
  font-size: 12px;
  line-height: 16px;
  width: 1190px;
  margin: 0 auto;
  padding-top: 10px;
  color: #333;
}
.xiangxibox .justif {
  float: left;
}
.xiangxibox a {
  color: #333;
}
.xiangxibox .dangqianyanse {
  color: #d52532;
}
.xiangxibox .weizhijianju {
  margin: 0 4px;
}
.xiangxibox .jiantuoyanse {
  color: #aaa;
}
.icon-yituangou-Company {
  background-image: url("/images/production/yituangou/Company/sprite-yituangou-Company.PNG");
}
.icon-yituangou-index {
  background-image: url("/images/production/yituangou/index/sprite-yituangou-index.PNG");
}
.Sort {
  float: left;
}
.Sort .Sort-a {
  font-family: '宋体';
  font-size: 13px;
  line-height: 30px;
  float: left;
  padding-right: 15px;
  color: #000;
  background-color: #fff;
  _vertical-align: middle;
}
.Sort .Sort-a span {
  float: left;
}
.Sort .Sort-icon {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 15px;
}
.Sort .Comprehensive {
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 11px;
  height: 11px;
}
.Sort .Drop {
  background-position: -4px -23px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 10px;
  height: 11px;
}
.Sort .Rise {
  background-position: -4px -42px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 10px;
  height: 11px;
}
.PositioningCurrent {
  width: 1190px;
  margin: 0 auto;
  padding-top: 2px;
}
.Switch {
  width: 1190px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #fff;
}
.Switch .Switch-text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  background-color: #9acb3e;
  _vertical-align: middle;
}
.Switch .Switch-text a {
  float: left;
  width: 132px;
  margin-top: 6px;
  color: #fff;
}
.Switch .Switch-text .current {
  color: #333;
  background-position: -4px -72px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 132px;
  height: 30px;
  background-image: url("/images/production/yituangou/Company/sprite-yituangou-Company.PNG");
}
.Switch .Company-Sort {
  width: 1190px;
  margin: 0 auto;
}
.Company-Buy-05 {
  width: 1190px;
  margin: 0 auto;
  margin-top: 20px;
}
/*公司团购-采购*/
.Purchase-List {
  font-family: '宋体';
  font-size: 12px;
  width: 1190px;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}
.Purchase-List .List-top-01 {
  float: left;
  margin-left: 20px;
}
.Purchase-List .List-top-02 {
  float: left;
  margin-left: 10px;
}
.Purchase-List .List-top-02 .names {
  margin-top: 10px;
  color: #333;
}
.Purchase-List .List-top-ul {
  margin-left: 30px;
  color: #666;
}
.Purchase-List .List-top-li {
  float: left;
  margin-top: 26px;
  margin-right: 20px;
}
.Purchase-List .List-top-li01 {
  width: 210px;
}
.Purchase-List .List-top-li02 {
  width: 320px;
}
.Purchase-List .List-top-li03 {
  width: 320px;
  margin-top: 0;
}
.Purchase-List .List-top-li04 {
  width: 120px;
}
.Purchase-List .List-top-span01 {
  margin-right: 24px;
}
.Purchase-List .List-top-span02 {
  font-family: 'Arial Regular';
  font-size: 40px;
}
.Purchase-List .hong {
  color: #d42532;
}
.Purchase-List .List-top-span03 {
  float: right;
  margin-right: 10px;
  color: #275593;
}
.Purchase-List .Open-button {
  float: right;
  margin-top: 4px;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 10px;
  height: 6px;
}
.Purchase-List .retract-button {
  float: right;
  margin-top: 4px;
  background-position: -4px -18px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 10px;
  height: 6px;
}
.Purchase-List .List-bottom {
  line-height: 26px;
  margin: 0 20px;
  margin-top: 20px;
  padding: 13px 0;
  color: #666;
  border-top: #e6e6e6 1px solid;
  _vertical-align: middle;
}
.Purchase-List .List-bottom-li {
  float: left;
  width: 138px;
  margin-right: 5px;
}
.Purchase-List .List-bottom-li01 {
  float: left;
}
.Purchase-List-bottom {
  padding-bottom: 0;
}
