.icon-yituangou-Company {
  background-image: url("/images/production/yituangou/Company/sprite-yituangou-Company.PNG");
}
.icon-yituangou-tuangougeren {
  background-image: url("/images/production/yituangou/tuangougeren/sprite-yituangou-tuangougeren.PNG");
}
.Introduction-Frame {
  width: 1190px;
  margin: 0 auto;
  margin-top: 14px;
  padding-bottom: 30px;
  background-color: #fff;
}
.Introduction-Frame .Company-names {
  font-size: 20px;
  margin: 0 20px;
  padding-top: 20px;
  padding-bottom: 8px;
  color: #333;
  border-bottom: #f1f1f1 1px solid;
}
.Introduction-Frame .Introduction {
  margin: 0 20px;
  margin-top: 20px;
}
.Introduction-Frame .Introduction-left {
  font-family: '宋体';
  font-size: 12px;
  float: left;
  width: 636px;
  margin-right: 40px;
}
.Introduction-Frame .Introduction-left .left-02 {
  line-height: 22px;
  margin-top: 15px;
  text-align: justify;
  text-indent: 2em;
  text-justify: inter-ideograph;
  color: #888;
  _vertical-align: middle;
}
.Introduction-Frame .Introduction-right {
  float: right;
}
.Introduction-Frame .Company-logo {
  float: left;
  border: #f1f1f1 1px solid;
}
.Introduction-Frame .Introduction-Content {
  float: left;
  margin-left: 20px;
  color: #666;
}
.Introduction-Frame .Introduction-Content .Interval {
  margin: 0 15px;
  color: #999;
}
.Introduction-Frame .Introduction-Content .p01 {
  margin-top: 2px;
}
.Introduction-Frame .Introduction-Content .p02 {
  margin-top: 12px;
}
.Introduction-Frame .Introduction-Content .p03 {
  margin-top: 10px;
}
.Introduction-Frame .Introduction-Content .p03 span {
  float: left;
  margin-right: 6px;
}
.Introduction-Frame .Introduction-Content .p03 .hong {
  margin-top: 5px;
  margin-left: 5px;
  color: #d52532;
}
.Introduction-Frame .Introduction-Content .huangxin {
  background-position: -4px -113px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 18px;
}
.Introduction-Frame .Introduction-Content .huixing {
  background-position: -4px -139px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 18px;
}
.Introduction-Frame .Introduction-Content .p04 {
  margin-top: 9px;
}
.Introduction-Frame .Introduction-Content .justif {
  float: left;
  margin-right: 20px;
  color: #666;
}
.Introduction-Frame .Introduction-Content .justif span {
  float: left;
}
.Introduction-Frame .Introduction-Content .Share {
  margin-right: 6px;
  background-position: -4px -52px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 12px;
  height: 12px;
}
.Introduction-Frame .Introduction-Content .Collection {
  margin-right: 6px;
  background-position: -4px -32px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 13px;
  height: 12px;
}
