@import '../../sprite/easydata_old/sprite.less';
@import '../../sprite/easydata_old/country/sprite.less';
@import '../../../less/dev/mixins/mixins.less';


ol.module-ol{
  li{
    .close-btn{
      position: absolute;
      top:20px;
      right:20px;
      .sprite(@closeBtn);
      .icon-easydata_old;
      &:hover{
        cursor: pointer;
      }
    }
    .mod-li1{
      .mod-li1-cont{
        padding: 30px;
        .mod-li1-tit{
          font-size:20px;
          color: #333;
        }
        ul.continent{
          margin-left:-10px;
          padding: 20px 0;
          border-bottom: 1px solid #E5E5E5;
          li{
            float:left;
            margin-left: 10px;
            color: #888;
            font-size: 18px;
            padding: 6px 20px;
            border:1px solid white;
            &:hover{
              .mod-cur();
            }
          }
          .cur{
            .mod-cur();
          }
          .mod-cur(){
            cursor:pointer;
            color: #fff;
            background-color: #f60;
            border:1px solid #f60;
            .border-radius(3px);
          }
        }
        ul.country{
          padding:30px 0;
          ol.country-ol{
            display:none;
            li{
              float:left;
              width:110px;
              height: 44px;
              font-size:13px;
              color: #333;
              &:hover{
                cursor:pointer;
              }
              a{color:black;}
              span{
                float:left;
                margin-top: 3px;
                margin-right: 5px;
                 .icon-easydata_old-country;
              }
              span.Estonia{.sprite(@Estonia);}
              span.Ireland {.sprite(@Ireland);}
              span.Austria {.sprite(@Austria);}
              span.Belgium {.sprite(@Belgium);}
              span.Poland {.sprite(@Poland);}
              span.Denmark {.sprite(@Denmark);}
              span.Germany {.sprite(@Germany);}
              span.France {.sprite(@France);}
              span.Finland {.sprite(@Finland);}
              span.Netherlands {.sprite(@Netherlands);}
              span.CS {.sprite(@CS);}
              span.Latvia {.sprite(@Latvia);}
              span.LTU {.sprite(@LTU);}
              span.LUX {.sprite(@LUX);}
              span.Malta {.sprite(@Malta);}
              span.Portugal {.sprite(@Portugal);}
              span.Sweden {.sprite(@Sweden);}
              span.Slovenia {.sprite(@Slovenia);}
              span.Greece {.sprite(@Greece);}
              span.Italy {.sprite(@Italy);}
              span.England {.sprite(@England);}
              span.Argentina {.sprite(@Argentina);}
              span.Paraguay {.sprite(@Paraguay);}
              span.Panama {.sprite(@Panama);}
              span.Brazil {.sprite(@Brazil);}
              span.Columbia {.sprite(@Columbia);}
              span.Peru {.sprite(@Peru);}
              span.Uruguay {.sprite(@Uruguay);}
              span.Chile {.sprite(@Chile);}
              span.Ecuado {.sprite(@Ecuado);}
              span.America {.sprite(@America);}
              span.Canada {.sprite(@Canada);}
              span.Mexico {.sprite(@Mexico);}
              span.China {.sprite(@China);}
              span.Japan {.sprite(@Japan);}
              // span.Switzerland {.sprite(@Switzerland);}
              span.Bulgaria {.sprite(@Bulgaria);}
              // span.Bolivia {.sprite(@Bolivia);}
              span.Croatia {.sprite(@Croatia);}
              span.Cyprus {.sprite(@Cyprus);}
              span.Hungary {.sprite(@Hungary);}
              span.Romania {.sprite(@Romania);}
              span.Slovakia {.sprite(@Slovakia);}
              span.Spanish {.sprite(@Spanish);}
              span.Russia {.sprite(@Russia);}
              //欧洲
              span.Ukraine {.sprite(@Ukraine);}
              //亚洲
              span.Japan {.sprite(@Japan);}
              span.Korea {.sprite(@Korea);}
              span.Pakistan {.sprite(@Pakistan);}
              span.India {.sprite(@India);}
              span.Malaysia {.sprite(@Malaysia);}
              span.Thailand {.sprite(@Thailand);}
              span.Philippines {.sprite(@Philippines);}
              span.Indonesia {.sprite(@Indonesia);}
              span.Singapore {.sprite(@Singapore);}
              span.Vietnam {.sprite(@Vietnam);}
              span.Kazakhstan{.sprite(@Kazakhstan);}

              //中美洲
              span.Honduras {.sprite(@Honduras);}
              span.Guatemala {.sprite(@Guatemala);}
              span.Nicaragua {.sprite(@Nicaragua);}
              span.Salvador {.sprite(@Salvador);}
              span.Bahamas {.sprite(@Bahamas);}
              span.Jamaica {.sprite(@Jamaica);}
              span.Dominica {.sprite(@Dominica);}
              span.Trinidad {.sprite(@Trinidad);}
              span.Tobago {.sprite(@Tobago);}
              //大洋洲
              span.Australia {.sprite(@Australia);}
              span.New_Zealand {.sprite(@NewZealand);}
              //非洲
              span.SouthAfrica {.sprite(@SouthAfrica);}
              span.Madagascar {.sprite(@Madagascar);}
              span.Burundi {.sprite(@Burundi);}
              span.Guinea {.sprite(@Guinea);}
              span.Mauritius {.sprite(@Mauritius);}
              span.Mozambique {.sprite(@Mozambique);}
              span.Togo {.sprite(@Togo);}
              span.Ethiopia {.sprite(@Ethiopia);}
              span.Malawi {.sprite(@Malawi);}
              span.Niger {.sprite(@Niger);}
              span.Senegal {.sprite(@Senegal);}
              span.Zambia {.sprite(@Zambia);}

            }
          }
          ol.cur{display:block;}
        }
      }
    }
  }
}
