@import '../../dev/normalize.less';
@import '../../sprite/easydata_old/sprite.less';
@import '../../dev/mixins/mixins.less';

/*链接的默认样式*/
a:hover
{
    text-decoration: none;
}
a:active
{
    text-decoration: none;
}
a:visited
{
    text-decoration: none;
}
a:link
{
    text-decoration: none;
}

.clearfix
{
    .clearfix();
}
.center-block
{
    .center-block();
}
.rg
{
    float: right !important;
}
.lf
{
    float: left !important;
}

.none
{
    display: none ;
}
.block
{
    display: block ;
}
.invisible
{
    visibility: hidden;
}
.text-hide
{
    .text-hide();
}

.ta-c
{
    text-align: center;
}

.hidden
{
    display: none ;
}
body,html{
    font-family:"微软雅黑";
    margin:0;
    padding:0;
}
tr:nth-child(odd){
    background-color: #e8e8e8;
}

/* Common */
.back{
    height:150px;
    width:100%;
    text-align: center;
    .back-btn{
        display: inline-block;
        margin-top:50px;
        .button-variant(#fff,#3ca1d7,#3ca1d7);
        .button-size(7px,25px,14px,22px,3px);
    }
}
.side{
    opacity:0;
    position:fixed;
    width:54px;
    right:100px;
    bottom:100px;
    z-index:100;
    ul{
        li{
            width:54px;
            height:54px;
            float:left;
            position:relative;
            border-bottom:1px solid #444;
            .sidetop{
                width:54px;
                height:54px;
                line-height:54px;
                display:inline-block;
                background:#000;
                opacity:0.8;
                filter:Alpha(opacity=80);
                transition:all 0.3s;

                &:hover{
                    background:#3CA1D7;
                    opacity:1;
                    filter:Alpha(opacity=100);
                }
            }
            span{
                float:left;
                .sprite(@scrollTop);
                .icon-easydata_old;
                .fixIe6pngTransparent('/images/icon/easydata_old/scrollTop.png')
            }
        }
    }
}
