.next-box
{
    width: 1200px;
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 65px;
    .next
    {
        margin-left: 381px;
        a
        {
            line-height: 28px;

            margin-right: 7px;

            text-align: center;

            color: #a1a1a1;
            border: 1px solid #ddd;

            _vertical-align: middle;
        }
        .a01
        {
            padding: 0 8px;
        }
        .beg-end
        {
            color: #508ce4;
        }
        .a02
        {
            width: 28px;
            height: 28px;
        }
        .current
        {
            color: #fd6464;
            border: 1px solid #fff;
        }
        .a02:hover
        {
            color: #fd6464;
        }
    }
}
