@import '../../sprite/easydata_old/sprite.less';
@import '../../../less/dev/mixins/mixins.less';

.header{
  height: 90px;
  text-align: center;
  .header-wrapper{
    width: 1200px;
    margin:0 auto;
    .logo{
      height: 90px;
      float:left;
      #header-logo{
        margin-top:22px;
        .sprite(@logo);
        .icon-easydata_old;
        .fixIe6pngTransparent('/images/icon/easydata_old/logo.png');
      }
    }
    .nav-more{
      display:none;
      position: absolute;
      right: 0;
      z-index: 2;
      text-align: left;
      background-color: white;
      .box-shadow(0 0 2px 0 #ccc);
      li{
        height:40px;
        a{
          margin:0px;
          font-size:14px;
          padding: 0 20px;
          color: #666;
          line-height: 40px;
        }
        &:hover{
          background-color:#3CA1D7;
          a{
            color:white;
          }
        }
      }
    }
    .nav-ol1{width:168px;}
    .nav-ol2{width:110px;}
    .nav-ol3{width:125px;top:90px;right: 18px;}
    #nav{
      float:left;
      width: 860px;
      ul{
        margin-left: 6px;
      }
      .nav-li{
        float:left;
        height: 90px;
        i{
          .triangle(#666);
        }
        .ul-a{
          display:block;
          color:#666;
          font-size: 16px;
          padding: 48px 20px 20px 20px;
        }
        &:hover{
          i{
            .triangleRotate(#666);
          }
        }

        &:hover{
          background-color: #F2F3F5;
        }
      }
      .cur{
        a.ul-a{
          color:#f60;
        }
      }
      .more{
        cursor: pointer;
        position: relative;
      }
    }
    #login{
      width:170px;
      float:right;
      .login-message-box{
        color:#666;
        width:80px;
        height: 90px;
        text-align: center;
        .mes-ico{
          margin: 22px auto 0;
          width:40px;
          height:45px;
          .sprite(@message);
          .icon-easydata_old;
          .fixIe6pngTransparent('/images/icon/easydata_old/message.png');
          overflow: visible;
        }
        .mes-dot{
          position: relative;
          top: -3px;
          left:18px;
          .sprite(@messageDot);
          .icon-easydata_old;
          .fixIe6pngTransparent('/images/icon/easydata_old/messageDot.png');
        }
        &:hover{
          background-color: #F2F3F5;
        }
      }
      .login-ico-wrap{
        width:90px;
        height: 90px;
        .login-ico-box{
          padding: 23px 20px 23px 10px;
          position: relative;
          .login-ico-bg{
            width: 60px;
            height:43px;
            border: 1px solid #ccc;
            position: relative;
            overflow: hidden;
            .border-radius(3px);
            &:hover{
              cursor:pointer;
              background-color: #F2F3F5;
              &:hover{
                span{
                  .triangleRotate(#666);
                }
              }
            }
            img{
              width:43px;
              height: 43px;
              left: 0px;
              top: 0px;
              position: absolute;
              .border-radius(3px);
            }
            span{
              .triangle(#666);
              float:right;
              margin-top:23px;
            }
          }
        }
      }
    }

  }


}