
@import '../../../sprite/yijingjia/chengpingfabu/sprite.less';



@border: 1px #d6d6d6 solid;
@red:#c30e23;

.biaoshuneirong
{
    width: 825px;
    margin: 0 auto;
    margin-top: 35px;
    .icon-kai
    {
        margin: 0 3px;
        margin-top: 1px;

        .sprite(@suo);
        .icon-yijingjia-chengpingfabu;
    }
    .icon-suo01
    {
        margin: 0 3px;
        margin-top: 1px;

        .sprite(@hongsuo);
        .icon-yijingjia-chengpingfabu;
    }
    .zhizao
    {
        width: 825px;
        margin: 0 auto;
        p
        {
            padding: 15px 0;
            span{
                float: left;
            }
        }
    }
    .shaxian
    {
        width: 825px;
        margin: 0 auto;
        margin-top: 30px;
        p
        {
            font-size: 16px;

            color: @red;
        }
        dl
        {
            width: 825px;
            dt
            {
                margin-top: 20px;

                color: #333;

                -margin-top: 10px;
            }
            dd
            {
                margin-top: 18px;
                margin-bottom: 5px;

                -margin-top: 9px;
                span
                {
                    float: left;

                    width: 150px;
                }
            }
        }
    }
    .M-Frame
    {
        width: 825px;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
        .Not-fl
        {
            font-size: 16px;

            color: @red;
        }
        .fl
        { 
            font-size: 16px;
            color:@red;
            span
            {
                float: left;
            }
        }
        .p-width100
        {
            float: left;

            width: 100px;
            margin-top: 13px;
            margin-right: 5px;
        }
    }
    .suo-si
    {
        margin-top: 4px;
    }
    .suo-wu
    {
        margin-top: 5px;
    }
    .zhiliang
    {
        width: 861px;
        margin: 0 auto;
        margin-top: 45px;
        p
        {
            font-size: 16px;

            width: 825px;
            span
            {
                float: left;

                color: @red;
            }
        }
        .suoshui
        {
            display: inline;
        }
        .shuxing
        {
            margin-top: 13px;
            a
            {
                line-height: 38px;

                float: left;

                width: 400px;

                -vertical-align: middle;
            }
        }
    }
    .left-01
    {
        line-height: 22px;

        width: 861px;
        margin-top: 40px;

        color: @red;
        p
        {
            span
            {
                float: left;

                margin-bottom: 10px;
            }
            .yaoqiu
            {
                width: 445px;
                margin-left: 4px;
            }
        }
        .width-100
        {
            float: left;

            width: 100px;
            margin: 0 4px;
            margin-bottom: 10px;
        }
        .width-450
        {
            width: 480px;
            height: 100px;
            margin-bottom: 10px;
            margin-left: 4px;
        }
    }
    .shangchuan
    {
        width: 825px;
        margin: 0 auto;
        margin-top: 40px;
        dl
        {
            float: left;
            dd
            {
                margin-top: 16px;
                img
                {
                    padding: 20px 10px;

                    border: @border;
                }
            }
            .dianji
            {
                font-size: 18px;
                line-height: 32px;

                width: 224px;
                height: 32px;
                margin-top: 10px;

                text-align: center;

                background-color: @red;
                a
                {
                    color: #fff;
                }
            }
        }
        .gongyidan
        {
            width: 300px;
        }
        .baozhuangtu
        {
            width: 525px;
        }
    }
    .shuliang-mubiao
    {
        width: 825px;
        margin: 0 auto;
        p
        {
            width: 825px;
            margin: 0 auto;
            margin-top: 30px;
            span
            {
                float: left;

                color: #666;
            }
            .jianyi01
            {
                margin-left: 20px;

                color: @red;
            }
            input
            {
                font-family: '宋体';

                float: left;

                margin: 0 4px;

                border: none;
                border-bottom: 1px @red solid;
            }
            .jianyi02
            {
                font-family: '宋体';

                color: @red;
            }
        }
        .fukuan-01
        {
            margin-top: 50px;
        }
    }
}
