


@border: 1px #d6d6d6 solid;
@red:#c30e23;




.main-l
{

    float: left;

    width: 905px;
    .main-l-ll
    {
        width: 903px;
        margin: 0 auto;

        border: @border;
        margin-top: 20px;
        .biaoshuneirong01{
            margin-left: 20px;
        }
        
        .biaoti
        {
            font-size: 24px;

            width: 861px;
            margin: 0 auto;
            margin-top: 35px;

            text-align: center;

            color: #333;
        }
        .gongsi
        {
            font-size: 16px;
            line-height: 60px;

            width: 861px;
            margin: 0 auto;

            text-align: center;

            border-bottom: @border;
            span
            {
                margin: 0 50px;
            }
        }
        .baojia
        {
            width: 861px;
            margin: 0 auto;
            margin-top: 35px;
            padding-top: 40px;

            text-align: center;

            border-top: @border;
            span
            {
                font-size: 30px;

                margin-right: 4px;

                color: @red;
            }
        }
        .zhongbiao-anniu
        {
            width: 861px;
            margin: 0 auto;

            text-align: center;
            .anniu-juzhong
            {
                width: 284px;
                margin: 0 auto;
                margin-top: 40px;
                input
                {
                    font-size: 18px;

                    float: left;

                    width: 122px;
                    height: 40px;
                    margin: 0 10px;

                    color: #fff;
                    border: none;
                }
                .beixuan
                {
                    background-color: #ff9600;
                }
                .zhongbiao
                {
                    background-color: @red;
                }
            }
            .queren
            {
                width: 144px;
            }
        }
        .tixing
        {
            font-family: '宋体';

            width: 861px;
            margin: 0 auto;
            margin-top: 50px;
            padding-bottom: 40px;

            text-align: center;

            color: @red;
        }



        
        .wo-baojia
        {
            font-size: 24px;

            width: 861px;
            margin: 0 auto;
            margin-top: 26px;
            padding-top: 24px;

            color: @red;
            border-top: @border;
        }
        .lujing
        {
            font-size: 16px;

            width: 861px;
            margin: 0 auto;
            margin-top: 32px;

            color: #333;
        }
        .gongju
        {
            width: 861px;
            margin: 0 auto;
            dl
            {
                float: left;

                width: 360px;
                dd
                {
                    margin-top: 26px;
                    a
                    {
                        padding: 5px 10px;
                        background-color: #4366f3;
                        color: #fff;
                    }
                }
            }
        }
        .gongju-ba
        {
            width: 861px;
            margin: 0 auto;
            margin-top: 30px;
            span
            {
                float: left;
            }
            a
            {
                float: left;

                margin-right: 18px;

                color: #4366f3;
            }
        }
        .renmingbi
        {
            width: 861px;
            margin: 0 auto;
            margin-top: 55px;
            span
            {
                float: left;
            }
            input
            {
                float: left;

                border: none;
                border-bottom: @border;
            }
        }
        .xuzi
        {
            width: 861px;
            margin: 0 auto;
            margin-top: 40px;
            padding-top: 40px;

            text-align: center;

            border-top: @border;
            label
            {
                font-family: '宋体';

                margin-right: 16px;
                input
                {
                    width: 14px;
                    height: 14px;

                    vertical-align: middle;
                }
            }
            a
            {
                color: #4366f3;
            }
        }
    }
}
