
@border: 1px #d6d6d6 solid;
@red:#c30e23;

.LIJIFABU
{
    width: 903px;
    margin-top: 20px;

    border: @border;
    .l-bottom-l
    {
        float: left;

        margin-top: 30px;
        margin-left: 20px;
        padding-bottom: 30px;
        .zi
        {
            font-size: 16px;

            padding-bottom: 10px;

            color: #333;
        }
    }
    .l-bottom-r
    {
        float: right;

        margin-top: 30px;
        margin-right: 20px;

        background-color: @red;
        a
        {
            float: left;

            color: #fff;
        }
        img
        {
            float: left;

            margin-top: 18px;
            margin-left: 10px;
        }
    }
}
