@import 'biaoshuneirong.less';

@import 'xiangqingqiehuan.less';

@import '../tongyong/anniu.less';

@import '../tongyong/xinshoubangzhu.less';

@import '../tongyong/xiangqing-neirongtoubu.less';

@import 'youbian.less';

@import 'LIJIFABU.less';

@import '../../../sprite/yijingjia/toubiaojilu/sprite.less';



@border: 1px #d6d6d6 solid;
@red:#c30e23;



.main
{
    .main-l
    {
        position: relative;

        float: left;

        width: 905px;
        .main-l00
        {
            width: 903px;
            margin-top: 20px;

            border: @border;
        }
        .anniu-jiaru
        {
            width: 863px;
            margin: 0 auto;
            margin-top: 40px;
            padding-bottom: 20px;
            .jiaru-shoucang
            {
                float: right;

                background-color: #b4b4b4;
            }
            .toubiao
            {
                float: right;

                margin-left: 20px;

                background-color: @red;
            }
        }
        .main-l-center
        {
            border-top: none;
            .biaoshuneirong01
            {
                position: relative;

                margin-left: 20px;
            }
            .biaoshu-status
            {
                position: absolute;
                top: 0;
                right: 0;

                .sprite(@zhongbiao);
            }
            .anniu-xian
            {
                margin-top: 40px;
                padding-top: 40px;
                padding-bottom: 40px;

                border-top: @border;
            }
        }
    }
}




/*面料克重*/
.M-Weight
{
    margin-top: 30px;
}
