


@border: 1px #d6d6d6 solid;
@red:#c30e23;

.xiangqingqiehuan{
	width:903px;
	background-image: url("/images/production/yijingjia/chengpinbiaoshu/shangxiabian.PNG");
	background-repeat: no-repeat;
	background-position: center;
	li{
		float: left;
		padding:0 20px;
		line-height: 38px;
		-vertical-align: middle;
		text-align: center;
		font-size: 20px;
		color:#333;
		border-right: @border;
		a{
			color:#333;
		}
		a:hover{
			color:@red;
		}
	}
	.li_qubiank{
		border-right: none;
	}

	.dangqian{
		color: @red;
		background-color: #fff;
		line-height: 38px;
		-vertical-align: middle;
		a{
			color:@red;
		}
		border-top: 2px solid @red;
	}
	
}
