
@import '../../../sprite/yijingjia/fuwushang/sprite.less';

@border: 1px #d6d6d6 solid;
@red:#c30e23;

.main-r
{
    float: right;

    width: 265px;
    margin-top: 20px;
    .main-r00
    {
        width: 263px;

        border: @border;
    }
    .main-r-01
    {
        .liulan
        {
            width: 223px;
            margin: 0 auto;
            margin-top: 20px;
            padding-bottom: 10px;
            padding-bottom: 10px;

            text-align: center;

            border-bottom: @border;
            background-image: url('/images/production/yijingjia/chengpinbiaoshu/zhongjianxian.PNG');
            background-repeat: no-repeat;
            background-position: center;
            .liulan-l
            {
                float: left;

                width: 111px;
                .shuzi
                {
                    font-size: 20px;

                    margin-top: 2px;
                }
                .shuzi01
                {
                    color: @red;
                }
            }
        }
        .wo-toubiao
        {
            font-size: 22px;
            line-height: 50px;

            display: block;

            width: 223px;
            margin: 0 auto;
            margin-top: 10px;

            text-align: center;

            color: #fff;
            background-color: @red;

            -vertical-align: middle;
        }
        .sixin
        {
            line-height: 30px;

            width: 223px;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 20px;

            text-align: center;

            color: #a6a6a6;

            -vertical-align: middle;
            a
            {
                float: left;

                width: 107px;

                color: #666;
                background-color: #eee;
            }
            .sixin02
            {
                margin-left: 8px;
            }
        }
    }
    .main-r-02
    {
        margin-top: 20px;
        p
        {
            width: 223px;
            margin: 0 auto;
        }
        .gongsi-zi
        {
            font-size: 18px;
            line-height: 28px;

            margin-top: 20px;

            color: #333;

            -vertical-align: middle;
        }
        .xing
        {
            float: left;

            margin-right: 12px;

            cursor: pointer;
        }
        .huang-xing
        {
            .sprite(@star_huang);
            .icon-yijingjia-fuwushang;
        }
        .hui-xing
        {
            .sprite(@star_hui);
            .icon-yijingjia-fuwushang;
        }
        .huoyue
        {
            margin-top: 12px;
            span
            {
                margin-right: 45px;
            }
        }
        ul
        {
            position: relative;

            width: 223px;
            margin: 0 auto;
            margin-top: 15px;
            padding-bottom: 15px;
            .lianxifangshi
            {
                padding-bottom: 2px;

                color: @red;
            }
            li
            {
                line-height: 30px;

                -vertical-align: middle;
            }
            .zhongbiaozi
            {
                position: absolute;
                top: 36px;
                left: 0;

                width: 223px;
                height: 114px;

                background-image: url('/images/production/yijingjia/chengpinbiaoshu/zhongbiaozi.PNG');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}
