.icon-easydata-buyerEva {
  background-image: url("/images/production/easydata/buyerEva/sprite-easydata-buyerEva.PNG");
}
.classification_container {
  width: 100%;
  background-color: #303845;
}
.classification_box {
  font-size: 14px;
  width: 1200px;
  margin: 0 auto;
  color: #ccc;
}
.container_lf {
  width: 1000px;
}
.container_lf a {
  color: #ccc;
}
.container_lf_pad {
  padding-top: 22px;
  padding-bottom: 40px;
}
.classification_Locate {
  line-height: 20px;
  margin-top: 30px;
  margin-left: 20px;
}
.classification_Locate i {
  margin: 5px 10px 0 10px;
  background-position: -4px -40px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 6px;
  height: 11px;
  background-image: url("/images/production/easydata/buyerEva/sprite-easydata-buyerEva.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata/buyerEva/icon_link.png");
  _background: none;
}
.classification_Locate .span_graybox {
  padding: 0 10px;
  border: 1px solid #888;
}
.classification_Locate .span_current {
  padding: 0 10px;
  color: #f60;
  border: 1px solid #f60;
}
.classification_content {
  margin-top: 8px;
  margin-left: 20px;
}
.classification_content .names {
  line-height: 40px;
  width: 70px;
  margin-right: 15px;
}
.classification_content .content {
  line-height: 40px;
  width: 895px;
}
.classification_content .content input {
  line-height: 20px;
  padding: 4px 0;
  width: 171px;
  height: 20px;
  border: #6b6b6b 1px solid;
  padding-left: 9px;
  background-color: #303845;
  margin-top: 6px;
  outline: none;
  color: #cccccc;
}
.classification_content .content .Inquire {
  margin-left: 10px;
  margin-top: 6px;
  color: #ffffff;
  background-color: #3ca1d7;
  border-color: #3ca1d7;
  padding: 0 10px;
  font-size: 14px;
  line-height: 30px;
  border-radius: 5px;
}
.classification_content .content .Inquire:focus,
.classification_content .content .Inquire.focus {
  color: #ffffff;
  background-color: #51abdb;
  border-color: #a6d4ed;
}
.classification_content .content .Inquire:hover {
  color: #ffffff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
.classification_content .content .Inquire:active,
.classification_content .content .Inquire.active {
  color: #ffffff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
.classification_content .content .Inquire i {
  margin-right: 7px;
  margin-top: 8px;
  background-position: -4px -99px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 13px;
  height: 13px;
  background-image: url("/images/production/easydata/buyerEva/sprite-easydata-buyerEva.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata/buyerEva/icon_search.png");
  _background: none;
}
.classification_content .content_01 a {
  margin-right: 30px;
  white-space: nowrap;
}
.classification_content .content_01 span {
  margin: 0 10px;
}
.classification_content .content_02 {
  padding: 0 20px;
  padding-bottom: 1px;
  background-color: #1e252f;
  border-radius: 5px;
}
.classification_content .content_03 {
  margin-bottom: 18px;
  padding: 0 20px;
  border: 1px solid #293039;
  border-radius: 50px;
}
.classification_content a.content_01_current,
.classification_content a.current,
.classification_content a:hover {
  color: #f60;
}
.classification_content .content_01_current {
  background-image: url('/images/production/easydata/buyerEva/triangular.png');
  background-repeat: no-repeat;
  background-position: bottom center;
}
.content_bottom {
  padding-bottom: 17px;
}
.classification_years {
  line-height: 30px;
  position: relative;
}
.classification_years a {
  padding: 0 25px;
}
.classification_years span {
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #f60;
  width: 82.84px;
}
.classification_years a:hover,
.classification_years .hover {
  color: #f60;
}
.container_rg {
  margin-top: 16px;
  width: 190px;
}
.container_rg .Switching,
.container_rg .Collect {
  white-space: nowrap;
  margin-top: 20px;
  margin-right: 20px;
  display: inline-block;
  padding: 0 10px;
  font-size: 14px;
  line-height: 30px;
  border-radius: 5px;
}
.container_rg .Switching i,
.container_rg .Collect i {
  margin-top: 9px;
  margin-right: 8px;
}
.container_rg .Switching {
  color: #ffffff;
  background-color: #3ca1d7;
  border-color: #3ca1d7;
}
.container_rg .Switching:focus,
.container_rg .Switching.focus {
  color: #ffffff;
  background-color: #51abdb;
  border-color: #a6d4ed;
}
.container_rg .Switching:hover {
  color: #ffffff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
.container_rg .Switching:active,
.container_rg .Switching.active {
  color: #ffffff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
.container_rg .Switching i {
  background-position: -4px -79px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("/images/production/easydata/buyerEva/sprite-easydata-buyerEva.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata/buyerEva/icon_Switching.png");
  _background: none;
}
.container_rg .Collect {
  color: #ffffff;
  background-color: #ff6600;
  border-color: #ff6600;
}
.container_rg .Collect:focus,
.container_rg .Collect.focus {
  color: #ffffff;
  background-color: #ff751a;
  border-color: #ffb380;
}
.container_rg .Collect:hover {
  color: #ffffff;
  background-color: #ff751a;
  border-color: #ff8b3d;
}
.container_rg .Collect:active,
.container_rg .Collect.active {
  color: #ffffff;
  background-color: #ff751a;
  border-color: #ff8b3d;
}
.container_rg .Collect i {
  background-position: -4px -59px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("/images/production/easydata/buyerEva/sprite-easydata-buyerEva.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata/buyerEva/icon_Collect.png");
  _background: none;
}
