@import '../../../../dev/mixins/mixins.less';

@import '../../../../sprite/easysofthome/helpCenter/sprite.less';


div.main-top-box{
  width: 100%;
  margin-top: 112px;
  padding-top: 17px;
  height: 68px;
  background-image: url("/images/production/easysofthome/helpCenter/inpage_top_bg.png");
  background-repeat: repeat-x;

  div.location-box{
    width: 1200px;
    margin: 0 auto;
    i.home{
      margin: 3px 0 0 20px;
      .sprite(@icon_home);
      .icon-easysofthome-helpCenter;
    }
    i.next{
      margin: 6px 5px 0 6px;
      .sprite(@icon_next);
      .icon-easysofthome-helpCenter;
    }
    a.words{
      font-size: 16px;
      color: #888;
    }
  }
}
   .video_tit{
    width: 1200px;
    margin: 20px auto 0 auto;
    font-size: 24px;


  }

div.main-box{

  width: 1200px;
  margin: 10px auto 0 auto;
  padding-bottom: 100px;
  div.main_L{
    width: 805px;
    height: 448px;
  }
  div.main_R{
    padding-left: 20px;
    width: 375px;
    height: 448px;
    background-color: #3f4755;
    p.title-box{
      line-height: 18px;
      font-size: 18px;
      border-bottom: #272e43 1px solid;
      padding-bottom: 10px;
      margin: 17px 20px 0 0;
      color: #fff;
      i{
        margin: 3px 6px 0 0;
        .sprite(@tit_bg);
        .icon-easysofthome-helpCenter;
        display: inline-block;
      }
    }
  }
}


ul.mainR-bottom{
  margin: 10px 10px 0 0;
  height: 367px;
  overflow: auto;
  li.video-box{
    margin-top: 20px;
    div.video{
      width: 198px;
      height: 105px;
    }
    div.video-name{
      p.name{
        width: 130px;
        margin-left: 13px;
        height: 70px;
        line-height: 24px;
        margin-top: 7px;
        a{
          color: #fff;
        }
      }
      p.number{
        color: #fff;
        text-align: right;
        i{
          margin: 3px 6px 0 0;
          .sprite(@playbtn_w);
          .icon-easysofthome-helpCenter;
          display: inline-block;
        }
      }
    }
    &:hover{
      background-color: #3ca1d7;
    }
  }
}



div.share-box{
  margin-top: 16px;
  color: #888;
  div.share_L{
    line-height: 18px;
    i.share{
      margin-right: 6px;
      .sprite(@icon_share);
      .icon-easysofthome-helpCenter;
      display: inline-block;
    }
    a.sina{
      margin-right: 6px;
      .sprite(@icon_sina);
      .icon-easysofthome-helpCenter;
      display: inline-block;
    }
    a.WeChat{
      margin-right: 6px;
      .sprite(@icon_WeChat);
      .icon-easysofthome-helpCenter;
      display: inline-block;
    }
    a.qq{
      margin-right: 6px;
      .sprite(@icon_qq);
      .icon-easysofthome-helpCenter;
      display: inline-block;
    }
    a.Collection{
      margin-right: 6px;
      .sprite(@icon_Collection);
      .icon-easysofthome-helpCenter;
      display: inline-block;
    }
    a.more{
      margin-right: 6px;
      .sprite(@icon_more);
      .icon-easysofthome-helpCenter;
      display: inline-block;
    }
  }
  div.share_R{
    margin-top: 3px;
    i{
      margin: 3px 6px 0 0;
      .sprite(@playbtn_g);
      .icon-easysofthome-helpCenter;
      display: inline-block;
    }
  }
}