
@import 'bangzhu-tongyong.less';

@border: 1px #d6d6d6 solid;
@red:#c30e23;



.gongsi
{
    .jiachu-shang
    {
        font-family: '宋体';
        font-weight: bold;
        line-height: 26px;

        width: 800px;
        margin-left: 40px;

        -vertical-align: middle;
    }
    p
    {
        font-family: '宋体';
        line-height: 26px;

        width: 800px;
        margin-left: 40px;

        text-align: justify;
        text-indent: 2em;
        text-justify: inter-ideograph;

        -vertical-align: middle;
    }
}
