@import '../../sprite/yijingjia/jindutiao/sprite.less';
.jingdutiao
    {
    	margin: 0 auto;
        width: 1090px;
        padding-top: 50px;
        li{
        	width: 25%;
        	float: left;
        }
       .hongli
        {
            .sprite(@jingdutiao-hong);
             span
            {
                font-size: 18px;
                line-height: 32px;

                margin-left: 115px;

                text-align: center;

                color: #fff;

                .sprite(@yuanxing-hong);
            }
        }
        .huili
        {
            .sprite(@jingdutiao-hui);
              span
            {
                font-size: 18px;
                line-height: 32px;

                margin-left: 115px;

                text-align: center;

                color: #fff;

                .sprite(@yuan-hui);
            }
        }
        .changhongli{
        	width: 50%;
        	.sprite(@changjingdutiao-hong);
        	 span
            {
                font-size: 18px;
                line-height: 32px;

                margin-left: 256px;

                text-align: center;

                color: #fff;

                .sprite(@yuanxing-hong);
            }

        }
          .changhuili{
        	width: 50%;
        	.sprite(@changjingdutiao-hui);
        	 span
            {
                font-size: 18px;
                line-height: 32px;

                margin-left: 256px;

                text-align: center;

                color: #fff;

                .sprite(@yuan-hui);
            }

        }
        .zhonghongli{
            width: 33.3%;
            .sprite(@zhongjingdutiao-hong);
             span
            {
                font-size: 18px;
                line-height: 32px;

                margin-left: 160px;

                text-align: center;

                color: #fff;

                .sprite(@yuanxing-hong);
            }

        }
          .zhonghuili{
            width: 33.3%;
            .sprite(@zhongjingdutiao-hui);
             span
            {
                font-size: 18px;
                line-height: 32px;

                margin-left: 160px;

                text-align: center;

                color: #fff;

                .sprite(@yuan-hui);
            }

        }
      
    }
      .jingdutiaowenzi
    {
    	 	margin: 0 auto;
        width: 1090px;
        margin-top: 10px;
        li
        {
            font-size: 18px;

            float: left;

            width: 25%;

            text-align: center;

            color: #c40e24;
        }
        .changli{
        	width: 50%;
        }
        .zhongli{
            width: 33.3%;
        }
        .yanse
        {
            color: #ccc;
        }
    }