/*正文字体*/
body
{
    font-family: '微软雅黑';
    font-size: 13px;

    color: #666;
}




/*页面宽度*/
.width-body
{
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
}

.clearfix
{
    .clearfix();
}
.center-block
{
    .center-block();
}
.rg
{
    float: right !important;
}
.lf
{
    float: left !important;
}

.none
{
    display: none ;
}
.block
{
    display: block ;
}
.invisible
{
    visibility: hidden;
}
.text-hide
{
    .text-hide();
}

.ta-c
{
    text-align: center;
}

.hidden
{
    display: none ;
}


@import '../../dev/mixins/mixins.less';
