
@import 'tongyong/anniu.less';

@border: 1px #d6d6d6 solid;
@red:#c30e23;

.main{
	border:@border;
	width:1188px;
	margin:0 auto;
	margin-top: 20px;
	padding-bottom: 56px;
	background-image: url("/images/production/yijingjia/toubiaowancheng/toubiaochenggong.png");
	background-repeat: no-repeat;
	background-position: center 35px;

	p{
		width:570px;
		margin:0 auto;
		margin-top: 200px;
		text-align: center;
		line-height: 22px;
		-vertical-align: middle;
	}

	.jixu-guanli{

		width:324px;
		margin:0 auto;
		margin-top: 60px;
		a{
			float: left;
			background-color: @red;
		}
		.jixu{
			margin-right: 80px;
		}
	}
}
