.icon-yisheji-index {
  background-image: url("/images/production/yisheji/index/sprite-yisheji-index.PNG");
}
.more-hui,
.more-cc {
  line-height: 26px;
  padding: 0 12px;
}
.more-hui i,
.more-cc i {
  margin-top: 7px;
  margin-left: 4px;
}
.more-hui {
  color: #666;
  background-color: #dbdbdb;
}
.more-hui i {
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("/images/production/yisheji/index/sprite-yisheji-index.PNG");
}
.more-cc {
  color: #e45f40;
}
.more-cc i {
  background-position: -4px -64px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("/images/production/yisheji/index/sprite-yisheji-index.PNG");
}
.index-banner-box {
  z-index: 1;
  width: 100%;
  background-color: #5ab6ab;
}
.index-banner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.index-banner .banner-btn {
  font-size: 18px;
  line-height: 42px;
  position: absolute;
  bottom: 166px;
  left: 84px;
  display: block;
  width: 182px;
  height: 42px;
  color: #fff;
  background-color: #fa9b36;
  border-radius: 100px;
}
.index-banner .banner-btn i {
  margin-top: 8px;
  margin-right: 18px;
  margin-left: 34px;
  background-position: -4px -211px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 26px;
  height: 26px;
  background-image: url("/images/production/yisheji/index/sprite-yisheji-index.PNG");
}
.index-banner .banner-lunbo {
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin: 0 0 0 -22px;
}
.index-banner .banner-lunbo a {
  line-height: normal;
  display: inline-block;
  overflow: hidden;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
}
.index-banner .banner-lunbo .current {
  background-color: #fff;
}
.software {
  padding-top: 78px;
  padding-bottom: 97px;
}
.index-studio-box {
  width: 100%;
  padding-bottom: 50px;
  background-color: #f2f3f5;
}
.shipin-box {
  width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
}
.shipin-box li {
  position: relative;
  margin-right: 20px;
}
.shipin-box .zuihou-li {
  margin-right: 0;
}
.shipin-box .a03 {
  display: block;
  overflow: hidden;
  width: 285px;
  height: 180px;
  border-radius: 7px;
}
.shipin-box .a04 {
  display: block;
  position: absolute;
  left: 10px;
  bottom: -20px;
  width: 265px;
  line-height: 40px;
  _vertical-align: middle;
  background-color: #e7e7e7;
  color: #333;
  border-radius: 7px;
}
.shipin-box .a04 span {
  margin-left: 15px;
}
.shipin-box .a04 i {
  margin-right: 15px;
  margin-top: 10px;
  background-position: -4px -183px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("/images/production/yisheji/index/sprite-yisheji-index.PNG");
}
.shipin-box .a04:hover {
  background-color: #e85d40;
  color: #fff;
}
.shipin-box .a04:hover i {
  background-position: -4px -155px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("/images/production/yisheji/index/sprite-yisheji-index.PNG");
}
