
@import '../../../../dev/mixins/mixins.less';
@import '../Coreprice/mycorepriceopt.less';

.main_box
{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.rgbox{
  width: 854px;
}

// 切换
.switch-box{
  margin-top: 20px;
  .switch_default{
    padding: 0 15px;
    line-height: 30px;
    color: #000;
    .border-radius(4px);
    margin-right: 10px;
    cursor: pointer;
  }
  .switch_cur,.switch_default:hover{
    color: #fff;
    background-color: #3ca1d7;
    .border-radius(4px);
  }
}

//展开收起
.showmore{
  color: #666;
  margin: 7px 0 0 0;
  cursor: pointer;
  img{
    display: inline-block;
    margin-right: 4px;
  }
  &:hover{
    color: #3ca1d7;
  }
}


//表格上边距
.tab-top{
  margin-top: 10px;

}

//下填充
.pad_bottom{
  padding-bottom: 20px;
}

// 成品工缴设置（已选择）
div.container{
  border-bottom: dashed 1px #dbdbdb;
  .clearList {
    overflow: hidden;
    border: 1px solid #3CA1D7;
    margin: 7px 5px;
    padding: 0 8px;
    height: 22px;
    font-size: 12px;
    color: #e22c37;
    .border-radius(2px);
    &:hover{
      color: #ff5a00;
      text-decoration: none!important;
    }
    i.undock {
      margin: 7px 4px 0 6px;
    }
  }
}