
@import '../../../../dev/mixins/mixins.less';
@import '../Coreprice/mycorepriceopt.less';

.main_box
{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.rgbox{
  width: 854px;
}




//表格上边距
.tab-top{
  margin-top: 20px;

}

//下填充
.pad_bottom{
  padding-bottom: 20px;
}