
@import '../../../../dev/mixins/mixins.less';
@import '../Coreprice/mycorepriceopt.less';

.main_box
{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.rgbox{
  width: 854px;
}

// 切换
.switch-box{
  margin-top: 20px;
  .switch_default{
    padding: 0 15px;
    line-height: 30px;
    color: #000;
    .border-radius(4px);
    margin-right: 10px;
    cursor: pointer;
  }
  .switch_cur,.switch_default:hover{
    color: #fff;
    background-color: #3ca1d7;
    .border-radius(4px);
  }
}




//表格上边距
.tab-top{
  margin-top: 10px;

}

//下填充
.pad_bottom{
  padding-bottom: 20px;
}