
@import '../../../../dev/mixins/mixins.less';
@import '../Coreprice/mycorepriceopt.less';

.main_box
{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.rgbox{
  width: 854px;
}




//表格上边距
.tab-top{
  margin-top: 20px;
  background-color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  padding: 100px 0;
  font-weight: bold;
  a.upload
  {
    display: inline-block;
    margin-top: 20px;
    .button-variant(#fff; #fd6464; #fd6464);
    .button-size(0; 10px; 16px; 30px; 5px);
  }
}

//下填充
.pad_bottom{
  padding-bottom: 20px;
}