@import '../../../../dev/mixins/mixins.less';
.feetab_box{
  background-color: #fff;
  width: 854px;
  table-layout: fixed;
  .feetab_tit{
    background-color: #ebebeb;
    color: #999;
  }
  tr{
    padding-left: 200px;
  }
  td{
    font-size: 14px;
    line-height: 40px;
    overflow: hidden;
    text-align: center;
      border-bottom: 1px solid #ebebeb;
  }
  .single_box{
    width: 30px;
  }
  .butt_ad{
    display: block;
    width: 60px;
    line-height: 26px;
    text-align: center;
        border: 1px solid #86be37;
    color: #86be37;
    margin: 0 auto;
     .border-radius(4px);
  }
}
