
@import '../../../../dev/mixins/mixins.less';


.prompt-box{
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  .border-radius(5px);
  .words{
    line-height:24px;
  }
  .btn{
    text-align: center;
    margin-top: 20px;
    .btn-save{
      display: inline-block;
      width: 60px;
      line-height: 26px;
      color: #fff;
      margin: 0 10px;
      background-color: #86be37;
      .border-radius(4px);
    }
    .btn-delete{
      display: inline-block;
      width: 60px;
      line-height: 26px;
      color: #fff;
      margin: 0 10px;
      background-color: #fc5050;
      .border-radius(4px);
    }
  }
}