
@import '../../../../dev/mixins/mixins.less';

@import '../../../../sprite/VIP/easyPricing/assistant/sprite.less';

.TheBinding-box{
  width: 854px;
  margin: 0 auto;
  background-color: #fff;
  .border-radius(5px);
  p.tit{
    margin: 0 0 10px 0;
    line-height: 40px;
    font-size: 16px;
    color: #333;
    background-color: #eee;
    padding: 0 10px;
  }
  // 排序
  .sortbox{
    margin: 10px;
    div.sort{
      line-height: 32px;
      p.tit_s{
        margin-right: 5px;
      }
      a.cur,a.sort_ablue{
        margin-right: 30px;
        i{
          margin: 12px 0 0 9px;
          .icon-VIP-easyPricing-assistant;
        }
      }
      a.sort_ablue{
        color: #888;
        i{
          .sprite(@sortgray);
        }
      }
      a.cur,a.sort_ablue:hover{
        color: #3ca1d7;
        i{
          .sprite(@sortblue);
        }
      }
    }
    div.intbox,div.intchoice{
      width: 150px;
      border: 1px solid #d1d1d1;
      .border-radius(3px);
      input.int{
        width: 100px;
        line-height: 18px;
        padding: 5px 10px;
        border: 0;
        background-color: #fff;
      }
      i{
        margin: 8px 0 0 8px;
        .sprite(@searchgray);
        .icon-VIP-easyPricing-assistant;
      }
    }
    div.intchoice{
      width: 300px;
      border: 0;
      input.int{
        border: 1px solid #d1d1d1;
      }
      span{
        line-height: 30px;
      }
    }
    .sel-box{
      width: 480px;
      ul{
        width: 480px;
      }
    }
  }//排序
  .tab-box{
    width: 834px;
    line-height: 38px;
    text-align: center;
    margin: 0 10px;
    th,td{
      border: 1px solid #EEE;
    }
    th{
      background-color:#4a7bc4;
      font-weight:normal;
      font-size:14px;
      color:#FFF;
    }
    tr:nth-child(odd){
      background-color: #F4F4F4;
    }
    td{
      .btn-save{
        display: inline-block;
        width: 80px;
        line-height: 26px;
        border: 1px solid #86be37;
        color: #86be37;
        margin: 0 5px;
        .border-radius(4px);
        &:hover{
          color: #fff;
          background-color: #86be37;
        }
      }
      .btn-gary{
        display: inline-block;
        width: 80px;
        line-height: 26px;
        border: 1px solid #ccc;
        color: #ccc;
        margin: 0 5px;
        .border-radius(4px);
      }
    }
    .name{
      width: 280px;
    }
    .region{
      width: 154px;
    }
    .price{
      width: 130px;
    }
    .date{
      width: 120px;
    }
  }
}