
@import '../../../../dev/mixins/mixins.less';
@import '../Coreprice/mycorepriceopt.less';

.main_box
{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.rgbox{
  width: 854px;
}

.outer_box{
  padding-bottom: 20px;
}


.validity-box{
  margin-top: 20px;
  background-color: #fff;
  padding: 20px 0;
  .remind{
    line-height:24px;
    margin: 0 20px;
  }
  .tab-box{
    width: 814px;
    margin: 20px 20px 0 20px;
    line-height: 38px;
    text-align: center;
    th,td{
      padding: 0 10px;
      border: 1px solid #EEE;
    }
    th{
      background-color:#4a7bc4;
      font-weight:normal;
      font-size:14px;
      color:#FFF;
    }
    tr:nth-child(odd){
      background-color: #F4F4F4;
    }
    td:nth-child(even){
      color: #C00;
    }
    td{
      .ipt
      {
        width: 180px;
        height: 26px;
        padding: 0 10px;

        border: 1px #cecece solid;

        .border-radius(4px);
      }
      .tax-ipt{
        width: 60px;
        height: 26px;
        padding: 0 10px;
        margin: 0 5px;

        border: 1px #cecece solid;

        .border-radius(4px);
      }
      .btn-save{
        display: inline-block;
        width: 60px;
        line-height: 26px;
        border: 1px solid #86be37;
        color: #86be37;
        margin: 0 5px;
        .border-radius(4px);
      }
    }
    .name{
      width: 300px;
    }
    .operation{
      width: 178px;
    }
  }
}




