@import '../../../../dev/mixins/mixins.less';
.feetab_box{
  background-color: #fff;
  table-layout: fixed;

  tr{
    padding-left: 200px;
  }
  td{
    font-size: 12px;
    line-height: 40px;
    overflow: hidden;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
    white-space: nowrap;text-overflow: ellipsis;
    .che_cen{
      vertical-align: middle;
    }
    .money_inp{
      .border-radius(4px);
      width: 80px;
      margin: 0 auto;
      line-height: 26px;
      height: 26px;
      border: 1px solid #ccc;
      text-align: center;
      padding: 0 2px;
    }
  }
  .feetab_tit{
    td{
      line-height: 18px;
      padding: 5px 0;
    }
  }
  .tit_box{
    width: 120px;
  }
  .start_box{
    width: 50px;
  }
  .single_box{
    width: 30px;
  }
  .ope_box{
    width: 140px;
    span{
      cursor: pointer;
    }
  }
  .quoted_box{
    width: 90px;
  }
  .butt_ad,.determine_but,.delete_but{
    display: block;
    width: 60px;
    line-height: 26px;
    text-align: center;
        border: 1px solid #86be37;
    color: #86be37;
    margin: 0 auto;
     .border-radius(4px);
  }
  .determine_but{
    margin-left: 6px;
    width: 70px;
  }
  .delete_but{
    width: 50px;
    color: #e8c54f;
    border: 1px solid #e8c54f;
    margin-left: 4px;
  }
}
.fee_operating,.feetab_box{
  width: 854px;
}
.fee_operating,.feetab_tit{
  background-color: #ebebeb;
    color: #999;
}
.fee_operating{
  .all_che{
    vertical-align: middle;
    margin-left: 8px;
    *margin-left: 4px;
  }
  .all_text,.all_che{
    cursor: pointer;
  }
  .butt_box{
    padding: 14px 0 ;
    display: block;
  }
  .butt_batch{
    padding: 0 16px 0 16px;
    display: block;
    border-radius: 4px;
    border: 1px solid #cccccc;
    line-height: 30px;
    height: 30px;
    color: #4d4d4d;
    margin: 8px 0 0 16px;
  }
}