.icon-yisheji-Common {
  background-image: url("/images/production/yisheji/Common/sprite-yisheji-Common.PNG");
}
/*----------------------通用样式--------------------*/
.guanzhu-words {
  overflow: hidden;
  margin-left: 12px;
}
.guanzhu-p01 {
  font-size: 16px;
  margin-top: 11px;
  color: #333;
}
.guanzhu-p02 {
  font-size: 12px;
  margin-top: 10px;
}
.guanzhu-p02 i {
  background-position: -4px -173px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 11px;
  height: 17px;
  background-image: url("/images/production/yisheji/Common/sprite-yisheji-Common.PNG");
}
.guanzhu-p02 span {
  color: #888;
}
.guanzhu-p02 a {
  margin-left: 10px;
  color: #000;
}
.guanzhu-p04 {
  color: #888;
}
.guanzhu-p04 .guanzhu-p04-color {
  color: #dd1d20;
}
.guanzhu-p03 {
  margin-top: 15px;
}
.guanzhu-p03 a {
  font-size: 16px;
  line-height: 30px;
  width: 121px;
  color: #fff;
  _vertical-align: middle;
}
.guanzhu-p03 .icon-guanzhu {
  margin-right: 21px;
  background-color: #37b5f9;
}
.guanzhu-p03 .icon-guanzhu i {
  margin-top: 7px;
  margin-right: 3px;
  margin-left: 20px;
  background-position: -4px -52px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/production/yisheji/Common/sprite-yisheji-Common.PNG");
}
.guanzhu-p03 .icon-guanzhu span {
  margin-left: 10px;
}
.guanzhu-p03 .icon-sixin {
  background-color: #989898;
}
.guanzhu-p03 .icon-sixin i {
  margin-top: 7px;
  margin-right: 7px;
  margin-left: 23px;
  background-position: -4px -76px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 16px;
  background-image: url("/images/production/yisheji/Common/sprite-yisheji-Common.PNG");
}
.guanzhu-p03 .icon-sixin span {
  margin-left: 6px;
}
.guanzhu-p03-bottom {
  padding-bottom: 10px;
  border-bottom: 1px #e1e1e1 solid;
}
/*----------------------guanzhu.html--------------------*/
.guanzhu-box {
  width: 1200px;
  margin: 0 auto;
}
.guanzhu-box .post {
  margin-left: -20px;
}
.guanzhu-box .post li {
  position: relative;
  width: 285px;
  margin-top: 30px;
  margin-left: 20px;
}
.guanzhu-box .post .shade {
  position: absolute;
  z-index: 1;
  top: -10px;
  right: -10px;
  bottom: -20px;
  left: -10px;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  filter: alpha(opacity=0);
}
.guanzhu-box .post .shade:after {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  content: '';
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.guanzhu-box .post .cover {
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 20px 10px;
  border: 1px #e1e1e1 solid;
  border-radius: 5px;
}
/*----------------------guanzhu11.html--------------------*/
.guanzhu-p04 {
  margin-top: 12px;
  color: #333;
}
.guanzhu-p05 {
  margin-top: 6px;
}
.guanzhu-p05 a {
  margin-left: 20px;
  border: 2px #e7e7e7 solid;
}
.guanzhu-p05 .icon-a01 {
  margin-left: 0;
}
