.icon-yisheji-header {
  background-image: url("/images/production/yisheji/header/sprite-yisheji-header.PNG");
}
.leibie_box {
  line-height: 24px;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 25px;
  _vertical-align: middle;
}
.leibie_box .leibie {
  margin-top: 30px;
}
.leibie_box span {
  margin-top: 10px;
  margin-left: 20px;
}
.leibie_box a {
  margin-left: 13px;
  padding: 0 11px;
  color: #000;
}
.leibie_box .current,
.leibie_box a:hover {
  color: #fff;
  background-color: #fd6464;
  border-radius: 5px;
}
.leibie_box .leibie_p {
  width: 1105px;
}
.leibie_box .leibie_p a {
  margin-top: 10px;
}
.Collapse {
  line-height: 40px;
  width: 1200px;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  color: #000;
  background-color: #f2f3f5;
  _vertical-align: middle;
}
.select-box01 {
  width: 1200px;
  margin: 0 auto;
}
.select-box {
  line-height: 28px;
  position: relative;
  width: 137px;
  height: 28px;
  margin-top: 25px;
  margin-left: 20px;
  border: 1px #d9d9d9 solid;
}
.select-box span {
  width: 93px;
  margin-left: 15px;
  border-right: 1px #d9d9d9 solid;
}
.select-box i {
  margin-top: 12px;
  margin-left: 11px;
  background-position: -4px -28px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 6px;
  height: 4px;
  background-image: url("/images/production/yisheji/header/sprite-yisheji-header.PNG");
}
.select-box .select-ul {
  position: absolute;
  top: 29px;
  left: -1px;
  width: 137px;
  border: 1px #d9d9d9 solid;
  background-color: #fff;
}
.select-box .select-ul li:hover {
  background-color: #1e90ff;
}
.select-box .select-ul li:hover a {
  color: #fff;
}
.select-box .select-ul a {
  display: block;
  padding-left: 15px;
  color: #666;
}
