.icon-yisheji-index {
  background-image: url("/images/production/yisheji/index/sprite-yisheji-index.PNG");
}
.more-hui,
.more-cc {
  line-height: 26px;
  padding: 0 12px;
}
.more-hui i,
.more-cc i {
  margin-top: 7px;
  margin-left: 4px;
}
.more-hui {
  color: #666;
  background-color: #dbdbdb;
}
.more-hui i {
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("/images/production/yisheji/index/sprite-yisheji-index.PNG");
}
.more-cc {
  color: #e45f40;
}
.more-cc i {
  background-position: -4px -64px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("/images/production/yisheji/index/sprite-yisheji-index.PNG");
}
