.icon-yisheji-Common {
  background-image: url("/images/production/yisheji/Common/sprite-yisheji-Common.PNG");
}
.title {
  width: 1200px;
  margin: 0 auto;
  margin-top: 45px;
  background-image: url('/images/production/yisheji/Common/title-bg.png');
  background-repeat: repeat-x;
  background-position: bottom;
}
.title a {
  font-size: 20px;
  line-height: 32px;
  margin-right: 60px;
  padding: 0 20px 11px 20px;
  _vertical-align: middle;
}
.title a i {
  margin-right: 15px;
}
.title .title-a {
  color: #252525;
}
.title .title-a i {
  background-position: -4px -339px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("/images/production/yisheji/Common/sprite-yisheji-Common.PNG");
}
.title .current,
.title .title-a:hover {
  color: #5ab6ab;
  border-bottom: #5ab6ab 3px solid;
}
.title .current i,
.title .title-a:hover i {
  background-position: -4px -379px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("/images/production/yisheji/Common/sprite-yisheji-Common.PNG");
}
