*
{
    margin: 0;
    padding: 0;

    list-style-type: none;
}
.wrapweizhi{
    margin-top: 30px;
    margin-left: 10px;
}
.zhuchu_shengfengweizhi{
    margin-top: 8px;

}
.zhuchu_shengfengweizhi2{
    margin-top: 12px;
}
.zhuti{
    display: inline-block;
    *display:inline;
    *zoom:1;
    font-size: 13px;
    vertical-align:middle;

}

#wrap
{
	font-size: 14px;
	color: #666666;
	line-height: 16px;
    label
    {
        cursor: pointer;


    }
    .shuru{
        line-height: 16px;
        margin-left: 24px;
        margin-right: 10px;

    }

    .clear
    {
        line-height: 0;

        display: block;
        clear: both;

        height: 0;
    }
    label.radio
    {

        .holder
        {
            height: 62px;

            background: url("/images/production/yijingjia/radio.gif") 0 -1px no-repeat;
        }
    }
    label.checked
    {
        .holder
        {
            top: -42px!important;
        }
    }
    label.checked:hover
    {
        .holder
        {
            top: -42px!important;
        }
    }
    label.list
    {

        float: left;
        clear: left;

        margin: 0 0 5px 0;
    }
    label.inline
    {
        float: left;

        margin: 0 10px 0 22px;
    }

    input.hiddenCheckbox
    {
        position: absolute;
        left: -10000px;
    }
    label.prettyCheckbox
    {
        .holderWrap
        {
            position: relative;

            display: block;
            float: left;
            overflow: hidden;

            margin-right: 5px;
        }
        .holder
        {
            position: absolute;
            top: 0;
            left: 0;

            display: block;
        }
    }
}
