
@import '../UpperPart/UpperPart.less';

@import '../biaoge/fanye.less';


.Abroad-box01{
	margin-top: 10px;
}
.Abroad-box02{
	width: 1000px;
	margin: 0 auto;
	margin-top: 46px;
}

.Abroad-fanye{
	margin-left: 356px;
}

