@Left-arrow-hei: -4px -4px 8px 16px;
@Left-arrow-hui: -4px -28px 8px 16px;
@right-arrow-hei: -4px -52px 8px 16px;
@right-arrow-hui: -4px -76px 8px 16px;
@ProductDetails-01: -4px -100px 330px 30px;
.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}
.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}
.sprite(@sprite, @display: block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
.icon-yituangou-ProductDetails {
  background-image: url("/images/production/yituangou/ProductDetails/sprite-yituangou-ProductDetails.PNG");
}