@import '../../dev/mixins/mixins.less';

.next-box{
  margin: 30px auto 0 auto;
  text-align: center;
  padding-bottom: 70px;
  .next{
    li.flip{

      .border-radius(4px);
      text-decoration: none;
      display: inline-block;
      border: 1px solid #ddd;
      background-color: #fff;
      margin-left: 4px;
      cursor: pointer;
      a{
        color: #666;
        height: 36px;
        line-height: 36px;
        padding: 0 20px;
        display: block;
      }
    }
    li.current,li.flip:hover{
      border: 1px solid #3ca1d7;
      background-color: #3ca1d7;
      a{
        color: #fff;
      }
    }
    li.prohibit,li.prohibit:hover{
      background-color: #ddd;
      border: 1px solid #ddd;
      a{
        color: #666;
      }
    }
  }
}

.next-box2{
  margin-top: 20px;
}