/*数据平台首页*/
.banner-data {
  background: url(/Static/Images/DataImg/banner-data.jpg) no-repeat center center #272132;
  width: 100%;
  height: 390px;
}
.banner-data .videoDiv {
  display: block;
  margin: 70px auto;
  margin-top: 70px;
  cursor: pointer;
  text-align: center;
  color: #fe8431;
  background: #000000;
  width: 100px;
  height: 100px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0.3;
  filter: alpha(opacity=30);
  border-radius: 4px;
}
.banner-data .videoDiv:hover,
.banner-data .videoDiv:focus {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.banner-data .play_video {
  display: block;
  float: left;
  margin: 18px 0 0 18px;
  background: url(/images/production/common/play-video.png) no-repeat;
  width: 62px;
  height: 62px;
}
.banner-data .banner-content {
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.banner-data .lf {
  width: 550px;
  margin-top: 50px;
  color: #ffffff;
}
.banner-data .rg {
  margin-top: 50px;
  background: url(/Static/Images/DataImg/banner-video.png) no-repeat;
  width: 379px;
  height: 243px;
  border-radius: 3px;
}
.banner-data h1 {
  font-size: 35px;
  font-weight: normal;
  line-height: 50px;
  margin: 10px 0;
}
.banner-data h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 40px;
  margin: 10px 0;
  margin-bottom: 20px;
}
.banner-data .btn {
  font-size: 18px;
  line-height: 30px;
  margin-right: 15px;
  width: 150px;
  height: 30px;
}
.wrap {
  margin-bottom: 20px;
}
.content {
  padding: 10px 20px;
  border: 1px #e1e1e1 solid;
  background: #ffffff;
  width: 450px;
  height: 170px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.content .main_text {
  float: left;
  width: 240px;
  margin-top: 10px;
}
.content h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  padding-left: 15px;
  color: #37b5f9;
  border-left: 4px solid #37b5f9;
}
.content h3.gary {
  color: #666666;
}
.content .fs_big {
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  margin-top: 10px;
  margin-left: 19px;
}
.content .fs_small {
  line-height: 24px;
  margin-left: 19px;
}
.content .btn {
  font-size: 20px;
  line-height: 40px;
  margin: 10px 0 10px 20px;
  padding: 0 10px;
  width: 160px;
  height: 40px;
}
.content .icon {
  margin-left: 20px;
  background: url(/Static/Images/DataImg/figure.png) no-repeat;
  width: 172px;
  height: 172px;
  _display: inline;
}
.content .icon2_blue {
  background-position: -172px 0;
}
.content .icon1_grey {
  background-position: 0 -172px;
}
.content .icon2_grey {
  background-position: -172px -172px;
}
.content_2 .title {
  height: 40px;
  border-bottom: 2px solid #e1e1e1;
}
.content_2 .title div {
  font-size: 18px;
  line-height: 40px;
  float: left;
  height: 40px;
  color: #333333;
  border-bottom: 2px solid #37b5f9;
}
.content_2 .list .plug-btn {
  padding: 0 10px;
}
.content_2 .list li {
  margin-top: 15px;
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
}
.content_2 .list li:hover {
  border-color: #37b5f9;
}
.content_2 .list .maintext {
  float: left;
  width: 295px;
  margin: 10px 14px;
}
.content_2 .list .maintext p {
  margin-top: 10px;
}
.content_2 .list h3 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  color: #333333;
}
.content_2 .list .TabTitle3 {
  margin-top: 5px;
  border-top: 1px #e1e1e1 solid;
}
.content_2 .list .TabTitle3 li {
  float: left;
  width: 30%;
  margin: 0;
  text-align: center;
  border: none;
}
.content_2 .list .TabTitle3 li a {
  color: #551a8b;
}
.content_2 .list .TabTitle3 li.litab-0 {
  width: 3px;
  color: #aaaaaa;
}
.content_2 .list .TabTitle3 li.active,
.content_2 .list .TabTitle3 li:hover {
  margin-top: -1px;
  cursor: pointer;
  color: #37b5f9;
  border: none;
  border-top: 1px #37b5f9 solid;
}
.content_2 .m-dlwb .plug-btn {
  color: #37b5f9;
  border: 1px solid #37b5f9;
  border-radius: 2px;
}
.content_2 .m-dlwb .plug-btn:hover {
  color: #ffffff;
  background: #07a2f6;
}
.content_2 .m-dlwb-gray .plug-btn {
  color: #c1c1c1;
  border: 1px solid #c1c1c1;
  border-radius: 2px;
  cursor: default;
}
.content_2 .supplier-a,
.content_2 .supplier-b,
.content_2 .supplier-c,
.content_2 .supplier-d,
.content_2 .supplier-e,
.content_2 .buyer-a,
.content_2 .buyer-b,
.content_2 .buyer-c,
.content_2 .buyer-d,
.content_2 .buyer-e {
  float: left;
  width: 167px;
  height: 167px;
  background: url(/Static/Images/DataImg/data-commerce.gif) no-repeat;
}
.content_2 .supplier-a {
  background-position: 0 0;
}
.content_2 .supplier-b {
  background-position: 0 -167px;
}
.content_2 .supplier-c {
  background-position: 0 -334px;
}
.content_2 .supplier-d {
  background-position: 0 -501px;
}
.content_2 .supplier-e {
  background-position: 0 -668px;
}
.content_2 .buyer-a {
  background-position: -334px 0;
}
.content_2 .buyer-b {
  background-position: -334px -167px;
}
.content_2 .buyer-c {
  background-position: -334px -334px;
}
.content_2 .buyer-d {
  background-position: -334px -501px;
}
.content_2 .buyer-e {
  background-position: -334px -668px;
}
.content_2 .m-dlwb-gray .supplier-a {
  background-position: -167px 0;
}
.content_2 .m-dlwb-gray .supplier-b {
  background-position: -167px -167px;
}
.content_2 .m-dlwb-gray .supplier-c {
  background-position: -167px -334px;
}
.content_2 .m-dlwb-gray .supplier-d {
  background-position: -167px -501px;
}
.content_2 .m-dlwb-gray .supplier-e {
  background-position: -167px -668px;
}
.content_2 .m-dlwb-gray .buyer-a {
  background-position: -501px 0;
}
.content_2 .m-dlwb-gray .buyer-b {
  background-position: -501px -167px;
}
.content_2 .m-dlwb-gray .buyer-c {
  background-position: -501px -334px;
}
.content_2 .m-dlwb-gray .buyer-d {
  background-position: -501px -501px;
}
.content_2 .m-dlwb-gray .buyer-e {
  background-position: -501px -668px;
}
.data-rank {
  margin-top: 15px;
  padding: 10px;
  border: 1px #e1e1e1 solid;
  background: #ffffff;
}
.data-rank ul {
  line-height: 30px;
  float: left;
  width: 210px;
  margin-right: 10px;
  padding: 0 0 0 20px;
  border-left: 1px #efefef dotted;
}
.data-rank ul li {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.data-rank ul li a {
  color: #666666;
}
.data-rank ul li a:hover {
  color: #f60;
}
/*数据平台国家layout层*/
.map {
  z-index: 3;
  width: 797px;
  border: 1px #e1e1e1 solid;
  background: #ffffff;
}
.map .bg_map {
  padding: 10px;
  *zoom: 1;
}
.map .bg_map:before,
.map .bg_map:after {
  content: " ";
  display: table;
  clear: both;
}
.map .bg_map p {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  color: #515151;
}
.map .bg_map ul li {
  float: left;
  width: 110px;
}
.map .bg_map ul a {
  line-height: 28px;
  white-space: nowrap;
  color: #333333;
}
.map .bg_map ul a:hover {
  text-decoration: underline;
  color: #00a2c9;
}
.map .bg_map span {
  display: inline-block;
  width: 20px;
  margin-top: -2px;
  margin-right: 10px;
  vertical-align: middle;
  background: url(/Static/Images/DataImg/country.gif) no-repeat;
}
.map .bg_map .img_Ireland {
  height: 13px;
  background-position: 0 -45px;
}
.map .bg_map .img_Estonia {
  height: 13px;
  background-position: -20px -32px;
}
.map .bg_map .img_Austria {
  height: 13px;
  background-position: -40px 0;
}
.map .bg_map .img_Belgium {
  height: 17px;
  background-position: -60px 0;
}
.map .bg_map .img_Poland {
  height: 13px;
  background-position: -20px -71px;
}
.map .bg_map .img_Denmark {
  height: 15px;
  background-position: -80px -17px;
}
.map .bg_map .img_Germany {
  height: 12px;
  background-position: -80px -32px;
}
.map .bg_map .img_France {
  height: 13px;
  background-position: -60px -32px;
}
.map .bg_map .img_Finland {
  height: 11px;
  background-position: -40px -32px;
}
.map .bg_map .img_Netherlands {
  height: 13px;
  background-position: -40px -58px;
}
.map .bg_map .img_CS {
  height: 13px;
  background-position: -60px -17px;
}
.map .bg_map .img_Latvia {
  height: 10px;
  background-position: -60px -45px;
}
.map .bg_map .img_LTU {
  height: 13px;
  background-position: -80px -45px;
}
.map .bg_map .img_LUX {
  height: 12px;
  background-position: -100px -45px;
}
.map .bg_map .img_Malta {
  height: 13px;
  background-position: 0 -58px;
}
.map .bg_map .img_Portugal {
  height: 13px;
  background-position: -40px -71px;
}
.map .bg_map .img_Sweden {
  height: 12px;
  background-position: -80px -71px;
}
.map .bg_map .img_Slovenia {
  height: 10px;
  background-position: -60px -71px;
}
.map .bg_map .img_Greece {
  height: 13px;
  background-position: -100px -32px;
}
.map .bg_map .img_Italy {
  height: 13px;
  background-position: -20px -45px;
}
.map .bg_map .img_England {
  height: 10px;
  background-position: 0 -32px;
}
.map .bg_map .img_Argentina {
  height: 10px;
  background-position: -20px -32px;
}
.map .bg_map .img_Paraguay {
  height: 12px;
  background-position: -100px -58px;
}
.map .bg_map .img_Panama {
  height: 13px;
  background-position: -80px -58px;
}
.map .bg_map .img_Brazil {
  height: 13px;
  background-position: -80px 0;
}
.map .bg_map .img_Columbia {
  height: 13px;
  background-position: -40px -17px;
}
.map .bg_map .img_Peru {
  height: 13px;
  background-position: 0 -71px;
}
.map .bg_map .img_Uruguay {
  height: 13px;
  background-position: -100px -71px;
}
.map .bg_map .img_Chile {
  height: 13px;
  background-position: 0 -17px;
}
.map .bg_map .img_Ecuado {
  height: 10px;
  background-position: -100px -17px;
}
.map .bg_map .img_America {
  height: 11px;
  background-position: 0 0;
}
.map .bg_map .img_Canada {
  height: 10px;
  background-position: -100px 0;
}
.map .bg_map .img_Mexico {
  height: 11px;
  background-position: -20px -58px;
}
.map .bg_map .img_China {
  height: 13px;
  background-position: -20px -17px;
}
.map .bg_map .img_Japan {
  height: 13px;
  background-position: -40px -45px;
}
.map .bg_map .img_New_Zealand {
  height: 10px;
  background-position: -60px -58px;
}
.map .bg_map .img_Switzerland {
  height: 20px;
  background-position: -20px -84px;
}
.map .bg_map .img_Bulgaria {
  height: 13px;
  background-position: 0 -84px;
}
.map .bg_map .img_Bolivia {
  height: 13px;
  background-position: -40px -84px;
}
.map .bg_map .img_Croatia {
  height: 10px;
  background-position: -40px -186px;
}
.map .bg_map .img_Cyprus {
  height: 14px;
  background-position: -80px -186px;
}
.map .bg_map .img_Hungary {
  height: 11px;
  background-position: -20px -200px;
}
.map .bg_map .img_Romania {
  height: 13px;
  background-position: -60px -186px;
}
.map .bg_map .img_Slovakia {
  height: 13px;
  background-position: -100px -186px;
}
.map .bg_map .img_Spanish {
  height: 13px;
  background-position: 0 -200px;
}
.map .bg_map .img_Russia {
  height: 13px;
  background-position: -40px -200px;
}
