.icon-easyPricing-Popups {
  background-image: url("/images/production/easyPricing/Popups/sprite-easyPricing-Popups.PNG");
}
.accessories_box {
  width: 980px;
  margin: 0 auto;
  border: 1px solid #e1e1e1;
  border-bottom: none;
  border-right: none;
  font-size: 12px;
  background-color: #000;
}
.accessories_box li {
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  text-align: center;
  height: 36px;
  line-height: 36px;
}
.accessories_box .access_tit {
  background-color: #f7f7f7;
  color: #333333;
}
.accessories_box .access_data {
  background-color: #fff;
  color: #666;
}
.accessories_box .numbering {
  width: 14.5%;
}
.accessories_box .specification {
  width: 25%;
}
.accessories_box .specification_zhi {
  padding-left: 2%;
  width: 23%;
  text-align: left;
}
.accessories_box .unit {
  width: 7.3%;
}
.accessories_box .weight {
  width: 11.2%;
}
.accessories_box .select_num {
  width: 15.5%;
}
.accessories_box .ingredient {
  width: 10%;
}
.accessories_box .thickness {
  width: 6%;
}
.accessories_box .proportional {
  width: 8.1%;
}
.accessories_box .factory_nane {
  width: 10.3%;
}
.accessories_box .origin {
  width: 12.2%;
}
.accessories_box .ing_name {
  width: 11.3%;
}
.accessories_box .price {
  color: #57acb1;
  font-weight: bold;
}
.accessories_box .export_box {
  width: 32%;
}
.accessories_box .export_zhi {
  width: 30%;
  padding-left: 2%;
  text-align: left;
}
.accessories_box .code {
  width: 20%;
}
.accessories_box .str_ing {
  width: 35%;
}
.accessories_box .str_thick {
  width: 15%;
}
.accessories_box .str_pro {
  width: 18.9%;
}
.accessories_box .select_all {
  width: 12%;
}
.accessories_box .access_butt,
.accessories_box .aft_butt {
  display: block;
  width: 80px;
  line-height: 24px;
  border: 1px solid #dddddd;
  height: 24px;
  background-color: #f7f7f7;
  color: #333333;
  margin: 5px auto;
}
.accessories_box .aft_butt {
  background-color: #00a2c9;
  border: 1px solid #0284a4;
}
.accessories_box .confirm_bule {
  margin: 6px 4px 0 16px;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 15px;
  height: 13px;
  background-image: url("/images/production/easyPricing/Popups/sprite-easyPricing-Popups.PNG");
}
.accessories_box .confirm_white {
  margin: 6px 4px 0 16px;
  background-position: -4px -25px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 15px;
  height: 13px;
  background-image: url("/images/production/easyPricing/Popups/sprite-easyPricing-Popups.PNG");
}
