.icon-easydata_old {
  background-image: url("/images/production/easydata_old/sprite-easydata_old.PNG");
}
.icon-easydata_old-country {
  background-image: url("/images/production/easydata_old/country/sprite-easydata_old-country.PNG");
}
ol.module-ol li .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-position: -4px -301px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("/images/production/easydata_old/sprite-easydata_old.PNG");
}
ol.module-ol li .close-btn:hover {
  cursor: pointer;
}
ol.module-ol li .mod-li1 .mod-li1-cont {
  padding: 30px;
}
ol.module-ol li .mod-li1 .mod-li1-cont .mod-li1-tit {
  font-size: 20px;
  color: #333;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.continent {
  margin-left: -10px;
  padding: 20px 0;
  border-bottom: 1px solid #E5E5E5;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.continent li {
  float: left;
  margin-left: 10px;
  color: #888;
  font-size: 18px;
  padding: 6px 20px;
  border: 1px solid white;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.continent li:hover {
  cursor: pointer;
  color: #fff;
  background-color: #f60;
  border: 1px solid #f60;
  border-radius: 3px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.continent .cur {
  cursor: pointer;
  color: #fff;
  background-color: #f60;
  border: 1px solid #f60;
  border-radius: 3px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country {
  padding: 30px 0;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol {
  display: none;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li {
  float: left;
  width: 110px;
  height: 44px;
  font-size: 13px;
  color: #333;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li:hover {
  cursor: pointer;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li a {
  color: black;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span {
  float: left;
  margin-top: 3px;
  margin-right: 5px;
  background-image: url("/images/production/easydata_old/country/sprite-easydata_old-country.PNG");
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Estonia {
  background-position: -4px -1361px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Ireland {
  background-position: -4px -166px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 10px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Austria {
  background-position: -4px -1298px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Belgium {
  background-position: -4px -1513px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 17px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Poland {
  background-position: -4px -1130px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Denmark {
  background-position: -4px -1490px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 15px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Germany {
  background-position: -4px -466px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 12px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.France {
  background-position: -4px -1403px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Finland {
  background-position: -4px -408px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 11px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Netherlands {
  background-position: -4px -941px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.CS {
  background-position: -4px -710px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Latvia {
  background-position: -4px -22px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 10px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.LTU {
  background-position: -4px -752px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.LUX {
  background-position: -4px -606px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 12px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Malta {
  background-position: -4px -857px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Portugal {
  background-position: -4px -1151px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Sweden {
  background-position: -4px -546px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 12px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Slovenia {
  background-position: -4px -130px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 10px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Greece {
  background-position: -4px -983px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Italy {
  background-position: -4px -647px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.England {
  background-position: -4px -202px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 10px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Argentina {
  background-position: -4px -94px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 10px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Paraguay {
  background-position: -4px -566px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 12px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Panama {
  background-position: -4px -1046px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Brazil {
  background-position: -4px -1214px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Columbia {
  background-position: -4px -731px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Peru {
  background-position: -4px -626px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Uruguay {
  background-position: -4px -1004px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Chile {
  background-position: -4px -899px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Ecuado {
  background-position: -4px -184px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 10px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.America {
  background-position: -4px -275px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 11px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Canada {
  background-position: -4px -76px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 10px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Mexico {
  background-position: -4px -332px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 11px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.China {
  background-position: -4px -836px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Japan {
  background-position: -4px -668px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Bulgaria {
  background-position: -4px -1109px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Croatia {
  background-position: -4px -112px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 10px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Cyprus {
  background-position: -4px -1445px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 14px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Hungary {
  background-position: -4px -370px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 11px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Romania {
  background-position: -4px -1172px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Slovakia {
  background-position: -4px -389px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 11px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Spanish {
  background-position: -4px -1340px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Russia {
  background-position: -4px -1193px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Ukraine {
  background-position: -4px -1088px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Japan {
  background-position: -4px -668px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Korea {
  background-position: -4px -256px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 11px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Pakistan {
  background-position: -4px -1025px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.India {
  background-position: -4px -1067px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Malaysia {
  background-position: -4px -351px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 11px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Thailand {
  background-position: -4px -1467px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 15px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Philippines {
  background-position: -4px -58px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 10px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Indonesia {
  background-position: -4px -962px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Singapore {
  background-position: -4px -1256px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Vietnam {
  background-position: -4px -689px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Kazakhstan {
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 10px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Honduras {
  background-position: -4px -238px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 10px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Guatemala {
  background-position: -4px -1277px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Nicaragua {
  background-position: -4px -446px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 12px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Salvador {
  background-position: -4px -427px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 11px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Bahamas {
  background-position: -4px -40px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 10px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Jamaica {
  background-position: -4px -148px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 10px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Dominica {
  background-position: -4px -773px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Trinidad {
  background-position: -4px -486px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 12px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Tobago {
  background-position: -4px -526px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 12px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Australia {
  background-position: -4px -313px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 11px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.New_Zealand {
  background-position: -4px -294px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 11px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.SouthAfrica {
  background-position: -4px -1319px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Madagascar {
  background-position: -4px -794px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Burundi {
  background-position: -4px -586px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 12px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Guinea {
  background-position: -4px -1382px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Mauritius {
  background-position: -4px -878px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Mozambique {
  background-position: -4px -920px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Togo {
  background-position: -4px -506px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 12px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Ethiopia {
  background-position: -4px -220px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 10px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Malawi {
  background-position: -4px -815px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Niger {
  background-position: -4px -1538px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 17px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Senegal {
  background-position: -4px -1235px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.country-ol li span.Zambia {
  background-position: -4px -1424px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 20px;
  height: 13px;
}
ol.module-ol li .mod-li1 .mod-li1-cont ul.country ol.cur {
  display: block;
}
