.icon-easydata_old {
  background-image: url("/images/production/easydata_old/sprite-easydata_old.PNG");
}
/*** banner-wrapper ***/
.banner-wrapper {
  position: relative;
  width: 100%;
}
.banner-wrapper img.banner-bg {
  width: 100%;
}
.banner-wrapper .videoinfo-box {
  width: 420px;
  height: 230px;
  position: absolute;
  top: 50%;
  left: 18%;
  margin-top: -111px;
  color: white;
}
.banner-wrapper .videoinfo-box span {
  background-position: -4px -2281px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 403px;
  height: 124px;
  background-image: url("/images/production/easydata_old/sprite-easydata_old.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata_old/banner-word.png");
  _background: none;
}
.banner-wrapper .videoinfo-box .videoinfo-btn-box {
  margin-top: 30px;
}
.banner-wrapper .videoinfo-box .videoinfo-btn-box .videoinfo-btn {
  cursor: pointer;
  float: left;
  font-size: 18px;
  margin-right: 20px;
  padding: 10px 18px;
  border: 1px solid #fff;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: 4px;
}
.banner-wrapper .videoinfo-box .videoinfo-btn-box .videoinfo-btn:hover {
  background-color: #46BBF9;
  border-color: #46BBF9;
}
/*** banner-wrapper ***/
/*** module-wrapper ***/
.module-wrapper {
  width: 100%;
  background-color: #F2F3F5;
}
.module-wrapper .module {
  width: 1200px;
  height: 435px;
  margin: 67px auto 70px;
}
.module-wrapper .module ul.module-ul {
  margin-left: -20px;
}
.module-wrapper .module ul.module-ul li {
  float: left;
  position: relative;
  margin-left: 20px;
  width: 280px;
  height: 450px;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
}
.module-wrapper .module ul.module-ul li .mod-tit {
  font-size: 18px;
  text-align: center;
}
.module-wrapper .module ul.module-ul li .mod-cont {
  font-size: 14px;
  line-height: 24px;
  padding: 25px 16px;
}
.module-wrapper .module ul.module-ul li a {
  display: none;
  position: absolute;
  bottom: 22px;
  display: block;
  color: #3CA1D7;
  font-size: 18px;
  margin: 0 17px;
  padding: 10px 85px;
  border: 1px solid #3CA1D7;
  border-radius: 3px;
}
.module-wrapper .module ul.module-ul li .icon {
  height: 105px;
  margin: 30px auto;
}
.module-wrapper .module ul.module-ul li .icon-1 {
  background-position: -4px -1093px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url("/images/production/easydata_old/sprite-easydata_old.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata_old/modSearch.png");
  _background: none;
}
.module-wrapper .module ul.module-ul li .icon-2 {
  background-position: -4px -877px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url("/images/production/easydata_old/sprite-easydata_old.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata_old/industryDet.png");
  _background: none;
}
.module-wrapper .module ul.module-ul li .icon-3 {
  background-position: -4px -1417px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url("/images/production/easydata_old/sprite-easydata_old.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata_old/priceDet.png");
  _background: none;
}
.module-wrapper .module ul.module-ul li .icon-4 {
  background-position: -4px -769px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url("/images/production/easydata_old/sprite-easydata_old.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata_old/buyerEva.png");
  _background: none;
}
.module-wrapper .module ul.module-ul li:hover {
  color: white;
  background-color: #3CA1D7;
}
.module-wrapper .module ul.module-ul li:hover a {
  color: white;
  border: 1px solid white;
}
.module-wrapper .module ul.module-ul li:hover .icon-1 {
  background-position: -4px -1201px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url("/images/production/easydata_old/sprite-easydata_old.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata_old/modSearchOn.png");
  _background: none;
}
.module-wrapper .module ul.module-ul li:hover .icon-2 {
  background-position: -4px -985px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url("/images/production/easydata_old/sprite-easydata_old.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata_old/industryDetOn.png");
  _background: none;
}
.module-wrapper .module ul.module-ul li:hover .icon-3 {
  background-position: -4px -1525px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url("/images/production/easydata_old/sprite-easydata_old.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata_old/priceDetOn.png");
  _background: none;
}
.module-wrapper .module ul.module-ul li:hover .icon-4 {
  background-position: -4px -1309px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url("/images/production/easydata_old/sprite-easydata_old.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata_old/buyerEvaOn.png");
  _background: none;
}
.module-wrapper .module ol.module-ol li .mod-ol-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.module-wrapper .module ol.module-ol li .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-position: -4px -301px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("/images/production/easydata_old/sprite-easydata_old.PNG");
}
.module-wrapper .module ol.module-ol li .mod-li1 {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -415px;
  margin-top: -310px;
  width: 830px;
  height: 620px;
  background-color: white;
  border-radius: 4px;
}
.module-wrapper .module ol.module-ol li .mod-li1 .mod-li1-cont {
  padding: 30px;
}
.module-wrapper .module ol.module-ol li .mod-li1 .mod-li1-cont .mod-li1-tit {
  font-size: 20px;
  color: #333;
}
.module-wrapper .module ol.module-ol li .mod-li1 .mod-li1-cont ul.continent {
  margin-left: -10px;
  padding: 20px 0;
  border-bottom: 1px solid #E5E5E5;
}
.module-wrapper .module ol.module-ol li .mod-li1 .mod-li1-cont ul.continent li {
  float: left;
  margin-left: 10px;
  color: #888;
  font-size: 18px;
  padding: 6px 20px;
  border: 1px solid white;
}
.module-wrapper .module ol.module-ol li .mod-li1 .mod-li1-cont ul.continent li:hover {
  cursor: pointer;
  color: #fff;
  background-color: #f60;
  border: 1px solid #f60;
  border-radius: 3px;
}
.module-wrapper .module ol.module-ol li .mod-li1 .mod-li1-cont ul.continent .cur {
  cursor: pointer;
  color: #fff;
  background-color: #f60;
  border: 1px solid #f60;
  border-radius: 3px;
}
.module-wrapper .module ol.module-ol li .mod-li1 .mod-li1-cont ul.country {
  padding: 30px 0;
}
.module-wrapper .module ol.module-ol li .mod-li1 .mod-li1-cont ul.country li {
  float: left;
  margin-right: 30px;
  font-size: 13px;
  color: #333;
  padding: 10px 0;
}
.module-wrapper .module ol.module-ol li .mod-li1 .mod-li1-cont ul.country li:hover {
  cursor: pointer;
}
.module-wrapper .module ol.module-ol li .mod-li1 .mod-li1-cont ul.country li img {
  float: left;
  margin-top: 3px;
  margin-right: 5px;
}
.module-wrapper .module ol.module-ol li .mod-li2 {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -243px;
  margin-top: -87px;
  width: 486px;
  height: 174px;
  background-color: white;
  border-radius: 4px;
}
.module-wrapper .module ol.module-ol li .mod-li2 .mod-li2-cont {
  padding: 30px 20px;
}
.module-wrapper .module ol.module-ol li .mod-li2 .mod-li2-cont .mod-li2-tit {
  color: #333;
  font-size: 20px;
}
.module-wrapper .module ol.module-ol li .mod-li2 .mod-li2-cont .mod-li2-btngroup {
  margin-top: 30px;
}
.module-wrapper .module ol.module-ol li .mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-export-btn {
  float: left;
  color: #ffffff;
  background-color: #ff6600;
  border-color: #ff6600;
  padding: 15px 35px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 4px;
}
.module-wrapper .module ol.module-ol li .mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-export-btn:focus,
.module-wrapper .module ol.module-ol li .mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-export-btn.focus {
  color: #ffffff;
  background-color: #ff751a;
  border-color: #ffb380;
}
.module-wrapper .module ol.module-ol li .mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-export-btn:hover {
  color: #ffffff;
  background-color: #ff751a;
  border-color: #ff8b3d;
}
.module-wrapper .module ol.module-ol li .mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-export-btn:active,
.module-wrapper .module ol.module-ol li .mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-export-btn.active {
  color: #ffffff;
  background-color: #ff751a;
  border-color: #ff8b3d;
}
.module-wrapper .module ol.module-ol li .mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-import-btn {
  float: right;
  color: #ffffff;
  background-color: #3ca1d7;
  border-color: #3ca1d7;
  padding: 15px 35px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 4px;
}
.module-wrapper .module ol.module-ol li .mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-import-btn:focus,
.module-wrapper .module ol.module-ol li .mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-import-btn.focus {
  color: #ffffff;
  background-color: #51abdb;
  border-color: #a6d4ed;
}
.module-wrapper .module ol.module-ol li .mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-import-btn:hover {
  color: #ffffff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
.module-wrapper .module ol.module-ol li .mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-import-btn:active,
.module-wrapper .module ol.module-ol li .mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-import-btn.active {
  color: #ffffff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
/*** module-wrapper ***/
/*** library-wrapper ***/
.library-wrapper {
  height: 540px;
}
.library-wrapper .library {
  width: 1200px;
  height: 540px;
  margin: 0 auto;
}
.library-wrapper .library .supplier-lib,
.library-wrapper .library .buyer-lib {
  float: left;
  margin: 70px 100px;
  background-position: -4px -2569px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline;
  width: 400px;
  height: 400px;
  background-image: url("/images/production/easydata_old/sprite-easydata_old.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata_old/circle.png");
  _background: none;
}
.library-wrapper .library .lib-cont {
  height: 270px;
  width: 220px;
  text-align: center;
  margin: 65px auto;
}
.library-wrapper .library .lib-cont .lib-tit {
  color: #46bbf9;
  font-size: 24px;
}
.library-wrapper .library .lib-cont .lib-cont1 {
  color: #666;
  font-size: 18px;
  margin-top: 45px;
}
.library-wrapper .library .lib-cont .lib-num {
  color: #F60;
  font-size: 50px;
  margin-top: 10px;
}
.library-wrapper .library .lib-cont .lib-num span {
  font-size: 14px;
}
.library-wrapper .library .lib-cont .lib-cont2 {
  color: #333;
  font-size: 14px;
  margin-top: 20px;
}
.library-wrapper .library .lib-cont .lib-btn {
  margin-top: 30px;
  display: inline-block;
  color: #ffffff;
  background-color: #3ca1d7;
  border-color: #3ca1d7;
  padding: 9px 35px;
  font-size: 18px;
  line-height: 20px;
  border-radius: 20px;
}
.library-wrapper .library .lib-cont .lib-btn:focus,
.library-wrapper .library .lib-cont .lib-btn.focus {
  color: #ffffff;
  background-color: #51abdb;
  border-color: #a6d4ed;
}
.library-wrapper .library .lib-cont .lib-btn:hover {
  color: #ffffff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
.library-wrapper .library .lib-cont .lib-btn:active,
.library-wrapper .library .lib-cont .lib-btn.active {
  color: #ffffff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
/*** library-wrapper ***/
/*** rank-wrapper ***/
.rank-wrapper {
  background-color: #F2F3F5;
  height: 400px;
  text-align: center;
}
.rank-wrapper .rank {
  width: 1200px;
  height: 320px;
  margin: 60px auto;
  padding: 5px;
  overflow: hidden;
}
.rank-wrapper .rank .rank-top {
  display: block;
}
.rank-wrapper .rank .rank-top .rank-tit {
  float: left;
  font-size: 24px;
  color: #333;
  font-weight: bold;
}
.rank-wrapper .rank .rank-top .rank-tit span {
  font-family: "Impact";
  font-size: 30px;
  color: #f60;
  font-weight: normal;
  position: relative;
  top: 3px;
}
.rank-wrapper .rank .rank-top .rank-btn {
  display: inline-block;
  width: 113px;
  float: right;
  position: relative;
}
.rank-wrapper .rank .rank-top .rank-btn:hover {
  cursor: pointer;
}
.rank-wrapper .rank .rank-top .rank-btn .rank-btn-tit {
  display: inline-block;
  float: right;
  color: #888;
  font-size: 14px;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  padding: 12px 20px;
}
.rank-wrapper .rank .rank-top .rank-btn .rank-btn-tit span {
  background-position: -4px -20px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 6px;
  height: 11px;
  background-image: url("/images/production/easydata_old/sprite-easydata_old.PNG");
}
.rank-wrapper .rank .rank-top .rank-btn .rank-btn-ul {
  display: none;
  position: absolute;
  top: 47px;
  right: 0;
  z-index: 2;
  background-color: #f7f7f7;
  overflow: hidden;
  border-radius: 5px;
}
.rank-wrapper .rank .rank-top .rank-btn .rank-btn-ul .rank-btn-li {
  display: block;
  font-size: 14px;
  padding: 10px 28px;
  color: #888;
}
.rank-wrapper .rank .rank-top .rank-btn .rank-btn-ul .rank-btn-li:hover {
  background-color: #3CA1D7;
  color: white;
}
.rank-wrapper .rank .rank-cont {
  overflow: hidden;
  position: relative;
  height: 210px;
}
.rank-wrapper .rank .rank-cont ul {
  height: 200px;
  width: 6000px;
}
.rank-wrapper .rank .rank-cont ul .rank-page {
  width: 1200px;
  height: 200px;
  float: left;
  padding-left: 3px;
  overflow: hidden;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl {
  margin-left: -20px;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd {
  float: left;
  display: inline;
  width: 585px;
  height: 80px;
  margin: 20px 0 0 20px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px 2px #eeeeee;
  -moz-box-shadow: 0 0 10px 2px #eeeeee;
  -ms-box-shadow: 0 0 10px 2px #eeeeee;
  -o-box-shadow: 0 0 10px 2px #eeeeee;
  box-shadow: 0 0 10px 2px #eeeeee;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .first {
  border: 1px solid #f6492b;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .first .seq-num {
  border: 1px solid #f6492b;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .first .seq-honor {
  color: #f6492b;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .first .seq-num {
  background-color: #f6492b;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .second {
  border: 1px solid #ff6600;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .second .seq-num {
  border: 1px solid #ff6600;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .second .seq-honor {
  color: #ff6600;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .second .seq-num {
  background-color: #ff6600;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .third {
  border: 1px solid #69c731;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .third .seq-num {
  border: 1px solid #69c731;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .third .seq-honor {
  color: #69c731;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .third .seq-num {
  background-color: #69c731;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .fourth {
  border: 1px solid #999999;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .fourth .seq-num {
  border: 1px solid #999999;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .fourth .seq-honor {
  color: #999999;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .fourth .seq-num {
  background-color: #999999;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .rank-seq {
  float: left;
  display: inline;
  width: 78px;
  height: 58px;
  margin: 10px;
  text-align: center;
  font-size: 16px;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .rank-seq .seq-num {
  color: white;
  height: 28px;
  line-height: 28px;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .rank-seq .seq-honor {
  font-style: italic;
  line-height: 28px;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .rank-company {
  float: left;
  padding: 10px;
  width: 460px;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .rank-company .rank-name {
  display: block;
  text-align: left;
  height: 30px;
  color: #333;
  font-size: 18px;
  line-height: 30px;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .rank-company .rank-money,
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .rank-company .rank-num {
  float: left;
  text-align: left;
  width: 50%;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  color: #666;
}
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .rank-company .rank-money span,
.rank-wrapper .rank .rank-cont ul .rank-page dl .rank-dd .rank-company .rank-num span {
  color: #f60;
}
.rank-wrapper .rank .switchable-triggers {
  margin-top: 25px;
}
.rank-wrapper .rank .switchable-triggers li {
  *display: inline;
  *zoom: 1;
  margin: 0 7px;
  background-position: -4px -159px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("/images/production/easydata_old/sprite-easydata_old.PNG");
  cursor: pointer;
}
.rank-wrapper .rank .switchable-triggers li.current {
  margin-bottom: 2px;
  background-position: -4px -135px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("/images/production/easydata_old/sprite-easydata_old.PNG");
}
/*** rank-wrapper ***/
/*** module-layer弹窗 ***/
.mod-li2 {
  width: 486px;
  height: 174px;
  background-color: white;
  border-radius: 4px;
}
.mod-li2 .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-position: -4px -301px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("/images/production/easydata_old/sprite-easydata_old.PNG");
}
.mod-li2 .close-btn:hover {
  cursor: pointer;
}
.mod-li2 .mod-li2-cont {
  padding: 30px 20px;
}
.mod-li2 .mod-li2-cont .mod-li2-tit {
  color: #333;
  font-size: 20px;
}
.mod-li2 .mod-li2-cont .mod-li2-btngroup {
  margin-top: 30px;
}
.mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-export-btn {
  float: left;
  color: #ffffff;
  background-color: #ff6600;
  border-color: #ff6600;
  padding: 15px 35px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 4px;
}
.mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-export-btn:focus,
.mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-export-btn.focus {
  color: #ffffff;
  background-color: #ff751a;
  border-color: #ffb380;
}
.mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-export-btn:hover {
  color: #ffffff;
  background-color: #ff751a;
  border-color: #ff8b3d;
}
.mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-export-btn:active,
.mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-export-btn.active {
  color: #ffffff;
  background-color: #ff751a;
  border-color: #ff8b3d;
}
.mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-import-btn {
  float: right;
  color: #ffffff;
  background-color: #3ca1d7;
  border-color: #3ca1d7;
  padding: 15px 35px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 4px;
}
.mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-import-btn:focus,
.mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-import-btn.focus {
  color: #ffffff;
  background-color: #51abdb;
  border-color: #a6d4ed;
}
.mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-import-btn:hover {
  color: #ffffff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
.mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-import-btn:active,
.mod-li2 .mod-li2-cont .mod-li2-btngroup .mod-import-btn.active {
  color: #ffffff;
  background-color: #51abdb;
  border-color: #6fb9e1;
}
