.icon-yituangou-Registerandlogin {
  background-image: url("/images/production/yituangou/Registerandlogin/sprite-yituangou-Registerandlogin.PNG");
}
.zhuce-jindutiao {
  width: 906px;
  margin: 0 auto;
}
.zhuce-jindutiao p {
  float: left;
  text-align: center;
  color: #e5e5e5;
}
.zhuce-jindutiao p span {
  padding-top: 3px;
}
.zhuce-jindutiao .hongtiao {
  background-position: -4px -104px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 302px;
  height: 26px;
}
.zhuce-jindutiao .huitiao {
  background-position: -4px -172px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 302px;
  height: 26px;
}
.zhuce-jindutiao .hongyuan {
  background-position: -4px -138px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 302px;
  height: 26px;
}
.zhuce-jindutiao .huiyuan {
  background-position: -4px -206px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 302px;
  height: 26px;
}
.zhuce-wenzi {
  width: 906px;
  margin: 0 auto;
}
.zhuce-wenzi p {
  float: left;
  text-align: center;
  width: 302px;
  color: #cccccc;
  margin-top: 6px;
}
.zhuce-wenzi .dangqian {
  color: #c30d23;
}
