.icon-yituangou-Registerandlogin {
  background-image: url("/images/production/yituangou/Registerandlogin/sprite-yituangou-Registerandlogin.PNG");
}
.width-body {
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
}
.zhuce-logo a {
  margin: 16px 0 18px 8px;
  display: block;
}
.zhuce-yonghu a {
  float: left;
  font-size: 16px;
}
.zhuce-yonghu a span {
  margin-top: 12px;
  float: left;
}
.zhuce-yonghu a .icon-yituangou-Registerandlogin {
  margin-left: 253px;
  margin-right: 10px;
}
.zhuce-yonghu .dang-hong {
  color: #fff;
  background-position: -4px -240px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 595px;
  height: 49px;
}
.zhuce-yonghu .geren-bai {
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 18px;
  height: 17px;
}
.zhuce-yonghu .geren-hui {
  background-position: -4px -29px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 18px;
  height: 17px;
}
.zhuce-yonghu .dang-hui {
  color: #333;
  background-position: -4px -297px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 595px;
  height: 49px;
}
.zhuce-yonghu .qiye-hui {
  background-position: -4px -79px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 17px;
  height: 17px;
}
.zhuce-yonghu .qiye-bai {
  background-position: -4px -54px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 17px;
  height: 17px;
}
