@import '../../../sprite/yisheji/listdetails/sprite.less';
@import '../../../dev/mixins/mixins.less';
.listdetailsbox{
	width: 100%;
	margin: 0 auto;
	font-size: 62.5%;
	height: 100%;
	position: relative;
	.leftjiant{
		position: absolute;
		  background-image: url("/images/production/yisheji/listdetails/touming.png");
		width: 6%;
		top:0;
		left: 0;
	}
	.huaxing{
		margin:0 auto;
	}
	.rightjiant{
		left:76%;
		*left:76.0%;
		_left:77.1%;
	}
	.jiantou{

		.sprite(@leftfanye);
			margin: 0 auto;
			cursor:pointer;


	}
	.jiantou2{
		.sprite(@rightfanye);
		margin: 0 auto;
			cursor:pointer;


	}
	.guangbi{
		.sprite(@guanbu);
		top:0;
		right: 0;
		position: absolute;


	}
	.details_leftbox{
		background-color: #000;


	    height:auto;
		 background-color: #12151a;
		 overflow:hidden;

         width: 82%;


	}
	.details_rightbox{
		width: 18%;
		position: relative;
	 height: 926px;

		overflow: hidden;
		overflow-y:scroll;
	.huaxinginfor{
			width: 26%;
			height:32px;
			background-color: #508ce4;
			line-height: 32px;
			text-align: center;
			color: #fff;
			font-size: 1.8em;
		}
		.hongse{
			color:#fe6464;
		}
		h1{
			font-size: 2.4em;
			margin-left: 5%;
			margin-top: 20px;
			font-weight:normal;
			color:#000000;
		}
		.xiangqing{
			margin-left: 5%;
			font-size: 1.6em;
			color:#666666;
			margin-top: 20px;
		}
		.xiangqinggao{
			margin-top: 4px;
		}

		.gerenxingxi{
			width: 92%;
			border-top: 1px solid #d9d9d9;
			height: 78px;
			margin:0 auto;
			margin-top: 20px;
		    border-bottom: 1px solid #d9d9d9;
		    .imgbox{
		    	width: 50px;
		    	height: 50px;
		    	background-color: #000;
		    	margin-top: 14px;
		    	.border-radius(25px);
		    	overflow: hidden;
		    }
		    .tuqian{
		    	margin-top: -30px;
		    	margin-left: -30px;
		    }
		    .mingcheng{

		    	margin-top: 26px;
		    	margin-left: 10px;
		    		font-size: 1.6em;
		    }

		}
		 .tishi{
		 	margin:0 auto;
		    	margin-top: 30px;
		        color:#dc2b2b;
		        width: 80%;
		        height: 60px;
		        font-size: 1.5em;

		    }
		    .huangse{
		    	color: #f09e25;
		    }
		    .jiacu{
		    	font-weight: bold;
		    }
		    .lvse{
		    	color: #46c14f;
		    }

		    .annbox{
		    	 width: 90%;
		    	 margin:0 auto;
		    	 .ann{
		    	 	width: 30%;
		    	 	height: 30px;
		    	 	line-height: 30px;
		    	 	background-color:#5ab6ab;
		    	 	color:#fff;
		    	 	text-align: center;
		    	 	.border-radius(4px);
		    	 	font-size: 1.6em;
		    	 }
		    	 .annzhong{
		    	 	width: 50%;

		    }
		    .annchang{
		    	width: 60%;
		    }
		    	 .annjianju{
		    	 	margin-left: 10px;
		    	 }
		    	 .huiseann{
		    	 	background-color: #b1b1b1;
		    	 }
		    	 .hongann{
		    	 	background-color: #fd6464;
		    	 }
		    }
		    .xiangshititle{

		    	color: #000;
		    	font-size: 2.2em;
		    	width: 92%;
		    	margin:0 auto;
		    	margin-top: 60px;
		    	padding-bottom: 10px;
		    	border-bottom: 1px solid #d9d9d9;
		    }
		    .xiangshimianliao{
		    	width: 86%;
		    	margin: 0 auto;
		    	margin-top: 20px;
		    	.mianliaobox{
		    		width: 31%;
		    		*width:30.5%;
		    		height: 80px;
		    		background-color: #000;
		    		overflow: hidden;
		    	}
		    	.miaoliaobianju{
		    		margin-left: 3.5%;
		    	}
		    }
		    .mianliaoshangxia{
		    	margin-top: 10px;
		    }

	}

}