@import '../../../sprite/yijingjia/chengpingfabu/sprite.less';
@import '../jindutiao.less';
@import '../chengpinfabu/fabiao-zhiliang.less';

@import '../Radio.less';
.jiabor
{
    border: 1px solid #ccc;
}

.mian
{
    width: 1188px;
    margin: 0 auto;
    margin-top: 20px;
    .fabuann
    {
        padding-bottom: 56px;
        .button-jiesu
        {
            width: 200px;
            height: 40px;

            color: #fff;
            border: none;
            background-color: #c40e24;
        }
        .button-jiesuweiz
        {
            margin-left: 254px;
        }
        .button-jiesuweiz2
        {
            margin-left: 40px;
        }
    }
    .jibenxingxikuang
    {
        width: 1090px;
        margin: 0 auto;
        margin-top: 48px;
        .jibenxingxijuli
        {
            padding-bottom: 50px;
        }
        .jibenxingxi
        {
            float: left;

            width: 640px;
            dd
            {
                padding-bottom: 30px;
                .qita_input
                {
                    width: 200px;

                    vertical-align: middle;

                    _width: 182px;
                }
                .jingxian_butt
                {
                    margin-left: 20px;
                    padding: 6px 18px 6px 18px;

                    color: #fff;
                    border: 0;
                    background-color: #00a2c9;

                    _vertical-align: middle;
                }
                .yingxian_juli
                {
                    margin-left: 20px;
                }
                .yingxian_textjuli
                {
                    margin-right: 8px;
                }
                .wwishaweizhi
                {
                    margin-left: 20px;
                }
                
                .houqi_checkbox
                {
                    font-size: 14px;
                    line-height: 16px;

                    display: inline-block;

                    vertical-align: top;
                    .houqi_wenben
                    {
                        float: left;

                        width: 122px;

                        *width: 100px;
                    }
                    .qingfu
                    {
                        clear: left;
                    }
                    label
                    {
                        margin-bottom: 10px;
                    }
                    .qingjuli{
                        margin-bottom: 0;
                    }
                    input
                    {
                        vertical-align: middle;
                    }
                }
        
                .chengfeng_textbox
                {
                    font-size: 14px;
                    line-height: 16px;

                    display: inline-block;
                    margin-top: -4px;

                    vertical-align:top;

                    .chengfeng_text
                    {
                        float: left;

                        width: 122px;

                        *width: 110px;
                    }
                    .qingfu
                    {
                        clear: left;
                    }
                    label
                    {
                        margin-bottom: 10px;
                    }
                    .qingjuli{
                        margin-bottom: 0;
                    }
                    input
                    {
                         color:#999;
                        width:28px;
                         border:1px solid #cecece;
                         height: 28px;
                        vertical-align: middle;
                        line-height: 28px;
                    }
                }
                .shaxian
                {
                    display: inline-block;

                    vertical-align: middle;

                    *display: inline;
                    .shaxiankuangbox
                    {
                        line-height: 28px;

                        display: block;
                        float: left;

                        width: 28px;
                        margin-left: 6px;

                        border: 1px solid #ccc;
                        border-right: none;
                        .shangxian_tujianhaohui{
                             margin-left: 9px;
                            margin-top: 13px;
                            margin-bottom: 13px;
                            .sprite(@jianshao);
                        } .shangxian_tujianhaohong{
                             margin-left: 9px;
                            margin-top: 13px;
                            margin-bottom: 13px;
                            .sprite(@jianshao1);
                        }
                        .shangxian_tujiahaohong{
                             margin-left: 9px;
                            margin-top: 9px;
                            margin-bottom: 9px;
                            .sprite(@tianjia);
                        }
                        .shangxian_tujiahaohui{
                             margin-left: 9px;
                            margin-top: 9px;
                            margin-bottom: 9px;
                            .sprite(@tianjia1);
                        }
                     
                    }
                    .shaxiankuangbox2
                    {
                        margin-left: 0;

                        border: 1px solid #ccc;
                        border-left: none;
                     
                    }
                    p
                    {
                        line-height: 30px;

                        float: left;

                        width: 30px;

                        text-align: center;

                        color: #fff;
                        background-color: #00a2c9;
                    }
                }
                .menfu_xiala
                {
                    line-height: 32px;

                    width: 75px;
                    height: 32px;

                    text-align: center;

                    border: 1px solid #ccc;
                }
                .shangtuweizhi
                {
                    margin-left: 134px;
                    padding-top: 10px;
                }
                .button-xiayibu
                {
                    float: right;

                    width: 200px;
                    height: 40px;

                    color: #fff;
                    border: none;
                    background-color: #c40e24;

                    _vertical-align: middle;
                }
                .wenxing
                {
                    margin-left: 144px;
                    padding-top: 10px;

                    color: #c40e24;
                }
                .yanzheng
                {
                    margin-top: 6px;
                    margin-left: 144px;
                    img
                    {
                        display: inline-block;

                        margin-right: 2px;

                        vertical-align: bottom;
                    }
                }
                .qita_wenyu
                {
                    width: 490px;
                    height: 92px;

                    border: 1px solid #d6d6d6;
                }
                .xunzhao_butt
                {
                    width: 236px;
                    height: 30px;
                    margin-right: 20px;

                    color: #fff;
                    border: none;
                    background-color: #1d90bf;

                    _vertical-align: middle;
                }
                .inputtongyi
                {
                    line-height: 30px;

                    height: 30px;

                    border: 1px solid #d6d6d6;

                    _vertical-align: middle;
                }
                .input_weizhi
                {
                    margin-top: 30px;
                    margin-left: 146px;
                }
                .shul_input
                {
                    width: 100px;
                }
                .yanshi_input
                {
                    width: 488px;
                }
                .yanshi_butt
                {
                    width: 110px;
                    height: 30px;
                    margin-right: 20px;

                    color: #fff;
                    border: none;
                    background-color: #1d90bf;

                    _vertical-align: middle;
                }
                .yanshi_guige
                {
                    width: 100px;
                }
                .chenghao
                {
                    line-height: 30px;

                    height: 30px;
                    margin-right: 10px;
                    margin-left: 10px;
                }
                .title
                {
                    display: inline-block;

                    width: 136px;
                    padding-right: 10px;

                    text-align: right;

                    color: #333;

                    *display: inline;
                    *zoom: 1;
                    .suo-hong
                    {
                        margin-left: 2px;

                        .sprite(@hongsuo,inline-block);
                    }
                    .suo-hui
                    {
                        margin-left: 2px;

                        .sprite(@suo,inline-block);
                    }
                    a
                    {
                        margin-right: 4px;

                        color: #c40e24;
                    }
                }
            }
        }
        .tishi
        {
            float: left;

            padding-left: 66px;
            .shuoming
            {
                overflow: hidden;

                width: 100%;
                padding-bottom: 20px;
                .shuomingtu
                {
                    float: left;

                    .sprite(@tishi);
                }
                p
                {
                    line-height: 32px;

                    float: left;

                    height: 32px;
                    margin-left: 10px;

                    color: #c40e24;
                }
            }
            .tishiwenzi
            {
                line-height: 22px;

                width: 340px;
                .tishiwenzi-suohong
                {
                    margin-right: 4px;

                    .sprite(@hongsuo,inline-block);
                }
                .tishiwenzi-huihong
                {
                    margin-right: 4px;
                    margin-left: 2px;

                    .sprite(@suo,inline-block);
                }
            }
        }
    }
    .mianliao_quality
    {
        width: 908px;
        margin: 0 auto;
        padding-top: 34px;
        .wenzhi_quality
        {
            font-size: 14px;
            line-height: 16px;

            padding-bottom: 26px;

            color: #333;
            .quality_suo
            {
                margin-left: 4px;

                vertical-align: bottom;

                .sprite(@hongsuo,inline-block);
            }
        }
        .mianliao-xiayibu
        {
            float: left;

            width: 200px;
            height: 40px;
            margin-top: 30px;

            color: #fff;
            border: none;
            background-color: #c40e24;

            _vertical-align: middle;
        }
        .mianliao-xiayibu_juli
        {
            margin-left: 234px;
        }
        .mianliao-xiayibu_juli2
        {
            margin-left: 40px;
        }
        .mianliao_options2
        {
            width: 100%;
            height: 146px;
            padding-top: 12px;

            border-bottom: 1px dashed #bfbfbf;
            .category
            {
                margin-left: 18px;

                color: #333;
            }
        }
    }
}



.mianliao_jia
{
    padding-top: 20px;
    padding-left: 30px;
    .mianliao_title
    {
        font-size: 14px;

        padding-right: 14px;

        vertical-align: middle;
    }
    .mianliao_yanshi_input
    {
        line-height: 30px;

        width: 400px;
        height: 30px;

        vertical-align: middle;

        border: 1px solid #d6d6d6;
    }
    .title
    {
        font-size: 12px;

        padding-left: 26px;

        color: #c40e24;
    }
}
