.icon-VIP-common-index {
  background-image: url("/images/production/VIP/common/index/sprite-VIP-common-index.PNG");
}
.indexbox {
  width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 88px;
}
.indexbox .indexL {
  width: 600px;
}
.indexbox .indexR {
  width: 516px;
}
.indexbox .index_tit {
  font-size: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #d4d4d4;
  color: #333;
}
.indexbox .tit_bot {
  margin-top: 35px;
}
.indexbox .index_titN {
  border-bottom: none;
}
.indexbox .indexL_top {
  padding-bottom: 16px;
  border-bottom: #d4d4d4 1px solid;
}
.indexbox .area_tit,
.indexbox .area_num,
.indexbox .Company {
  text-align: center;
}
.indexbox .area {
  background-position: -4px -288px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 188px;
  height: 188px;
  background-image: url("/images/production/VIP/common/index/sprite-VIP-common-index.PNG");
  margin-top: 12px;
  margin-right: 18px;
}
.indexbox .arealast {
  margin-right: 0;
}
.indexbox .area_num {
  font-size: 30px;
  color: #ec8b00;
  margin-top: 7px;
}
.indexbox .Company {
  font-size: 13px;
  margin-top: 2px;
  color: #888;
}
.indexbox .area_tit {
  font-size: 16px;
  margin-top: 33px;
  color: #333;
}
.indexbox a.btn_blue {
  width: 110px;
  display: block;
  margin: 10px auto 0 auto;
  text-align: center;
  color: #ffffff;
  background-color: #38b5f8;
  border-color: #38b5f8;
  padding: 0 0;
  font-size: 14px;
  line-height: 24px;
  border-radius: 40px;
}
.indexbox a.btn_blue:focus,
.indexbox a.btn_blue.focus {
  color: #ffffff;
  background-color: #51bef9;
  border-color: #b3e3fc;
}
.indexbox a.btn_blue:hover {
  color: #ffffff;
  background-color: #51bef9;
  border-color: #73cbfa;
}
.indexbox a.btn_blue:active,
.indexbox a.btn_blue.active {
  color: #ffffff;
  background-color: #51bef9;
  border-color: #73cbfa;
}
.indexbox .indexR_top {
  border-bottom: #d4d4d4 1px solid;
}
.indexbox .tool {
  width: 86px;
  font-size: 13px;
  line-height: 32px;
  margin: 21px 43px 0 0;
  padding-bottom: 15px;
}
.indexbox .tool a {
  color: #333;
}
.indexbox .tool span {
  display: block;
  text-align: center;
}
.indexbox .toolicon {
  margin: 0 auto;
}
.indexL_bot .progressbar_s {
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 599px;
  height: 6px;
  background-image: url("/images/production/VIP/common/index/sprite-VIP-common-index.PNG");
}
.indexL_bot .progressbar_s i {
  background-position: -4px -18px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 599px;
  height: 6px;
  background-image: url("/images/production/VIP/common/index/sprite-VIP-common-index.PNG");
}
.indexL_bot .num_red {
  color: #ff0000;
  font-size: 14px;
}
.indexL_bot .safty {
  font-size: 13px;
  line-height: 32px;
  margin: 5px 10px 0 0;
  padding-top: 10px;
}
.indexL_bot .safty .safty_a {
  width: 72px;
  color: #333;
}
.indexL_bot .safty span {
  display: block;
  text-align: center;
}
.indexL_bot .safty .words {
  font-size: 14px;
  color: #333;
  line-height: 24px;
  width: 153px;
  padding: 2px 0 2px 10px;
  margin-top: 10px;
  border-left: #e5e5e5 1px solid;
}
.indexL_bot .safty_cur {
  width: 354px;
  background-color: #fff;
}
.indexL_bot .safty_last {
  margin-right: 0;
}
.indexL_bot .operation {
  margin: 5px 10px 0 0;
  line-height: 30px;
  font-size: 16px;
  text-align: right;
  width: 75px;
}
.indexL_bot .alreadySet i {
  margin: 9px 4px 0 0;
  background-position: -4px -32px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/production/VIP/common/index/sprite-VIP-common-index.PNG");
}
.indexL_bot .alreadySet a {
  color: #14b610;
}
.indexL_bot .modify a {
  color: #fc2e2e;
}
.indexL_bot .phone_s {
  margin: 0 auto;
  background-position: -4px -172px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("/images/production/VIP/common/index/sprite-VIP-common-index.PNG");
}
.indexL_bot .realname_s {
  margin: 0 auto;
  background-position: -4px -230px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("/images/production/VIP/common/index/sprite-VIP-common-index.PNG");
}
.indexL_bot .mailbox_s {
  margin: 0 auto;
  background-position: -4px -56px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("/images/production/VIP/common/index/sprite-VIP-common-index.PNG");
}
.indexL_bot .password_s {
  margin: 0 auto;
  background-position: -4px -114px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("/images/production/VIP/common/index/sprite-VIP-common-index.PNG");
}
