.icon-VIP-common-nav {
  background-image: url("/images/production/VIP/common/nav/sprite-VIP-common-nav.PNG");
}
.navbox {
  background-color: #303745;
}
.navbox .nav {
  font-size: 16px;
  width: 1200px;
  margin: 0 auto;
}
.navL {
  width: 326px;
  height: 100px;
  background-color: #4a7bc4;
}
.navL .headPorbox {
  display: inline;
  margin: 10px 10px 0 20px;
}
.navL .username {
  color: #fff;
  margin-top: 40px;
}
.navL .username a.btn_formap {
  margin-top: 10px;
  color: #ffffff;
  background-color: #e85d40;
  border-color: #e85d40;
  padding: 0 5px;
  font-size: 12px;
  line-height: 24px;
  border-radius: 3px;
}
.navL .username a.btn_formap:focus,
.navL .username a.btn_formap.focus {
  color: #ffffff;
  background-color: #eb7057;
  border-color: #f6beb2;
}
.navL .username a.btn_formap:hover {
  color: #ffffff;
  background-color: #eb7057;
  border-color: #ef8b77;
}
.navL .username a.btn_formap:active,
.navL .username a.btn_formap.active {
  color: #ffffff;
  background-color: #eb7057;
  border-color: #ef8b77;
}
.navL .returnbtn {
  width: 112px;
  margin: 35px 0 0 24px;
  text-align: center;
  color: #ffffff;
  background-color: #e85d40;
  border-color: #e85d40;
  padding: 0 0;
  font-size: 16px;
  line-height: 30px;
  border-radius: 4px;
}
.navL .returnbtn:focus,
.navL .returnbtn.focus {
  color: #ffffff;
  background-color: #eb7057;
  border-color: #f6beb2;
}
.navL .returnbtn:hover {
  color: #ffffff;
  background-color: #eb7057;
  border-color: #ef8b77;
}
.navL .returnbtn:active,
.navL .returnbtn.active {
  color: #ffffff;
  background-color: #eb7057;
  border-color: #ef8b77;
}
.navR {
  line-height: 100px;
  color: #fff;
}
.navR a {
  color: #fff;
}
.navR .navmar {
  margin-left: 100px;
}
.navR .navmar_fir {
  margin-left: 87px;
}
.navR .newsRedbox {
  position: relative;
}
.navR .newsRed {
  font-size: 13px;
  line-height: 24px;
  position: absolute;
  top: 20px;
  right: -18px;
  text-align: center;
  background-position: -4px -69px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("/images/production/VIP/common/nav/sprite-VIP-common-nav.PNG");
}
.navR .zhiti_13 {
  font-size: 13px;
}
.headPor {
  position: relative;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
}
