.icon-VIP-common-top {
  background-image: url("/images/production/VIP/common/top/sprite-VIP-common-top.PNG");
}
.header-top {
  height: 32px;
  width: 100%;
  background: #303845;
}
.header-top .header-top-wrap {
  height: 32px;
  width: 1200px;
  margin: 0 auto;
}
.header-top .header-top-wrap a {
  line-height: 32px;
  color: #fff;
  font-size: 12px;
}
.header-top .header-top-wrap a:hover {
  color: #3ca1d7;
}
.header-top .header-top-wrap .user {
  float: left;
}
.header-top .header-top-wrap .user .login,
.header-top .header-top-wrap .user .vip-ser {
  float: left;
  margin-right: 30px;
}
.header-top .header-top-wrap .user .login {
  margin-left: -10px;
}
.header-top .header-top-wrap .user .login a {
  margin-left: 10px;
}
.header-top .header-top-wrap .user .vip-ser {
  padding: 4px 10px;
  line-height: 12px;
  background: #f60;
  margin: 5px 30px 5px 0;
  border-radius: 4px;
}
.header-top .header-top-wrap .user .vip-ser:hover {
  color: #fff;
}
.header-top .header-top-wrap .user span.vip,
.header-top .header-top-wrap .user span.service {
  margin-right: 5px;
  background-image: url("/images/production/VIP/common/top/sprite-VIP-common-top.PNG");
}
.header-top .header-top-wrap .user span.vip {
  background-position: -4px -44px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 12px;
  height: 12px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata/icon-vip.png");
  _background: none;
}
.header-top .header-top-wrap .user span.service {
  background-position: -4px -24px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 12px;
  height: 12px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata/icon-ser.png");
  _background: none;
}
.header-top .header-top-wrap .menu {
  width: 468px;
  height: 32px;
  float: right;
}
.header-top .header-top-wrap .menu a {
  margin-left: 30px;
}
.header-top .header-top-wrap .menu a span {
  margin-right: 5px;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("/images/production/VIP/common/top/sprite-VIP-common-top.PNG");
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/images/icon/easydata/icon-download.png");
  _background: none;
}
.header-top .header-top-wrap .menu a i {
  margin-left: 5px;
  position: relative;
  top: -3px;
  margin-right: 6px;
  margin-left: 3px;
  border: solid 1px rgba(0, 0, 0, 0);
  border-width: 4px 4px 0;
  border-top-color: #fff;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  _border-color: #000;
  _filter: chroma(color=black);
}
.header-top .header-top-wrap .menu a.tri:hover i {
  border: solid 1px rgba(0, 0, 0, 0);
  border-width: 4px 4px 0;
  border-top-color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  _border-color: #fff;
  _filter: chroma(color=white);
}
.header-top {
  background: #303845;
}
