/*正文字体*/
body {
  font-family: '微软雅黑';
  font-size: 13px;
  color: #666;
}
/*页面宽度*/
.width-body {
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.rg {
  float: right !important;
}
.lf {
  float: left !important;
}
.none {
  display: none ;
}
.block {
  display: block ;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.ta-c {
  text-align: center;
}
.hidden {
  display: none ;
}
.icon-yijingjia-Registerandlogin {
  background-image: url("/images/production/yijingjia/Registerandlogin/sprite-yijingjia-Registerandlogin.PNG");
}
.zhuce-logo a {
  margin: 16px 0 18px 8px;
  display: block;
}
.zhuce-yonghu a {
  float: left;
  font-size: 16px;
}
.zhuce-yonghu a span {
  margin-top: 12px;
  float: left;
}
.zhuce-yonghu a .icon-yijingjia-Registerandlogin {
  margin-left: 253px;
  margin-right: 10px;
}
.zhuce-yonghu .dang-hong {
  color: #fff;
  background-position: -4px -240px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 595px;
  height: 49px;
}
.zhuce-yonghu .geren-bai {
  background-position: -4px -4px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 18px;
  height: 17px;
}
.zhuce-yonghu .geren-hui {
  background-position: -4px -29px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 18px;
  height: 17px;
}
.zhuce-yonghu .dang-hui {
  color: #333;
  background-position: -4px -297px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 595px;
  height: 49px;
}
.zhuce-yonghu .qiye-hui {
  background-position: -4px -79px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 17px;
  height: 17px;
}
.zhuce-yonghu .qiye-bai {
  background-position: -4px -54px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 17px;
  height: 17px;
}
.zhuce-jindutiao {
  width: 906px;
  margin: 0 auto;
}
.zhuce-jindutiao p {
  float: left;
  text-align: center;
  color: #e5e5e5;
}
.zhuce-jindutiao p span {
  padding-top: 3px;
}
.zhuce-jindutiao .hongtiao {
  background-position: -4px -104px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 302px;
  height: 26px;
}
.zhuce-jindutiao .huitiao {
  background-position: -4px -172px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 302px;
  height: 26px;
}
.zhuce-jindutiao .hongyuan {
  background-position: -4px -138px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 302px;
  height: 26px;
}
.zhuce-jindutiao .huiyuan {
  background-position: -4px -206px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 302px;
  height: 26px;
}
.zhuce-wenzi {
  width: 906px;
  margin: 0 auto;
}
.zhuce-wenzi p {
  float: left;
  text-align: center;
  width: 302px;
  color: #cccccc;
  margin-top: 6px;
}
.zhuce-wenzi .dangqian {
  color: #c30d23;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.wrapweizhi {
  margin-top: 30px;
  margin-left: 10px;
}
.zhuchu_shengfengweizhi {
  margin-top: 8px;
}
.zhuchu_shengfengweizhi2 {
  margin-top: 12px;
}
.zhuti {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 13px;
  vertical-align: middle;
}
#wrap {
  font-size: 14px;
  color: #666666;
  line-height: 16px;
}
#wrap label {
  cursor: pointer;
}
#wrap .shuru {
  line-height: 16px;
  margin-left: 24px;
  margin-right: 10px;
}
#wrap .clear {
  line-height: 0;
  display: block;
  clear: both;
  height: 0;
}
#wrap label.radio .holder {
  height: 62px;
  background: url("/images/production/yijingjia/radio.gif") 0 -1px no-repeat;
}
#wrap label.checked .holder {
  top: -42px !important;
}
#wrap label.checked:hover .holder {
  top: -42px !important;
}
#wrap label.list {
  float: left;
  clear: left;
  margin: 0 0 5px 0;
}
#wrap label.inline {
  float: left;
  margin: 0 10px 0 22px;
}
#wrap input.hiddenCheckbox {
  position: absolute;
  left: -10000px;
}
#wrap label.prettyCheckbox .holderWrap {
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
  margin-right: 5px;
}
#wrap label.prettyCheckbox .holder {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.zhuce-jin {
  margin-top: 37px;
  margin-bottom: 43px;
}
.gerenyonghubox {
  width: 906px;
  margin: 0 auto;
}
.gerenyonghubox .gerenyonghu_buttstyle {
  display: block;
  width: 144px;
  height: 40px;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.gerenyonghubox .gerenyonghubox_left {
  float: left;
  width: 678px;
}
.gerenyonghubox .gerenyonghubox_left .register_information {
  font-size: 14px;
}
.gerenyonghubox .gerenyonghubox_left .register_information li {
  line-height: 38px;
  margin-bottom: 15px;
  list-style: none;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .shengfengzheng {
  float: left;
  border: 1px solid #d6d6d6;
  padding-bottom: 10px;
  text-align: center;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .shengfengzheng img {
  padding-top: 20px;
  padding-left: 45px;
  padding-right: 44px;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .qiyeleixing {
  padding-top: 8px;
  line-height: 24px;
  padding-bottom: 6px;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .qiyeleixing input {
  vertical-align: middle;
  margin-right: 8px;
  width: 16px;
  height: 16px;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .qiyeleixing .input_leftjuli {
  margin-left: 10px;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .butt_xiayibu {
  float: left;
  margin-left: 100px;
  text-align: center;
  color: #fff;
  background-color: #ccc;
  _margin-left: 50px;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .butt_wangcheng {
  margin-left: 38px;
  background-color: #c30d23;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .butt_juli {
  margin-top: 40px;
  margin-left: 170px;
  _margin-left: 85px;
  background-color: #c30d23;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .security_level {
  margin-left: 100px;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .security_style {
  line-height: 18px;
  width: 108px;
  text-align: center;
  color: #fff;
  background-color: #a9d925;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .security_color {
  background-color: #c30d23;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .security_jiange {
  margin-left: 1px;
}
.gerenyonghubox .gerenyonghubox_left .register_information li span {
  float: left;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .input_yanshi {
  line-height: 36px;
  float: left;
  width: 324px;
  height: 36px;
  color: #c9c9c9;
  border: 1px solid #d6d6d6;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .treaty {
  font-size: 12px;
  line-height: 14px;
  margin-top: 14px;
  margin-left: 100px;
  color: #4c4c4c;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .treaty input {
  margin-right: 4px;
  vertical-align: top;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .treaty .treaty_color {
  float: none;
  color: #122a88;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .information_title {
  width: 80px;
  padding-right: 20px;
  text-align: right;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .information_title input {
  margin-right: 2px;
  vertical-align: middle;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .information_title2 {
  width: 90px;
  padding-right: 20px;
  text-align: right;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .information_title2 input {
  margin-right: 2px;
  vertical-align: middle;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .yanzhengtishi {
  font-size: 12px;
  line-height: 38px;
  height: 38px;
  margin-left: 10px;
  color: #b2b2b2;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .yanzhengtishi img {
  float: left;
  margin-top: 10px;
  margin-right: 6px;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .yanzhengtishi p {
  float: left;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .input_yanzhengma {
  width: 112px;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .butt_yanzhengma {
  margin-left: 10px;
  text-align: center;
  color: #565656;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .youjian {
  color: #122a88;
}
.gerenyonghubox .gerenyonghubox_left .register_information li .huo {
  margin-right: 4px;
  margin-left: 10px;
}
.gerenyonghubox .gerenyonghubox_right {
  float: right;
  width: 208px;
}
.gerenyonghubox .gerenyonghubox_right .yishihuiyuan {
  font-size: 16px;
  margin-top: 114px;
  color: #4f4f4f;
}
.gerenyonghubox .gerenyonghubox_right .butt_liji {
  text-align: center;
  color: #fff;
  background-color: #c30d23;
  line-height: 38px;
  margin-top: 12px;
}
.gerenyonghubox .gerenyonghubox_right p {
  margin-top: 8px;
  font-size: 14px;
  line-height: 16px;
  color: #565656;
}
.gerenyonghubox .gerenyonghubox_right .jibentianjian {
  margin-top: 8px;
  font-size: 14px;
  line-height: 16px;
  color: #565656;
}
.gerenyonghubox .gerenyonghubox_right .color {
  color: #c30d23;
}
