@undock: -4px -4px 8px 8px;
@hiddenmore: -4px -20px 11px 10px;
@showmore: -4px -38px 11px 10px;
@sortblue: -4px -56px 6px 10px;
@sortgray: -4px -74px 6px 10px;
@searchgray: -4px -92px 14px 14px;
@btn_close: -4px -114px 16px 16px;
@circleblue: -4px -138px 24px 24px;
@circlegray: -4px -170px 24px 24px;

.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite(@sprite, @display:block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

.icon-easyPricing-pricing {
  background-image: url('/images/production/easyPricing/pricing/sprite-easyPricing-pricing.png');
}
