
@import '../../../../dev/mixins/mixins.less';

@import '../../../../sprite/VIP/easyPricing/sprite.less';

.main_box{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 70px;
  .company-info-box{
    margin: 40px auto 70px;
    width:1100px;
    height:370px;
    padding: 30px 50px;
    background-color: #fff;
    color: #333;
    position: relative;

    .border-radius(4px);
    .box-shadow(0px 0px 7px 7px #eee);

    .company-name{
      font-size: 24px;
    }
    .company-info{
      font-size: 14px;
      line-height: 35px;
    }
    .money-num{
      font-size: 62px;
      color: #f60;
    }
    .company-loc{
      position: absolute;
      top: 30px;
      right: 20px;
      span{
        float:left;
        margin-top: 3px;
        margin-right: 7px;
        .sprite(@location);
        .icon-VIP-easyPricing;
      }
    }
    .company-sites{
      position: absolute;
      top: 70px;
      right: 20px;
      span{
        float:left;
        margin-top: 3px;
        margin-right: 10px;
        .sprite(@sites);
        .icon-VIP-easyPricing;
      }
      a{
        color: #333;
      }
    }
  }
}