
@import '../../../../dev/mixins/mixins.less';

.styleinfbox
{
    width: 814px;
    margin-top: 20px;
    padding: 10px 20px;
    position: relative;
    background-color: #fff;

    .title_te
    {
        font-size: 20px;
        line-height: 24px;

        color: #333;
    }
    .conbutt_box{
        margin-left: 20px;
    }
    .title_butt,
    .title_butt2
    {
        display: block;
        width: 96px;
        line-height: 30px;
        text-align: center;
        font-size: 16px;

        color: #3ca1d7;
        border: 1px solid #3ca1d7;

        .border-radius(3px);
    }
    .title_butt2
    {
        margin-top: 10px;

        color: #f8210c;
        border: 1px solid #f8210c;
    }
    .title_butt:hover
    {
        color: #fff;
        background-color: #3ca1d7;
    }
    .title_butt2:hover
    {
        color: #fff;
        background-color: #f8210c;
    }

    .inf_box
    {
        margin-top: 12px;
        .con_box
        {
            font-size: 14px;
            width: 695px;
            *width:696px;
            border-right: #eeeeee 1px solid;
            li
            {
                line-height: 28px;

                width: 31.3%;
                padding-right: 2%;
                span
                {
                    font-size: 16px;
                    color: #333;
                }
                .or_color{
                    color: #f79226;
                }
            }
            .long_li
            {
                width: 100%;
            }
        }
    }
}
