@import '../../../dev/mixins/mixins.less';
@import '../../../sprite/yijingjia/denglu/sprite.less';
.waikuang
{
    overflow: hidden;

    width: 200px;
    margin-top: 22px;

    border: 1px solid #d5d5d5;
    .likuang1
    {
        overflow: hidden;

        padding-bottom: 7px;

        border-bottom: 1px solid #d5d5d5;
        background-color: #fff;

        widht: 100%;
        _height: 51px;
        .tuxiang
        {
            float: left;

            margin: 7px 0 0 14px;

            _margin-left: 7px;
        }
        .welcome
        {
            float: left;
            overflow: hidden;

            width: 50%;
            margin-top: 8px;
            margin-left: 18px;
            .welcome-wenhou
            {
                color: #666;
            }
            .welcome-laidao
            {
                color: #a8a8a8;
            }
        }
    }
    .likuang2
    {
        overflow: hidden;

        width: 100%;

        background-color: #eeeced;
        .dengl
        {
            float: left;

            width: 50%;
            height: 30px;

            border-right: 1px solid #d5d5d5;

            cursor:pointer ;
            .dengl-weizhi
            {
                float: left;

                margin-top: 7px;
                margin-left: 25px;

                _margin-left: 13px;
                 .sprite(@denglu1);
                      }
          
            .wenz
            {
                line-height: 30px;

                float: left;

                height: 30px;
                margin-left: 5px;

                color: #222;
            }
        }
        .chuc
        {
            float: left;

            width: 48%;
              cursor: pointer ;
            .chuc-weizhi
            {
                float: left;

                margin-top: 7px;
                margin-left: 10px;

                _margin-left: 5px;
                .sprite(@zhuche);
       
            }
            .wenz
            {
                line-height: 30px;

                float: left;

                height: 30px;
                margin-left: 5px;

                color: #222;
            }
        }
        .tuichu
        {
            float: left;

            width: 50%;
            height: 30px;

            border-right: 1px solid #d5d5d5;
            .dengl-weizhi
            {
                float: left;

                margin-top: 7px;
                margin-left: 25px;

                _margin-left: 13px;
                 .sprite(@guanbi);
 
            }
          
            .wenz
            {
                line-height: 30px;

                float: left;

                height: 30px;
                margin-left: 5px;

                color: #222;
            }
        }
        .huiyuan
        {
            float: left;

            width: 48%;
            .chuc-weizhi
            {
                float: left;

                margin-top: 13px;
                margin-left: 4px;

                _margin-left: 5px;
                .sprite(@huiyuan-xiala);
        
            }
            .wenz
            {
                
                line-height: 30px;

                float: left;

                height: 30px;
                margin-left: 14px;
                _margin-left: 7px;
                color: #222;
            }
        }

    }
}
