@import '../../../dev/mixins/mixins.less';
.dingbutop
{
    overflow: hidden;

    border-bottom: 1px solid #e1e1e1;

    a:visited
    {
        color: #666;
    }
        a:active
        {
            color: #666;
        }
            a:link
            {
                color: #666;
            }
                a:hover
                {
                    color: #666;
                }

                    width: 100%;
    .topbox
    {
        overflow: hidden;

        
        margin: 0 auto;
        p
        {
            line-height: 32px;

            float: left;

            colror: #656565;

            a{
            	font-weight: bold;
            	color: #c40e24;
            }
            span{
            	margin-left: 8px;
            	color: #c40e24;
            }
        }
        ul
        {
        	margin-left:48%;
        	margin-right: 22px;
        	_margin-left:390px;
                	float: left;
            line-height: 32px;
            li
            {
                float: left;
                a{
                	float: left;
                }
           span{
           	display: block;
           	padding-left: 10px;
           	padding-right: 10px;
           	float: left;
           }
            }
        }
    }
}
