@import '../../../../less/dev/mixins/mixins.less';
@import '../../../sprite/easydata/priceDet/sprite.less';
.tablebox{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
   .border-radius(4px);
   background-color: #fff;
  .table_cont{
    width: 1160px;
    margin: 0px auto 0 auto;
    padding-top: 30px;
  }

  .tab_tit{
    font-size: 18px;
    color:#000;
  }
  .Margins{
    margin-top: 30px;

  }
  .tab_unit,.Spread_text{
    font-size: 14px;
    line-height: 20px;
    color: #888;
  }
  .Spread_text{
    width: 72px;
    margin-left: 20px;
    color:#3ca1d7;
  }
  //




  //
  .pricechangesbox{
       border-left: 1px solid #cccccc;
    border-top:1px solid #cccccc;
    font-size: 14px;
    color:#333;
    line-height: 48px;
    width: 1159px;
  }
  //**出口价格每年的月度变化
  .vertical{
    background-color: #f2f3f5;
    font-size: 16px;
  }
  .vert_data{
    font-size: 14px;
  }
  .vert_data:nth-child(odd){
    background: #f8f8f8;
  }
  .impor_year,
  .impor_name,
  .impor_decrease,
  .impor_namesub,
  .impor_decreasesub,
  .sales_year,
  .sales_yearnum,
  .supp_name,
  .supp_year,
  .supp_nameval{
    text-align: center;
    border-right:  1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
  }

  //
  .impor_namesub,.impor_decreasesub,.supp_nameval{
    text-align: left;
  }
  .impor_year{
    width: 90px;
  }

  .impor_name{
    width: 585px;
  }
  .impor_decrease{
    width: 240px;
  }

  .impor_namesub{
    width: 565px;
    padding-left: 20px;
    position: relative;
    a.open{
      position: absolute;
      top: 12px;
      right: 0;
      display: block;
      width: 40px;
      line-height: 24px;
      text-align: center;
      color: #2371c8;
      background-color: #fff;
    }
    a.stop{
      position: absolute;
      bottom: 12px;
      right: 0;
      display: block;
      width: 40px;
      line-height: 24px;
      text-align: center;
      color: #2371c8;
      background-color: #fff;
    }
  }
  .impor_decreasesub{
    width: 220px;
    padding-left: 20px;
  }
  //连续6年产品出口变化情况（与上一年增减比较）



  //

  .supp_name{
    width: 282px;
  }
  .supp_nameval{
    width: 262px;
    padding-left: 20px;

  }
  .supp_year{
    width: 145px;
  }
  //连续6年向采购商销售总额变化情况

  //

  .sales_year{
    width: 162px;
  }
  .sales_yearnum{
    width: 165px;
  }
  .Spread{
    margin:6px 0 0 6px;
    .sprite(@Spread);
    .icon-easydata-priceDet;
    .fixIe6pngTransparent('/images/icon/easydata/priceDet/Spread.png');
  }

  //连续6年所有产品销售总额变化情况



  // 链接
  .link00{
    color: #333;
  }
}