/* kujiale | 2014-09-18 */
.custom-scrollbar::-webkit-scrollbar {
	margin-right: 5px;
	width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgba(0,0,0,.15);
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.5);
}

.z-detail-view #lb-other-pic,.z-side-on span.z-on-txt {
	display: none;
}

.z-qt-reply p.ipt-opt,.z-lb-fullscreen .lb-side-switch,.z-detail-view .lb-crumb,.z-side-on span.z-off-txt {
	display: block;
}

.lb-fullscreen,.ctrl-item,#lb-pic-opt,.pic-cmt {
	display: none\9;
	opacity: 0;
}

.z-main-hover .lb-fullscreen,.z-main-hover .ctrl-item,.z-main-hover #lb-pic-opt,.z-piccmt-on .z-main-hover .pic-cmt {
	display: block\9;
	opacity: 1;
	-webkit-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}

#lb-info,#lb-author,#lb-other-pic,#lb-favor,.lb-question {
	padding: 20px;
}

#lb-info,#lb-other-pic,#lb-favor,.lb-question p{
    text-align: left;
}

#lb-author
{
    text-align: center;
    }
#lb-side-tt,#lb-info,#lb-author,#lb-other-pic,#lb-favor,.lb-qt-bd .answer-list li {
	border-bottom: 1px solid #eee;
}

#lb-author .avatar:hover .name,#lb-other-pic .pic-tt a:hover,.favor-item .favor-ideabook:hover,.lb-qt-item .qt-author a:hover {
	text-decoration: underline;
}

.favor-item .favor-author img,.lb-rec-pic .rec-pic-list li img {
	width: 100%;
}

#lightbox {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
	font: 12px/1.5 Tahoma,Arial,'Lucida Grande','Hiragino Sans GB','Microsoft YaHei',\5b8b\4f53,sans-serif;
    color: #444;
    background: #f2f2f2;
}
#lightbox ul, ol {
    padding-left: 0;
    list-style: none;
}
#lightbox ul li.resembleLi {
     float: left;
    margin: 20px 10px 0px 16px;
}#lightbox ul li div{
   width:110px;
   height:100px
}
#lightbox .iconfont {
    font-family: global-iconfont!important;
    font-size: 16px;
    font-style: normal;
    vertical-align: bottom;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscaleFont type;
}
#lightbox h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, form, button, input, select {
    margin: 0;
}

.lb-main {
	position: relative;
	margin-right: 340px;
	height: 100%;
	background-color: #333;
}

.lb-picture {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	text-align: center;
}

.lb-picture img,#lb-other-pic li img {
	height: 100%;
}

.lb-picture .pic-cmtwp {
	width: 100%;
	height: 100%;
}

.lb-crumb {
	position: absolute;
	top: 20px;
	left: 20px;
	display: none;
	width: 280px;
	border: 2px solid #ccc;
	background-color: #fff;
	opacity: .9;
	filter: alpha(opacity=90);
}

.lb-crumb:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.lb-crumb .arrow {
	float: left;
	width: 30px;
	height: 60px;
	background: url(/static/images/KPM3MBCDM5CUGJLYABAQAAAA_400x400.png) no-repeat 0 -140px;
	_background: url(/static/images/KPPUPAKDM5CUGA47ABAQAAAA_400x400.png) no-repeat 0 -140px;
}

.lb-crumb .tt {
	float: left;
	display: inline;
	overflow: hidden;
	margin: 0 5px;
	height: 60px;
	max-width: 150px;
	color: #333;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	line-height: 60px;
}

.lb-crumb .thumb {
	float: right;
	width: 60px;
	height: 60px;
}

.lb-fullscreen {
	position: absolute;
	top: 20px;
	right: 30px;
	z-index: 100;
	width: 40px;
	height: 40px;
	border-radius: 2px;
	background: rgba(0,0,0,.4) url(/static/images/KPM3MBCDM5CUGJLYABAQAAAA_400x400.png) 2px 2px;
	_background: rgba(0,0,0,.4) url(/static/images/KPPUPAKDM5CUGA47ABAQAAAA_400x400.png) 2px 2px;
}

.z-lb-fullscreen .lb-fullscreen {
	background-position: -28px 2px;
}

.lb-fullscreen:hover {
	background-color: #38c;
}

.lb-pic-ctrl {
	width: 100%;
	height: 100%;
}

.lb-pic-ctrl .ctrl-item {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	padding: 10px 20px;
	width: 20px;
	height: 40px;
	background: url(/static/images/KPM3MBCDM5CUGJLYABAQAAAA_400x400.png) no-repeat;
	background-color: rgba(0,0,0,.2);
	text-indent: -9999px;
	font-size: 0;
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#33000000', endColorstr='#33000000');
	_background: url(/static/images/KPPUPAKDM5CUGA47ABAQAAAA_400x400.png) no-repeat;
}

.lb-pic-ctrl .ctrl-item:hover {
	background-color: rgba(0,0,0,.5);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#7F000000', endColorstr='#7F000000');
}

.lb-pic-ctrl .ctrl-prev {
	left: 70px;
	background-position: 10px -30px;
}

.lb-pic-ctrl .ctrl-prev:hover {
	background-position: 10px -90px;
}

.lb-pic-ctrl .ctrl-next {
	right: 70px;
	background-position: -40px -30px;
}

.lb-pic-ctrl .ctrl-next:hover {
	background-position: -40px -90px;
}

#lb-pic-opt {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
}

#lb-pic-opt .opt-overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .5;
	filter: alpha(opacity=50);
}

#lb-pic-opt .opt-1 {
	position: relative;
	z-index: 10;
	margin-top: 15px;
	text-align: center;
}

#lb-pic-opt .opt-1 a {
	display: inline-block;
	margin-right: 5px;
	padding: 0 10px;
	height: 30px;
	border-radius: 2px;
	background-color: #f40;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	line-height: 30px;
	*display: inline;
	*zoom: 1;
}

#lb-pic-opt .opt-1 a:hover {
	background-color: #ff2600;
}

#lb-pic-opt .opt-1 .iconfont {
	margin-right: 5px;
	color: #fff;
}

#lb-pic-opt .opt-2 {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 10;
	width: 300px;
}

#lb-pic-opt .opt-2 li {
	float: left;
}

#lb-pic-opt .opt-2 .bt {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 2px;
	background-color: #666;
	background-image: url(/static/images/KPM3MBCDM5CUGJLYABAQAAAA_400x400.png);
	text-indent: -9999px;
	_background-image: url(/static/images/KPPUPAKDM5CUGA47ABAQAAAA_400x400.png);
}

#lb-pic-opt .opt-21 {
	float: left;
}

#lb-pic-opt .opt-22 {
	float: right;
}

#lb-pic-opt .opt-21 .bt {
	margin-right: 10px;
	text-indent: -9999px;
}

#lb-pic-opt .opt-22 .bt {
	margin: 0;
	margin-left: 10px;
	padding: 0;
}

#lb-pic-opt .opt-2 .bt-211 {
	background-position: -183px -152px;
}

.z-piccmt-on #lb-pic-opt .bt-211 {
	background-color: #37b5f9;
	background-position: -183px -183px;
}

#lb-pic-opt .opt-2 .bt-212 {
	background-position: -63px -1px;
}

#lb-pic-opt .opt-2 .bt-212:hover {
	background-color: #37b5f9;
}

#lb-pic-opt .bt-221 {
	background-position: -174px -5px;
}

#lb-pic-opt .bt-222 {
	background-position: -175px -35px;
}

#lb-pic-opt .bt-223 {
	background-position: -173px -64px;
}

#lb-pic-opt .bt-224 {
	background-position: -173px -92px;
}

#lb-pic-opt .bt-221:hover {
	background-color: #ec9b10;
}

#lb-pic-opt .bt-222:hover {
	background-color: #de0202;
}

#lb-pic-opt .bt-223:hover {
	background-color: #37b5f9;
}

#lb-pic-opt .bt-224:hover {
	background-color: #00c666;
}

.lb-side {
	position: absolute;
	top: 0;
	right: 0;
	width: 340px;
	background-color: #fff;
}

#lb-side-tt {
	padding: 10px 20px;
}

.lb-side-cnt {
	position: relative;
	overflow: auto;
}

#lb-side-tt .logo-s {
	font-size: 0;
}

#lb-side-tt .lb-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 38px;
	background-color: #f9f9f9;
	color: #999;
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	font-size: 30px;
	line-height: 38px;
}

#lb-side-tt .lb-close:hover {
	background-color: #f2f2f2;
	color: #333;
}

#lb-info h3 {
	font-weight: 400;
	font-size: 20px;
}

#lb-info .pic-index {
	margin: 10px auto;
}

#lb-info .desc {
	margin-top: 10px;
	font-size: 14px;
}

#lb-author .avatar {
	display: block;
	height: 30px;
	line-height: 30px;
}

#lb-author .avatar img {
	float: left;
	margin-right: 10px;
	width: 30px;
}

#lb-author .name {
	float: left;
	margin-right: 10px;
	color: #38c;
	font-size: 14px;
}

#lb-other-pic .pic-tt,.lb-question .qt-tt {
	margin-top: -10px;
	margin-bottom: -10px;
	font-weight: 700;
}

#lb-other-pic .pic-tt a {
	color: #38c;
	text-decoration: none;
}

#lb-other-pic .lb-pic-list {
	overflow: hidden;
	margin-left: -10px;
}

#lb-other-pic .lb-pic-list li {
	float: left;
	display: inline;
	overflow: hidden;
	margin-left: 10px;
	width: 60px;
	height: 60px;
	font-size: 0;
}

#lb-other-pic .lb-pic-list li:hover {
	opacity: .8;
	filter: alpha(opacity=80);
}

.favor-tt {
	font-weight: 700;
}

.favor-tt .show-favor {
	color: #38c;
	font-weight: 700;
}

.favor-list {
	margin-top: 15px;
}

.favor-item {
	overflow: hidden;
	margin-bottom: 10px;
	color: #999;
}

.favor-item .favor-author {
	float: left;
	display: inline;
	margin-right: 10px;
	width: 25px;
	height: 25px;
}

.favor-item .favor-desc {
	margin-top: 5px;
	color: #333;
}

.favor-item .favor-ideabook {
	color: #38c;
	text-decoration: none;
}

.favor-more {
	display: block;
	height: 25px;
	background-color: #f2f2f2;
	color: #999;
	text-align: center;
	text-decoration: none;
	line-height: 25px;
}

.favor-more:hover {
	background-color: #f0f0f0;
	color: #666;
}

.lb-qt-item {
	margin-bottom: 20px;
	border: 1px solid #eee;
}

.lb-qt-item:hover {
	border-color: #38c;
}

.lb-qt-hd {
	border-bottom: 1px solid #eee;
}

.lb-qt-hd,.lb-qt-bd li,.lb-qt-ft {
	padding: 15px 10px;
}

.lb-qt-item .qt-author {
	overflow: hidden;
	margin-bottom: 10px;
	height: 25px;
	line-height: 25px;
}

.lb-qt-item .qt-author a {
	color: #38c;
	text-decoration: none;
	font-size: 12px;
}

.lb-qt-item .qt-author img {
	float: left;
	margin-right: 10px;
	width: 25px;
	height: 25px;
	border-radius: 2px;
}

.lb-qt-item .qt-desc,.lb-qt-item .answer-desc {
	overflow: hidden;
	margin-bottom: 10px;
	font-size: 14px;
	word-break: break-word;
}

.lb-qt-item .qt-desc a:hover {
	color: #38c;
	text-decoration: underline;
}

.lb-qt-item .qt-opt,.lb-qt-item .answer-opt,.lb-qt-bd .answer-like .iconfont,.lb-qt-bd .answer-like .liked-count {
	color: #999;
}

.lb-qt-bd {
	background-color: #f9f9f9;
}

.lb-qt-bd .z-answer-liked .iconfont {
	color: #38c;
}

.lb-qt-bd .answer-like .iconfont,.lb-qt-bd .liked-count {
	vertical-align: middle;
}

.lb-qt-ft {
	background-color: #efefef;
}

.lb-qt-ft .ipt-box {
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
	font-size: 0;
}

.lb-qt-ft textarea {
	overflow: auto;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 20px;
	border: 0;
	border: 1px solid none;
	font-size: 12px;
	resize: none;
}

.z-qt-reply textarea {
	height: 40px;
}

.lb-qt-ft .ipt-opt {
	display: none;
	overflow: hidden;
}

.lb-qt-ft .btn-reply {
	float: right;
	padding: 4px 10px;
	border-radius: 2px;
	background-color: #f40;
	color: #fff;
	text-decoration: none;
}

.lb-side-switch {
	position: absolute;
	top: 40px;
	left: -20px;
	display: none;
	width: 20px;
	height: 90px;
	border-radius: 3px 0 0 3px;
	background-color: #fff;
}

.lb-side-switch .z-on-txt,.lb-side-switch .z-off-txt {
	display: block;
	margin: 20px auto;
	padding-top: 15px;
	width: 14px;
	background: url(/static/images/KPM3MBCDM5CUGJLYABAQAAAA_400x400.png) no-repeat;
	color: #666;
	_background: url(/static/images/KPPUPAKDM5CUGA47ABAQAAAA_400x400.png) no-repeat;
}

.lb-side-switch .z-on-txt {
	background-position: -98px -40px;
}

.lb-side-switch .z-off-txt {
	display: none;
	background-position: -126px -40px;
}

.lb-fullscreen .iconfont .lb-pic-ctrl {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.lb-fullscreen .iconfont {
	color: #fff;
}

.lb-rec-pic,.lb-rec-pic .overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
}

.lb-rec-pic {
	display: none;
}

.lb-rec-pic .overlay {
	z-index: -1;
	background-color: #000;
	opacity: .6;
	filter: alpha(opacity=30);
}

.lb-rec-pic .rec-wp {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -165px 0 0 -370px;
	width: 740px;
	height: 330px;
	background-color: #F9F9F9;
}

.lb-rec-pic .rec-hd {
	overflow: hidden;
	padding-left: 20px;
	height: 60px;
	border-bottom: solid 1px #ddd;
	background-color: #fff;
}

.lb-rec-pic .rec-hd .end-tip {
	float: left;
	margin-top: 20px;
	padding-left: 20px;
	background: url(/static/images/KPM3MBCDM5CUGJLYABAQAAAA_400x400.png) no-repeat -99px -110px;
	font-size: 16px;
	line-height: 16px;
	_background: url(/static/images/KPPUPAKDM5CUGA47ABAQAAAA_400x400.png) no-repeat -99px -110px;
}

.lb-rec-pic .rec-opt {
	float: right;
	padding-top: 20px;
	height: 20px;
	line-height: 20px;
}

.lb-rec-pic .rec-opt .back {
	display: inline-block;
	padding-left: 20px;
	background: url(/static/images/KPM3MBCDM5CUGJLYABAQAAAA_400x400.png) -100px -136px;
	color: #37b5f9;
	vertical-align: top;
	_background: url(/static/images/KPPUPAKDM5CUGA47ABAQAAAA_400x400.png) -100px -136px;
}

.lb-rec-pic .rec-opt .next-hb {
	margin-left: 10px;
	padding-right: 20px;
	padding-left: 10px;
	border-left: 1px solid #ccc;
	vertical-align: top;
	font-size: 18px;
}

.lb-rec-pic .rec-opt .next-hb i {
	display: inline-block;
	width: 15px;
	height: 20px;
	background: url(/static/images/KPM3MBCDM5CUGJLYABAQAAAA_400x400.png) -127px -157px;
	_background: url(/static/images/KPPUPAKDM5CUGA47ABAQAAAA_400x400.png) -127px -157px;
}

.lb-rec-pic .rec-opt .next-hb:hover {
	color: #f26d7e;
}

.lb-rec-pic .rec-opt .next-hb:hover i {
	background-position: -127px -177px;
}

.lb-rec-pic .cnt {
	padding: 15px 20px;
}

.lb-rec-pic .title {
	margin-bottom: 15px;
	font-size: 16px;
}

.lb-rec-pic .rec-pic-list {
	margin-left: -20px;
}

.lb-rec-pic .rec-pic-list li {
	float: left;
	margin-left: 20px;
	width: 160px;
	height: 160px;
}

.lb-rec-pic .close {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	background-color: #F9F9F9;
	text-align: center;
	font-size: 20px;
	font-family: serif;
	line-height: 20px;
}

.pic-lb {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
	cursor: url(/static/images/cur_zin.cur),pointer;
}

.pic-cmt,.pic-cmt .cmt-edit,.cmt-edit .m-cmt-cls,.cmt-read .m-cmt-del {
	position: absolute;
}

.cmt-edit .m-cmt-cls,.cmt-read .m-cmt-del,.cmt-handle {
	background: url(/static/images/KPM3MBCDM5CUGJLYABAQAAAA_400x400.png) no-repeat;
	_background: url(/static/images/KPPUPAKDM5CUGA47ABAQAAAA_400x400.png) no-repeat;
}

.z-piccmt-on .lb-picture img {
	cursor: crosshair;
}

.pic-cmt {
	position: absolute;
	max-width: 250px;
	text-align: left;
	font-size: 14px;
	_width: 250px;
}

.cmt-edit {
	position: absolute;
	padding: 10px;
	background-color: #fff;
	box-shadow: 2px 2px 5px rgba(0,0,0,.2),-1px 1px 2px rgba(0,0,0,.2);
}

.cmt-edit textarea {
	margin: 0;
	padding: 0;
	width: 200px;
	height: 50px;
	border: 1px solid #ddd;
	background-color: #fff;
	font-size: 12px;
	resize: none;
}

.cmt-edit-ft {
	margin-top: 10px;
	width: 100%;
	*width: 217px;
}

.cmt-edit-ft .cmt-tip {
	float: left;
	width: 110px;
	color: #999;
	font-size: 12px;
	line-height: 1;
}

.cmt-edit-ft .cmt-word-count {
	color: #f26d7e;
}

.cmt-edit-ft .btn {
	float: right;
	display: inline;
	padding: 2px 10px;
	border-radius: 2px;
	background-color: #37B5F9;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}

.cmt-edit-ft .btn-disable {
	background-color: #ccc;
	color: #fff;
}

.cmt-edit .m-cmt-cls {
	top: 0;
	right: 0;
	margin: -12px -10px 0 0;
	width: 26px;
	height: 26px;
	background-position: -110px -230px;
}

.cmt-edit .m-cmt-cls:hover {
	background-position: -110px -280px;
}

.z-cls-left .m-cmt-cls {
	left: 0;
	margin: -12px 0 0 -10px;
}

.cmt-read {
	position: relative;
	border-radius: 3px;
	color: #fff;
	_height: 30px;
}

.cmt-read .w-bg-mask {
	border-radius: 3px;
}

.cmt-read .m-cmt-del {
	top: 9px;
	right: 4px;
	width: 15px;
	height: 15px;
	background-position: -158px -160px;
}

.cmt-read .m-cmt-del:hover {
	background-position: -158px -190px;
}

.cmt-read .cmt-txt {
	position: relative;
	padding: 5px 10px;
	max-width: 280px;
	text-align: left;
	word-break: break-word;
}

.z-isowner .cmt-txt {
	padding-right: 20px;
}

.lb-picture .z-cmt-moving img,.z-cmt-moving .cmt-handle {
	cursor: move;
}

.cmt-handle {
	position: absolute;
	top: -15px;
	left: -20px;
	width: 35px;
	height: 30px;
	background-position: -6px -230px;
}

.cmt-handle:hover,.z-cmt-editing .cmt-handle,.z-cmt-reading .cmt-handle {
	background-position: -6px -279px;
}

.z-female:hover,.z-cmt-editing .z-female,.z-cmt-reading .z-female {
	background-position: -60px -279px;
}
.no-scroll {
	overflow: hidden
}

.warning{padding:20px;border-bottom:1px solid #eee;}
.w-220{width:220px;}
.w-200{width:200px;}
.alert-base{padding:15px;border:1px solid transparent;border-radius:4px;}
.alert-warning{color:#8A6D3B;background-color:#FCF8E3;border-color:#FAEBCC;}



#lb-pic-opt .opt-1 a,.warning a{
	display: inline-block;
	margin-right: 5px;
	padding: 0 10px;
	height: 30px;
	border-radius: 2px;
	background-color: #00A2C9;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	line-height: 30px;
	*display: inline;
	*zoom: 1;
}

#lb-pic-opt .opt-1 a:hover,.warning a:hover {
	background-color: #33B5D4;
}

.lfclass
{
    float:left;
    width:70px;
    }