@import '../../../../less/dev/mixins/mixins.less';
@import '../../../sprite/easydata/priceDet/sprite.less';
.tablebox{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
   .border-radius(4px);
   background-color: #fff;
  .table_cont{
    width: 1160px;
    margin: 0px auto 0 auto;
    padding-top: 30px;
  }
  //
  .gao,.gao2{

    .sprite(@gao);
    .icon-easydata-priceDet;
    .fixIe6pngTransparent('/images/icon/easydata/priceDet/gao.png');
  }
  .gao2,.di2,.avg2{
    margin:14px 20px 14px 20px;
  }
  .di,.di2{

    .sprite(@di);
    .icon-easydata-priceDet;
    .fixIe6pngTransparent('/images/icon/easydata/priceDet/di.png');
  }
  .avg,.avg2{

    .sprite(@avg);
    .icon-easydata-priceDet;
    .fixIe6pngTransparent('/images/icon/easydata/priceDet/avg.png');
  }
  .avg,.di,.gao{
    margin-right: 4px;
  }
  .gao_rignt{
    margin-right: 30px;
  }
  .di_rignt{
    margin-right: 14px;
  }
  //价格图标
  .highcolor{
    color: #69c731;
  }
  .lowcolor{
    color:#f6492b;
  }


  //
  .price_data{
    width: 60px;
  }
  //**出口价格每年的月度变化，价格数据WIDTH宽度

  //
  .price_year{
    width: 182px;
  }
  //**出口价格每年的月度变化，年份数据WIDTH宽度





  .tab_tit{
    font-size: 18px;
    color:#000;
  }
  .Margins{
    margin-top: 30px;

  }
  .tab_unit,.gao_rignt,.di_rignt{
    font-size: 14px;
    line-height: 20px;
    color: #888;
  }
  //
  .chinapricebox,.pricechangesbox{
    width: 444px;
    border-left: 1px solid #cccccc;
    border-top:1px solid #cccccc;
    font-size: 14px;
    color:#333;
    line-height: 48px;
  }
  #chinapricefig1{
    width: 670px;
    height: 344px;
  }
  //**出口价格年度变化



  //
  #chinapricefig2{
    width: 100%;
    height: 400px;
  }
  .pricechangesbox{
    width: 1159px;
  }
  //**出口价格每年的月度变化
  .vertical{
    background-color: #f2f3f5;
    font-size: 16px;
  }
  .vert_data{
    font-size: 14px;
  }
  .vert_data:nth-child(odd){
    background: #f8f8f8;
  }
  .horizontal,.price_data,.price_year,.supp_rank,.supp_name,.supp_price,.supp_namedata{
    text-align: center;
    border-right:  1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
  }
  .horizontal{
    width: 110px;
  }

    //
  .supp_rank{
    width: 150px;
  }
  .supp_name{
    width: 582px;
  }
  .supp_price{
    width: 120px;
  }
  .supp_namedata{
    padding-left: 20px;
    width: 562px;
    text-align: left;
  }
  .supp_butt{
    width: 98px;
    display: block;
    line-height: 28px;
    .border-radius(2px);
    color: #3ca1d7;
    border: 1px solid #3ca1d7;
    text-align: center;
    margin: 9px auto 9px auto;
    transition: all .3s;

    .border-radius(2px);
    &:hover{
      background: #3ca1d7;
      color: #fff;
    }
  }
  //供应商列表
}