@import '../../../../less/dev/mixins/mixins.less';
@import '../../../sprite/easydata/priceDet/sprite.less';
.tablebox{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
  .border-radius(4px);

  background-color: #fff;
  .table_cont{
    width: 1160px;
    margin: 0px auto 0 auto;
    padding-top: 30px;
  }
  .price_data{
    width: 60px;
  }
  .lowcolor{
    color:#f6492b;
  }



  .tab_tit{
    font-size: 18px;
    color:#000;
  }
  .Margins{
    margin-top: 30px;

  }
  .tab_unit{
    font-size: 14px;
    line-height: 20px;
    color: #888;
  }
  //
  //
  .pricechangesbox{
    border-left: 1px solid #cccccc;
    border-top:1px solid #cccccc;
    font-size: 14px;
    color:#333;
    line-height: 48px;
    width: 1159px;
    table-layout: fixed;
  }
  //**出口价格每年的月度变化
  .vertical{
    background-color: #f2f3f5;
    font-size: 16px;
  }
  .vert_data{
    font-size: 14px;
  }
  .vert_data:nth-child(odd){
    background: #f8f8f8;
  }
  td{
    text-align: center;
    border-right:  1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
  }
  .prod_year{
    padding:0 20px 0 20px;
    text-align: left;
    overflow: hidden;
  }

  .arrow{
    margin: 19px 0 0 6px;
    .sprite(@arrow);
    .icon-easydata-priceDet;
  }
  .More{
    color:#333;
  }
  .supp_namedata{
    padding-left: 20px;
    width: 562px;
    text-align: left;
  }
  //供应商列表
}