
@import '../search/search.css';

@import '../list/list.less';

@import '../footer.less';

@import '../searchAbroad/2companyInfo.less';

@import '../priceDet/3chinaprice.less';

@import '../priceDet/3product.less';

.main_box{
  width: 100%;
  background-color: #f2f3f5;
  padding-top: 20px;
}

.distance_top{
  margin-top: 112px;
}

// 距离上边10px
.mar_10{
  margin-top: 10px;
}

// 距离上边20px
.mar_20{
  margin-top: 20px;
}

// 与版权的距离70px
.pad_bottom{
  padding-bottom: 70px;
}
