
@import '../General/PositioningCurrent.less';

@import '../../../sprite/yituangou/Company/sprite.less';

@import '../General/Sort.less';

.PositioningCurrent
{
    width: 1190px;
    margin: 0 auto;
    padding-top: 2px;
}

.Switch
{
    width: 1190px;
    margin: 0 auto;
    margin-top: 20px;

    background-color: #fff;
    .Switch-text
    {
        font-size: 14px;
        line-height: 30px;

        text-align: center;

        background-color: #9acb3e;

        _vertical-align: middle;
        a
        {
            float: left;

            width: 132px;
            margin-top: 6px;

            color: #fff;
        }
        .current
        {
            color: #333;

            .sprite(@Company-current);
            .icon-yituangou-Company;
        }
    }
    .Company-Sort
    {
        width: 1190px;
        margin: 0 auto;
    }
}



.Company-Buy-05
{
    width: 1190px;
    margin: 0 auto;
    margin-top: 20px;
}





/*公司团购-采购*/
.Purchase-List
{
    font-family: '宋体';
    font-size: 12px;

    width: 1190px;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: #fff;
    .List-top-01
    {
        float: left;

        margin-left: 20px;
    }
    .List-top-02
    {
        float: left;

        margin-left: 10px;
        .names
        {
            margin-top: 10px;

            color: #333;
        }
    }
    .List-top-ul
    {
        margin-left: 30px;

        color: #666;
    }
    .List-top-li
    {
        float: left;

        margin-top: 26px;
        margin-right: 20px;
    }
    .List-top-li01
    {
        width: 210px;
    }
    .List-top-li02
    {
        width: 320px;
    }
    .List-top-li03
    {
        width: 320px;
        margin-top: 0;
    }
    .List-top-li04
    {
        width: 120px;
    }
    .List-top-span01
    {
        margin-right: 24px;
    }
    .List-top-span02
    {
        font-family: 'Arial Regular';
        font-size: 40px;
    }
    .hong
    {
        color: #d42532;
    }
    .List-top-span03
    {
        float: right;

        margin-right: 10px;

        color: #275593;
    }
    .Open-button
    {
        float: right;

        margin-top: 4px;

        .sprite(@Open-button);
    }
    .retract-button
    {
        float: right;

        margin-top: 4px;

        .sprite(@retract-button);
    }
    .List-bottom
    {
        line-height: 26px;

        margin: 0 20px;
        margin-top: 20px;
        padding: 13px 0;

        color: #666;
        border-top: #e6e6e6 1px solid;

        _vertical-align: middle;
    }
    .List-bottom-li
    {
        float: left;

        width: 138px;
        margin-right: 5px;
    }
    .List-bottom-li01
    {
        float: left;
    }
}
.Purchase-List-bottom
{
    padding-bottom: 0;
}


