
@import '../../../sprite/yituangou/Company/sprite.less';

@import '../../../sprite/yituangou/tuangougeren/sprite.less';

.Introduction-Frame
{
    width: 1190px;
    margin: 0 auto;
    margin-top: 14px;
    padding-bottom: 30px;

    background-color: #fff;
    .Company-names
    {
        font-size: 20px;

        margin: 0 20px;
        padding-top: 20px;
        padding-bottom: 8px;

        color: #333;
        border-bottom: #f1f1f1 1px solid;
    }
    .Introduction
    {
        margin: 0 20px;
        margin-top: 20px;
    }
    .Introduction-left
    {
        font-family: '宋体';
        font-size: 12px;

        float: left;

        width: 636px;
        margin-right: 40px;
        .left-02
        {
            line-height: 22px;

            margin-top: 15px;

            text-align: justify;
            text-indent: 2em;
            text-justify: inter-ideograph;

            color: #888;

            _vertical-align: middle;
        }
    }
    .Introduction-right
    {
        float: right;
    }
    .Company-logo
    {
        float: left;

        border: #f1f1f1 1px solid;
    }
    .Introduction-Content
    {
        float: left;

        margin-left: 20px;

        color: #666;
        .Interval
        {
            margin: 0 15px;

            color: #999;
        }
        .p01
        {
            margin-top: 2px;
        }
        .p02
        {
            margin-top: 12px;
        }
        .p03
        {
            margin-top: 10px;
            span
            {
                float: left;

                margin-right: 6px;
            }
            .hong
            {
                margin-top: 5px;
                margin-left: 5px;

                color: #d52532;
            }
        }
        .huangxin
        {
            .sprite(@huangxin);
        }
        .huixing
        {
            .sprite(@huixing);
        }
        .p04
        {
            margin-top: 9px;
        }
        .justif
        {
            float: left;

            margin-right: 20px;

            color: #666;
            span
            {
                float: left;
            }
        }
        .Share
        {
            margin-right: 6px;

            .sprite(@Share);
        }
        .Collection
        {
            margin-right: 6px;

            .sprite(@Collection);
        }
    }
}
