@Subscription_youxiang: -4px -4px 16px 13px;
@weibo: -4px -25px 20px 16px;
@Subscription_butt: -4px -49px 51px 30px;
@erweima: -4px -87px 140px 140px;
.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}
.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}
.sprite(@sprite, @display: block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
.icon-yituangou-foootersub {
  background-image: url("/images/production/yituangou/foootersub/sprite-yituangou-foootersub.PNG");
}