@icon-xiala-hui: -4px -4px 6px 4px;
@icon-fenlei-hong: -4px -16px 6px 10px;
@icon-fenlei-hui: -4px -34px 6px 10px;
@icon-guanzhu: -4px -52px 16px 16px;
@icon-sixin: -4px -76px 24px 16px;
@icon-yan: -4px -100px 28px 16px;
@icon-zuanshi: -4px -124px 18px 16px;
@ba022-x-hui: -4px -148px 17px 17px;
@didian: -4px -173px 11px 17px;
@ba022-x-hei: -4px -198px 17px 17px;
@icon-huiyuantouxiang: -4px -223px 30px 30px;
@icon-shitu01: -4px -261px 39px 31px;
@icon-shitu02: -4px -300px 39px 31px;
@icon-diyi: -4px -339px 32px 32px;
@icon-diyi-lv: -4px -379px 32px 32px;
.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}
.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x @sprite-offset-y;
}
.sprite(@sprite, @display: block) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: @display;
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
.icon-yisheji-Common {
  background-image: url("/images/production/yisheji/Common/sprite-yisheji-Common.PNG");
}